*{
    list-style: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
ul,ol,dl{padding: 0;margin: 0;}
#header nav li.login{
    float: left;
    margin-left: 0;
}
/********/
.poem li,#title h2{
    text-align: center;
}
/*中间*/
/*.main ul{*/
    /*!*overflow: hidden;*!*/
    /*height: 160px;*/
/*}*/
.main ul li img{
    width: 100%;
    /*height: 160px;*/
    float: left;
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.main{
    width: 100%;
    overflow:hidden;
    margin: 0 auto;
}
.main ul li{
    float: left;
    width: 25%;
    /*height: 160px;*/
    position: relative;
    overflow: hidden;
}
.main ul li:hover img{
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.blue,.red{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    opacity: 0.75;
    filter: Alpha(Opacity=75);
    cursor: pointer;
}
.blue{
    background: #813e92;
}
.red{
    background: #d32e5f;
}
.will_show{
    display: none;
}

/*作品展示*/
.what{
    width:100%;
    overflow:hidden;
    margin: 10px auto;
    background: #d73e2b;
}
.what dl{
    float: left;
    color:#000;
    width: 25%;
    text-align: center;
    padding: 20px 0 20px 0;
    position:relative;
}
.mask{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
.big{
    position: relative;
    width:100%;
    height:100%;
}
.big:hover{
    cursor:pointer;
}
.big span{
    position: absolute;
    background: #fff;
}
.top1{
    width: 0;
    height: 2px;
    left:0;
    top:0;
}
.top2{
    width: 2px;
    height: 0;
    right:0;
    top:0;
}
.top3{
    width:0;
    height:2px;
    right:0;
    bottom: 0;
}
.top4{
    width:2px;
    height:0;
    left:0;
    bottom: 0;
}
.top5{
    right: 0;
    top: 0;
    height: 2px;
    width: 0;
}
.top6{
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
}
.top7{
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
}
.top8{
    right: 0;
    bottom:0;
    width: 2px;
    height: 0;
}
/*改版*/
#header nav li.will_show{
    display: none;
    float: right;
}
#header nav{
    overflow:hidden;
}
#header nav li.myblog{
    width: 100%;
    overflow: hidden;
}
#header nav li.myblog a{
    width:20%;
    float: left;
    margin-left: 1.8em;
}

/*改版*/
.will_change{
    display: none;
}
.will_change li a{
      width: 100%;
      color: white;
      border: 1px solid #5d910b;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
      background: -webkit-linear-gradient(#93bd20, #659e10);
      background: -moz-linear-gradient(#93bd20, #659e10);
      background: -o-linear-gradient(#93bd20, #659e10);
      background: -ms-linear-gradient(#93bd20, #659e10);
      background: linear-gradient(#93bd20, #659e10);
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -khtml-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
      -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
      background-color: #93bd20;
      padding: 10px 12px;
      margin-top: 6px;
      line-height: 14px;
      font-size: 14px;
      display: inline-block;
      text-align: center;
}
.will_change li a:hover{
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
      background: -webkit-linear-gradient(#749619, #527f0e);
      background: -moz-linear-gradient(#749619, #527f0e);
      background: -o-linear-gradient(#749619, #527f0e);
      background: -ms-linear-gradient(#749619, #527f0e);
      background: linear-gradient(#749619, #527f0e);
      background-color: #659e10;
      border: 1px solid #527f0e;
      -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
      -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
/*手机端*/
@media screen and (max-width:767px){
    .main ul li.list{width:50%}
    .what dl{width: 50%}
    /**/
    .will_change{
        display: block;
    }
    #header nav li.myblog{display: none;}
    #header nav li.will_show{
        display: block;
        float: right;
    }
}