/*************初始化************/
*{margin:0;padding: 0;border: none;list-style: none}
/*********轮播左右居中*************/
.baner{
    width: 100%;
    height: 10em;
    margin: 0 auto;
    position: relative;
}
.baner a{
    position: absolute;
    width: 100%;
}
.baner a img{
    width: 100%;
    height: 10em;

}
/***********左边小图标************/
.baner ul li.selected{
    background: #f97157;
	color:#f97157;
}
.baner ul{
    position: absolute;
    z-index: 99;
    top: .8em;
    left: .7em;
}
.baner ul li{
    width: 1.2em;
    height: 1.2em;
	margin-top:.8em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #909090;
    cursor: pointer;
    text-align: center;
	color:#909090;
    behavior: url(ie-css3.htc);
}
@-webkit-keyframes itemFrame {
    from { -webkit-transform: translateY(-80px); }
    to { -webkit-transform: translate(0); }
}
@keyframes itemFrame {
    from { -webkit-transform: translateY(-80px); }
    to { -webkit-transform: translate(0); }
}
.animateItem {
    animation: itemFrame 1s ;
    -webkit-animation: itemFrame 1s ;
}