*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
    margin: 0;
    padding: 0
}

body {
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    color: #595757;
    background-color: #fff;
    outline: 0;
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: auto
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

li {
    list-style: none
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0
}

button {
    -webkit-appearance: none;
    border: 0;
    background: 0 0
}

a {
    -webkit-touch-callout: none;
    text-decoration: none
}

em, i {
    font-style: normal
}

input[type=date] {
    text-align: right
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=submit] {
    -webkit-appearance: none !important;
    margin: 0
}

img {
    max-width: 100%
}

.none {
    display: none
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

.viewport {
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto
}

.title {
    margin-top: 12px;
    background-color: #913195;
    line-height: 34px;
    padding-left: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px
}

.title span {
    font-size: 14px;
    font-weight: 400;
    color: #c199c3;
    font-style: italic;
    padding-left: 2px;
    text-transform: uppercase;
}

header img {
    display: block;
    max-width: 100%
}
header li a{
    display: block;
}
header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #913195
}

header ul li {
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 58px;
    height: 58px
}

header ul li:nth-child(1), header ul li:nth-child(3) {
    -webkit-box-flex: 17%;
    -moz-box-flex: 17%;
    -webkit-flex: 17%;
    -ms-flex: 17%;
    flex: 17%
}

header ul li:nth-child(1) img, header ul li:nth-child(3) img {
    margin: 10px auto;
    display: block
}

header ul li:nth-child(2) {
    -webkit-box-flex: 65%;
    -moz-box-flex: 65%;
    -webkit-flex: 65%;
    -ms-flex: 65%;
    flex: 65%;
    color: #fff;
    font-size: 16px;
    border-left: dashed 1px #fff;
    border-right: dashed 1px #fff
}

nav {
    margin-top: 8px
}

nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

nav ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    background-color: #913195
}

nav ul li img {
    display: block;
    margin: 7px auto;
    max-width: 43%
}

nav ul li p {
    font-size: 16px;
    padding-bottom: 6px
}

nav ul li p a {
    display: block;
    color: #fff
}

nav ul li:nth-child(2) {
    background-color: #3daba8
}

nav ul li:nth-child(3) {
    background-color: #f4c73a
}

.expter {
    margin-top: 10px;
    position: relative
}

.expter img {
    display: block;
    max-width: 100%
}

.expter a {
    position: absolute;
    right: 12%;
    bottom: 14px;
    display: block;
    line-height: 26px;
    background-color: #ff9c00;
    text-align: center;
    color: #fff;
    width: 26%;
    border-right: 2px
}

.mod01 {
    margin-top: 12px
}

.mod01 ul {
    background: url(../images/mod01-bg1.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 5px 15px 10px
}

.mod01 ul li {
    margin-top: 10px;
    line-height: 18px
}

.mod01 ul li img {
    display: block;
    float: left;
    width: 6%
}

.mod01 ul li p {
    line-height: 18px;
    float: left;
    width: 92%;
    margin-left: 2%;
    color: #393939
}

.mod01 .heart {
    margin-top: 11px
}

.mod01 .heart img {
    display: block;
    max-width: 100%
}

.mod02 {
    margin-top: 12px
}

.mod02 h3 {
    color: #393939;
    font-size: 16px;
    font-weight: 700;
    padding-left: 3%
}

.mod02 h3:before {
    width: 19px;
    height: 19px;
    display: inline-block;
    content: '';
    background: url(../images/mod02-img1.jpg) no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
    vertical-align: middle
}

.mod02 .job {
    margin-top: 10px
}

.mod02 .job ul {
    background-color: #efefef;
    padding: 4px 15px
}

.mod02 .job ul li {
    border-bottom: solid 1px #9d9d9d;
    padding: 9px 0
}

.mod02 .job ul li img {
    display: block;
    float: left;
    width: 7%
}

.mod02 .job ul li p {
    width: 91%;
    margin-left: 2%;
    float: left;
    color: #393939;
    line-height: 20px;
    font-size: 14px
}

.mod02 .job ul li:nth-child(4) {
    border: 0
}
/*years*/
.years ul{
    width: 90%;
    margin: 0 auto;
}
.years ul li h4,.years ul li p{
    display: inline-block;
    font-size: 14px;
}
.years ul li{
    margin-top: 8px;
}
.years ul li p{
    color: #4C4C4C;
    padding: 10px 0;
    width: 80%;
    border-bottom: 1px dashed #3FC4ED;
}
.years ul li h4{
    height: 40px;
    line-height:40px;
    background-color: #3FC4ED;
    border: 1px solid #ADECFF;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    text-align: center;
    margin-left: 10px;
}
.years ul li h4 strong{
    font-size: 20px;
    margin-right: 3px;
}
/*mod03*/
/*-------------弹性盒子--------------*/
.mod03 ul,.mod04 ul,.mod05 ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
}
.mod03 ul li,.mod04 ul li,.mod05 ul li{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mod03 ul{
    padding: 0 10px;
}
.mod03 ul li{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
/*---------------------*/
.mod03 ul li h5{
    font-size: 16px;
    padding: 3px;
    border-bottom: 1px solid #fff;
}
.mod03 ul li.one{
    background-color: #AA53A1;
}
.mod03 ul li.two{
    background-color: #4EBBB8;
}
.mod03 ul li.three{
    background-color: #A2BE4D;
}
.mod03 ul li.four{
    background-color: #EA9F77;
}
.mod03 ul li.have_left{
    margin-left: 8px;
}
.mod03 ul li dl p{
    margin-top: 5px;
}
/*mod04*/
.mod04{
    margin-top: 10px;
}
.mod04 ul{
    padding: 0 10px;
}
.mod04_title{
    overflow: hidden;
    position: relative;
}
.mod04 h3{
    color: #fff;
    float: left;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #FF9C00;
    font-size: 16px;
    padding: 2px 10px;
    position: relative;
    z-index: 10;
}
.mod04_title:before{
    display: table;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FF9C00;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 12px;
}
.mod04 ul li.have_left{
    margin-left: 5px;
}
/**/
.mod05 a{
    text-decoration: none;
}
.will_red{
    color: #D50606;
}
.mod05 li{
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    padding: 10px 3px;
}
.mod05 li.have_left{
    margin-left: 10px;
}
.mod05 li h6{

}
.mod05 li h6 a{
    display: inline-block;
    line-height: 26px;
    color: #fff;
    padding: 0 5px;
    font-size: 12px;
}
.pink_btn{
    background-color: #913195;
    margin-right: 1%;
}
.yell_btn{
    background-color: #FF9C00;
    margin-left: 1%;
}
.mod05 h3{
    font-size: 14px;
    color: #3C3C3C;
    font-weight: 700;
}
.mod05 p{
    margin: 4px 0;
    font-size: 12px;
    text-indent: 2em;
}
.mod05 ul li h3,.mod05 ul li h6{
    text-align: center;
}
/*mod06*/
.mod06{
    padding: 10px;
}
.mod06 div{
    margin-top: 10px;
}
.mod06 img{
    display: block;
    max-width: 100%;
}
.mod06 p{
    width: 70%;
    color: #fff;
    font-size: 12px;
    padding:10px;
    border-radius: 5px;
    position: relative;
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
.mod06,.sum_peo,.sum_doct{
    overflow: hidden;
}
.sum_peo,.sum_doct{
    width: 88%;
}
.sum_peo img,.sum_peo p{
    float: left;
}
.sum_doct p,.sum_doct img{
    float: right;
}
.sum_peo p{
    background-color: #6C6C6C;
    margin-left: 20px;
}
.sum_peo p:before,.sum_doct p:before{
    display: table;
    content: "";
    width: 15px;
    height: 17px;
    position: absolute;
    top: 10px;
}
.sum_peo p:before{
    background-image: url(../images/small_icon_01.png);
    left: -15px;
}
.sum_doct p{
    background-color: #9C599F;
    margin-right: 20px;
}
.sum_doct p:before{
    background-image: url(../images/small_icon_02.png);
    right: -15px;
}
/*mod06-btn*/
.mod06-btn{
    overflow: hidden;
}
.mod06-btn a{
    display: block;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*g挂号平台*/
.will_center{
    text-align: center;
}
.will_commit ul,.footer ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 10px;
}
.will_commit li,.footer li{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.commit_left{
    background-color: #38A9CD;
    padding: 10px;
}
.commit_right{
    background-color: #F3F3F3;
}
.commit_left input[type="text"]{
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 5px;
    border: none;
}
.commit_left p.sum_ques{
    color: #fff;
    font-size: 16px;
    padding:3px 5px;
    background-color: #6EC9E5;
    border-radius: 3px;
}
.commit_left p{
    margin-top: 5px;
    overflow: hidden;
}
.commit_left p a{
    float: left;
    display: block;
    color: #fff;
    font-size: 12px;
    padding: 3px 20px;
    border-radius: 3px;
    background-color: #FF369A;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*footer*/
.footer{
    background-color: #913195;
    padding: 5px 0;
    margin-top: 15px;
}
.footer img{
    display: block;
    max-width: 80%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer_right img{
    margin-top:36px;
    border: none;
}