<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist-vue</title>
    <script src="src/vue.js"></script>
    <script src="src/store.js"></script>
    <link rel="stylesheet" href="src/todo.css">
    <script>
        window.onload=function(){
            document.getElementById("aa").focus();
        }
    </script>
</head>
<body>
    <div id="app" class="app">
        <h1 v-text='title'></h1>
        <p class='typeInput'>
            <input id="aa" type="text" v-model='newText' v-on:keyup.enter='addNewlist' placeholder="what needs to do ?">
        </p>
        <ul class="todo-box">
            <li v-for='item in items' v-bind:class='{finished:item.isFinished,editing: item.isEditing}'
            @dblclick="canEdit(item,$event)">
                <div class="view-box">
                    <input type="checkbox"  v-on:click='toggleFinish(item)'>
                    <span>{{item.text}}</span>
                    <b v-on:click='deleteList(item)'>✖</b>
                </div>
                <input type="text" class="edit" v-model="item.text"
                    v-todo-focus="item == editedTodo"
                    @blur="doneEdit(item)"
                    @keyup.enter="doneEdit(item)"
                    @keyup.esc="cancelEdit(item)"
                    
                >
            </li>
        </ul>
        <p>
            <span v-show="totalCount"><b>{{totalCount}} </b> {{totalCount|pluralize}}</span>
            <a href="#all">所有任务</a>
            <a href="#un">未完成</a>
            <a href="#finished">已经完成</a>
        </p>
    </div>
    <script>
        var app=new Vue({
            el:'#app',
            data:{
                title:'My todo list',
                // items:[
                //     // {
                //     //     text:'Learn CSS',
                //     //     isFinished:true
                //     // },
                //     // {
                //     //     text:'Learn javascript',
                //     //     isFinished:false
                //     // }
                // ],
                items:Store.fetch(),
                newText:'',
                visibility:'all',// 通过这个属性对是否完成进行过滤
                editedTodo:null
            },
            
            //watch深度监听函数，监听的是items的变化
            //只要有新的输入内容就会触发，
            watch:{
                items:{
                    //val和oldval这里都是对象
                    handler:function(items){
                        // console.log(items);
                        Store.save(items);
                    },
                    deep:true
                }
            },
            //  方法
            methods:{
                toggleFinish:function(item){
                    // console.log(item.isFinished);
                    item.isFinished=!item.isFinished;
                },
                //3、输入后按enter键盘的事件
                addNewlist:function(){
                    var _self=this;
                    // console._self.newText;
                    //3.1 如果不为空就将刚刚输入的内容以对象的形式，追加到items数组对象内部，
                    //默认新追加的是没完成的为false
                    //存在且不能为空格
                    if(_self.newText&&_self.newText.trim()){
                        _self.items.push({
                            text:_self.newText,
                            isFinished:false,
                            isEditing:false
                        });
                    }
                    // console.log(_self.newText);
                    // console.log(this);
                    //3.2 同时清空input输入框
                    _self.newText='';
                },
                //点击删除该选项 法一
                deleteList:function(item){
                    this.items.splice(this.items.indexOf(item),1);
                },
                //法二
                //此时必须在v-for=(item,index) inde items,否则vue会报错，显然法一更简洁
                // deleteThis(item,index){
                //     this.items.splice(index,1);
                // }
                editTodo: function (item) {
                    this.beforeEditCache = item.text;
                    this.editedTodo = item;
                    // console.log(this.beforeEditCache);
                },
                // 完成编辑
                doneEdit: function (item) {
                    if (!item.text) {
                        this.deleteList(item);
                    }else{
                        item.text = item.text.trim();
                    }
                    item.isEditing = false;
                },
                // 关闭编辑
                cancelEdit: function (item) {
                    this.editedTodo = null
                    item.text = this.beforeEditCache
                    console.log(this.text);
                },
                // 双击可以编辑
                canEdit:function(item,event){
                    item.isEditing=true;
                    // this.focus();
                    // var _this=event.currentTarget;//事件触发的DOM元素
                    // var tt=document.getElementsByClassName("edit");
                    // var a=_this.getElementsByTagName("input")[1];
                    // _this.getElementsByTagName("input")[0].focus();
                    // a.focus();
                    // console.log(a);
                }
            },
            // 计算属性，计算总数
            computed:{
                totalCount:function(){
                    return this.items.length;
                }
            },
            // 过滤器,pluralize:变复数
            filters:{
                pluralize:function(n){
                    return n===1?"matter":"matters";
                }
            },
            // 注册自定义指令
            directives: {
                'todo-focus': function (el, binding) {
                    if (binding.value) {
                        el.focus()
                    }
                }
            }
        });
        //9 监听hash 过滤是否完成
        // function watchHash(){
        //     var hash=window.location.hash.slice(1);
        //     app.visibility=hash;
        //     console.log(window.location.hash);
        // }
        // watchHash();
        


        // 官方DEMO地址：http://fiddle.jshell.net/yyx990803/4dr2fLb7/light/
        // http://fiddle.jshell.net/yyx990803/4dr2fLb7/show/light/
    </script>
</body>
</html>