/*共用*/
html,body,header,section,footer,div,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,input,a,span,i,b{
    margin: 0;
    padding:0;
    list-style: none;
    outline:none;
    text-decoration: none;
    box-sizing:border-box;
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    border:none;
    color: #000;
}
a:hover{
    cursor: pointer;
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
/*顶部*/
header,section,footer,.header_nav{
    width: 100%;
    overflow: hidden;
}
.how_width{
    display: block;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.header_nav{
    background-color: rgb(112,35,35);
}
.nav_bar ul li a{
    display: block;
    color: rgb(255,255,255);
    padding: .8em 1.4em;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    transition:all .3s ease-out;
    font-size: 1em;
}
.nav_bar ul li a:hover,.nav_bar ul li a.checked{
    background-color: rgb(81,18,18);
}
.nav_banner,.nav_banner a,.nav_banner img{
    display: block;
    width: 100%;
    min-width: 1000px;
}
.nav_bottom{
    margin-top: 5px;
}
.nav_bottom ul li{
    margin-left: 3px;
}
.nav_bottom ul li a{
    display: block;
    padding: .8em 1.6em;
    color: rgb(255,255,255);
    background-color: rgb(178,178,178);
    transition: all .4s linear;
}
.nav_bottom ul li a.selected{
    background-color: rgb(112,35,35);
}
.nav_bottom ul li a:hover,.nav_bottom ul li a.hover{
    background-color: rgb(227,107,9);
}
/*section*/
.section_title{
    margin-top: 1em;
}
.title_one{
    text-align: center;
}
.title_one h3{
    display: block;
    position: relative;
    color: rgb(112,35,36);
    font-size: 1.5em;
}
.title_one h3 i{
    background-image:url(../img/icon_top_left.jpg);
    position: absolute;
    top: -.3em;
}
.title_one h3 b{
    background-image:url(../img/icon_top_right.jpg);
}
.title_one h3 i,.title_one h3 b{
    display: inline-block;
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.title_line,.title_one{
    width: 100%;
    overflow: hidden;
}
.line_left,.line_right{
    width: 48%;
    border-top:1px solid #E4D7CE;
    margin-top: 12px;
}
.line_middle{
    width: 25px;
    height: 24px;
    background-image: url(../img/icon_middle.jpg);
    border-radius: 50%;
    margin:0 .4em;
}
/**/
.one_list{
    width: 100%;
    overflow: hidden;
}
.list_parent li{
    width: 33.3%;
}
.list_parent img{
    display: block;
    padding: .5em;
    border: 1px solid #C5C5C5;
}
.one_list>ul>li{
    display:block;
    overflow:hidden;
    margin-top: .3em;
}
.one_list>ul>li:nth-child(6){
    width: 500px;
    margin: 1em auto;
}
/*.one_list>ul>li>a{margin-left: 200px;}*/
.parent_icon li{
    width: 368px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.parent_icon li img:nth-child(1){
    position: absolute;
    right: 13px;
}
.one_btn{
    background-color: rgb(242,242,242);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
}
/*section_two*/
.section_two{
    margin-top: 1em;
}
.two_nav{
    margin-top: 1em;
}
.two_nav li{
    background-color:rgb(178,178,178);
    cursor: pointer;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
li.have_selected,.two_nav li:hover{
    background-color: rgb(140,95,56);
    cursor: pointer;
}
.two_nav li:not(:nth-child(1)){
    margin-left: 15px;
}
.two_nav li a{
    display: block;
    text-align: center;
    width: 154px;
    padding: .8em 0;
    font-size: 1em;
    color: #fff;
}
.two_list{
    margin-top: 1em;
    padding: .8em;
    border: 1px solid #E4D7CE;
    position: relative;
    background-color: rgb(255,255,255);
}
.two_left img{
    padding: .4em;
    border: 1px solid #E4D7CE;
}
.two_right{
    width: 580px;
    padding: .5em 1em;
}
.two_right ul li,.three_right ul li{
    margin-top: 1em;
}
.btn_center{
    display: block;
    text-align: center;
}
.two_right h3{
    font-size: 1.5em;
    color: #8C5F38;
}
.will_coner{
    position: absolute;
    top:0;
    right: 0;
}
/*section_three*/
.section_three{
    padding: 1em 0;
}
.three_list{
    position: relative;
    padding: 2em;
}
.coner_three{
    position: absolute;
    top: 0;
    left: 0;
}
.will_red{
    color: #E70011;
    cursor: pointer;
}
.three_right{
    width: 680px;
    padding: 1.5em;
    border-left: 1px solid #C0C0C0;
    margin-left: 1.5em;
}
.the_title{
    display: inline-block;
    padding: .3em .6em;
    font-size: 1.3em;
    color: #fff;
    background-color: rgb(133,69,70);
    border-radius: .3em;
}
/*section_four*/
.section_four{
    width: 100%;
    background-color: rgb(242,242,242);
    padding: 1em 0;
}
.four_left{
    width: 600px;
    padding: 1.5em;
}
.four_left li{
    margin-top: 1em;
}
.four_right{
    width: 380px;
}
.four_right img{
    padding: .3em;
    border: 1px solid #BCBCBC;
    background-color: #fff;
}
/*section_five*/
.section_five{
    padding: 1em 0;
}
.five_list{
    overflow: hidden;
    width: 960px;
    margin:1em auto;
}
.five_left{
    width: 171px;
}
.five_left ul li{
    width: 171px;
    height: 64px;
    border-bottom: 1px solid #D9D9D9;
}
.five_left ul li a{
    display: block;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.five_left ul li.five_selected,.five_left ul li:hover{
    background-image: url(../img/five_btn.png);
}
li.five_selected a{
    color: #fff;
}
.five_right{
    box-sizing: border-box;
    width: 756px;
    height: 325px;
    border: 1px solid #D9D9D9;
    padding: .3em;
    position: relative;
}
.five_right img{
    height: 314px;
    position: absolute;
}
/*section_six*/
.section_six{
    padding: 1.5em 0;
    background-color: rgb(242,242,242);
}
.six_one{
    width: 960px;
    margin:1.5em auto;
    overflow: hidden;
}
.six_left{
    width: 580px;
}
.six_red{
    display: inline-block;
    padding: .3em;
    color: #fff;
    background-color: rgb(112,35,36);
}
.six_title{
    display: inline-block;
    color:#8C5F38;
    margin-left: 1em;
}
.six_one ul li p{
    padding: 1em 3em;
}
.six_right img{
    padding: .3em;
    border: 1px solid #C3C3C3;
    background-color: #fff;
}
/*section_seven*/
.section_seven{
    padding: 1.5em;
}
.seven_list{
    overflow: hidden;
    width: 100%;

}
.seven_list ul{
    overflow: hidden;
    width: 580px;
    margin:2em auto;
}
.seven_list ul li a{
    display: block;
    padding: .3em 2.5em;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}
.seven_list ul li a.seven_selected,.seven_list ul li a:hover{
    color: #E47012;
}
.seven_list ul li span{
    display: block;
    padding-top: .5em;
}
.seven_list ul li{
    margin-left: 1em;
}