*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.container{
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
}
/*@media screen and (min-width:767px){*/
    /*.container{width:640px;}*/
/*}*/
/*顶部LOGO*/
header,header a{
    overflow: hidden;
}
header a{
    display: block;
}
header img,header a{
    float: left;
}
.logo_same{
    width: .84rem;
}
.logo_big{
    width: 4.72rem;
}
/*王璐*/
.doctor_infro{
    padding: .1rem;
    background-color: #F6F5F4;
    margin-top: .1rem;
}
.infro{
    width: 2.8rem;
}
.infro_right{
    width: 3.3rem;
}
.doctor_infro,.doctor_infro li{
    overflow: hidden;
    position: relative;
}
.doctor_infro li.one span,.doctor_infro li.one div{
    float: left;
}
li.one span{
    font-size: .4rem;
    color: #913195;
}
li.one h6{
    color:#B6B5AF;
    font-size: .15rem;
}
li.one p{
    font-size: .35rem;
    color: #D2B9D0;
}
li.two h3{
    width: 2.65rem;
    height: .49rem;
    text-align: center;
    line-height: .49rem;
    color: #913195;
    font-size: .2rem;
    background-image: url(../img/lu_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
li.three p{
    color: #B6B5AF;
    font-size: .14rem;
    /*float: left;*/
    /*line-height: .21rem;*/

    overflow: hidden;
}
li.three p a,li.three p span{
    padding: 1px 2px;
    float: left;
    border: 1px solid #42A9CB;
    border-left: none;
}
li.three a{
    background-color: #42A9CB;
    color: #fff;
    font-size: .14rem;
    float: left;
}
li.three p span.have_right{
    border-right:1px solid #42A9CB;
}
li.four img{
    width: 2.8rem;
}
.five_btn,.blue_btn{
    font-size: .2rem;
    color: #fff;
    padding: .05rem 0;
    padding-left: .2rem;
    padding-right: .4rem;
    float: left;
    position: relative;
    border-radius: 5px;
}
.five_btn{
    background-color: #913195;
}
.blue_btn{
    background-color: #41A6D2;
}
.five a{
    margin-left: .69rem;
}
.five{
    height: .4rem;
}
.five_btn:after,.blue_btn:after{
    display: table;
    content: "";
    width: .18rem;
    height: .16rem;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: .11rem;
    right:.1rem;
}
.five_btn:after{
    background-image: url(../img/pink_small.png);
}
.blue_btn:after{
    background-image: url(../img/blue_small.png);
}
.two,.three,.four,.five{
    margin-top: .08rem;
}
/*首席专家*/
.doctor_detail{
    width: 100%;
    height: 3.2rem;
    background-image: url(../img/miss_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.detail_left{
    font-size: .14rem;
    width: 3rem;
    color: #717172;
    position: absolute;
    left: 1.15rem;
    top: 1.2rem;
}
.detail_left li{
    padding-bottom: 2px;
    border-bottom: 1px solid #717172;
    cursor: pointer;
}
.detail_left span{
    color: #913195;
}
.detail_left p{
    margin-top: .3rem;
}
.detail_right{
    width: 1.83rem;
    position: absolute;
    height: .9rem;
    right: .2rem;
    bottom: .3rem;
}
.detail_right a.five_btn{
    margin-top: .15rem;
}