*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.container{
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
}
/*@media screen and (min-width:767px){*/
    /*.container{width:640px;}*/
/*}*/
/*顶部LOGO*/
header,header a{
    overflow: hidden;
}
header a{
    display: block;
}
header img,header a{
    float: left;
}
.logo_same{
    width: .84rem;
}
.logo_big{
    width: 4.72rem;
}
/*王璐*/
.doctor_infro{
    padding: .1rem;
    background-color: #F6F5F4;
    margin-top: .1rem;
}
.infro{
    width: 2.8rem;
}
.infro_right{
    width: 3.3rem;
}
.doctor_infro,.doctor_infro li{
    overflow: hidden;
    position: relative;
}
.doctor_infro li.infro_one span,.doctor_infro li.infro_one div{
    float: left;
}
li.infro_one span{
    font-size: .4rem;
    color: #913195;
}
li.infro_one h6{
    color:#B6B5AF;
    font-size: .15rem;
}
li.infro_one p{
    font-size: .35rem;
    color: #D2B9D0;
}
li.infro_two h3{
    width: 2.65rem;
    height: .49rem;
    text-align: center;
    line-height: .49rem;
    color: #913195;
    font-size: .2rem;
    background-image: url(../img/lu_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
li.infro_three p{
    color: #B6B5AF;
    font-size: .14rem;
    /*float: left;*/
    /*line-height: .21rem;*/

    overflow: hidden;
}
li.infro_three p a,li.infro_three p span{
    padding: 1px 2px;
    float: left;
    border: 1px solid #42A9CB;
    border-left: none;
}
li.infro_three a{
    background-color: #42A9CB;
    color: #fff;
    font-size: .14rem;
    float: left;
}
li.infro_three p span.have_right{
    border-right:1px solid #42A9CB;
}
li.infro_four img{
    width: 2.8rem;
}
.five_btn,.blue_btn{
    font-size: .2rem;
    color: #fff;
    padding: .05rem 0;
    padding-left: .2rem;
    padding-right: .4rem;
    float: left;
    position: relative;
    border-radius: 5px;
}
.five_btn{
    background-color: #913195;
}
.blue_btn{
    background-color: #65BBD6;
}
.infro_five a{
    margin-left: .69rem;
}
.infro_five{
    height: .4rem;
}
.five_btn:after,.blue_btn:after{
    display: table;
    content: "";
    width: .18rem;
    height: .16rem;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: .11rem;
    right:.1rem;
}
.five_btn:after{
    background-image: url(../img/pink_small.png);
}
.blue_btn:after{
    background-image: url(../img/blue_small.png);
}
.infro_two,.infro_three,.infro_four,.infro_five{
    margin-top: .08rem;
}
/*首席专家*/
.doctor_detail{
    width: 100%;
    height: 3.2rem;
    background-image: url(../img/miss_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.detail_left{
    font-size: .14rem;
    width: 3rem;
    color: #717172;
    position: absolute;
    left: 1.15rem;
    top: 1.2rem;
}
.detail_left li{
    padding:1px 0;
    border-bottom: 1px solid #717172;
    cursor: pointer;
}
.detail_left span{
    color: #913195;
    cursor: pointer;
}
.detail_left p{
    margin-top: .3rem;
}
.detail_right{
    width: 1.83rem;
    position: absolute;
    height: .9rem;
    right: .2rem;
    bottom: .3rem;
}
.detail_right a.five_btn{
    margin-top: .15rem;
}
/*他们都说*/
.one_top{
    width: 100%;
    height: .8rem;
    position: relative;
    background-image: url(../img/total_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.one_top h3{
    font-size: .32rem;
    text-align: center;
    padding-top: .1rem;
}

.one_top h3 span,.one_top a{
    color: #913195;
}
.one_top h3 span{
    margin-left: .1rem;
}
.one_top a{
    position: absolute;
    right: .15rem;
    bottom: .2rem;
    font-size: .22rem;
}
.one_top h3 b{
    background-color: #D4B5D5;
    color: #fff;
    border-radius: 50%;
    font-weight: 300;
    padding: .05rem;
}
.total_sum{
    text-align: center;
}
.total_sum h4{
    color: #41A6D2;
    font-size: .24rem;
    font-weight: 300;
}
.total_sum p{
    text-transform:uppercase;
    color: #CECECE;
    font-size: .1rem;
}
/*重获新生*/
.one_list_top{
    overflow: hidden;
    padding-top: .15rem;
}
.sad_left{
    width: 58%;
    position: relative;
}
.sad_left a{
    font-size: .15rem;
    color: #fff;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: #A4A4A4;
    padding: .1rem 0;
    border-radius: 5px;
}
.sad_left a.will_pink{
    background-color: #B96EBC;
}
.sad_left li{
    margin-top: .19rem;
}
.sad_left:before,.sad_left:after{
    display: table;
    content: "";
    position: relative;
    width: 100%;
    height: .22rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sad_left:before{
    background-image: url(../img/one_list_01.jpg);
}
.sad_left:after{
    background-image: url(../img/one_list_02.jpg);
    margin-top: .18rem;
}
.one_list_top img{
    width: 40%;
}
.one_list_middle{
    margin: .1rem 0;
}
.one_list_middle,.one_list_middle li{
    overflow: hidden;
}
.one_list_middle img{
    width: 1.55rem;
}
.one_list_middle li.have_left{
    margin-left: .066rem;
}
.one_list_bottom{
    overflow: hidden;
    margin: 0 auto;
    padding: .1rem 0;
}
.one_list_bottom a.five_btn{
    margin-left: .2rem;
}
.one_list_bottom a.blue_btn{
    margin-left: 20%;
}
/**/
.two_list_left{
    width: 40%;
    margin-left: .1rem;
}
.two_list_left img{
    width: 100%;
}
.two_list_right{
    width: 56%;
}
.two_list_right img{
    width: 1.64rem;
}
.two_list_right li{
    float: left;
}
.two_list_btn a{
    margin-left: .05rem;
}
.two_list,.two_list div,.two_list_right li{
    overflow: hidden;
}
.two_list_btn{
    margin-top: .25rem;
}
.two_list_right li.have_left{
    margin-left: .2rem;
}
.two_list_right li.have_top{
    margin-top: .2rem;
}
/*荣誉奖项*/
.section_one,.section_two,.section_three{
    padding: .1rem 0    ;
}
.three_list{
    width: 100%;
    height: 4.11rem;
    background-image: url(../img/three_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: .1rem;
}
.three_btn{
    position: absolute;
    left: .2rem;
    bottom: .4rem;
    width: 1.5rem;
}
.three_btn a.five_btn{
    margin-top: .1rem;
}
/*行医之道*/
.four_list{
    width: 100%;
    height: 3.22rem;
    background-image: url(../img/four_list_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: .1rem;
}
.four_btn{
    position: absolute;
    left: 30%;
    bottom: .3rem;
}
.four_btn a.five_btn{
    margin-left: .15rem;
}
/*在线解答*/
.section_answer{
    position: relative;
    width: 100%;
    height: 4.24rem;
    background-image: url(../img/answer_bg_03.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.answer_left,.answer_right{
    position: absolute;
}
.answer_left{
    width: 3rem;
    top: 1.3rem;
    left: .1rem;
}
.answer_left li{
    overflow: hidden;
    padding: .1rem 0;
    border-bottom: 1px dashed #A4A4A4;
}
.answer_left li input,.answer_left li span{
    float: left;
}
.answer_left li input{
    outline: none;
    border: 1px solid #A4A4A4;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
}
.answer_left span{
    font-size: .15rem;
    color:#913195;
    margin-left: 1%;
}
.answer_left ul{
    box-shadow: 0 0 .1rem #913195;
    padding-left: .1rem;
}
.answer_btn{
    overflow: hidden;
    margin-top: .3rem;
}
.answer_btn a.answer_pink{
    margin-left: 25%;
}
.answer_pink,.answer_blue{
    font-size: .2rem;
    color: #fff;
    padding: .05rem .3rem;
    float: left;
    position: relative;
    border-radius: 5px;
}
.answer_pink{
    background-color: #913195;
}
.answer_blue{
    background-color: #65BBD6;
}
/*提交*/
.answer_right{
    right: .1rem;
    top: 1.7rem;
}
.answer_right li{
    overflow: hidden;
    margin-top: .15rem;
}
.answer_right li span,.answer_right li input,.answer_right li textarea{
    float: left;
    font-size: .15rem;
    color: #717172;
    outline: none;
}
.answer_right li input{
    height: .26rem;
    line-height: .26rem;
}
.answer_right li input,.user_sum{
    border: 1px solid #A4A4A4;
}
.user_name{
    width: .7rem;
}
.user_sex,.user_age{
    width: .4rem;
}
.user_tel{
    width: 1.6rem;
}
.user_sum{
    width: 2.2rem;
    height: .8rem;
}
.answer_right li.logo_btn a{
    margin-left: .2rem;
}
/*thanks letter*/
.letter_list,.letter_left,.letter_right{
    overflow: hidden;
}
.letter_list{
    padding: .2rem .1rem;
}
.letter_list img{
    float: left;
}
.letter_title{
    width: 100%;
    height: .61rem;
    background-image: url(../img/thanks_letter_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.letter_title h3{
    font-size: .3rem;
    color:#913195;
    margin-left: .3rem;
}
.letter_left,.letter_left img{
    width: 2.24rem;
}
.letter_right img{
    width: 3.7rem;
}
.letter_left a.answer_pink{
    margin-left: 20%;
    margin-top: 8%;
}
/*show_weibo*/
.show_weibo{
    width: 100%;
    height: 5.3rem;
    background-image: url(../img/good_answer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.show_left{
    float: left;
    left: .15rem;
    top: 1.5rem;
    height: 3.6rem;
    overflow: hidden;
}
.show_left,.show_list{
    position: relative;
}
.show_list{
    width: 4.88rem;
    top: 0;
}
.show_list li{
    overflow: hidden;
    padding: .1rem 0;
}
.show_list li img,.show_list li p{
    float: left;
}
.show_list li img{
    width: .65rem;
    height: .65rem;
    border-radius: 50%;
    border: 4px solid #5D5D5D;
}
.show_list li p{
    background-image: url(../img/good_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #717172;
    font-size: .1rem;
    width: 4.06rem;
    height: .7rem;
    padding-left: .25rem;
    padding-top: .25rem;
    padding-right: .1rem;
}