<!DOCTYPE html>
<html lang="en" ng-app="myModule4">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <title>模仿QQ空间</title>
  <style>
    img{
      width:100px;
      height:100px;
    }
    .loading{
      width:20px;
      height:15px;
    }
  </style>
</head>
<body>
  <div class="container" ng-controller="myCtrl4">
    <h3>模仿QQ空间</h3>
    <!--<div class="media">
      <div class="media-left">
        <a href="">
          <img class="media-object" src="img/5.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">北京雾霾天气预警</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, beatae deleniti deserunt dignissimos dolorem, eligendi est neque nisi nostrum numquam officia quasi quibusdam quo repellat repellendus ullam unde voluptates.

      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="">
          <img class="media-object" src="img/5.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">北京雾霾天气预警</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, beatae deleniti deserunt dignissimos dolorem, eligendi est neque nisi nostrum numquam officia quasi quibusdam quo repellat repellendus ullam unde voluptates.

      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="">
          <img class="media-object" src="img/5.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">北京雾霾天气预警</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, beatae deleniti deserunt dignissimos dolorem, eligendi est neque nisi nostrum numquam officia quasi quibusdam quo repellat repellendus ullam unde voluptates.

      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="">
          <img class="media-object" src="img/5.jpg" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">北京雾霾天气预警</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, beatae deleniti deserunt dignissimos dolorem, eligendi est neque nisi nostrum numquam officia quasi quibusdam quo repellat repellendus ullam unde voluptates.

      </div>
    </div>
    <hr>-->
    <div ng-repeat="m in msgList" class="media">
      <div class="media-left">
        <a href="">
          <img ng-src="{{m.headpic}}" alt="">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{m.title}}</h4>
        <div class="alert alert-success">{{m.content}}</div>
      </div>
    </div>
    <hr>
    <button ng-click="load()" ng-disabled="isLoading" class="btn btn-success btn-block">
      <span ng-hide="isLoading">加载更多</span>
      <img ng-show="isLoading" src="img/loading.gif" alt="" class="loading">
    </button>
  </div>
</body>
<script src="js/angular.js"></script>
<script>
  angular.module('myModule4',['ng']).
    controller('myCtrl4',function($scope,$http){
      $scope.msgList=[];
      $scope.isLoading=false;
      $scope.load=function(){
        $scope.isLoading=true;
        $http.get('data/4.php').success(function(data){
          console.log(data);
            //$scope.msgList=data;
          $scope.msgList=$scope.msgList.concat(data);
          $scope.isLoading=false;
        })
      }
  });
</script>
</html>