*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.container{
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
    /*border: 1px solid black;*/
}
/*LOGO-banner*/
header,header a,.header_banner a{
    overflow: hidden;
}
header a{
    display: block;
    cursor: pointer;
}
header img, .header_banner img {
    float: left;
    width: 100%;
}
.header_banner {
    padding-top: .026rem;
}
.header_banner a{
    display: block;
}
/*导航*/
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.nav_top, .nav_top ul {
    overflow: hidden;
    width: 100%;
}
.nav_top ul {
    padding-top: 1px;
}
.nav_top ul li {
    text-align: center;
    height: .6rem;
    width: 24.65%;
    background-image: url(../img/nav_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav_top ul li a {
    font-size: .3rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.hove_left {
    margin-left: .03rem;
}
.nav_top ul li:nth-child(5),.nav_top ul li:nth-child(6),.nav_top ul li:nth-child(7),.nav_top ul li:nth-child(8){
    margin-top: .026rem;
}
/*.对症自查，你是哪种皮炎？*/
.section_one,.section_two{
    padding: .1rem 0;
}
.section_head{
    overflow: hidden;
    width: 100%;
    background-image: url(../img/sum_head.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.section_head span{
    color: #DED1BB;
    font-size: .4rem;
    padding: .15rem .07rem;
}
.head_right{
    margin-left: .1rem;
    padding: .1rem 0;
}
.head_right h3,.head_right p{
    color: #fff;
}
.head_right h3{
    font-size: .3rem;
    font-weight: 400;
}
.head_right p{
    font-size: .2rem;
}
.one_lists{
    width: 96%;
    margin: 0 auto;
}
.one_lists dl{
    width: 47%;
    padding: .01rem;
    border: 1px solid #DBDBDB;
    margin-top: .15rem;
}
.one_lists,.one_lists dt{
    overflow: hidden;
}
.one_lists dt img{
    width: 100%;
}
.one_lists dd{
    width: 100%;
    height: 1.3rem;
    background-image: url(../img/one_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .08rem;
}
.one_lists dd p{
    color: #858383;
    font-size: .22rem;
}
.one_btn{
    margin-top: .15rem;
}
.one_btn a{
    display: block;
    overflow: hidden;
    width: 4.8rem;
    margin: 0 auto;
}
.one_btn a img{
    width: 100%;
}
/*遭遇皮炎危害大，患者苦不堪言*/
.section_two{
    background-color: #F2F2F2;
}
.harm_list{
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    background-image: url(../img/two_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .1rem;
    margin-top: .1rem;
}
.harm_list img{
    width: 40%;
}
.harm_right{
    width: 58%;
}
.harm_right h4{
    font-size: .22rem;
    color: #A67D18;
    background-color: #eee;
    overflow: hidden;
    line-height: .32rem;
}
.harm_right h4:before{
    content: "";
    display:block;
    float: left;
    width: .04rem;
    height: .32rem;
    background-color: #9E6160;
    margin-right: .08rem;
}
.harm_right h4 span{
    font-size: .2rem;
    color: #B7B7B7;
    font-weight: 100;
}
.harm_right p{
    font-size: .19rem;
    color: #858383;
}
/*.太医堂治皮炎：查清类型，分型而治*/
.three_top{
    padding-top: .1rem;
}
.three_top,.top_two,.three_right,.three_right p{
    overflow: hidden;
}
.top_two{
    width: 98%;
    margin:.1rem auto;
}
.top_two>img{
    width: 39%;
    padding: 1px;
    border: 1px solid #C4C4C4;
}
.three_right{
    width: 60%;
    height: 1.6rem;
    background-image: url(../img/three_rbg_02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .08rem;
}
.three_top h4{
    font-size: .24rem;
    color: #6F2625;
    background-image: url(../img/three_head_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .1rem;
    text-align: center;
}
.three_top h4 span{
    color: #A67D18;
}
.three_right h5{
    font-size: .22rem;
    color: #6F2625;
    text-align: center;
}
.three_right p{
    font-size: .2rem;
    color: #858383;
}
.three_right p img{
    float: left;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    margin-top: .04rem;
    margin-right: .1rem;
}
/**/
.three_list{
    overflow: hidden;
}
.list_one dl{
    width: 2.1rem;
    height: 3.88rem;
}
.list_one dt{
    height: .7rem;
}
.list_one dt.yellow{
    background-image: url(../img/three_title_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.list_one dt.red{
    background-image: url(../img/three_title_02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.list_one dt h5{
    font-size: .22rem;
    color: #fff;
    text-align: center;
    padding: .03rem 0;
    font-weight: 300;
}
.have_left{
    margin-left: .05rem;
}
.list_one dt.yellow h5,.list_one dt.red h5.red_one{
    line-height: .63rem;
}
.list_one dd{
    overflow: hidden;
}
.list_one dd p{
    font-size: .2rem;
    color: #858383;
    padding: .05rem;
}
.list_one dd.have_height{
    width: 100%;
    height: 1.66rem;
}
.list_one dd img{
    width: 1.32rem;
    height: 1.32rem;
    border-radius: 50%;
    margin:.1rem .39rem;
    padding: 1px;
    border:1px solid #C4C4C4;
}
/*太医堂治皮炎：优势在专家*/
.mir_zhou a{
    overflow: hidden;
}
.mir_zhou a img{
    width: 100%;
}
/*用效果说话*/
.five_lists,.five_lists ul,.five_lists ul li{
    overflow: hidden;
}
.five_lists ul li{
    float: left;
}
.five_lists ul li.five_left{
    margin-left: 0.11rem;
}
.five_lists ul li img{
    width: 2.06rem;
    height: 1.7rem;
    padding: 1px;
    border:1px solid #C4C4C4;
}
.five_btn{
    padding: .2rem 0;
    background-color: #fff;
}
.five_btn p{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.five_btn p a{
    display: inline-block;
    font-size: .28rem;
    color: #fff;
    width: 2.5rem;
    padding-left: .7rem;
    height: .5rem;
    line-height: .5rem;
    border-top-left-radius: .07rem;
    border-top-right-radius: .07rem;
    border-bottom-left-radius: .07rem;
    border-bottom-right-radius: .07rem;
}
.five_btn p a.fbtn_left{
    background-image: url(../img/five_btn_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.five_btn p a.fbtn_right{
    background-image: url(../img/five_btn_02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*快速挂号通道   预约快人一步*/
.section_six{
    background-color: #F5F5F5;
}
.section_six>p{
    width: 100%;
    height: .08rem;
    background-image: url(../img/six_bg_p.png);
}
.section_six h3{
    font-size: .3rem;
    color: #fff;
    text-align: center;
    background-image: url(../img/six_bg_h3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: 400;
    margin-top: .02rem;
    padding: .1rem 0;
}
.six_form{
    width: 100%;
    background-image: url(../img/form_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .25rem 0;
    margin-top: .05rem;
}
.six_form p a{
    display: block;
    width: 1.9rem;
    height: .55rem;
    line-height: .55rem;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    background-image: url(../img/six_bg_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.six_form p{
    margin-top: .2rem;
}
.tips_msg{
    width: 92%;
    margin: 0 auto;
    background-image: url(../img/tips_bg.png);
    padding: .15rem;
}
.tips_msg p{
    font-size: .2rem;
    color: #858383;
}
.tips_msg p span{
    font-size: .22rem;
    color: #6E2625;
    font-weight: 300;
}
.six_form ul{
    width: 75%;
    margin: 0 auto;
}
.six_form ul li{
    overflow: hidden;
    font-size: .26rem;
    color: #858383;
    padding: .05rem;
}
.six_form ul li span{
    display: inline-block;
    width: 1.4rem;
    text-align: right;
}
.six_form ul li input{
    width: 3rem;
    height: .4rem;
    background-color: #EBEBE5;
    outline: none;
    border: 1px solid #D1D1D0;
    font-size: .24rem;
    color: #858383;
    margin-left: .07rem;
}
.six_form ul li input.tips_sex{
    width: .3rem;
    height: 0.25rem;
}
.six_form ul li select{
    width: 3rem;
    height: .4rem;
    font-size: .24rem;
    color: #858383;
    background-color: #EBEBE5;
    outline: none;
    border: 1px solid #D1D1D0;
}
.six_form ul li select option{
}
.footer{
    overflow: hidden;
    margin-top: .15rem;
}
.footer img{
    width: 100%;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}