*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline: 0 }
em, i { font-style: normal }
/*input[type=date] { text-align: right }*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    color: #595757;
    background-color: #fff;
    outline: 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
    border: none;
}
/**:before{*/
    /*display: table;*/
    /*content: "";*/
/*}*/
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.will_translateY{
    margin: 0 auto;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.will_translateX{
    margin: 0 auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*container*/
.container{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}
.flex_parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_child{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*header_top*/
.header_top{
    background-color: #F3F3F3;
    height:.6rem;
}
.header_top a{
    font-size: .2rem;
    color: #fff;
    display: block;
}
.header_one,.header_two{
    width: 1.1rem;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
}
.header_one{
    background-color: #A65A0E;
    margin-left: .2rem;
    margin-top: .1rem;
}
.header_two{
    background-color: #FF7800;
    margin-left: .2rem;
    margin-top: .1rem;
}
.header_top a img{
    width: 2.57rem;
    margin-right: .2rem;
    margin-top: .12rem;
}
/*header_logo*/
.header_logo{
    position: relative;
    overflow: hidden;
    margin-top: .1rem;
}
.header_logo img{
    max-width: 100%;
}
.header_logo a{
    display: block;
    position: absolute;
    padding: .21rem;
    top: .15rem;
}
.header_left{
    left: .23rem;
}
.header_right{
    right: .25rem;
}
/*..........*/
.nav_bar{
    margin-top: .1rem;
}
.nav_top, .nav_top ul {
    overflow: hidden;
    width: 100%;
}
.nav_top ul li {
    text-align: center;
    height: .6rem;
    width: 24.65%;
    background-image: url(../images/nav_bg.jpg);
    background-size: 100% 100%;
}
.hove_left{
    margin-left: .03rem;
}
.nav_top ul li a {
    font-size: .26rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.nav_top ul li:nth-child(5), .nav_top ul li:nth-child(6), .nav_top ul li:nth-child(7), .nav_top ul li:nth-child(8) {
    margin-top: .026rem;
}
/*..top_banner*/
.top_banner{
    margin-top:.1rem;
}
.top_banner a,.top_banner img{
    display: block;
}
.top_banner a{
    overflow: hidden;
}
.top_banner a img{
    float: left;
}
.big_banner img{
    width: 100%;
}
.top_middle{
    overflow: hidden;
    margin-top: .05rem;
}
.top_middle_left img{
    width: 4.27rem;
}
.top_middle_right img{
    width: 2.09rem;
}
.top_bottom{
    overflow: hidden;
    margin-top:.1rem;
    position: relative;
}
.top_bottom img{
    width: 100%;
    float: left;
}
.top_bottom a{
    display: block;
    padding: .23rem .58rem;
    top: .35rem;
    right: .14rem;
    position: absolute;
}
/**/
.child a{
    display: block;
    font-size: .3rem;
    color: #000;
}
/*section_home*/
.section_home{
    margin-top: .1rem;
}
.home_tittle{
    overflow: hidden;
    border-bottom: 1px solid #A1A1A1;
}
.home_tittle h3{
    font-size: .24rem;
    color: #7A7978;
    font-weight: 100;
    padding: .08rem .1rem;
    border-bottom: 2px solid #AF7C4A;
}
.deep_red{
    color: #DF002B;
}
/*young_lists*/
.young_lists{
    margin-top: .1rem;
    padding: .06rem .1rem;
    background-color: #F0F0F0;
    overflow: hidden;
}
.young_left{
    width: 1.36rem;
    height: 1.75rem;
    float: left;
    overflow: hidden;
}
.young_one{
    background-color: #DB5543;
}
.young_two{
    background-color: #BB9005;
}
.young_three{
    background-color: #AF7C4A;
}
.young_left img{
    float: left;
    width: .72rem;
    margin-top: .25rem;
}
.young_left h3{
    font-size: .22rem;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: .1rem;
    font-weight: 100;
}
.young_right{
    width: 4.7rem;
    float: right;
}
.young_right a.young_bbq{
    display: block;
}
.young_right h4{
    font-size: .22rem;
    color: #4F4F51;
    padding: .1rem 0;
    border-bottom:1px dashed #C9C9C9;
}
.young_right p{
    font-size: .2rem;
    color: #676768;
    margin-top: .1rem;
}
.young_right p a.deep_red{
    color: #DF002B;
}
.young_btn{
    width: 3.74rem;
    margin: 0 auto;
    overflow: hidden;
}
.young_btn a{
    display: block;
    width: 1.65rem;
    font-size: .22rem;
    color: #fff;
    line-height:.42rem;
    text-align: center;
}
.ybtn_left{
    background-color: #865820;
}
.ybtn_right{
    background-color: #D57A10;
}
/******section_hot*******/
.section_hot{
    overflow: hidden;
    margin-top: .1rem;
}
.hot_left{
    float: left;
}
.hot_left img{
    width: 100%;
}
.hot_left,.hot_right{
    width: 1.5rem;
    height: 1.45rem;

}
.hot_middle{
    float: left;
    width: 3.36rem;
    height: 1.45rem;
    margin-left: 2px;
}
.hot_right{
    float: right;
}
.yellow_one{
    background-color: #905B3F;
}
.yellow_two{
    background-color: #EAB324;
}
.yellow_three{
    background-color: #FF7B06;
}
.yellow_four{
    background-color: #BD8D53;
}
.section_hot p a{
    font-size: .2rem;
    color: #fff;
    display: block;
    float: left;
    text-align: center;
}
.hot_middle p a{
    line-height: .47rem;
}
.section_hot p{
    overflow: hidden;
}
.section_hot p.have_top{
    margin-top: 2px;
}
a.p_one{
    width: 44%;
}
a.p_s_left{
    margin-left:.5%;
}
a.p_two{
    width: 55.5%;
}
.hot_right p{
    overflow: hidden;
}
.hot_right p a{
    display: block;
    line-height: .72rem;
    width: 100%;
}

/*section_three*/
.three_banner{
    margin-top: .1rem;
    height: 3.2rem;
}
.swiper-slide a{
    display: block;
    overflow: hidden;
}
.swiper-slide a img{
    float: left;
    width: 100%;
}
.swiper-container{
    width: 100%;
    height:3.1rem;
}
/*big_tittle*/
.big_tittle{
    position: relative;
    overflow: hidden;
    margin-top: .1rem;
}
.big_tittle img{
    display: block;
    float: left;
    width: 100%;
}
.big_tittle a{
    position: absolute;
    width: 2.17rem;
    height: .5rem;
    background-image: url(../images/click_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10;
    right: .85rem;
    bottom: .25rem;
}

/*five_more*/
.five_more{
    background-color:#F6F6F6;
    padding: .1rem;
}
.five_msg{
    border:1px solid #EDE8E5;
}
.five_msg p{
    display: block;
    font-size: .22rem;
    color: #6B6968;
}
.msg_bg{
    width: 100%;
    height: 9px;
    background-image: url(../images/icon_p_03.jpg);
}
.five_msg p{
    overflow: hidden;
    padding: .1rem .2rem;
    margin: .1rem 0;
}
.five_sum{
    display: block;
    overflow: hidden;
    font-size:.22rem ;
    color: #6B6968;
}
.five_msg p span{
    float: left;
}
.five_msg p a.five_bbq{
    display: block;
    float: left;
    font-size: .22rem;
    color: #fff;
    width: 3.2rem;
    height: .52rem;
    line-height: .52rem;
    text-align: center;
    background-color: #D57A10;
}
.border_bottom{
    border-bottom: 1px dashed #BEB2A4;
}
/*section_six多说*/
.six_answer{
    padding: .1rem;
}
.six_answer h5{
    font-size: .2rem;
    color: #565656;
    padding: .1rem;
}
.answer_lists{
    font-size: .18rem;
}
/*section_seven*/
.section_seven{
    background-color: #F3F3F3;
    padding-bottom: .3rem;
}
.git_commit{
    padding: .2rem 0;
}
.git_commit form{
    margin: 0 auto;
}
.six_form{
    width: 75%;
    margin: 0 auto;
}
.six_form li{
    overflow: hidden;
    font-size: .26rem;
    color: #858383;
    padding: .05rem;
    margin-top: .1rem;
}
.six_form li span{
    display: inline-block;
    width: 1.4rem;
    text-align: right;
}
.six_form li input{
    width: 3rem;
    height: .4rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #D1D1D0;
    font-size: .24rem;
    color: #858383;
    margin-left: .07rem;
    padding-left: .1rem;
}
.six_form li select {
    width: 3rem;
    height: .4rem;
    font-size: .24rem;
    color: #858383;
    background-color: #fff;
    outline: none;
    border: 1px solid #D1D1D0;
    padding-left: .1rem;
}
.six_form p{
    overflow: hidden;
    width: 3.6rem;
    margin: 0 auto;
}
.six_form p a{
    padding: 2px;
}
.six_form p span{
    display: block;
    width: 1.6rem;
    height: .48rem;
    text-align: center;
    line-height: .48rem;
    color: #fff;
    font-size: .24rem;
}
.git_yellow{
    background-color: #D57A10;
}
.git_yellow span{
    border: 1px solid #E2A259;
}
.git_deep{
    background-color: #924B00;
}
.git_deep span{
    border: 1px solid #B3804F;
}
/*git_center*/
.git_center{
    width: 96%;
    margin:.1rem auto;
}
.git_center_bg{
    width: 100%;
    height: 6px;
    background-image: url(../images/git_center_bg.jpg);
}
.git_center h3{
    line-height: .5rem;
    padding-left: .2rem;
    font-size: .24rem;
    color: #fff;
    background-color: #AF7C4A;
}
.git_center .five_msg{
    margin-top: .1rem;
}
.scrollbox {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#scrollDiv {
    width: 100%;
    height: 2rem;
    overflow: hidden;
}
#scrollDiv li{
    height:.5rem;
    width:100%;
    overflow:hidden;
    zoom:1;
    padding-left: .15rem;
}
#scrollDiv li p{
    padding: 0;
}
/*git_tel*/
.git_tel{
    margin-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: 2px solid #AF7C4A;
}
.git_tel p{
    width: 4.95rem;
    margin: 0 auto;
    overflow: hidden;
}
.git_tel p a{
    display: block;
    font-size: .22rem;
    height: .52rem;
    line-height: .52rem;
    color: #fff;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tel_left{
    background-image: url(../images/tel_left.png);
    width: 1.77rem;
}
.tel_right{
    background-image: url(../images/tel_right.png);
    width: 2.82rem;
}
.doctor_answer h3{
    width: 1.7rem;
    margin: 0 auto;
    height: .4rem;
    font-size: .18rem;
    color: #fff;
    background: #D3D3D3;
    border-radius: .2rem;
    text-align: center;
    line-height: .4rem;
}
.doctor_answer ul{
    width: 5.8rem;
    margin:.2rem auto;
    overflow: hidden;
}
.sum_peo{
    width: .98rem;
    overflow: hidden;
    float: left;
}
.sum_peo img{
    width: .98rem;
    float: left;
}
.sum_word{
    float: right;
    width: 4.44rem;
    height: 1.04rem;
    background-image: url(../images/green_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: .4rem;
    padding-top: .2rem;
}
.sum_word p{
    font-size: .22rem;
    color: #535543;
}
/*who_said*/
.who_said{
    overflow: hidden;
}
.who_said a{
    display: block;
    overflow: hidden;
    float: left;
    margin-left: .15rem;
}
.who_left{
    margin-left: .15rem;
    border-left: 1px solid #B1B3B7;
    padding-left: .15rem;
}
.who_said img{
    float: left;
}
.same_first{
    width: .31rem;
    margin-top: .09rem;
}
.same_w{
    width: .44rem;
}
.who_said input{
    float: left;
    width: 3.6rem;
    outline: none;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    font-size: .2rem;
    line-height: .48rem;
    padding-left: .1rem;
    color: #434850;
    margin-left: .2rem;
}
/*section_footer*/
.section_footer{
    margin-top: .1rem;
}
.footer_bar{
    width: 100%;
    overflow: hidden;
}
.footer_bar a{
    display: block;
    font-size: .26rem;
    text-align: center;
    line-height: .6rem;
    color: #fff;
    background-color: #D57A10;
}
.footer_bar li{
    width: 32%;
    float: left;
}
.footer_bar li.have_left{
    margin-left: 2%;
}
/*footer_place*/
.footer_place{
    margin-top: .1rem;
    width: 100%;
    height: 2.44rem;
    background-image: url(../images/footer_bg_03.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.place_msg{
    width: 2.9rem;
    position: absolute;
    z-index: 10;
    right: .3rem;
    bottom: .3rem;
}
.place_msg ul{
    overflow: hidden;
}
.place_msg a{
    display: block;
    width: 1.35rem;height: .41rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer_see{
    background-image: url(../images/footer_see.png);
}
.footer_about{
    background-image: url(../images/footer_about.png);
}