<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百度搜索</title>
    <script src="../js/vue.2.3.2.js"></script>
    <script src="../js/vue-resource.js"></script>
    <link rel="stylesheet" href="css/search.css">
    
</head>
<body>
    <div id="app" class="app">
        <img src="images/bd_logo.png" alt="">
        <p>
            <input id="search" class="search" v-model="msg" type="text" @keyup="get($event)" @keydown.up.prevent="selectedUp" @keydown.down="selectedDown">
            <span @click="willSearch">百度一下</span>
        </p>
        <ul>
            <li v-for="(item,$index) in someData" :class="{selected:$index==now}"
                @mouseover="mouseSelected($index)"
                @click="willSearch"
            >
                {{item}}
            </li>
        </ul>
        <!--<p v-show="someData.length==0">暂无数据...</p>-->
    </div>
    <script src="js/search.js"></script>
</body>
</html>