*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
}
body{
    font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif;
    color:#606060;
    background-color: #fff;
    overflow-x:hidden;
    /*overflow-y:hidden;*/
}
/**/
.flex_parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_child{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.will_translateY{
    margin: 0 auto;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.will_translateX{
    margin: 0 auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
.sum_width{
    width: 1000px;
    margin: 0 auto;
}
p{
    font-size: 16px;
}
h3{
    font-size: 20px;
    color: #48586A;
}
.text_center{
    text-align: center;
}
.text_just{
    text-align: justify;
}
.deep_blue{
    color:#48586A;
}
/*container*/
.container{
    max-width: 1400px;
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.top_one{
    background-color: #F5F5F5;
    padding: 5px 10px;
}
.top_one p{
    text-align: right;
    font-size: 12px;
}
.top_one p span,.top_one p a{
    margin: 0 5px;
}
.top_one p a{
    color: #FF7954;
}
/*top_nav*/
.top_navbar{
    overflow: hidden;
    padding: 10px 0;
}
.top_nav{
    overflow: hidden;
    margin-top: 15px;
}
.top_nav li{
    float: left;
    margin-left: 5px;
}
.top_nav li a{
    color: #A0A0A0;
    display: block;
    padding: 10px 15px;
    border-bottom: 2px solid #fff;
}
.top_nav li a:hover{
    color: #FF7954;
    border-bottom: 2px solid #FF7954;
}
/*top_banner*/
.top_banner img{
    display: block;
    width: 100%;
}
/*floor_oneul*/
.floor_one{
    margin-top: 25px;
}
.have_top{
    margin: 10px 0;
}
.floor_oneul{
    overflow: hidden;
    padding: 15px 0;
}
.floor_oneul li{
    float: left;
    width: 245px;
    border: 1px solid #E5E5E5;
    padding: 10px 0;
}
.floor_oneul li p{
    text-align: center;
}
.floor_oneul li:hover{
    cursor: pointer;
    box-shadow:5px 5px 5px #EAEAEA;
}
.floor_oneul li.have_left{
    margin-left: 5px;
}
.floor_oneul p a{
    display: block;
    text-align: center;
    color: #FF7954;
}
.floor_oneul p{
    padding: 2px 5px;
}
/*floor_two*/
.floor_two{
    margin-top: 15px;
}
.floor_twoul{
    overflow: hidden;
    margin-top: 20px;
}
.floor_twoul li{
    float: left;
    width: 32%;
    padding: 10px;
}
.floor_twoul li h4{
    color: #373636;
    margin: 10px 0;
}
.floor_twoul li.have_left{
    margin-left: 2%;
}
.big_top{
    margin-top: 30px;
}
/*floor_three*/
.floor_three{
    margin-top: 15px;
    padding: 20px 0;
    background-color: #F5F5F5;
}
.floor_three>h3{
    color: #373636;
    text-align: center;
}
.floor_ulthree{
    overflow: hidden;
    padding: 15px 0;
}
.floor_ulthree li{
    float: left;
    width: 245px;
    padding: 10px 0;
    background-color: #fff;
}
.floor_ulthree li.have_left {
    margin-left: 5px;
}
.ulthree_lists li{
    overflow: hidden;
    padding: 10px;
}
.ulthree_lists li span,.ulthree_lists li h4,.ulthree_lists li p{
    float: left;
}
/*floor_four*/
.floor_four{
    background-color: #404040;
    padding: 30px 0;
}
.four_lists h2{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.four_msglists{
    overflow: hidden;
}
.four_msglists_left{
    width: 430px;
}
.four_msglists_left h5{
    color: #fff;
    font-size: 16px;
    margin: 8px 0;
}
.four_msglists_left input,.four_msglists_left textarea{
    display: block;
    width: 100%;
    background-color:#404040 ;
    border: 1px solid #545454;
    padding: 0 5px;
    color: #fff;
}
.form_input{
    height: 25px;
    line-height: 25px;
}
#will_commit{
    background-color: #E7E3E3;
    padding: 10px 0;
    color: #4B4B4B;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.four_msglists_right{
    width: 420px;
    margin-top: 115px;
}
.four_msglists_right p{
    color: #B5B2B2;
}
/*floor_footer*/
.floor_footer{
    background-color: #23252B;
    padding: 20px 0;
}
.footer_lists{
    overflow: hidden;
}
.footer_lists_left{
    width: 75%;
}
.footer_lists_left h6,.footer_lists_left p,.footer_lists_left p a{
    font-size: 10px;
    color: #575A64;
}
.footer_lists_left p a:hover{
    color: #FF7954;
}
.footer_lists_left p{
    position: relative;
}
.footer_lists_left p img{
    position: absolute;
    top: 1px;
    right: 15px;
}
.footer_lists_right{
    width: 25%;
}
.footer_lists_right p{
    color: #858891;
}