/*重置*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: none;
}
h3{
    text-align: center;
    margin-top: 20px;
}

.border-all-color {
    margin: 20px auto;
    width: 0;
    height: 0;
    border-top: 40px solid coral;
    border-right: 40px solid lightblue;
    border-bottom: 40px solid lightgreen;
    border-left: 40px solid mediumpurple;
}

.border-left-color,
.border-top-color,
.border-right-color,
.border-bottom-color{
    width: 0;
    height: 0;
    margin: 10px auto;
    border: 20px solid transparent;
}

.border-left-color{
    border-left-color: #9370DB;
}
.border-top-color{
    border-top-color: #FF7F50;
}
.border-right-color{
    border-right-color: #ADD8E6;
}
.border-bottom-color{
     border-top-color: #90EE90;
 }

 /*---------2-------*/
 .d1{
    position: relative;
    border: 1px dashed #999;
    background: #fff;
    width: 150px;
    height: 100px;
}
.d1 span{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    border-right:1px dashed #999;
    border-bottom:1px dashed #999;
    transform: rotate(45deg);
    bottom: -10px;
    left: 50%;
    margin-left:-15px;
    background: #fff;
    z-index: 99;
}
/*---------3--------*/

.main {
    margin-top: 30px;
    /**/
  position: relative;
  width: 412px;
  height: 261px;
  background:url(img/0001.jpg) no-repeat;
  border-radius: 10px;
}
.main:after {
    position: absolute;
    top: 261px;
    left: 20px;
    width: 20px;
    height: 20px;
    content: '';
    box-sizing: border-box;
    border-top: 20px solid transparent;
    border-left: 20px solid #f3f5f6;
    border-right: 20px solid #f3f5f6;
    background: inherit;
    background-position: -20px bottom;
    background-origin: border-box;
  }