/*@charset "gb2312";*/
/* CSS Document */
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
input,textarea,img{vertical-align: middle;border:none;}
button,select,input{font-size:16px;}
a{outline:0;cursor:pointer;text-decoration:none; color:#393939;}
.hidd{ overflow:hidden;}
.clear{clear:both;height:0;font-size:0;line-height:0;visibility:hidden; overflow:hidden;}
em,i{font-style:normal;}
body{ font-family:"Microsoft YaHei"; background:#ffffff; color:#393939;/** ������ɫ�Զ��� **/}
.will-center{ width:1000px; margin:0 auto;}
.will-left{
    float: left;
}
.will-right{
    float: right;
}
.text-center{
    text-align: center;
}

/*   ������ʽ  end  */
/*floor-header*/
.floor-header{
    background-image: url(../images/top_bg.jpg);
    overflow: hidden;
}
/*floor-banner*/
.floor-banner{
    overflow: hidden;
    position: relative;
}
.floor-banner img{
    max-width: 100%;
    min-width: 1000px;
}
.banner-btn{
    display: block;
    overflow: hidden;
}
/*floor-nav*/
.floor-nav{
    background-color: #8B0707;
    overflow: hidden;
}
.nav-bar{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.nav-bar li{
    float: left;
}
.nav-bar li a{
    display: block;
    padding: 15px 23px;
    font-size: 16px;
    color:#fff;
}
.nav-bar li.have-border{
    background: url(../images/nav-linebg.jpg) no-repeat right center;
}
/*big-container*/
.big-container{
    background-image: url(../images/bg-red.jpg);
    overflow: hidden;
}
.container-parent{
    width: 1042px;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 25px 0;
}
.same-tittle{
    width: 1000px;
    height: 120px;
    background-image: url(../images/same-tittlebg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.same-tittle h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-left: 175px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.same-tittle h3{
    font-size: 20px;
    color: #0F1314;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 270px;
}
/*floor-one*/
.floor-one{
    background-color: #fff;
}
.one-lists{
    overflow: hidden;
    padding: 0 5px;
}
.one-list-left{
    width: 472px;
    padding: 15px 0;
}
.one-list-right{
    width: 495px;
    margin-right: 5px;
    padding: 15px 0;
}
.one-list-right h3,.one-list-right p a{
    color: #BF0606;
}
.one-list-right h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}
.one-list-right p,.one-list-right p a{
    font-size: 14px;
}
.one-line{
    margin: 8px 0;
    padding: 1px 0;
    background-color: #B7B7B7;
    position: relative;
}
.one-line span{
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #BF0606;
    left: 0;
    top: 0;
}
/*one-img*/
.one-img{
    padding: 0 5px;
}
.one-img ul{
    overflow: hidden;
    padding-bottom: 15px;
}
.one-img ul p{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
}
/*floor-two*/
.floor-two{
    margin-top: 25px;
    background-color: #fff;
    padding-bottom: 15px;
}
.two-tab{
    width: 922px;
    height: 496px;
    position: relative;
    margin: 15px auto;
}
.two-tablist{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.two-tablist.will-show{
    display: block;
}
.two-tablist img{
    border-radius: 30px;
}
.two-tablist h4{
    position: absolute;
    bottom: 10px;
    color: #D92223;
    font-weight: 700;
    font-size: 16px;
    left: 321px;
}
.two-tabbtnlists{
    overflow: hidden;
    width: 936px;
    margin: 0 auto;
}
.two-tabbtnlists li{
    float: left;
    border: 5px solid #E5E5E5;
}
.two-tabbtnlists li:hover,.two-tabbtnlists li.have-on{
    border-color: #D92223;
    cursor: pointer;
}
/*floor-three*/
.floor-three{
    margin-top: 25px;
    background-color: #fff;
    padding-bottom: 15px;
}
.three-oneimgs{
    overflow: hidden;
    width: 961px;
    margin:15px auto;
}
.three-oneimgs li{
    float: left;
    width: 192px;
    border: 1px solid #fff;
}
.three-oneimgs li h3,.three-oneimgs li p{
    text-align: center;
}
.three-oneimgs li h3{
    font-size: 20px;
    font-weight: 700;
    color: #0E1213;
    padding: 5px 0;
}
.three-oneimgs li p{
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
}
.bg-red{
    background-color: #C32523;
}
.bg-deepred{
    background-color: #850505;
}
.three-msg{
    width: 963px;
    margin: 0 auto;
    height: 117px;
    background-image: url(../images/three-borderbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.three-msg h2,.three-msg h4{
    color: #C6231C;
    font-weight: 700;
    text-align: center;
}
.three-msg h2{
    font-size: 28px;
    padding-top: 20px;
}
.three-msg h4{
    font-size: 20px;
}
.three-twoimgs{
    overflow: hidden;
    width: 921px;
    margin: 0 auto;
    margin-top: 20px;
}
.three-twoimgs li{
    width: 176px;
    padding: 2px;
    float: left;
    background-color: #fff;
    border: 1px solid #DBDBDB;
}
.three-twoimgs li h3,.three-twoimgs li p{
    text-align: center;
    background-color: #F2F2F2;
}
.three-twoimgs li h3{
    font-size: 20px;
    font-weight: 700;
    color: #C32523;
    padding: 5px 0;
}
.three-twoimgs li p{
    font-size: 14px;
    padding: 5px 0;
}
.three-twoimgs li.have-left{
    margin-left: 10px;
}
/*floor-four*/
.floor-four{
    margin-top: 25px;
    background-color: #fff;
    padding-bottom: 15px;
}
.four-msglists{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
}
.four-smallbg{
    width: 78px;
    height: 318px;
    background-image: url(../images/four-smallbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.four-smallbg h1{
    font-style: italic;
    color: #0E1213;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-right: 8px;
    font-weight: 600;
}
.four-smallbg h2{
    margin-top: 15px;
}
.four-smallbg h2 span{
    display: block;
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
/*.four-tab*/
.four-tab{
    background-color: #EEECEC;
    padding: 5px;
    overflow: hidden;
}
.four-tabnav li{
    width: 260px;
    height: 70px;
    background-color: #fff;
    margin-top: 4px;
}
.four-tabnav li.have-on,.four-tabnav li:hover{
    background-color: #A60202;
    cursor: pointer;
}
.four-tabnav li.have-on h3,
.four-tabnav li.have-on p,
.four-tabnav li:hover h3,
.four-tabnav li:hover p{
    color: #fff;
}
.four-tabnav h3{
    font-size: 20px;
    color: #0F1314;
    text-align: center;
    font-weight: 700;
}
.have-paddingtop{
    padding-top: 10px;
}
.four-tabnav p{
    font-size: 14px;
    padding: 0 15px;
}
.four-tabimg{
    width: 618px;
    height: 297px;
    position: relative;
}
.four-tablists{
    padding-top: 4px;
    padding-left: 4px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.four-tablists.will-show{
    display: block;
}
/*2*/
.four-msglists:before{
    display: table;
    content: "";
}
.four-msgleft{
    width: 340px;
    height: 294px;
    padding: 30px;
    margin-top: 15px;
    background-image: url(../images/four-graybg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.four-msgmiddle{
    margin-top: 15px;
    margin-left: 10px;
}
.four-msgleft p{
    font-size: 14px;
    text-indent: 2em;
}
.four-msgleft p a,.red-color{
    color: #C32523;
}
/*four-imgs*/
.four-imgs{
    width: 546px;
    height: 302px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ADADAD;
    position: relative;
}
.fouimgs-tab{
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}
.fouimgs-tab.will-show{
    display: block;
}
.fouimgs-nav{
    width: 343px;
    height: 329px;
    padding-left: 14px;
    background-image: url(../images/fouimgs-navbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fouimgs-nav li{
    padding:6px 10px;
}
.fouimgs-nav li.have-on,.fouimgs-nav li:hover{
    cursor: pointer;
    background-color: #A60202;
}
 /*6*/
.four-personOne{
    margin-top: 20px;
 }
.person-tittle{
    width: 864px;
    margin: 0 auto;
}
.person-tittle h1{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: #A80808;
}
.person-tittle h1 span{
    color: #0E1213;
}
.person-tittle p{
    font-size: 24px;
    height: 47px;
    line-height: 47px;
    margin-top: 4px;
    background-image: url(../images/four-pbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}
.personOne-lists{
    overflow: hidden;
    width: 963px;
    margin: 0 auto;
    margin-top: 20px;
}
.have-indent{
    text-indent: 2em;
}
.personOne-lists-right{
    width: 403px;
    height: 467px;
    padding:0 20px;
     background-image: url(../images/personOne-msgbg.jpg);
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }
.personOne-lists-right:before,.personOne-lists:before{
    display: table;
    content: "";
}
.personOne-lists-left{
    margin-top: 23px;
}
.personOne-lists-right p{
    margin-top: 15px;
    padding-left: 10px;
    font-size: 16px;
}
.personOne-lists-right p a{
    color: #C32523;
    font-weight: 700;
}
/*four-personTwo*/
.four-personTwo{
    margin-top: 20px;
}
.personTwo-img{
    width: 933px;
    margin: 0 auto;
    margin-top: 15px;
}
.sum-answer{
    width: 931px;
    margin: 0 auto;
    margin-top: 15px;
}
.sum-answer li{
    overflow: hidden;
    border-left: 1px solid #0066CC;
    border-top: 1px solid #0066CC;
}
.sum-answer a{
    display: block;
    float: left;
    width: 186px;
    height: 65px;
    line-height: 65px;
    border-right:1px solid #0066CC;
    border-bottom:1px solid #0066CC;
    text-align: center;
    color: #CE3E09;
    font-size: 24px;
    font-weight: 700;
}
.sum-answer a:hover,.sum-answer a.have-on{
    background-color: #0066CC;
    color: #fff;
}
/*8four-answer*/
.four-answer{
    margin-top: 20px;
}
.four-answer-top{
    padding-top: 10px;
}
.four-answer-top h1{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    color: #0E1213;
}
.four-answer-top p{
    margin-top: 5px;
}
.four-answer-top p img{
    width: 100%;
}
.four-answer-middle{
    width: 966px;
    margin: 0 auto;
    margin-top: 15px;
    height: 141px;
    padding:30px 20px;
    background-image: url(../images/answer-middlebg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
.four-answer-middle p{
    font-size: 14px;
}
.four-answer-middle p a{
    font-weight: 700;
}
.four-answer-bottom{
    width: 904px;
    margin: 0 auto;
    margin-top: 15px;
}
.four-answer-bottom p{
    overflow: hidden;
    width: 466px;
    margin: 0 auto;
    margin-top: 15px;
}
.four-answer-bottom p span,.answer-btn{
    float: left;
}
.four-answer-bottom p span{
    display: block;
    width: 300px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #CC0000;
    padding: 0 20px;
}
.answer-btn{
    display: block;
    width:158px;
    margin-left: 8px;
    height: 54px;
    background-image: url(../images/answer-btnbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    line-height: 54px;
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
}
/*floor-five*/
.floor-five{
    margin-top: 20px;
}
.five-imgs{
    width: 966px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}
.five-imgs li{
    float: left;
}
.five-imgs li.have-left{
    margin-left: 10px;
}