/*   重置样式  star  */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body{ font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#575757; background-color: #fff;font-size:0.24rem;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}
caption, th { text-align: left }
fieldset, img { border: none;}
ul{overflow: hidden;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: none;  }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline:none }
em, i { font-style: normal }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
p{line-height: 0.37rem;}
.fl{float:left;}
.fr{float:right;}
.hidd{ overflow:hidden}
.block{ display:block;}
.none{ display:none;}
img{vertical-align:middle;max-width: 100%;margin: 0 auto;}
/*   重置样式  end  */
.wrap{font-size: 0.24rem;}
.bw{padding: 0.17rem;}
.top-op{max-width:640px; min-width:320px;  margin:0 auto;}
.nav{ overflow:hidden; width:100%; margin:0.4% 0 0 0; padding:0;}
.nav ul{ overflow:hidden; padding:0 0 0 0;}
.nav ul li{ float:left; width:24.3%;background:url(../images/nav.jpg) no-repeat center top; background-size:100% 100%; padding:1% 0; margin-left:.5%;margin-top:.5%; line-height:2em; text-align:center; margin-right:0}
.nav ul li a{ color:#fff; text-decoration:none;}
/*main*/
.banner{margin-top: 0.12rem;}
.banner img,.banner a{display: block; margin:0 auto;}
/*tab1*/
.tab1{margin: 0.17rem auto;}
.tab1 img{display: block;width: 100%;}
.tab1 a{height: 100%; width: 2.13rem;}

/*hot*/
.hot{ margin:2% auto;}
.hot dl{ border-radius:32px;height:32px; line-height:32px; text-align:center; background:#fff; border:1px solid #ccc;}
.hot dl dt{height: 30px; border-radius:0.4rem 0 0 0.4rem; width:10%; float:left; background:#ea5504; color:#fff;}
.hot dl dd{width:90%; font-size:18px; float:left; overflow:hidden; color:#d60016}
#gongao{width:100%;}
#gongao #scroll_begin, #gongao #scroll_end{display:inline}

/*pos*/
.pos{color: #fff;background: #802a2d;padding:  0.12rem 0.07rem;}
.pos img{display: inline-block;margin-left: 0.07rem; }
.pw{background: url(../images/pbg1.jpg) center no-repeat; background-size: 100% 100%; padding: 0.17rem;}
.pw p{text-indent: 2em;font-size: 0.24rem;color: #343434;}
.b1u{margin-top: 0.17rem;}
.b1u li{float: left;width: 2.95rem;height: 2.10rem; margin: 0.03rem;}
.b1u li img{display: block; width: 100%;}
/*title*/
.title{margin:0 auto; padding: 0.07rem 0; text-align: center;background: #81292c; color:#fff;}
.title strong,title small{display: block;}
.title strong{font-size: 0.34rem;}
/*b2*/
.b2{padding:0.17rem 0rem;}
.b2 dl{overflow: hidden;border-bottom: 1px dashed #838383;padding-bottom: 0.12rem;margin-bottom: 0.17rem;}
.b2 dl:last-of-type{border-bottom: none;padding-bottom: 0; margin-bottom: 0}
.b2 dl dt{float: left;width: 2.4rem;}
.b2 dl dt>img{display: block; width: 100%;}
.b2 dl dd{float: left; width: 4rem;}
.b2 .dec{margin: 0.02rem auto; width: 100%;overflow: hidden;border-bottom: 1px dashed #838383; padding-bottom: 0.34em;}
.b2 .dec .name{float: left;width:35%;padding-left: 0.07rem;}
.b2 .dec .name strong,.b2 .dec .name small{padding-right: 0.07rem; display: block;text-align: center;}
.b2 .dec .name strong{font-size: 0.32rem;color: #cf5718;}
.b2 .dec .name small img{display: block;margin-top: 0.04rem;}
.b2 .dec .job{float: left;width: 65%;height: 0.6rem;line-height: 0.6rem;font-size: 0.3rem;color: #343434;font-weight: bold; border-left: 0.02rem solid #838383; padding-left: 0.19rem;}
.b2 .jy{margin: 0.02rem auto; padding-left:0.02rem; font-size: 0.2rem;font-weight: normal;border-bottom: 1px dashed #838383; padding-bottom: 0.34em;}
.b2 .jy1,.b2 .jy2{display:block;width:100%;}
#jyd{overflow: hidden;}
#jyd .jy2,#jyd .jy1{width:52%;display:block;float: left;}
#jyd .jy2{width: 48%;}
.b2 .jy2 i{display: inline-block; color: #cf5718;}
.b2 .jy span{color: #343434;font-size: 0.2rem;font-weight: bold;}
.b2 .sc{font-size: 0.2rem; color: #343434;margin: 0.07rem auto;}
.b2 .sc span{color: #cf5718;font-weight: bold;}
.b2 .sc a{ color:#833035 }
.btna span img{display: inline-block; width: 0.36rem; height: 0.27rem;}
.btna a{display: inline-block;width: 47%;margin-left: 1.5%;color: #fff; font-size: 0.22rem;}
.btna a span,.btna a em{display: block;float: left; padding: 0.04rem 0.07rem;line-height: 0.42rem;}
.btna a span {border-radius: 0.07rem 0 0 0.07rem;background: #b85256;}
.btna a em{border-radius: 0 0.07rem 0.07rem 0;background: #833035;padding: 0.04rem 0.17rem;}
.btna a:nth-of-type(2) span {border-radius: 0.07rem 0 0 0.07rem;background: #ef9163;}
.btna a:nth-of-type(2) em{border-radius: 0 0.07rem 0.07rem 0;background: #d46836}
/*b3*/
.b3{padding-top:0 }
.b3u li{float: left;width: 2.93rem;height: 3rem; position: relative;margin-left: 0.2rem;margin-top: 0.2rem}
.b3u li:first-child,.b3u li:nth-of-type(3),.b3u li:nth-of-type(5){margin-left: 0}
.b3u li>img{display:block;width:100%;}
.b3u li .lit{display: block; position: absolute;bottom: 0;left: 0;line-height: 0.24rem; width: 100%; height: 21%;text-align: center; font-size: 0.2rem;color: #fff;padding: 0.07rem;}
/*b4*/
.b4 img{display: block; width: 100%;margin-top: 0.02rem;}
.btn4{display: block;background: url(../images/btn4_bg.jpg) center no-repeat; background-size: 100% 100%;width: 3.88rem; height: 0.6rem;line-height: 0.6rem;text-align: center; color: #fff; font-size: 0.3rem;font-weight: bold; margin: 0.17rem auto 0;}
.btn4 img{display: inline-block; width: 0.35rem;height: 0.3rem;}
/*b5*/
.b5u li{float: left; position: relative; width: 2.97rem;height: 2.5rem;margin-left: 0.07rem;}
.b5u li:first-child,.b5u li:nth-of-type(3){margin-left: 0}
.b5u li .lit{position: absolute; left: 0.11rem;bottom: 0.08rem;width: 93%;height: 18%; line-height: 0.4rem; color: #fff; font-size: 0.22rem;font-weight: bold; text-align: center;}
.b5u li:nth-of-type(1) .lit{background: rgba(208,184,149,0.6);}
.b5u li:nth-of-type(2) .lit{background: rgba(149,145,130,0.6);height: 26%;line-height: 0.3rem;}
.b5u li:nth-of-type(3) .lit{background: rgba(216,139,102,0.6);}
.b5u li:nth-of-type(4) .lit{background: rgba(186,143,140,0.6);}
.b5 .btna{margin: 0.17rem auto;}
.b5 .btna a{margin-left: 6%;width: 42%; }
.b5 .btna em{width: 72%; text-align: center;}
.b5 .btna span{width: 18%;}
.wztime,.wztime img{display: block; margin:0 auto;}

/*b6 挂号*/
.b6{overflow:hidden;background:#FFF; border:solid 1px #e2e2e2; margin-top:2%;}
.b6 .title{ overflow:hidden; background:url(../images/title.jpg) no-repeat center top;background-size: 100% 100%; padding:2% 0% 3% 12%;}
.b6 .title h3{ color:#7e0a0a;font-size:0.32rem; font-weight: bold; text-align: left;}
.reg{ padding-bottom:3%; background:#FFF;}
.reg p{text-align:left; border:dashed 1px #bbb; margin:2.5%; padding:2%; padding-bottom:2%;  color:#666; background:#f6f6f6;}
.reg p b{color:#d60000; font-weight:normal;}
.reg dl dt{ display:block; margin-left:1%;}
.reg dl dt ul{padding:0.2em;}
.reg dl dt li{ height:2.3em; line-height:2.2em; overflow:hidden; zoom:1; margin-top:0.3em; text-align:center; padding-left:2%; }
.reg dl dt li label{width:26%; float:left; text-align:right; }
.reg dl dt li span{width:72%; float:left; padding-left:2%; text-align:left; }
.reg dl dt li input{border:1px solid #d0d0d0; height:2em; line-height:2em; padding-left:2%;width:85%;vertical-align:middle;color:#b3b3b3;}
.reg li select{border:1px solid #d0d0d0; height:2em; line-height:2em; padding-left:2%;width:85%;vertical-align:middle;color:#b3b3b3;}
.reg dl dd{ display:block; text-align:center; overflow:hidden; padding-top:2%;}
.reg dl dd input.bt1{width:29%; background:#cc6704;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; border:0; color:#fff; cursor:pointer; padding:1.5% 0; margin-left:8%; }
/*footer*/
footer{background: #f2f2f2; padding:0.17rem 0.07rem; }
footer h2{text-align: center; color: #cc6704; font-size: 0.25rem;font-weight: bold; background: url(../images/jt.png) center bottom no-repeat;background-size: 100% auto;padding-bottom: 0.17rem;}
.ftel{text-align: center;margin: 0.17rem auto;height: 0.44rem;line-height: 0.44rem;}
.ftel span,.ftel img{display: block;float: left;}
.ftel a{display: block;}
.ftel span {width: 25%;}
.ftel img{width: 75%;}
.fnav li{float: left;width: 19.8%;margin-left: 0.2%;}
.fnav li a{display: block; text-align: center; color: #fff;background: #833035;padding: 0.07rem;}
.fnav li:first-child{margin-left: 0;}
.fcall{height: 0.62rem;line-height: 0.62rem; margin: 0.07rem auto;}
.fcall span,.fcall a{display: block; float: left;}
.fcall span{font-size: 0.29rem;font-weight: bold;}
.fcall span em{font-size: 0.34rem;}
.fcall a{float: right; width: 2.02rem;height: 0.62rem; line-height: 0.6rem;font-size: 0.27rem; color: #791f1f; text-align: center; background: url(../images/btn_bg.png) center no-repeat;background-size: 100% 100%;}
.fcall1 a{color: #cc6704;}
.fp{font-size: 0.29rem;color: #343434;}
.fp span{color: #d00000;font-weight: bold;}
