*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline: 0 }
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    color: #595757;
    background-color: #fff;
    outline: 0;
    overflow-x: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
    border: none;
}
.flex_parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_child{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*middle_box*/
body{
    position: relative;
}
#middleBox{
    width: 260px;
    height: 248px;
    margin: 0 auto;
    background-image: url(../images/box_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**/
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -124px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
}
.close_btn{
    display: block;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
}
.will_close{
    width:32px;
}
#middleBox a{
    overflow: hidden;
}
#middleBox a img,#middleBox a span,#middleBox ul li{
    float: left;
}
#middleBox a span{
    font-size: 14px;
    color: #fff;
}
#middleBox ul{
    overflow: hidden;
}
#middleBox ul li{
    width: 130px;
}
#middleBox ul li a{
    line-height: 50px;
    display: block;
    padding-left: 5px;
}
#middleBox ul li a img{
    width:30px;
    margin-right: 2px;
    margin-top: 8px;
}
.btn_tel{
    background-color: #7f0000;
    border-bottom-left-radius: 10px;
}
.btn_chat{
    background-color: #6e3b13;
    border-bottom-right-radius: 10px;
}
.parent_btn{
    position: absolute;
    left: 0;
    bottom: 0;
}