
.page_rule {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #251b39;
    position: relative; 
    display: none;
}
.page_rule img {
    width: 100%;
    display: block;
    margin: auto;
}
.page_rule #head {
    position: relative; 
}
.page_rule #head .btnClose {
    position: absolute;
    left: 87%;
    top: 20%;
    height: 2rem;
    width: 8%; 
}
.page_rule .tap {
    width: 100%;
    height: 2%;
    position: absolute;
}
.page_rule .tap .tapBtn {
    width: 50%;
    height: 100%;
    float: left; 
}
.page_rule .ruleBottom {
    position: relative; 
}
.page_rule .ruleBottom .gif {
    position: absolute;
    width: 100%;
    height: 1.2rem;
    top: 0.4rem; 
}
.page_rule .ruleBottom .gif #gif {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    margin: auto; 
}
.ruleListAnchor{
    display: block;
}
.ruleListFans{
    display: none;
}