.same{
    position: relative;
}
.same:after{
    display: table;
    content: "";
    clear: both;
}
.header>img,
.same>img,
.wishing_rule>img{
    display: block;
    width: 100%;
    float: left;
}
.wishing_rule{
    position: relative;
    overflow: hidden;
}
.wishing_rulebtns{
    width: 8.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
}
.wishing_rulebtns li{
    width: 48%;
    height: 1.2rem;
}
.wishing_rulebtns li:nth-child(1){
    float: left;
}
.wishing_rulebtns li:nth-child(2){
    float: right;
}
/* trouble_gif */
.trouble_gif span{
    display: block;
    width: .666667rem;
    height: .933333rem;
    background-image: url(../images/wishing_arrow.gif);
    position: absolute;
    top: .1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.trouble_anchorbg,
.trouble_gif span{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* trouble_anchorbg */
.trouble_anchorbg{
    width: 100%;
    height: 3.666667rem;
    position: relative;
    background-image: url(../images/trouble_bg_04.jpg);
}
/* anchor_info */
.anchor_info>h3,
.anchor_info>p{
    color: #FFE687;
    text-align: center;
}
.user_img{
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    margin: .15rem auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #FFE687;
    background: #FFE687;
}
.user_img img{
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.anchor_info>p span{
    position: relative;
}
.tree_level span:before,
.tree_experience span:before{
    display: table;
    content: "";
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.tree_level span{
    padding-left: .6rem;
}
.tree_experience span{
    padding-left: .333333rem;
}
.tree_level span:before{
    width: .44rem;
    height: .386667rem;
    background-image: url(../images/trouble_icon06.png);
}
.tree_experience span:before{
    width: .213333rem;
    height: .546667rem;
    background-image: url(../images/trouble_icon07.png);
}


/* treeHeight */
#treeHeight,
.trouble_btns_bg{
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.user_lists{
    width: 3rem;
    position: absolute;
    z-index: 60;
    top: .25rem;
}
.lists_left{
    left: 0;
}
.lists_left li{
    float: left;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.lists_right{
    right: 0;
}
.lists_right li{
    float: right;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.user_lists:after{
    display: table;
    content: "";
    clear: both;
}
.user_lists li{
    width: 100%;
    height: 1.2rem;
    position: relative;
    background: #FFE687;
}
.user_lists li:nth-child(1):before{
    display: table;
    content: "";
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: .306667rem;
}
.lists_left li:nth-child(1):before{
    width: .986667rem;
    background-image: url(../images/trouble_icon05.png);
}
.lists_right li:nth-child(1):before{
    width: 1.24rem;
    background-image: url(../images/trouble_icon09.png);
}
.user_lists li:nth-child(2):before,
.user_lists li:nth-child(3):before{
    display: table;
    position: absolute;
    font-size: .25rem;
    font-weight: 700;
    height: .306667rem;
    line-height: .306667rem;
}
.user_lists li:before{
    top: -.3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}
.user_lists li:nth-child(2):before{
    content: "總No.2";
    color: #D5D5D5;
}
.user_lists li:nth-child(3):before{
    content: "總No.3";
    color: #AC7C48;
}

/*  */
.user_lists li+li{
    margin-top: .4rem;
}
.user_lists li:nth-child(2){
    background: #D5D5D5;
    width: 90%;
}
.user_lists li:nth-child(3){
    background: #AC7C48;
    width: 90%;
}
.user_info,
.user_head{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.user_head{
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #371066;
    background: #371066;
}
.user_head img{
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
}
.lists_left .user_head{
    right: .1rem;
}
.lists_right .user_head{
    left: .1rem;
}
/* user_info */
.user_info{
    width: 55%;
}
.user_info p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #371066;
    font-size: .25rem;
}
.lists_left .user_info{
    left: .15rem;
}
.lists_right .user_info{
    right: .15rem;
    text-align: right;
}
/******** treeHeight */
#treeHeight{
    height: 11rem;
    background-image: url(../images/trouble_treebg.jpg);
}
/* will_wishingbg */
.will_wishingbg{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 50;
    height: 2rem;
    background-image: url(../images/trouble_bg_06.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.will_wishingbg span{
    display: block;
    width: 1.786667rem;
    height: 1.586667rem;
    background-image: url(../images/trouble_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -.6rem;
    right: .4rem;
    z-index: 15;
}
/* trouble_btns_bg */
.trouble_btns_bg{
    height: 1.893333rem;
    background-image: url(../images/trouble_bg_07.jpg);
}
.trouble_btns_bg ul{
    overflow: hidden;
    width: 9.866667rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.trouble_btns_bg li{
    width: 2.466667rem;
    height: 1.386667rem;
    float: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.trouble_btns_bg li:nth-child(1){
    background-image: url(../images/trouble_icon01.png);
}
.trouble_btns_bg li:nth-child(2){
    background-image: url(../images/trouble_icon02.png);
}
.trouble_btns_bg li:nth-child(3){
    background-image: url(../images/trouble_icon03.png);
}
.trouble_btns_bg li:nth-child(4){
    background-image: url(../images/trouble_icon04.png);
}

/* wishing_footer */
.wishing_footer{
    width: 100%;
    height: 3.733333rem;
    background-image: url(../images/trouble_bg_08.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.wishing_footer .same{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.wishing_user{
    width: 100%;
    height: 1.92rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer{
    width: 100%;
    height: 1.933333rem;
    position: relative;
    background-image: url(../images/footer_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#footerUser{
    width: 100%;
    height: 1.933333rem;
    position: relative;
}
.footer-user-img{
    width: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    left: .3rem;
    border-radius: 50%;
    border:2px solid #371066;
    background: #371066;
}
.footer-user-img img{
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
}
.footer-user-img,
.footer-user-msg,
.footer-remaining{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #371066;
}
.footer-user-msg p{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.footer-user-msg p+p{
    padding-left: .5rem;
}
.footer-user-msg p span{
    display: block;
    width: .4rem;
    height: .426667rem;
    background-image: url(../images/wishing_icon_02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-user-msg{
    width: 3.5rem;
    left: 1.8rem;
}
.footer-user-msg b{
    font-weight: 100;
}
.footer-remaining{
    right: .4rem;
}
/* cattle */
.cattle,
.fork{
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 10;
}
.cattle{
    width: 1.36rem;
    height: .853333rem;
    background-image: url(../images/wishing_icon_03.png);
    left: .4rem;
    top: -.826667rem;
}
.fork{
    width: 1.066667rem;
    height: 1.066667rem;
    background-image: url(../images/wishing_icon_04.png);
    right: .4rem;
    top: -.96rem;
}
/* 5種許願樹 */
.wishing_tree{
    position: absolute;
    z-index: 15;
    left: 0;
    bottom: 0;
    width: 100%;
}

.level_one,
.level_two,
.level_three,
.level_four{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}
/* 1 */
.tree_one{
    height: 5.6rem;
    /* display: none; */
}
.tree_one .level_one{
    background-image: url(../images/tree_one01.gif);
    z-index: 20;
}
.tree_one .level_two{
    background-image: url(../images/tree_one02.png);
    z-index: 21;
}
.tree_one .level_three{
    background-image: url(../images/tree_one03.gif);
    z-index: 22;
}
.tree_one .level_four{
    background-image: url(../images/tree_one04.png);
    z-index: 23;
}
/* 2*/
.tree_two{
    height: 6.466667rem;
    display: none;
}
.tree_two .level_one{
    background-image: url(../images/tree_two02.png);
    z-index: 20;
}
.tree_two .level_two{
    background-image: url(../images/tree_two01.gif);
    z-index: 21;
}
.tree_two .level_three{
    background-image: url(../images/tree_two03.png);
    z-index: 22;
}
.tree_two .level_four{
    background-image: url(../images/tree_two04.gif);
    z-index: 23;
}
/* 3*/
.tree_three{
    height: 6.933333rem;
    display: none;
}
.tree_three .level_one{
    background-image: url(../images/tree_three02.png);
    z-index: 20;
}
.tree_three .level_two{
    background-image: url(../images/tree_three003.gif);
    z-index: 21;
}
.tree_three .level_three{
    background-image: url(../images/tree_three04.png);
    z-index: 22;
}
.tree_three .level_four{
    background-image: url(../images/tree_three01.gif);
    z-index: 23;
}
/* 4*/
.tree_four{
    height:8.266667rem;
    display: none;
}
.tree_four .level_one{
    background-image: url(../images/tree_four02.png);
    z-index: 20;
}
.tree_four .level_two{
    background-image: url(../images/tree_four03.gif);
    z-index: 21;
}
.tree_four .level_three{
    background-image: url(../images/tree_four04.png);
    z-index: 22;
}
.tree_four .level_four{
    background-image: url(../images/tree_four01.gif);
    z-index: 23;
}
/* 5*/
.tree_five{
    height:8.266667rem;
    display: none;
}
.tree_five .level_one{
    background-image: url(../images/tree_five02.png);
    z-index: 20;
}
.tree_five .level_two{
    background-image: url(../images/tree_five03.gif);
    z-index: 21;
}
.tree_five .level_three{
    background-image: url(../images/tree_five04.png);
    z-index: 22;
}
.tree_five .level_four{
    background-image: url(../images/tree_five01.gif);
    z-index: 23;
}
/* 破壞彈出框 */
.break_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 500;
    display: none;
}
#animateDialog{
    width: 6.2rem;
    margin: 0 auto;
    margin-top: 40%;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    /* animation: bounceInDown .4s linear; */
}
.bounceInDown{
    -webkit-animation: bounceInDown .4s linear;
    animation: bounceInDown .4s linear;
}
.bounceOutDown{
    -webkit-animation: bounceOutDown .4s linear;
    animation: bounceOutDown .4s linear;
}
#animateDialog>img{
    display: block;
    width: 100%;
}
.dialogTip{
    padding: .4rem .5rem;
}
.dialogTip p{
    color: #560472;
    text-align: center;
}
.dialog_info{
    background: #fff;
    padding-bottom: .5rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.dialog_info>span{
    display: block;
    width: 2.4rem;
    margin: 0 auto;
    height: .826667rem;
    background-image: url(../images/trouble_mask02.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* 出现 */
@-webkit-keyframes bounceInDown{
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
/* 消失 */
@-webkit-keyframes bounceOutDown{
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}
@keyframes bounceOutDown{
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}