*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: none;
    text-decoration: none;
}
body { font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#606060;overflow-x: hidden}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
.will_center{
    width: 1000px;
    margin: 0 auto;
}
.text_center{
    text-align: center;
}
/*top_nav*/
.top_nav{
    height: 94px;
    width: 100%;
    background-color: #B16A39;
    overflow: hidden;
}
.nav_bar{
    overflow: hidden;
    padding-top: 13px;
}
.nav_msg{
    margin-left: 8px;
}
.nav_msg h3{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
}
.nav_msg p{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.nav_lists{
    overflow: hidden;
    padding-top: 20px;
}
.nav_lists li{
    display: inline-block;
}
.nav_lists li a,.nav_lists li span,.nav_lists li b{
    display: block;
    color: #fff;
}
.nav_lists li a span{
    font-size: 18px;
}
.nav_lists li a{
    padding: 0 3px;
}
.nav_lists li a span.font_small{
    font-size: 10px;
    text-align: center;
}
.top_banner{
    background-color: #C57435;
}
.banner_msg{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.banner_msg img{
    display: block;
}
.banner_btn{
    font-size: 20px;
    color: #fff;
    background-color: #F40500;
    padding: 8px 15px;
    border-radius: 20px;
    position: absolute;
    bottom: 45px;
    right:14%;
}
/*floor_container*/
.floor_container{
    background-color: #E8E8E8;
}
.same_title{
    overflow: hidden;
    padding: 15px 0;
}
.title_msg{
    margin-left: 8px;
}
.title_msg h3{
    font-size: 25px;
    color: #EC571F;
}
.title_msg p{
    background-color: #F3F3F3;
    padding: 0 15px 0 5px;
    font-size: 12px;
    /*text-transform: uppercase;*/
}
.same_title:before{
    display: table;
    content: "";
}
.title_btn{
    background-color: #FE7704;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 15px;
}
.one_dashed{
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px dashed #C8C8C8;
    padding-top: 5px;
}
.one_msg{
    overflow: hidden;
    padding: 10px;
}
.bg_white{
    background-color: #fff;
}
.one_msg li{
    float: left;
    width: 480px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg_one{
    background-image: url(../images/oneimg_01.jpg);
}
.bg_two{
    background-image: url(../images/oneimg_02.jpg);
}
.bg_three{
    background-image: url(../images/oneimg_03.jpg);
}
.bg_four{
    background-image: url(../images/oneimg_04.jpg);
}
.one_msg li:before{
    display: table;
    content: "";
}
.one_msg li h4{
    font-size: 18px;
    color: #FE7704;
    margin-top: 20px;
    margin-left: 150px;
}
.one_msg li p{
    margin-left: 150px;
    font-size: 14px;
}
.bg_one p.have_top,.bg_four p.have_top{
    margin-top: 5px;
}
/*two_msg*/
.floor_two{
    padding: 15px 0;
}
.two_msg{
    overflow: hidden;
    padding:20px 15px;
}
.two_msg li{
    float: left;
    width: 483px;
    height: 186px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.two_bgone{
    background-image: url(../images/twoimg_01.jpg);
}
.two_bgtwo{
    background-image: url(../images/twoimg_02.jpg);
}
.two_bgthree{
    background-image: url(../images/twoimg_03.jpg);
}
.two_bgfour{
    background-image: url(../images/twoimg_04.jpg);
}
.two_msg li:before{
    display: table;
    content: "";
}
.two_msg li p{
    margin-top: 45px;
    margin-right: 15px;
    width: 230px;
    float: right;
    color: #222;
    text-indent: 2em;
    font-size: 16px;
}
.two_img{
    margin-top: 10px;
}
/*three_ulbtn*/
.three_ulbtn{
    overflow: hidden;
    width: 725px;
    margin: 0 auto;
    padding-top: 15px;
}
.three_ulbtn li{
    float: left;
    width: 151px;
    height: 51px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/three_btn.png);
    margin-left: 80px;
}
.three_ulbtn li span{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding-top: 5px;
}
.three_ulbtn li.have_on,.three_ulbtn li:hover{
    background-image: url(../images/three_hover.png);
    cursor: pointer;
}
.three_ulimg{
    overflow: hidden;
    padding: 15px 10px;
}
.three_ulimg li{
    float: left;
    overflow: hidden;
}
.three_ulimg li.have_left{
    margin-left: 10px;
}
/*three_lists*/
.three_lists{
    position: relative;
    height: 417px;
}
.three_one{
    position: absolute;
    /*left: 5px;*/
    top: 15px;
    display: none;
    height: 402px;
    width: 100%;
}
.three_msg div{
    width: 320px;
    height: 124px;
    margin-top: 8px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.three_bgone{
    background-image: url(../images/bg_gray_01.jpg);
}
.three_bgtwo{
    background-image: url(../images/bg_gray_02.jpg);
}
.three_left{
    margin-left: 5px;
}
.three_right{
    margin-right: 5px;
}
.three_padleft{
    padding-left: 10px;
}
.three_padright{
    padding-right: 10px;
    text-align: right;
}
.three_msg div p{
    padding:15px 20px;
    text-indent: 2em;
}
.three_msg h3{
    font-size: 18px;
    color: #FE7704;
}
.three_msg p{
    font-size: 14px;
}
.will_show{
    display: block;
}
.will_hide{
    display: none;
}
/*three_tabtwo*/
.three_tabtwo{
    overflow: hidden;
}
.three_padtwo{
    padding-left: 75px;
}
.three_padthree{

}

.three_tabtwo li{
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.three_widthone{
    width: 203px;
    height: 189px;
}
.three_widthtwo{
    width: 206px;
    height: 215px;
}
.three_bgsmall{
    background-image: url(../images/three_tabtwoimg.png);
}
.three_bgbig{
    background-image: url(../images/three_timg_02.png);
}
.position_ab{
    position: absolute;
    top: 155px;
    left: 230px;
}
.three_tabtwo li.have_left{
    margin-left: 110px;
}
.three_tabtwo h3,.three_tabtwo h4{
    text-align: center;
    font-size: 18px;
}
.three_tabtwo h3{
    color: #fff;
    height: 60px;
    line-height: 60px;
}
.three_tabtwo h4{
    color: #FE7704;
    margin: 5px 0;
}
.three_tabtwo p{
    padding: 0 20px;
}
/*three_tabthree*/
.three_one:before{
    display: table;
    content: "";
}
.three_tabthree{
    overflow: hidden;
    /*position: absolute;*/
    width: 682px;
    border-top: 1px solid #C5C5C5;
    border-left: 1px solid #C5C5C5;
    margin: 0 auto;
    margin-top: 25px;
}
.three_tabthree li{
    width: 340px;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}
.three_tabthree li.bg_yellow{
    background-color: #FF7900;
    color: #fff;
}
.three_tabthree li.bg_red{
    background-color: #CC0011;
    color: #fff;
}
/*four_lists*/
.four_lists{
    width: 976px;
    height: 471px;
    margin: 0 auto;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/four_bgimg.jpg);
}
.four_lists:before{
    display: table;
    content: "";
}
.color_yel{
    color: #FE7704;
}
.text_right{
    text-align: right;
}
.four_lists ul{
    overflow: hidden;
}
.four_lists h3{
    font-size: 16px;
}
.four_lists p{
    font-size: 16px;
    text-indent: 2em;
    margin-top: 5px;
}
.four_msg{
    width: 540px;
    margin: 0 auto;
}
.four_topone{
    margin-top: 10px;
}
.four_toptwo{
    margin-top: 96px;
}
.four_widthone{
    width: 200px;
}
.four_widthtwo{
    width: 160px;
}
.four_img{
    margin-top: 10px;
}
/*five_lists*/
.five_lists{
    padding: 10px;
    overflow: hidden;
}
.five_lists_left{
    width: 485px;
}
.five_title{
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px dashed #8A8A8A;
}
.five_title:before{
    display: table;
    content: "";
}
.five_title li.have_top{
    margin-top: 10px;
}
.five_title h2{
    font-size: 40px;
    color: #FF4800;
}
.five_msg{
    overflow: hidden;
}
.five_bg{
    width: 243px;
    height: 259px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/five_img_02.jpg);
}
.five_bg:before{
    display: table;
    content: "";
}
.five_bg p{
    padding: 10px 8px 0 30px;
    text-indent: 2em;
    font-size: 16px;
}
/*six_msg*/
.six_msg{
    width: 935px;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}
.six_msg li{
    float: left;
    width: 278px;
    height: 354px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.six_msg li:before{
    display: table;
    content: "";
}
.six_one{
    background-image: url(../images/six_img_01.jpg);
}
.six_two{
    background-image: url(../images/six_img_02.jpg);
}
.six_three{
    background-image: url(../images/six_img_03.jpg);
}
.six_msg li.have_left{
    margin-left: 50px;
}
.six_msg h3{
    color: #FE7704;
    font-size: 16px;
    text-align: center;
    margin-top: 195px;
}
.six_msg p{
    font-size: 15px;
    text-indent: 2em;
    padding: 0 25px 0 15px;
}
.six_detail{
    color: #FE7704;
}
/*seven_lists*/
.seven_lists{
    overflow: hidden;
}
.seven_lists_right{
    width: 700px;
}
.seven_blue{
    color: #3A5DAE;
    font-weight: 700;
}
.seven_red{
    font-size: 18px;
    color: #D01527;
    font-weight: 700;
}
.seven_lists_right p{
    padding: 35px 15px 0 35px;
}
.seven_btn{
    width: 600px;
    height: 106px;
    position: relative;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/seven_img_02.jpg);
}
.seven_btn a{
    display: block;
    width: 104px;
    height: 30px;
    position: absolute;
    top: 11px;
    z-index: 10;
    cursor: pointer;
}
.seven_qq{
    right: 112px;
}
.seven_tel{
    right: 2px;
}
/*floor_footer*/
.floor_footer{
    background-color: #B26939;
}
.floor_eight{
    padding: 25px 0;
}
.footer_bar{
    overflow: hidden;
    width: 770px;
    margin: 0 auto;
}
.footer_bar li{
    float: left;
}
.footer_bar a{
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
    position: relative;
}
.footer_bar a.have_border:before{
    display: table;
    content: "";
    width: 2px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: 4px;
}
.footer_lists{
    overflow: hidden;
    width: 750px;
    margin: 0 auto;
    padding-top: 25px;
}
.footer_right{
    padding-top: 20px;
}
.footer_right p{
    color: #fff;
    font-size: 14px;
}