.container{
    max-width: 10rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
}
h1{
    text-align: center;
    color: #4ABC88;
    line-height: 1rem;
}
p{
    text-align: center;
    color: #4ABC88;
    height: .6rem;
    line-height: .6rem;
}
.content{
    padding: .4rem 0;
    position: relative;
}
.content img{
    display: block;
    margin: 0 auto;
    max-width: 4rem;
}
/* chooseFile */
#chooseFile{
    display: block;
    max-width: 4rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}