@charset "gb2312";
/* CSS Document */
*{ margin:0 auto; padding:0; }
div,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,table,tr,th,td,iframe,embed,object,img，span,a,dd,dt,dl{margin:0 auto; padding:0;border: 0}
ul, ol, li { list-style: none outside none; }
body{ font-size:14px;font-family:"微软雅黑"; color:#494949;background-attachment:fixed;text-align:center; background-color: #fff;}
a, a:visited { text-decoration: none; color: #333; outline: none; cursor: pointer; }
i{font-style:normal;}
em{font-style:normal;}
ul{list-style-type:none;overflow: hidden;}
a{outline:0;cursor:pointer;*star:expression(this.onFocus=this.blur());text-decoration: none;}
.hidden{display:none;}
.clr{clear:both;padding:0;margin:0;width:0;height:0;overflow:hidden;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.left{float:left;}
.m_top{margin-top:10px;} 
.m_mop{margin-top:7px;}
.fl{float: left;}
.fr{float: right;}
.hdn{overflow: hidden;}
img{border:0;}
/*common css*/
.bzh,.tabu1 li a,.cap a,.tabmy strong,.kpu li a,.flu li span,.al li a{font-size: 16px;}
.layout{width: 1000px; margin: 0 auto; padding: 8px 7px;}
.cap span,.tabmy .tab_l_m li span strong,.ftabu li a{font-size: 24px;}
.cap b,.tabmy .tab_l_m li span small{font-size: 18px;}
.mlmt h2{font-size: 14px;}
/*font css end*/
/*commen top*/
.logo{width: 100%; background: #fefaf7;}
.logo a{display: block;}
.logo img{ display: block;width: 100%; margin: 0 auto;}
.nav{height:48px; background:#6f2322;}
.nav ul{width:1000px; line-height:48px; margin:0 auto; overflow:hidden; zoom:1;}
.nav li{ display:block; text-align:center; height:48px; line-height:48px;font-weight:bold;  width:100px; background:url(../images/menu.jpg) no-repeat right center; float:left;}
.nav li:hover{background:url(../images/menu-1.jpg) no-repeat left top;}
.nav li.end{background:none; padding:0px;}
.nav li a,.nav li a:visited{color:#fff;}
.nav li a{text-decoration: none;}
.nav li.active{ background:url(../images/menu-1.jpg) no-repeat left top;}
.banner img{display: block;margin: 0 auto;width: 100%;}

.bzn_l{width: 254px; height: 143px; margin-top:3px; background: url(../images/bg1.png) no-repeat;}
.bzn_l .bzh{color: #fff; background: url(../images/fgx.png) bottom no-repeat; background-size: 60% 25%;padding: 17px 0;text-align: center;}
.bzn_r{width:724px;height: 151px; background:#f2f2f2 url(../images/bg2.png) no-repeat; }
.bzn_r .bzh{width: 250px; margin:3px auto 0; color: #792120; padding:10px 0 20px; text-align: center;background:url(../images/fgxh.png) no-repeat center bottom; }
.bzn_l p{color: #e5e5e5;line-height: 17px; padding:0 4px 9px;}
.bzn_l p span{display: block;margin: 2px auto;padding: 2px;}
.bzn_l p span a{display: block; color:#fff;}
.bzn_l p span a:hover{ text-decoration:underline;}
.bzu{padding:7px 17px 22px;}
.bzu li{float: left;border-right:1px solid #333333;padding:0 11px; text-align: center;margin:5px auto;height: 15px;line-height: 15px;}
.bzu li a{display: block; color: #333333;}
.bzu li a:hover{ text-decoration:underline;}
li.xcy{margin-left: 117px;}
li.wb{border-right: none;}
li.gmp{margin-left:17px;}
li a.hot{color: #cb4300;}
.will_middle .bznav{margin: 13px auto}
.bznav{margin: 7px auto;}
/*commen top end*/
.tnav{overflow: hidden;}
.tnav li{float: left;width: 158px; margin:5px;}
.tnav li a{display: block; background: #cb4300;text-align: center;}
.tnav li:first-child{margin-left: 0;}
.tnav li:last-child{margin-right: 0;}
.tnav li a span{display: inline-block;font-size: 16px; border-left: 1px solid #a8a8a8;line-height: 35px;margin: 15px 7px 15px 12px; padding: 0 7px;color: #fff; font-weight: bold;}
.tnav li a img{display: inline-block;vertical-align: middle;}
.search{position: relative;}
.search img{display: block;margin:7px auto;}
.fs{position: absolute;top: 0;right: 0;height:;width:291px;padding: 7px;} 
.fs input{color: #b2b2b2;background: #fff;padding: 12px;border-radius: 4px;}
.fs .mBtn{border-radius: 4px;margin-left: 5px; font-size:14px;background:url(../images/search.png) 58px 14px no-repeat #792120;color: #fff;padding: 12px 27px;outline: none;}
.adi {display: block;margin: 17px auto;}
.adi img{display:block;}
.tab_l{width: 692px;}
.tabu1 li{width: 133px;float: left;}
/*.tabu1 li a:hover,.active01 a{background: url(../images/zyk.png) no-repeat #792120;background-size: 100% 100%;}*/
.tabu1 li.libg a{background: url(../images/zyk.png) no-repeat #792120;background-size: 100% 100%;text-decoration: none;}
.tabu1 li:first-of-type,.tabu1 li:first-of-type a{margin-left: 0;}
.tabu1 li a{display: block; color: #fff;background: url(../images/zyk.png) no-repeat #808080;background-size: 100% 100%;margin: 4px;padding:9px;}
.tab_l_m{margin: 4px auto 0; border: 1px solid #c0c0c0;position: relative;}
.tab_l_ml{width: 302px;padding: 5px 6px}
.tab_l_ml img{display: block;width: 100%;margin: 0 auto}
.tab_l_mr{width: 363px;margin: 0 auto;text-align: center; padding: 21px 6px;}
.ml_t h2{text-align: center;margin: 7px auto;}
.ml_t h2 a{display: block;color: #792120;}
.ml_t h2 a:hover{text-decoration: underline;}
.ml_t p{color: #333333; margin:3px auto;margin-top: 0;text-align: left;line-height: 29px;}
.ml_t p span{color: #fe0000;}
.ml_t p span a{color: #fe0000;display: inline-block;}
.ml_bu li a{display: block; color: #333333; background: url(../images/lx.png) left center no-repeat;text-align: left;padding-left: 17px;margin:7px auto;}
.ml_bu li a:hover{text-decoration: underline;}
.tab_r{width: 290px;margin-top: 0;padding: 7px;}
.tab_rw{border: 1px solid #c0c0c0; padding:10px;}

.tab_rw img{display: block;}
.tab_rh{color: #fff;font-weight: bold;background: url(../images/sxk.png) no-repeat #792120;background-size: 100% 100%; padding: 7px;}
.tab_ru{width: 100%;}
.tab_ru li{float: left;width:81px;margin: 3px;text-align: center;}
.tab_ru li a{display: block; background: url(../images/dh_bg.png) no-repeat;background-size: 100% 100%; padding: 7px;color: #873d3c;font-weight: bold;}
.tab_ri{display: block;margin: 0 auto; width: 100%;}
.tab_rp{color: #333333; text-align: left;margin:10px auto;line-height: 25px;margin-left: 14px;}
*.tab_rp{margin:9px auto;}
.tab_rp  a{display: inline-block;color: #fe0000;}
.msu{height: 108px;margin-top:7px;}
.msu li{float: left;width: 60px; height: 60px; border-radius: 30px; background:url(../images/xx.png) center no-repeat #792120;margin:7px 13px;}
.msu li:nth-of-type(2){background:url(../images/jsb.png) center no-repeat #792120;}
.msu li:nth-of-type(3){background:url(../images/qq.png) center no-repeat #792120;}
.msu li a{display: block;padding: 67px 2px 1px;}
a.tabtn,a.tabtn img{display: block;margin:3px auto;width: 235px;height: 33px;}
.bqzx{background: url(../images/bqzx.jpg) 12px center no-repeat #f2f2f2;margin: 17px auto;    border: 1px solid #c0c0c0;}
.bqzxu{margin-left: 154px;padding: 2px 0;}
.bqzxu li{float: left;border: 1px solid #d4b9b9;padding:7px 10px;margin:5px}
.bqzxu li a:hover{text-decoration: underline;}
.cap{position: relative;margin: 17px auto;}
.cap>img{display: block;margin: 0 auto;width: 100%;}
.cap span,.cap b,.cap a{display: block;position: absolute;}
.cap span{color: #cb4300;font-weight: bold;text-align: center;top: 19px; left: 28px;}
.cap b{color: #333333;text-align: center;font-weight: normal;top: 24px; left: 146px}
.cap a{color: #fff;right:4px;top: 17px;display: block; width: 141px;height: 40px;line-height: 40px;text-decoration: none;}
.cap .zja{color: #fff;right:-5px;top: 14px;display: block; width: 245px;height: 50px;line-height: 40px;background: url(../images/cap_tel1.png) no-repeat #fff;}
.tabmy ul li img,.tabmy ul li span{display: inline-block;}
.tabmy ul li strong,.tabmy ul li small{display: block;}
.tabmy .tab_rw{border: 1px solid #c0c0c0;padding: 0; padding-bottom: 2px;}
.tabmy .tab_rw{padding-bottom: 11px;}
ul.tabumy li{width: 173px; height: 72px;margin: 2px;}
ul.tabumy li a{overflow: hidden;display: block; color: #fff;background: url(../images/zj_bg.png) no-repeat #808080;padding: 3px;}
ul.tabumy li a img{width: 49px;height: 52px;margin-top: 7px;}
ul.tabumy ul li{width: 164px; height: 66px; float: left;}
ul.tabumy ul li a{display: block;}
.tabmy ul li span{padding: 12px 1px;margin-left: 6px;width: 72px;}
.tabmy ul li small{font-size: 14px;}
.tabmy ul li img{margin-left: 10px;}
.tabmy ul li{ float: left;}
.tabmy ul li.libmy a{background: url(../images/zj_bg.png) no-repeat #792120;}
.tabmy .tab_rh{text-align: left;padding:4px 17px;}
.tabmy .tab_l_m{ overflow:hidden; position:relative; border:1px solid #ddd; margin: 9px auto 0; }
		/*.tabmy .tab_l_m .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.tabmy .tab_l_m .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.tabmy .tab_l_m .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; list-style: circle #ffffff; }
		.tabmy .tab_l_m .hd ul li.on{ background:#f00; color:#fff; }*/
		.tabmy .tab_l_m .bd{ position:relative; height:100%; z-index:0;   }
		.tabmy .tab_l_m .bd li{ zoom:1; vertical-align:middle;width: 100%; }
		
		.tabmy .tab_l_m .bd img{margin: 0 auto; display:block;  }
/*		.tabmy .tab_l_m{height: 524px;position: relative;}*/
.tabmy li .tab_l{position:relative;width:692px;}
.tabmy li .tab_l{padding-top:101px; }
.tabmy li .tab_l .zjiw{border: 2px solid #b2b2b2;width: 702px; height: 400px;}
.tabmy li .tab_l img{display: block;margin:9px auto;width:679px;height: 383px;}
.tabmy li .tab_l a{display: block;position: absolute;}
.tabmy .tab_l_m{border: none;height: 524px;position: relative;top: -102px; }
.tabmy .tab_l_m li{overflow: hidden;width: 100%;/*position: relative;top: -51px;*/}
.tabmy .tab_l_m li span strong,.tabmy .tab_l_m li span small{display: inline-block;text-align: center;color: #333333;}
.tabmy .tab_l_m li span strong{margin-right: 7px;}
.tabmy .tab_l_m li span{display: block;width: 305px;position: absolute; top:162px; right: 30px;text-align: left;}
.tabmy .tab_l_m li p,.tabmy .tab_l_m .bd li a,.tabmy .tab_l_m li p span{display: block;position:absolute;right: 30px;width: 305px;text-align: left;}
.tabmy .tab_l_m li .p1{top:240px; }
/*.tabmy .tab_l_m li .p2 .zjxq{display: inline-block;position: absolute;top: 40px;color: #fe0000;right: -104px;}
.tabmy .tab_l_m li .p1 .zjxq{display: inline-block;position: absolute;top: 40px;color: #fe0000;right: -104px;}*/
.tab_l b{display: inline-block;}
#xq{display:inline;color: #fe0000;position: relative;bottom: 0; left: 0;}
.tabmy .tab_l_m li .p2{top:350px; }
.tabmy .tab_l_m li a:nth-of-type(1){bottom: 40px;width: 150px;height:45px; right:25px;}
.tabmy .tab_l_m li a:nth-of-type(2){bottom: 40px;width: 150px;height:45px;right: 175px;}
.tabmy li .tab_r{position: relative;top: 13px;z-index: 9999;width: 280px;}
.tabmy .tab_rw img{display: block;margin:7px auto -5px;width: 267px; height: 143px;}
.tabmy,.tab1{height: 492px}
.tabumy{z-index: 9999;position: relative;}
.kp{margin: 17px auto;clear: both;}
.kpu{width: 95px;}
.kpu li a{display: block;margin: 8px auto; color: #fff;background: url(../images/sxk.png)no-repeat #808080;background-size: 98% 100%; padding: 7px; }
/*.kpu li a:hover{background: url(../images/sxk.png)no-repeat #792120;background-size: 98% 100%;}*/
.kpu li.libkp a{background: url(../images/sxk.png)no-repeat #792120;background-size: 98% 100%;}
.kpm{width: 890px;margin: 8px auto;}
.kpi{width: 430px;}
.kpi a{display:block;}
.kpi a img{display: block;width:100%;}
.flu{width: 446px;}
.flu li{background: #f2f2f2;border: 1px solid #d9d9d9;width: 100%;margin: 5px auto;}
.flu li:nth-of-type(1){margin-top: 0}
.flu li a{display: block;text-align:left;}
.flu li a:hover{text-decoration: underline;}
.flu li span{display: inline-block;background: url(../images/kp_bg.png) no-repeat;padding: 5px 15px;color: #792120;font-weight: bold;text-align: center;padding-left: 10px; margin-right: 7px;}
.flu li b{display: inline-block;color: #cb4300;margin: 0 7px;float: right;padding: 7px;}
.flu li b:hover{text-decoration: underline;}
.infou li{float: left;width: 290px; margin: 5px;}
.infou li img{display: block;margin:0 auto; width: 100%;}
.infou li a{display: block;}
.infou li:nth-of-type(1){margin-left: 0;}
.infou li:nth-of-type(3){margin-right: 0;}
.al{margin: 17px auto;height: 475px;width: 1000px;position: relative;}
.al .alul{overflow: hidden;position: relative;}
.al .alul li{width: 133px; height: 70px;}
.lil li,.lir li{width: 133px;display:block;/*position: absolute;top: 0*/}
.lil{float: left;width: 133px;}
.lir{float: right;width: 133px;}
.lir li a:hover{background: url(../images/al_bg.png)no-repeat #792120;}
.lil li a,.lir li a{display: block;margin:8px auto; color: #fff;text-align: center;background: url(../images/al_bg.png)center no-repeat #808080;padding:24px 7px; }
.lil li.libal a,.lir li.libal a{background: url(../images/al_bg.png)no-repeat #792120;margin:8px auto;}
.lir li a{margin:7px auto;}
.almu>li{ display:none}
.alm{ overflow:hidden;}
.almu{margin:7px 5px 0; padding:0; overflow:hidden;float:left;width:724px;}
.almb{  overflow:hidden; position:relative; height:119px;margin-top:15px;width:720px;margin-right: 15px; }
.almb .bd1 .prev,.almb .bd .next{ display:block;  width:20px; height:78px;cursor:pointer;z-index: 999;}
.almb .bd1 .nextal{ background:url(../images/next.png) no-repeat center top; position:absolute; right:0px; top:22px;width: 20px; height: 78px;z-index: 999; }
.almb .bd1 ul.picList{width: 720px;}
.almb .bd1 ul.picList li{width: 175px;}
.almb .bd1 .preval{ background:url(../images/pre.png) no-repeat center top;position:absolute; left:0; top:22px; width: 20px; height: 78px;z-index: 999; }
.almb .bd1{ padding:0; }
.almb .bd1 ul{ overflow:hidden; zoom:1;width: 720px; }
.almb .bd1 ul li{  margin:0; float:left; _display:inline; overflow:hidden; text-align:center;width:177px; height:119px;  }
.almb .bd1 ul li .pic{ text-align:center;width:175px; height:117px; border:1px solid #ccc; }
.almb .bd1 ul li .pic img{ width:171px; height:113px; display:block;  padding:2px; background:#FFF; }
.almb .bd1 ul li .pic a:hover img{ border-color:#999;  }
.almt{ margin: 0 auto;}
.mlm1{width: 337px;height: 321px;margin: 0 0 0 13px;}
.mlm1:nth-of-type(1){width: 336px;}
img.alst{position: absolute; top: 7px;left: 370px;}
.mlmi{width: 339px; height: 259px;}
.mlmi img{display: block;margin: 0 auto;width: 100%;}
.mlmt{ height:66px;position: relative;}
.mlmt h2{color:#792120;text-align: center;margin: 4px auto;}
.mlmt p{font-size: 12px; color: #333333;text-align: left;width: 336px;height: 39px;}
.mlmt p span{display: inline-block; width: 57px;height: 22px; color: #fe0000;}
.mlmt p span a{color: #fe0000;margin:0;padding: 0;border: 0;background: none; display: inline-block;}
.vlb .vtip{display: inline-block; width: 131px; height: 178px;position: relative;}
.vlb .vtip .vts{position: absolute; top: 107px; left: 25px;color: #fff;text-align: center;width: 90px;font-size: 17px;}
.vlb{border-bottom: 1px dashed #bababa;padding-bottom: 7px;margin: 12px auto;} 
.vlb1{border-bottom: none;}
.vlb+img{display:block;width: 70px;margin: 7px;}
.vu{margin: 2px;}
.vu li{float: left;width: 200px;background: #f2f2f2;border: 1px solid #bababa;margin:0 7px;}
.vu li img{display: block;}
.vu li span{display: block;font-size: 12px;padding: 2px;}
.gdnr ul li{height: 165px;}
.picScroll{overflow:hidden; position:relative; height:172px;margin-top:10px; }
.picScroll .bd2 .prev,.picScroll .bd .next{ display:block;  width:20px; height:78px;cursor:pointer;z-index: 999;}
.picScroll .bd2 .next{ background:url(../images/next.png) no-repeat center top; position:absolute; right:0; top:46px; }
.picScroll .bd2 .prev{ background:url(../images/pre.png) no-repeat center top;position:absolute; left:0; top:46px;  }
.picScroll .bd2{ padding:0; }
.picScroll .bd2 ul{ overflow:hidden; zoom:1; }
.picScroll .bd2 ul li{ margin:0 2px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll .bd2 ul li .pic{ text-align:center; }
.picScroll .bd2 ul li .pic img{ width:237px; height:165px; display:block;  padding:2px; border:1px solid #ccc; background:#FFF; }
.picScroll .bd2 ul li .pic a:hover img{ border-color:#999;  }
.ftab{margin: 17px auto;background: url(../images/fb_bg.png) no-repeat #792120;background-size: 100% 100%;padding:5px 7px;position: relative;}
.ftabu{margin-left: 12px;}
.ftabu li{float: left;width: 137px; }
.ftabu li a{display: block;  color: #fff;padding:9px 7px;margin:0 12px;font-weight: bold;color: #fff;}
.fb_tel a{display: block;position: absolute;top: 0;right: 0;padding: 13px;}
.fb_tel img{display: block;margin: 0 auto;}
/*new add*/
/***********************************/
.yyhj{
	height:424px;
	overflow:hidden;
}
.yyhj_dj{
	height:52px;
	background:url(../images/title_5.jpg) no-repeat;
}
.yyhj_dj span.right{
	display:inline-block;
	width:250px;
	height:52px;
}
.yyhj_dj span.right a{
	display:block;
	width:250px;
	height:52px;
	text-indent:-9999px;
}
.yyhj_dj ul li{
	width:130px;
	height:52px;
	float:left;
	color:#fff;
	text-align:center;
	margin-left:50px;
	cursor:pointer;
}
.yyhj_dj ul li .da{
	font-size:18px;
}
.yyhj ul li span{
	font-size:10px;
	display:block;
	height:20px;
	margin-top:6px;
	text-transform:uppercase;
}
li.libg4{
	background: url(../images/sxk.png) no-repeat #c72628;background-size: 99.33% 98%;
}
.yyhj_con{
	height:auto;
	overflow:hidden;
	margin-top:8px;
	margin-bottom:15px;
}
.yyhj_con img{display: block;margin: 13px auto;}
.yyhj_bt1{
	height:318px;
}
.yyhj_bt1 ul{
	float:left;
}
.yyhj_bt1 ul li{
	margin-bottom:5px;
}
.yyhj_bt1 ul.ul1{
	width:100%;
	margin-right:6px;
}
.yyhj_bt1 ul.ul1 li{
	margin-bottom:8px;
}
.yyhj_bt1 ul.ul2{
	width:294px;
	margin-right:6px;
}
.yyhj_bt1 ul.ul3{
	width:313px;
	margin-right:7px;
}
.yyhj_bt1 ul.ul4{
	width:237px;
}
.yyhj_bt2_top ul li{
	width:238px;
	overflow:hidden;
	height:auto;
	float:left;
}
.yyhj_bt2_top ul li{
	margin:0 6px 0 6px;
}
.yyhj_bt2_top ul li img{
	padding:3px;
	border:1px solid #ddd;
	display: block;
	margin: 0 auto;
}
.layB{width:920px;padding:0px 15px;margin: 0 auto}
.layB .tbC{ width:920px;position:relative;    }
.layB .prevB,.layB .nextB{width:25px; height:78px; position:absolute;}
.layB .prevB{background:url(../images/pre.png) no-repeat; top:34px; left:-45px; }
.layB .nextB{  background:url(../images/next.png) no-repeat; top:34px; right:-45px; }
.layB .slide{ width:920px; overflow:hidden; }
.layB ul{ overflow:hidden; zoom:1; }
.layB li{ width:210px; margin:0 10px 4px 10px; display:inline; float:left; line-height:20px;   }
.layB li img{ display:block; border:1px solid #e6e6e6; padding:0 20px; width:168px;  }
.yyhj_bt4 p.p1{
	background:url(../images/kjb.jpg) no-repeat left center;
	padding-left:0;
	height:29px;
	margin-top:5px;
	text-align: left;
}
.yyhj_bt4{
	padding:0 20px;
}
.yyhj_bt4 p{
	margin-bottom:15px;
}
.yyhj_bt4 p.p1 span{
	display:inline-block;
	padding:2px 5px;
	background:#923222;
	color:#fff;
	margin-top:2px;
}
.yyhj_bt4 p.bz{
	border:1px dashed #ccc;
	padding:10px;
}
.yyhj_bt4 p.bz a{
	color:#555;
	margin:0 5px;
	
}
/*commen foot*/
.foot{height:179px;padding:9px  7px 17px;background: #e6e6e6;}
.ftl{width: 296px;height: 141px;}
.ftm{width:390px;text-align: left;margin: 0 auto;padding: 7px 7px 7px 65px;}
.ftr{width: 242px;margin: 0 auto;}
.foot .map1 {width: 1000px;margin: 0 auto;padding: 20px 0 30px}

.foot .map1 .mp2 {float: left;}

.foot .map1 .p5 {float: left;margin-left: 70px;font-size: 14px;line-height: 26px;text-align: left;}

.foot .map1 .case1 {
    float: right;
    border: solid 1px #c7acab;
    background-color: #fff;
    padding: 6px;
    position: relative
}

.foot .map1 .case1 ul li {
    float: left;
    text-align: center;
    width: 76px;
    font-size: 10px;
    border-right: solid 1px #dfdfdf
}

.foot .map1 .case1 ul li img {
    padding: 3px 0
}

.foot .map1 .case1 ul li p {
    line-height: 26px
}

.foot .map1 .case1 .u2 {
    border-top: solid 1px #dfdfdf
}

.foot .map1 .case1 .u2 img {
    padding-top: 9px
}

.foot .map1 .case1 .plus1 {
    position: absolute;
    top: 64px;
    left: 75px
}

.foot .map1 .case1 .plus2 {
    position: absolute;
    top: 64px;
    right: 75px
}

/*  专家页面  star  */
a:hover{text-decoration:none;}
.mCen{width:987px; margin:0 auto;}
.mzj_message ul.mdoctor{ padding:0 5px;}
.mzj_message ul.mdoctor li{width:481px;height:362px; margin-bottom:20px; background:url(../images/mzj1.jpg) no-repeat; overflow:hidden;}
.ztList{ margin:5px; overflow:hidden; background:#f7f7f7;}
.doctor_Pic{ overflow:hidden;width:232px;height:354px; float:left;}
.doctor_Txt{ float:left;width:220px; margin-left:12px; text-align:left;}
.doctor_Txt p a{display: inline;background: none;color: #d66934;font-size: 15px;}
.mscod1{ color:#792120;}
.mscod2{ color:#393939;}
.doctor_Txt{ padding-top:15px;}
.doctor_Txt p{ font-size:14px; line-height:24px; color:#393939;}
.doctor_Txt strong{ font-size:16px;}
.mzj6{width:227px; display:block; margin:10px auto;}
.doctor_Txt a{ display:block;width:138px;height:36px; margin-top:3px; text-align:center; line-height:36px; color:#fff; background:#d66934; font-size:18px; border-radius:5px;}
.mdoctor_ms li{ float:left;width:236.7px; overflow:hidden; margin:0 5px;}
.mdoctor_ms dt{background:url(../images/mzj7.jpg) no-repeat;height:48px; line-height:47px; color:#fff; font-weight:bold; font-size:26px;}
.mdoctor_ms dd{ position:relative;}
.mdoctor_ms dd p{ text-align:center; color:#fff; padding:7px 0;width:100%; position:absolute;left:0;bottom:0; background:rgba(0,0,0,.6);}
.mzj_Lean{ border:1px solid #ccc;}
.mzj_Lean ul{ overflow:hidden;}
.mzj_Lean ul li{ margin:5px 0 0 6px; float:left;width: 238px;}
.mzj_Lean ul li img{ display:block;}
.mzj_LeanSwt{ text-align:center;}
.mzj_LeanSwt a{ display:inline-block; margin:25px;}
.lxba{width:100%;height:471px;margin-top:10px; text-align:left;color:#393939;}
.lxba .xgl_lx{ border:1px solid #ccc; padding:5px;}
.lxba .xgl_lx p{width:656px;padding:4px 0 18px;color:#393939; text-indent:2em;line-height: 25px;}
.lxba .xgl_yy{width:307px;height:493px;background:#F2F2F2;}
.yuyue{ padding-top:5px;}
.xgl_tit{ background:#792120; color:#fff; text-align:center;height:50px; line-height:48px; font-size:22px;}
.lxba input{ border:1px solid #ccc;}
.lxba input,.lxba select{ margin-top:5px;}
.mforms{ overflow:hidden; margin-top:15px;}
.mforms input{ display:inline-block;border: 0;width:99px;height:40px; color:#fff; font-size:16px;font-family: 'Microsoft YaHei'; margin:0 -6px 0 13px;}
.mforms input.mbut{background:url(../images/mzj27.jpg) no-repeat;}
.mforms input.mreset{background:url(../images/mzj28.jpg) no-repeat;}
/*  专家页面  end  */