/*
* @Author: wangjianfei
* @Date:   2017-05-22 16:34:08
* @Last Modified by:   wangjianfei
* @Last Modified time: 2017-05-23 11:21:21
*/

html,body,header,section,footer,div,p,h1,h2,h3,h4,h5,h6,
span,i,strong,b,ul,li,img,input,button,textarea{
	margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    /* font-family: 'icomoon'; */
}
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content{
	position: relative;
}
.backTop{
	position: fixed;
	width: 0.653333rem;
	right: 0.266667rem;
	bottom: 0.666667rem;
}

/* header */
header{
	position: relative;
}
header img{
	display: block;
	width: 100%;
}
#isFlow, #isLiving {
    position: absolute;
    left: 0.533333rem;
    top: 0.533333rem;
    display: none;
}
#isFlow {
    width: 1.96rem;
    height: 0.72rem;
}
#isLiving {
    width: 1.546667rem;
    height: 0.573333rem;
}
/* 0522 */
.footer{
    background-image: url(../images/living0522_04.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0.6rem;
}
.footer>img {
    display: block;
    width: 100%;
}
.rule-msg:before {
    display: table;
    content: "";
}
.rule-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.4rem;
    color: #6C8591;
}
/* ticket-number */
.ticket-number{
	width: 100%;
	height: 1.493333rem;
	background-image: url(../images/living0522_02.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ticket-number:before{
	display: table;
	content: "";
}
.ticket-number p{
	font-size: 0.426667rem;
	color: #fff;
	line-height: 1.4rem;
	padding-left: 0.666667rem;
}
.ticket-number p span{
	color: #53F2F3;
	border-bottom: 1px solid #53F2F3;
}
/* vote-list */
.vote-list{
	width: 100%;
	height: 12.933333rem;
	background-image: url(../images/living0522_03.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* vote-box */
.vote-box{
  overflow: hidden;
}
.vote-box li{
  width: 33.33%;
  float: left;
  height: 4.213333rem;
  position: relative;
}
.vote-box li:before{
  display: table;
  content: "";
}
.main-img{
    width: 1.466667rem;
    margin:0 auto;
    margin-top: 0.3rem;
    margin-bottom: .1rem;
    height: 1.466667rem;
    border: 0.013333rem solid #fff;
    border-radius: 50%;
    padding: 0.08rem;
    box-shadow: inset 0 0 0.133333rem #fff;
    position: relative;
    position: relative;
    cursor: pointer;
}
.main-img img{
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}
.vote-box li p,
.vote-box li b{
  display: block;
  text-align: center;
  font-weight: 100;
}
.vote-box li p{
  font-size: .24rem;
}
.vote-box li p,
.vote-box li b{
  color: #fff;
}
.vote-box li span{
  /* font-size: .28rem; */
  color: #53F2F3;
  border-bottom: 1px solid #53F2F3;
}
.vote-box li b{
  width: 1.893333rem;
  height: 0.666667rem;
  margin: 0 auto;
  margin-top: 0.3rem;
  line-height: 0.6rem;
  background-image: url(../images/living_vote_06.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}