/*   重置样式  star  */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body { font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#575757; background-color: #fff;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}
caption, th { text-align: left }
fieldset, img { border: none;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: none;  }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline:none }
em, i { font-style: normal }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
.hd{ overflow:hidden}
.block{ display:block;}
.none{ display:none;}
*:focus { outline: 0 }
img{vertical-align:middle;max-width: 100%;border: none;}
p{
    font-size: .2rem;
}
.flex_parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_child{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.will_translateY{
    margin: 0 auto;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.will_translateX{
    margin: 0 auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*   重置样式  end  */
.container{
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
}
/*LOGO-banner*/
#swiper-pagination span:nth-child(1){
    margin-left: 3rem;
}
#swiper-pagination span{
    margin-top: .15rem;
}
header,header a,.header_banner a{
    overflow: hidden;
}
header a{
    display: block;
    cursor: pointer;
}
.header_banner img {
    float: left;
    width: 100%;
}
.header_banner {
    padding-top: .05rem;
}
.header_banner a{
    display: block;
}
.swiper-container {
    width: 100%;
    /*height: 3.6rem;*/
}
header{
    position: relative;
    overflow: hidden;
}
header a{
    float: left;
    overflow: hidden;
}
header a img{
    float: left;
}
.header_home img{
    width: 1.14rem;
}
.header_middle img{
    width: 4.41rem;
}
.header_tel img{
    width: .85rem;
}
/*导航*/
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.nav_top, .nav_top ul {
    overflow: hidden;
    width: 100%;
}
.nav_top ul {
    padding-top: 1px;
}
.nav_top ul li {
    text-align: center;
    height: .6rem;
    width: 24.75%;
    background-image: url(../images/nav_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.nav_top ul li a {
    font-size: .3rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.hove_left {
    margin-left: .333%;
}
.nav_top ul li.have_top{
    margin-top: .026rem;
}
/*big_btn*/
.big_btn{
    margin-top: .15rem;
}
.big_btn,.big_btn a{
    display: block;
    overflow: hidden;
}
.big_btn a img{
    float: left;
}
.big_tel img{
    width: 4.6rem;
}
.big_call img{
    width: 1.76rem;
}
/*专业的诊断是康复的一半*/
.section_one{
    margin-top: .2rem;
}
.same_titte{
    overflow: hidden;
    position: relative;
}
.same_titte a{
    overflow: hidden;
    display: block;
    position: absolute;
}
.same_titte>img{
    float: left;
    width: 100%;
}
.same_tel img{
    width: 1.94rem;
    float: left;
}
.same_tel{
    top:.15rem;
    right:.15rem;
}
.one_lists{
    padding:0 .05rem;
    margin-top: .15rem;
}
.one_lists>p{
    color: #5C5C5C;
    margin-top: .1rem;
    text-indent: 2em;
    padding: 0 .1rem;
}
.lists_left,.lists_right{
    width: 3.1rem;
    position: relative;
}
.lists_msg,.lists_left,.lists_left a,.lists_right,.lists_right a{
    overflow: hidden;
}
.lists_msg img{
    float: left;
}
.lists_msg a{
    position: absolute;
    display: block;
    width: 2.57rem;
    left: .25rem;
    bottom:.3rem;
}
.lists_msg{
    margin-top: .2rem;
}
.total_btn{
    padding-bottom: .15rem;
    padding-top: .15rem;
}
.Total_Btn{
    display: block;
    line-height: .53rem;
    text-align: center;
    color: #fff;
    font-size: .24rem;
    width: 5.35rem;
    margin: 0 auto;
    background-image: url(../images/total_btn.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*.two_lists*/
.two_lists{
    overflow: hidden;
}
.two_lists img{
    float: left;
}
.section_three{
    margin-top: .15rem;
}
/*section_three*/
.three_msg{
    padding: 0 .15rem;
    margin-top: .2rem;
}
.three_msg,.three_left,.three_right{
    overflow: hidden;
}
.three_left,.three_right{
    width: 2.88rem;
}
.three_bg{
    width: 6.31rem;
    margin: 0 auto;
    background-image: url(../images/three_msg_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1.46rem;
    padding: .25rem .2rem;
}
.three_bg .deep_red{
    color: #D40000;
}
/*section_four*/
.section_four{
    margin-top: .15rem;
}
.four_lists{
    overflow: hidden;
    margin-top: .15rem;
    padding: 0 .05rem;
}
.four_lists img{
    width: 3.13rem;
}
/*section_five*/
.section_five{
    margin-top: .15rem;
}
.five_p{
    text-indent: .2rem;
    padding: .15rem;
}
.five_msg{
    overflow: hidden;
    padding: .08rem;
    margin-top: .15rem;
}
.bg_yellow{
    background-color: #FFF4E4;
}
.five_msg img{
    width: 3.07rem;
}
.five_right{
    width: 3.16rem;
    padding:0 .1rem;
}
.five_right p{
    text-indent: .2rem;
}
.deep_yel{
    color: #915700;
    font-size: .24rem;
}
.deep_r{
    color: #9F4949;
    font-size: .24rem;
}
.bg_red{
    background-color: #FFF2F2;
}
.five_btn{
    color: #fff;
    display: block;
    width: 1.64rem;
    line-height: .46rem;
    text-align: center;
    margin: 0 auto;
    font-size: .22rem;
    background-color: #E57A27;
    border-radius: .05rem;
    margin-top: .1rem;
}
.five_two ul{
    overflow: hidden;
    margin-top: .25rem;
}
.five_two li{
    float: left;
    overflow: hidden;
    margin-left: .06rem;
}
.five_two li img{
    float: left;
    width: 2.04rem;
}
/*section_seven*/
.section_seven{
    margin-top: .2rem;
}
.have_indent{
    text-indent: .4rem;
}
.seven_msg{
    width: 100%;
    height: 4.05rem;
    background-image: url(../images/seven_bg_03.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.seven_lists{
    width: 3.4rem;
    height: 1.47rem;
    position: absolute;
    z-index: 10;
    right: .3rem;
    top: 1.2rem;
    padding-top: .2rem;
}
.seven_btn{
    width: 2.25rem;
    height: .9rem;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    bottom: .3rem;
    right: .8rem;
}
.seven_btn a{
    float: left;
    display: block;
    width: .89rem;
    height: .89rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.seven_btn a.have_left{
    margin-left: .4rem;
}
.seven_left{
    background-image: url(../images/seven_01.png);
}
.seven_right{
    background-image: url(../images/seven_02.png);
}
/*section_eight*/
.section_eight{
    margin-top: .15rem;
}
/*快速挂号通道   预约快人一步*/
.section_six{
    background-color: #F5F5F5;
}
.six_h{
    width: 4.8rem;
    margin: 0 auto;
    height: .71rem;
    background-image: url(../images/six_h3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.six_form{
    width: 100%;
    background-image: url(../images/form_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: .25rem 0;
    margin-top: .05rem;
}
.new_submit input{
    border: 0;
    outline: none;
    display: block;
    width: 1.9rem;
    height: .55rem;
    line-height: .55rem;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    background-image: url(../images/six_bg_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.six_form p{
    margin-top: .2rem;
}
.tips_msg{
    width: 92%;
    margin: 0 auto;
    padding: .15rem;
}
.tips_msg p{
    font-size: .2rem;
    color: #858383;
}
.tips_msg p span{
    font-size: .22rem;
    color: #FF0303;
    font-weight: 300;
}
.six_form ul{
    width: 75%;
    margin: 0 auto;
}
.six_form ul li{
    overflow: hidden;
    font-size: .26rem;
    color: #858383;
    padding: .05rem;
}
.six_form ul li span{
    display: inline-block;
    width: 1.4rem;
    text-align: right;
}
.six_form ul li input{
    width: 3rem;
    height: .4rem;
    padding-left: .1rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #D1D1D0;
    font-size: .24rem;
    color: #858383;
    margin-left: .07rem;
}

.six_form ul li select{
    width: 3rem;
    height: .4rem;
    font-size: .24rem;
    color: #858383;
    background-color: #fff;
    outline: none;
    border: 1px solid #D1D1D0;
    padding-left: .1rem;
}
.six_form ul li select option{
}
/*section_footer*/
.section_footer{
    width: 100%;
    height: 3.5rem;
    background-image: url(../images/footer_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.footer_msg{
    width: 3.9rem;
    position: absolute;
    bottom: .3rem;
}
.footer_whiter{
    font-size: .24rem;
    color: #fff;
    text-align: center;
}
/*新曾模块*********************************************************/
.flooer_one{
    margin-top: .25rem;
}
.flooer_tittle{
    width: 100%;
    height: .64rem;
    position: relative;
    overflow: hidden;
    padding-left: 1px;
}
.flooer_tittle h3{
    font-size: .28rem;
    color: #702220;
    float: left;
    height: .64rem;
    padding: .05rem .2rem 0 .2rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    font-weight: 700;
}
.flooer_tittle:after{
    display: table;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c5c5c5;
    left: 0;
    bottom: .05rem;
    z-index: 8;
}
.sam_f1{
    background-image: url(../images/sam_th3.png);
    z-index: 10;
}
.small_y{
    font-size:.2rem ;
    color: #BE4F01;
}
.flooer_tittle a{
    display: block;
    width: 1.88rem;
    height: .39rem;
    background-image: url(../images/sam_btn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: .08rem;
    right:.15rem;
}
.flooer_olists{
    overflow: hidden;
    padding: 0 .01rem;
    margin-top: .15rem;
}
.flooer_olists img{
    width: 3.14rem;
}
/*flooer_total*/
.flooer_total{
    margin-top: .15rem;
}
.flooer_total p{
    text-align: center;
}
.flooer_total p span,.ft_btn{
    display: inline-block;
    font-size: .22rem;
    line-height: .56rem;
    padding:0 .15rem;
    border: 1px solid #C35D18;
}
.flooer_total p span{
    color: #C35D18;
}
.ft_btn{
    background-color: #BE4F01;
    color: white;
}
/*flooter_tmsg*/
.flooter_tmsg{
    background-color:#F5F5F5;
    padding: .1rem;
}
.deep_black{
    font-size: .22rem;
    text-indent: .4rem;
    color: #4E4B4B;
}
.bave_sumbg{
    width: 100%;
    height: .08rem;
    background-image: url(../images/gray_pbg_03.jpg);
}
.flooer_tlists{
    overflow: hidden;
    text-align: center;
}
.flooer_tlists img{
    display: block;
    float: left;
    width: 5.06rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
/*flooer_threelists*/
.flooer_threelists{
    margin-top: .2rem;
}
.flooer_threelists ul{
    overflow: hidden;
}
.flooer_threelists li{
    float: left;
    width: 2.08rem;
    height: 2.68rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.flooer_threelists li.have_left{
    margin-left: .08rem;
}
.fl_th_one{
    background-image: url(../images/fl_thrlists_01.jpg);
}
.fl_th_two{
    background-image: url(../images/fl_thrlists_02.jpg);
}
.fl_th_three{
    background-image: url(../images/fl_thrlists_03.jpg);
}
.flooer_threelists h4{
    font-size: .22rem;
    color: #fff;
    text-align: center;
    line-height: .4rem;
}
.flooer_threelists p{
    margin-top: .1rem;
    font-size: .22rem;
    color: #545151;
    padding: 0 .1rem;
}

/*flooer_fourlists*/
.flooer_fourlists{
    margin-top: .2rem;
    padding: 0 .05rem;
}
.flooer_fourlists ul{
    overflow: hidden;
}
.flooer_fourlists li{
    width: 2.06rem;
    height: 1.77rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
}
.flooer_fourlists li.have_left{
    margin-left: .05rem;
}
.fl_four_one{
    background-image: url(../images/fl_fourlists_01.jpg);
}
.fl_four_two{
    background-image: url(../images/fl_fourlists_02.jpg);
}
.fl_four_three{
    background-image: url(../images/fl_fourlists_03.jpg);
}
/*flooter_fivelists*/
.flooter_fivelists{
    margin-top: .15rem;
    padding: 0 .1rem;
}
.flooter_fivelists ul{
    overflow: hidden;
}
.flooter_fivelists li{
    float: left;
    width: 3rem;
    height: 2.24rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.flooter_fivelists li.have_left{
    margin-left: .15rem;
}
.flooter_fivelists li p{
    padding: .1rem .15rem;
}
.fl_five_one{
    background-image: url(../images/fivelists_bg_01.jpg);
}
.fl_five_two{
    background-image: url(../images/fivelists_bg_02.jpg);
}
.flooter_fivelists h3{
    font-size: .24rem;
    color: #4E4B4B;
    font-weight: 700;
    line-height: .44rem;
    margin-top: .09rem;
    text-align: center;
    position: relative;
}
.flooter_fivelists h3 span{
    color: #fff;
    position: absolute;
    left: .15rem;
    top: 0;
    font-style: italic;
}