/*   重置样式  star  */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body { font-family:Microsoft YaHei, Helvetica, STHeiTi, sans-serif; color:#575757; background-color: #fff;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400}
caption, th { text-align: left }
fieldset, img { border: none;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: none;  }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline:none }
em, i { font-style: normal }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
.fl{float:left;}
.fr{float:right;}
.hd{ overflow:hidden}
.block{ display:block;}
.none{ display:none;}
*:focus { outline: 0 }
img{vertical-align:middle;max-width: 100%;border: none;}

.flex_parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_child{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.will_translateY{
    margin: 0 auto;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.will_translateX{
    margin: 0 auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.floor_container{
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
    background-color: #eee;
}
.bg_white{
    background-color: #fff;
}
body{
    font-size: .24rem;
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
/*   重置样式  end  */
/*floor_header*/
.floor_header{
    width: 100%;
    height: .7rem;
    position: relative;
    background-color: #64B72B;
}
.floor_header a{
    display: block;
    position: absolute;
    z-index: 10;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header_left{
    color: #fff;
    font-size: .24rem;
    text-align: center;
    width: 1.07rem;
    height: .44rem;
    line-height: .44rem;
    background-image: url(../images/top_icon_01.png);
    left: .3rem;
    top: .13rem;
}
.header_middle{
    width: .38rem;
    height: .4rem;
    background-image: url(../images/top_icon_02.png);
    top: .15rem;
    right: 1.1rem;
}
.header_right{
    width: .47rem;
    height: .4rem;
    background-image: url(../images/top_icon_03.png);
    top: .15rem;
    right: .3rem;
}
p{
    color: #7E7C7B;
}
/*floor_search*/
.floor_search{
    width: 100%;
    padding: .1rem;
    height: .8rem;
    background-color: #EEEEEE;
}
.floor_search p{
    position: relative;
    overflow: hidden;
}
.floor_search p input,.search_right{
    float: left;
    height: .54rem;
    line-height: .54rem;
}
.floor_search p input{
    outline: none;
    width: 70%;
    border-left: 1px solid #CFCFCF;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    padding-left: .5rem;
    background-color: #fff;
}
.search_right{
    width: 30%;
    color: #fff;
    font-size: .24rem;
    display: block;
    text-align: center;
    background-color: #64B72B;
}
.search_left,.search_middle{
    display: block;
    width: .28rem;
    height: .28rem;
    position: absolute;
    top: .13rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.search_left{
    left: .1rem;
    background-image: url(../images/top_icon_04.png);
}
.search_middle{
    left: 63%;
    background-image: url(../images/top_icon_05.png);
}
/*floor_one*/
.floor_one{
    padding: .2rem 0;
}
.floor_one_top{
    overflow: hidden;
    width: 6.2rem;
    margin: 0 auto;
    padding: .2rem .1rem;
    border-bottom: 1px dashed #ccc;
}
.floor_one_top img{
    width: .96rem;
}
.one_topMsg{
    width: 4.5rem;
    margin-left: .1rem;
    margin-top: .15rem;
}
.one_topMsg h2{
    font-size: .28rem;
    color: #545151;
}
.one_topMsg h3{
    font-size: .24rem;
    color: #999;
}
.floor_one_middle{
    width: 6rem;
    margin: 0 auto;
    overflow: hidden;
    padding: .2rem 0;
}
.one_middleMsg{
    width: 4.8rem;
}
.one_middleMsg p{
    font-size: .22rem;
    line-height: .32rem;
}
.one_middleBtn{
    width: 1rem;
    height: .4rem;
    background-image: url(../images/one_icon_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*floor_one_bottom*/
.floor_one_bottom{
    width: 6.2rem;
    margin: 0 auto;
}
.floor_one_bottom p{
    overflow: hidden;
}
.floor_one_bottom span,.floor_one_bottom input,.floor_one_bottom a{
    display: block;
    float: left;
    height: .44rem;
    line-height: .44rem;
    font-size: .24rem;
}
.floor_one_bottom span{
    width: 1.1rem;
    text-align: center;
    color: #64B72B;
    background-color: #E0F1D4;
}
.floor_one_bottom input{
    color: #4E4B4A;
    width: 3.48rem;
    border: .01rem solid #ccc;
    padding-left: .1rem;
}
.one_bottomBtn{
    width: 1.58rem;
    color: #fff;
    background-color: #64B72B;
    text-align: center;
}
/*floor_two*/
.floor_two_top{
    padding: .1rem 0;
    background-color: #EEE;
}
.same_top_tittle{
    width: 6.2rem;
    margin:0 auto;
    background-color: #fff;
    border: 1px solid #CFCFCF;
    padding:.05rem;
    position: relative;
}
.same_tittleParent{
    display: block;
    overflow: hidden;
}
.same_msgLists{
    width: 80%;
    margin-left: .1rem;
    margin-top: .05rem;
}
.same_msgLists h2{
    color: #555251;
    font-size: .26rem;
}
.same_msgLists h3{
    color: #737070;
    font-size: .2rem;
}
.same_imgOne{
    width: .78rem;
}
.click_ask{
    width: 1.06rem;
    height: .54rem;
    position: absolute;
    top: .15rem;
    right: .1rem;
    z-index: 10;
    background-image: url(../images/click_ask.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.floor_two_middle{
    width: 6.2rem;
    margin: 0 auto;
}
.floor_two_middle h3{
    padding: .2rem 0;
    border-bottom: 1px solid #ccc;
}
.floor_two_middle h3 span{
    display: block;
    height: .42rem;
    line-height: .42rem;
    width: 1.2rem;
    text-align: center;
    font-size: .24rem;
    color: #FF6636;
    border: 1px solid #FF6636;
}
.floor_two_bottom{
    margin:0 auto;
    padding: .2rem;
}
.floor_two_bottom p{
    overflow: hidden;
    font-size: .24rem;
}
.floor_two_bottom p img,.floor_two_bottom p span{
    float: left;
    display: block;
}
.floor_two_bottom p img{
    width: .52rem;
}
.floor_two_bottom p a{
    margin-left: .2rem;
    color: #4E4B4A;
    line-height: .52rem;
}
.floor_two_bottom p.have_top{
    margin-top: .15rem;
}
/*floor_three*/
.have_nopadding{
    padding: 0;
}
.floor_three .floor_two_top.have_top,.floor_three .floor_two_bottom.have_top{
    margin-top: .1rem;
}
.floor_three{
    margin-top: .15rem;
}
.floor_three_tittle{
    width: 6.2rem;
    margin: 0 auto;
    padding: .1rem;
}
.three_tittle_top{
    overflow: hidden;
    padding: .15rem 0;
    border-bottom: 1px solid #ccc;
}
.three_tittle_left{
    width: 60%;
}
.three_tittle_left h3{
    color: #5CA8A8;
    font-size: .26rem;
}
.three_tittleBtn{
    display: block;
    padding: .1rem .15rem;
    color: #fff;
    background-color: #FF6636;
    margin-top: .08rem;
}
.three_tittle_bottom a{
    display: block;
    color: #999;
    height: .45rem;
    line-height: .45rem;
    margin-top: .15rem;
}
.three_tittle_bottom a span{
    padding:.05rem .1rem;
    margin-right: .1rem;
    color: #fff;
    background-color: #A6D57C;
    height: .45rem;
    line-height: .45rem;
}
/*floor_four*/
.deep_black{
    color: #555251;
}
.floor_four_tittle{
    padding: .1rem 0;
}
.floor_four_tittle p{
    height: .44rem;
    line-height: .44rem;
    background-image: url(../images/four_imgbg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: .22rem;
    padding-left: 1.1rem;
}
.floor_four .floor_two_top{
    padding: 0;
}
.floor_four .floor_two_top.have_top{
    margin-top: .1rem;
}
.floor_four_lists{
    margin-top: .15rem;
    padding:.2rem .1rem;
}
.floor_four_lists h3{
    font-size: .26rem;
    padding-left: .1rem;
}
.floor_four_lists a{
    font-size: .24rem;
    display: block;
    padding: .1rem;
    overflow: hidden;
    color: #6F6D6C;
    border-bottom: 1px dashed #ccc;
}
.floor_four_lists a span{
    color: #64B72B;
}
.floor_four_lists a img{
    width: .12rem;
    margin-right: .1rem;
    margin-top: .08rem;
}
/*floor_five*/
.floor_five_lists{
    padding: .2rem .1rem;
}
.floor_five_lists h3{
    font-size: .26rem;
    padding-left: .1rem;
}
.floor_five_lists h3 span{
    color: #FF7148;
}
.floor_five_msg{
    overflow: hidden;
}
.floor_five_msglists{
    width: 50%;
    overflow: hidden;
}
.floor_five_msglists a{
    font-size: .24rem;
    display: block;
    padding: .05rem 0;
    color: #6F6D6C;
    overflow: hidden;
    padding-left: .1rem;
}
.floor_five_msglists a img{
    width: .12rem;
    margin-right: .1rem;
    margin-top: .08rem;
}
/*floor_six*/
.floor_six{
    margin-top: .1rem;
    padding: .2rem .1rem;
}
.floor_six h3{
    font-size: .26rem;
}
.six_sameImg{
    width: 1.08rem;
}
.six_msgList{
    width: 80%;
    margin-left: .1rem;
}
.six_msgList h4{
    color: #555251;
    font-size: .26rem;
}
.six_msgList p{
    color: #737070;
    font-size: .2rem;
    overflow: hidden;
}
.six_msgList p span{
    float: right;
}
.floor_six a.same_tittleParent{
    padding:.2rem .1rem;
    border-bottom: 1px dashed #ccc;
}
/*floor_seven*/
.floor_seven{
    padding: .1rem;
}
.floor_seven h3{
    color: #555251;
    font-size: .26rem;
    padding-left: .1rem;
}
.seven_imgLists{
    overflow: hidden;
    margin-top: .2rem;
}
.seven_imgLists li{
    float: left;
}
.seven_imgLists a{
    display: block;
}
.seven_imgLists a img{
    width: 2rem;
}
.seven_imgLists li.have_left{
    margin-left: .1rem;
}
.seven_imgLists li.have_top{
    margin-top: .1rem;
}
/*footer_nav*/
.footer_nav{
    margin-top: .15rem;
    padding-bottom: .3rem;
}
.footer_navLists{
    overflow: hidden;
    background-color: #DDF7FD;
}
.footer_navLists li{
    float: left;
    width: 25%;
    position: relative;
}
.footer_navLists li a{
    display: block;
    text-align: center;
    font-size: .24rem;
    padding: .15rem 0;
    vertical-align: middle;
    color: #555251;
}
.footer_navLists li a img{
    width: .22rem;
    margin-bottom: .04rem;
    margin-right: .06rem;
}
.footer_navLists li.have_border:before{
    display: table;
    content: "";
    height: .62rem;
    width: 2px;
    background-color: #ccc;
    position: absolute;
    left: -1px;
}
.footer_msg{
    margin-top: .15rem;
}
.footer_msg a{
    padding-left: .3rem;
    font-size: .24rem;
    color: #555251;
}