/**基于mobile-adaptive的CSS，字体大小分为四个档次0.2rem 0.24rem 0.28rem 0.32rem**/
/*****http://www.jianshu.com/p/b00cd3506782/comments/1599498 ****/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
/*顶部2图片*/
header,.header_banner{
    overflow: hidden;
}
header img,.header_banner img{
    float: left;
    width: 100%;
}
.header_banner{
    padding-top:.026rem;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}
/*导航列表*/
.nav_top,.nav_top ul{
    overflow: hidden;
    width: 100%;
}
.nav_top ul{
    padding-top: 1px;
}
.nav_top ul li{
    background-color:#0064B4;
    text-align: center;
    margin-left: .025rem;
    height: .6rem;
    width: 24.6%;
}
.nav_top ul li:nth-child(5),.nav_top ul li:nth-child(6),.nav_top ul li:nth-child(7),.nav_top ul li:nth-child(8){
    margin-top: .026rem;
}
.nav_top ul li a{
    font-size: .22rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
/**/
.message_header{
    width: 50%;
    margin:0 auto;
    border: 1px solid #E6E6E6;
}
.message_top{
    padding-top:.15rem;
}
.will_blue{
    color: #0062AD;
    font-size: .28rem;
}
.will_red{
    color: #BC120D;
}
.message_header p{
    font-size: .23rem;
    padding:.05rem .05rem;
    background-color:#E6E6E6;
    color: #fff;
}
.message_header h3,.message_header p{
    text-align: center;
}
.message_header h3{
    padding:.1rem 0;
}
.message_middle p{
    font-size: .2rem;
    color: #6E6C6B;
}
.message_middle{
    width: 90%;
    margin: 0 auto;
    padding: .15rem 0;
}
.message_middle p{
    text-indent: .4rem;
}
.message_bottom{
    padding: .13rem 0;
    background-color: #0063B2;
}
.message_bottom h3{
    font-size: .32rem;
    color: #fff;
    text-align: center;
    margin-bottom: .1rem;
}
.message_bottom p{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding: .05rem;
    font-size: .18rem;
    background-color: #4F92C9;
    color: #fff;
}