/**基于mobile-adaptive的CSS，字体大小分为四个档次0.2rem 0.24rem 0.28rem 0.32rem**/
/*****http://www.jianshu.com/p/b00cd3506782/comments/1599498 ****/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
/*顶部2图片*/
header,.header_banner{
    overflow: hidden;
}
header img,.header_banner img{
    float: left;
    width: 100%;
}
.header_banner{
    padding-top:.026rem;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}
/*导航列表*/
.nav_top,.nav_top ul{
    overflow: hidden;
    width: 100%;
}
.nav_top ul{
    padding-top: 1px;
}
.nav_top ul li{
    background-color:#0064B4;
    text-align: center;
    height: .6rem;
    width: 24.65%;
}
.hove_left{
    margin-left: .03rem;
}
.nav_top ul li:nth-child(5),.nav_top ul li:nth-child(6),.nav_top ul li:nth-child(7),.nav_top ul li:nth-child(8){
    margin-top: .026rem;
}
.nav_top ul li a{
    font-size: .22rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
/**/
.message_header{
    width: 50%;
    margin:0 auto;
    border: 1px solid #E6E6E6;
}
.message_top{
    padding-top:.15rem;
}
.will_blue{
    color: #0062AD;
    font-size: .28rem;
}
.will_red{
    color: #BC120D;
}
.message_header p{
    font-size: .23rem;
    padding:.05rem .05rem;
    background-color:#E6E6E6;
    color: #fff;
}
.message_header h3,.message_header p{
    text-align: center;
}
.message_header h3{
    padding:.1rem 0;
}
.message_middle p{
    font-size: .2rem;
    color: #6E6C6B;
}
.message_middle{
    width: 90%;
    margin: 0 auto;
    padding: .15rem 0;
}
.message_middle p{
    text-indent: .4rem;
}
.message_bottom{
    padding: .13rem 0;
    background-color: #0063B2;
}
.message_bottom h3{
    font-size: .32rem;
    color: #fff;
    text-align: center;
    margin-bottom: .1rem;
}
.message_bottom p{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: .05rem;
    font-size: .18rem;
    background-color: #4F92C9;
    color: #fff;
}
/*迎接大学*/
.unoversity_title{
    overflow: hidden;
    padding-top: .3rem;
}
.unoversity_title h2{
    padding-left: .1rem;
    font-size: .28rem;
    color: #0566B5;
}
.radius_one{
    font-size: .18rem;
    background-color: #BC120D;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    display: block;
    padding: .02rem;
    margin-right: .2rem;
}
.radius_one span{
    display: block;
    padding: .02rem .2rem;
    color: #fff;
    border: 1px solid #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.unoversity_title hr{
    width: 100%;
    height: 5px;
    float: left;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    margin:.08rem auto;
}
.student ul{
    width: 80%;
    margin: 0 auto;
}
.student ul li{
    overflow: hidden;
    font-size: .24rem;
    color: #797776;
    padding: .1rem 0;
    border-bottom: 1px solid #DFDFDF;
}
.will_move{
    margin-left: 1.2rem;
}
.student ul li div{
    width: 70%;
}
.student ul li div p{
    line-height: .4rem;
}
/*前中后*/
.student_list{
    overflow: hidden;
    width: 95%;
    margin:.15rem auto;
}
.list_one{
    width: 30%;
    /*overflow: hidden;*/
    border: 1px solid #E6E6E6;
    float: left;
}
.list_one div{
    border-top: 1px solid #E6E6E6;
    min-height: 1.5rem;
    padding: 0 .1rem;
}
.list_one img,.list_one div{
    float: left;
}
.list_one img{
    width: 100%;
    padding: .02rem;
    /*background-color: #E7E7E7;*/
}
.list_one h4{
    font-size: .2rem;
    text-align: center;
    margin: .02rem 0;
}
.list_one p{
    font-size: .18rem;
    color: #504E4D;
    line-height: .3rem;
    text-align: justify;
}
.list_one:not(:nth-child(1)){
    margin-left: .3rem;
}
/*共用*/
.total_parent{
    padding: .04rem;
    border: 1px solid #E4E4E4;
    width: 98%;
    margin: 0 auto;
}
.total_parent a{
    display: block;
}
.total_title{
    margin: 0 auto;
    height: 1.25rem;
    background-image: url(../img/title_bg_01.jpg);
    background-size: cover;
}
.total_title p{
    width: 72%;
    height: .5rem;
    background-image: url(../img/btn_bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
    margin:.1rem auto;
}
.student_two .total_title p{
    width: 71%;
}
.total_title p a{
    float: left;
    display: inline-block;
    height: .5rem;
    line-height: .5rem;
}
.title_left{
    font-size: .18rem;
    color: #fff;
    margin-left: 17%;
}
.title_right{
    font-size: .28rem;
    color: #BA100E;
    margin-left: 22%;
}
.total_title:before{
    content: "";
    display: table;
}
.total_title h3{
    text-align: center;
    font-size: .32rem;
    color: #BA100E;
    margin-top: .15rem;
}
.total_title h3 span{
    margin-left: .1rem;
    font-size: .2rem;
    color: #B99D30;
}
/*小梁*/
.student_two{
    background-color: #168BD4;
    margin-top: .2rem;
}
.unoversity_title h1{
    padding-left: .1rem;
    font-size: .28rem;
    color: #fff;
}
.student_two .unoversity_title hr,.student_two .student ul li,.student_two .list_one p,.student_two .list_one h4{
    color: #fff;
    border-color: #fff;
}
.bg_will_red{
    background-color: #BC120D;
    padding:.03rem .1rem;
}
.student_two .total_parent{
    border: none;
    width: 100%;
}
.more{
    padding: .25rem 0;
}
.more a{
    display: block;
    height: .3rem;
    width: 100%;
    background-image: url(../img/bg_total.jpg);
    font-size: .3rem;
    background-size: cover;
    text-align: center;
    line-height: .3rem;
}
.detail a{
    margin: 0 auto;
    display: block;
    height: 1.19rem;
    width: 6.25rem;
    background-image: url(../img/total_bg_two.jpg);
    background-size: cover;
}
/*精确分析，对症治疗*/
.detail_analyze{
    background-color: #168BD4;
    padding: .1rem 0;
    margin-top: .2rem;
}
.analyze_title{
    width: 3.4rem;
    margin: 0 auto;
    border: 1px solid #74B9E5;
}
.analyze_title h3,.analyze_title p{
    color: #fff;
    text-align: center;
    padding: .05rem .05rem;
}
.analyze_title h3{
    font-size: .3rem;
}
.analyze_title p{
    font-size: .24rem;
    background-color: #74B9E5;
    text-transform:uppercase;
}
.analyze_list{
    overflow: hidden;
    width: 6.25rem;
    margin: 0 auto;
}
.analyze_one table{
    margin-top: .15rem;
    border-collapse:collapse;
    width: 100%;
}
.analyze_one table td{
    border: 1px solid #92C5E6;
    text-align: center;
}
.analyze_one table thead td{
    background-color: #92C5E6;
    color: #BC120D;
    font-size:.24rem;
    border-color: #C8E6F8;
    padding: .1rem .3rem;
}
.analyze_one table thead td span{
    font-size:.18rem;
    color: #C8E0F1;
}
.analyze_one table tbody td{
    color: #fff;
    font-size: .22rem;
    padding: .1rem .4rem;
    cursor: pointer;
}
.analyze_one p{
    width: 70%;
    margin: .1rem auto;
    background-color: #fff;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.analyze_one p a{
    display: block;
    color: #0062AD;
    font-size: .22rem;
    padding: .05rem .3rem;
    cursor: pointer;
    text-align: center;
}
/*四步消除腋臭，无痛不留痕*/
.section_four{
    padding: .1rem 0;
}
.section_four .analyze_title{
    width: 80%;
    border-color: #E6E6E6;
}
.section_four .analyze_title h3{
    color: #0D6CB8;
}
.section_four .analyze_title p{
    background-color:#E6E6E6;
}
.four_lists{
    width: 100%;
    overflow: hidden;
}
.four_lists .list_one{
    width: 40%;
    position: relative;
    margin-left: .5rem;
    margin-top: .5rem;
}
.four_lists ul li{
    position: relative;
    display: block;
}
.four_lists ul li img.icon{
    position: absolute;
    width: 0.68rem;
    height: 0.67rem;
    left: -0.34rem;
    top: -0.34rem;
}
.four_lists .list_one div{
    height: 2.2rem;
    padding: .2rem;
    background-color: #F5F5F5;
}
.four_button{
    padding: .1rem 0;
}
.four_button a{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    display: block;
    text-align: center;
    font-size: .22rem;
    padding: .1rem 0;
    background-color: #168BD4;
     border-top-left-radius: .25rem;
     border-top-right-radius: .25rem;
     border-bottom-left-radius: .25rem;
     border-bottom-right-radius: .25rem;
}
.good_infor{
    width: 100%;
    padding: .1rem;
    background-color: #0064B4;
}
.infor_top,.infor_bottom{
    background-image: url(../img/bg_yellow.jpg);
    padding: .1rem 0;
}
.infor_bottom{
    width: 98%;
    margin: .15rem auto;
    border: 1px solid #8BC4E9;
}
.infor_top h3,.infor_top h4,.infor_bottom h3,.infor_bottom h4{
    text-align: center;
}
.infor_top h3,.infor_bottom h3{
    font-size: .32rem;
}
.infor_top h3{
    color: #0064B4;
}
.infor_bottom h3{
    color: #C12C29;
}
.infor_top h4,.infor_bottom h4{
    font-size: .24rem;
}
.infor_top h4{
    color: #C12C29;
}
.infor_bottom h4{
    color: #0064B4;
}
.infor_middle p{
    color: #fff;
    text-indent: .4rem;
    font-size: .18rem;
}
.middle_top{
    padding: .2rem .3rem;
    margin-top: .2rem;
    position: relative;
}
.middle_top,.middle_bottom{
    border: 1px solid #80B2DA;
}
.middle_top b{
    position: absolute;
    width: 11px;
    height: 11px;
}
.icon_top{
    background-image: url(../img/icon_top.png);
    left: 1px;
    top: 1px;
}
.icon_bottom{
    background-image: url(../img/icon_bottom.png);
    right: 1px;
    bottom: 1px;
}
.middle_img,.middle_bottom{
   overflow: hidden;
    margin-top: .1rem;
    padding: 1px;
}
.middle_img img{
    width: 100%;
    float: left;
}
.middle_bottom img{
    width: 40%;
    float: left;
    height: 100%;
}
.middle_bottom div{
    float: left;
    width: 60%;
    padding:.1rem;
}
.middle_bottom div p{
    text-indent: .4rem;
    font-size: .18rem;
    color: #fff;
}
.middle_bottom div p span{
    font-size: .24rem;
}
/*底部二维码*/
.footer{
    overflow: hidden;
}
.footer div{
    float: left;
    text-align: center;
    color: #fff;
    width: 50%;
    height: 2rem;
}
.footer_left{
    padding: .3rem 0;
    background-color: #0064B4;
}
.footer_left p{
    font-size: .2rem;
    color: #fff;
}
.footer_left h3{
    font-size: .24rem;
}
.footer_right{
    background-color: #E4E4E4;
    padding: .08rem 0;
}
.footer_right img{
    width: 1.27rem;
}
.footer_right h3{
    font-size: .22rem;
    color: #C12C29;
}