/**基于mobile-adaptive的CSS，字体大小分为四个档次0.2rem 0.24rem 0.28rem 0.32rem**/
/*****http://www.jianshu.com/p/b00cd3506782/comments/1599498 ****/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    position: relative;
    width: 100%;
    /*max-width: 640px;*/
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid black;
}
/*顶部2图片*/
header,.header_banner{
    overflow: hidden;
}
header img,.header_banner img{
    float: left;
    width: 100%;
}
.header_banner{
    padding-top: 1px;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}