*{
    list-style: none;
    border: none;
    margin:0 auto;
    padding: 0;
    text-decoration: none;
    outline: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: "Helvetica Neue", "SimHei", Helvetica, Arial, sans-serif;
    background-color: #272822;
    font-weight: bold;
}
/*ul*/
.parent{
    position: absolute;
    top: 0;
    left: 10px;
}
.parent li{
    position: relative;
    margin-top: 10px;
    background-color: #002240;
    border: 2px dotted #B7DEDF;
    cursor: pointer;
}
.parent li a{
    display: block;
    padding:10px 30px;
    color: #3ECD67;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    transition: all .4s ease-out;
    text-align: center;
    text-transform: uppercase;
}
.parent li:hover{
    border: 2px solid #B7DEDF;
    cursor: pointer;
}
.parent li a:hover{
    color:#CF5B56;
}
/*动画*/
@keyframes flip {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(15deg);
        -moz-transform: rotateX(90deg) rotateY(15deg);
        -o-transform: rotateX(90deg) rotateY(15deg);
        -ms-transform: rotateX(90deg) rotateY(15deg);
        transform: rotateX(90deg) rotateY(15deg);
    }
    100% {
        -webkit-transform: rotateX(-40deg) rotateY(15deg);
        -moz-transform: rotateX(-40deg) rotateY(15deg);
        -o-transform: rotateX(-40deg) rotateY(15deg);
        -ms-transform: rotateX(-40deg) rotateY(15deg);
        transform: rotateX(-40deg) rotateY(15deg);
    }
}
@-webkit-keyframes flip {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(15deg);
        transform: rotateX(90deg) rotateY(15deg);
    }
    100% {
        -webkit-transform: rotateX(-40deg) rotateY(15deg);
        transform: rotateX(-40deg) rotateY(15deg);
    }
}
@-moz-keyframes flip {
    0% {
        -moz-transform: rotateX(90deg) rotateY(15deg);
        transform: rotateX(90deg) rotateY(15deg);
    }
    100% {
        -moz-transform: rotateX(-40deg) rotateY(15deg);
        transform: rotateX(-40deg) rotateY(15deg);
    }
}
@-o-keyframes flip {
    0% {
        -o-transform: rotateX(90deg) rotateY(15deg);
        transform: rotateX(90deg) rotateY(15deg);
    }
    100% {
        -o-transform: rotateX(-40deg) rotateY(15deg);
        transform: rotateX(-40deg) rotateY(15deg);
    }
}
.top {
    position: absolute;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    /*animation-fill-mode : none | forwards | backwards | both;*/
    /*forwards停留在最后一帧*/
    -webkit-animation: flip 1s 800ms forwards;
    animation: flip 1s 800ms forwards;
}