/*
* @Author: wangjianfei
* @Date:   2017-06-05 10:20:07
* @Last Modified by:   wangjianfei
* @Last Modified time: 2017-06-08 21:02:58
*/
*{
	margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
/* flex */
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* float */
.clear:after{
	display: table;
	content: "";
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.block {
    display: block;
    width: 100%;
}
/* clear margin-top */
.clearMtop:before{
	display: table;
	content: "";
}
.backTop {
    position: fixed;
    width: 0.653333rem;
    right: 0.266667rem;
    bottom: 2.5rem;
    z-index: 20;
}
#go_total{
  width: 3.866667rem;
  height: 0.933333rem;
  background-image: url(../images/artist_btn.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0;
  bottom: 1rem;
}
/* rule-btn */
#rule-btn{
  width: 1.733333rem;
  height: 0.373333rem;
  background-image: url(../images/rule_btnbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: .5rem;
  bottom: 2.5rem;
}
body {
    background-image: url(../images/home_bg_03.jpg);
}
/* header */
header{
  position: relative;
}
/* borker */
.borker-bg{
  width: 100%;
  height: 11.146667rem;
  background-image: url(../images/home_bg_02.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: .3rem;
}
.headImg {
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    border: 0.013333rem solid #fff;
    z-index: 8;
}
/* .footer 活動獎勵公用 */
.reward-title{
  width: 100%;
  height: 2.666667rem;
  background-image: url(../images/home_rewardbg_01.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.reward-content{
  background-image: url(../images/home_rewardbg_02.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: .3rem;
  padding-bottom: 1rem;
}
.reward-content ul{
  width: 8.4rem;
  margin: 0 auto;
  overflow: hidden;
  border-top: 1px solid #FFD67E;
  border-left: 1px solid #FFD67E;

}
.reward-content ul li{
  float: left;
  width: 33.33%;
  border-right: 1px solid #FFD67E;
  border-bottom: 1px solid #FFD67E;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color: #7A7A7A;
}
.reward-content ul li:nth-child(1),
.reward-content ul li:nth-child(2),
.reward-content ul li:nth-child(3){
  background: #AE7E16;
  color: #fff;
}
.reward-content ul li:nth-child(4),
.reward-content ul li:nth-child(7),
.reward-content ul li:nth-child(10),
.reward-content ul li:nth-child(13){
  color: #71571B;
}
.reward-content>p{
  width: 8rem;
  margin: 0 auto;
  margin-top: .25rem;
  color: #7A7A7A;
  text-align: center;
}

.footer{
  margin-top: .4rem;
  background-image: url(../images/footer_bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  position: relative;
}
.home-msg{
  margin-top: 2rem;
}
.home-msg p{
  color: #9F243D;
  text-align: center;
}
/* user-info */
.user-info{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1.866667rem;
  background: rgba(0,0,0,.3);
  overflow: hidden;
  z-index: 20;
}
.user-img,
.user-msg,
.user-artistbtn{
  float: left;
  margin-top: 0.35rem;
}
.user-img{
  width: 1.066667rem;
  height: 1.066667rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 0.133333rem #fff;
}
.user-msg{
  width: 3.6rem;
  color: #fff;
  margin-left: 0.333333rem;
}
.user-msg h3{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-artistbtn{
  width: 3.066667rem;
  height: 1.066667rem;
  background-image: url(../images/user-artistbtn.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 1rem;
}
/* total_list單獨total-list-box */
.toggle-list{
  display: none;
}
.toggle-list.hadSelected{
  display: block;
}

.total-list-box{
  margin-top: -11.6rem;
  z-index: 10;
  position: relative;
}
.total-header,
.total-body,
.total-footer{
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.total-header:before{
  display: table;
  content: "";
}
.total-header{
  height: 3.066667rem;
  background-image: url(../images/anchor_bg_01.png);
}
.total-body{
  background-image: url(../images/anchor_bg_02.png);
}
.total-footer {
    height: 2.666667rem;
    background-image: url(../images/anchor_bg_03.png);
}
.total-header ul {
    width: 7.466667rem;
    margin: 0 auto;
    margin-top: 1.666667rem;
}
.total-header ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1rem;
    line-height: 1rem;
    color: #F53A50;
    text-align: center;
    font-size: 0.426667rem;
    font-weight: 700;
    border: 0.026667rem solid #F53A50;
}
.total-header ul li.selected {
    background: #F53A50;
    color: #fff;
}
.total-header ul li:nth-child(1) {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.total-header ul li:nth-child(2) {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
/* total-body-list */
.total-body-list{
    width: 7.333333rem;
    margin: 0 auto;
}
/* date-list */
.date-list{
  overflow: hidden;
}
.date-list li{
  float: left;
  width: 0.906667rem;
  margin-left: 0.15rem;
  text-align: center;
  color: #F49F23;
  border: 1px solid #F49F23;
  margin-bottom: 0.4rem;
  border-radius: .2rem;
  padding: .05rem 0;
}
.date-list li:nth-child(1),
.date-list li:nth-child(8){
  margin-left: 0;
}
.date-list li p{
  font-size: 0.426667rem;
}
.date-list li span{
  display: block;
  text-align: center;
  font-size: 0.24rem;
}
.date-list li.selected{
  color: #fff;
  background: #F53A50;
  border-color: #F53A50;
}
.date-list li.gray-bg{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
/* tab-title */
.tab-title{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.tab-title li{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: .08rem 0;
  background: #FDEFC4;
  border-radius: .15rem;
  color: #7A7A7A;
}
.tab-title li+li{
  margin-left: .2rem;
}

/* same-lists */
.same-lists{
  margin-top: 0.533333rem;
}
.same-lists li{
  /* height: 2.453333rem; */
  position: relative;
  padding-left: 0.7rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  overflow: hidden;
  background-image: url(../images/anchor_bg04.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom: 0;
}
.same-lists li+li{
  margin-top: 0.266667rem;
}

.same-img{
    width: 1.333333rem;
    height: 1.333333rem;
    border: 0.013333rem solid #fff;
    border-radius: 50%;
    margin-top: 0.4rem;
    /* margin-left: 0.333333rem; */
    position: relative;
    cursor: pointer;
    box-shadow: 3px 0 5px #ccc;
}
/* same-img i */
.same-img i{
  display: block;
  width: 0.72rem;
  height: 0.72rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 6;
  left: -.3rem;
  top: -.3rem;
}
.same-img span{
  display: block;
  width: 1.893333rem;
  height: 0.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 12;
}
/* 王牌 */
.king,
.king .headImg{
  border-color: #F2D600;
}
.king i{
  background-image: url(../images/anchor_crown01.png);
}
.king span{
  background-image: url(../images/anchor_icon01.png);
}
/* 金牌 */
.gold,
.gold .headImg{
  border-color: #D4E700;
}
.gold i{
  background-image: url(../images/anchor_crown02.png);
}
.gold span{
  background-image: url(../images/anchor_icon02.png);
}
/* 銀牌 */
.silver,
.silver .headImg{
  border-color: #00D9FF;
}
.silver i{
  background-image: url(../images/anchor_crown03.png);
}
.silver span{
  background-image: url(../images/anchor_icon03.png);
}
/* 銅牌 */
.copper,
.copper .headImg{
  border-color: #C43CE0;
}
.copper i{
  background-image: url(../images/anchor_crown04.png);
}
.copper span{
  background-image: url(../images/anchor_icon04.png);
}
/* 積分 */
.same-lists li .same-img,
.same-lists li>b,
.same-lists li>span{
  float: left;
  display: block;
}
.same-lists li>b,
.same-lists li>span{
  line-height: 2.453333rem;
  width: 2.3rem;
  text-align: center;
  margin-left: .35rem;
  color: #7A7A7A;
  font-weight: 100;
}
/* same-img */
.same-img>p{
  position: absolute;
  width: 2rem;
  height: .5rem;
  line-height: .5rem;
  left: 50%;
  transform: translateX(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  bottom: -.6rem;
  font-size: 0.213333rem;
  text-align: center;
}
/* seeMore */
#lookMore,
#seeMore{
  width: 4.053333rem;
  height: 0.933333rem;
  background-image: url(../images/personal_morebg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: .4rem;
  display: none;
}
#lookMore.Block,
#seeMore.Block{
  display: block;
}
.none{
  display: none;
}