*{
	margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
/*// header*/
header,
.nav{
  position: relative;
}
.block{
  display: block;
  width: 100%;
}
#following{
  display: block;
  width: 2rem;
  height: .67rem;
  background-image: url(/html/draculaDinner/images/top_followbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: .4rem;
  top: .6rem;
  z-index: 10;
}
#following.hide{
  display: none;
}
.backTop{
	position: fixed;
	width: 0.653333rem;
	height: .95rem;
	right: 0.266667rem;
	bottom: 0.666667rem;
	background-image: url(/html/draculaDinner/images/top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
	z-index: 20;
}
.rule-btn{
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(/html/draculaDinner/images/rule_btnbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: .13rem;
  bottom: -.8rem;
  z-index: 10;
}
/*// nav*/

/*----------0710---------*/
.nav{
  width: 100%;
  height: 2.6rem;
  background-image: url(/html/draculaDinner/images/degula_bg01.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 1rem;
}
.nav-list{
  width: 8.8rem;
  height: 1.6rem;
  float: left;
  position: relative;
  margin-left: .6rem;
}
.nav-list li{
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  font-size: .35rem;
  color: #78516B;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: .11rem;
}
.nav-list li:nth-child(1){
  width: 3.466667rem;
  background-image: url(/html/draculaDinner/images/gash_tab_a01.png);
  left: 0;
}
.nav-list li:nth-child(2){
  width: 2.533333rem;
  background-image: url(/html/draculaDinner/images/gash_tab_b01.png);
  left: 3.3rem;
}
.nav-list li.selected{
  color:#C49DFF;
  top: 0;
}
.nav-list li:nth-child(1).selected{
  background-image: url(/html/draculaDinner/images/gash_tab_a02.png);
}
.nav-list li:nth-child(2).selected{
  background-image: url(/html/draculaDinner/images/gash_tab_b02.png);
}

.nav-list li:nth-child(3){
  width: 3.226667rem;
  left: 5.7rem;
  background-image: url(/html/draculaDinner/images/gash_tab_c01.png);
}
.nav-list li:nth-child(3).selected{
  background-image: url(/html/draculaDinner/images/gash_tab_c02.png);
}
.gash-info{
  background-image: url(/html/draculaDinner/images/degula_bg06.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.gash-msg{
  width: 7.466667rem;
  margin: 0 auto;
}
.gash-msg p{
  
  color: #8A8C9F;
}
.gash-msg h2,
.gash-msg h3{
  color: #C8CCE2;
}
.gash-msg h3,
.have-top{
  margin-top: 0.333333rem;
}
.gash-msg h2{
  padding: 0.2rem 0;
}
/*--------------0710 end------------------------*/



/*// .content-item*/
.content-item{
	display: none;
}
/*//*/
.show,
.content-item.show{
  display: block;
}
.hide{
  display: none;
}
/*// users-list*/
.user-bg{
	background-image: url(/html/draculaDinner/images/degula_bg02.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*// user-title*/
.user-title{
	width: 7.8rem;
	margin: 0 auto;
	overflow: hidden;
	padding-top: .4rem;
}
.user-title li:nth-child(1){
	float: left;
	font-size: .35rem;
	color: #fff;
}
.user-title li:nth-child(2){
	float: right;
	color: #A68CC9;
}
/*0711 s*/
.user-title li b,
.user-lists li p i{
  position: relative;
  font-weight: 100;
  padding-right: 0.8rem;
}
.user-lists li p i:after,
.user-title li b:after{
  display: table;
  content: "";
  width: 0.666667rem;
  height: 0.666667rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url(/html/draculaDinner/images/power_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/*0711 e*/




/*// user-lists*/
.user-lists{
	width: 8.8rem;
	margin: 0 auto;
	overflow: hidden;
}
.user-lists li{
	width: 2.93rem;
	float: left;
	position: relative;
	padding: .1rem 0;
	margin-top: .67rem;
}
.user-img{
	width: 1.52rem;
	margin: 0 auto;
	height: 1.52rem;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(/html/draculaDinner/images/user_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
	position: relative;
	box-shadow: 3px 0 5px #000;
}
.user-img img{
	width: 94%;
  height: 94%;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	padding: 2%;
}
.user-lists li p{
	color: #80737A;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 90%;
	margin: 0 auto;
	margin-top: .05rem;
  line-height: .6666666rem;
}
.user-lists li p b{
  font-weight: 100;
}
.user-lists li span{
	display: block;
	width: 1.68rem;
	height: .51rem;
	margin: 0 auto;
	line-height: .51rem;
	text-align: center;
	background-color: #888;
	border-radius: .3rem;
	margin-top: .1rem;
}
.user-lists li span.vote-btn{
	background-color: #7585de;
}
/*// user-footer*/
.user-middle-bg{
	width: 100%;
	height: 1.79rem;
	background-image: url(/html/draculaDinner/images/degula_bg03.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.user-description-bg{
	background-image: url(/html/draculaDinner/images/degula_bg04.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.user-doc{
	width: 8.8rem;
	margin: 0 auto;
	padding: .4rem .67rem 0 .67rem;
}
.user-doc h3{
	color: #fff;
	font-size: .35rem;
}
.user-doc p{
	color: #9699AD;
}
/*// user-footer-bg*/
.user-footer-bg{
	width: 100%;
	height: 1.89rem;
	background-image: url(/html/draculaDinner/images/degula_bg05.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



/*// prophet-content*/
.prophet-content,
.prophet-content>li,
.prophet-middle-bg,
.prophet-info-bg{
	width: 100%;
	background-repeat: no-repeat;
  background-size: 100% 100%;
}
.prophet-content>li:nth-child(1){
	height: 5.87rem;
	background-image: url(/html/draculaDinner/images/prophet_bg01.jpg);
	padding-top: .24rem;
}
.prophet-content>li:nth-child(2){
	height: 6.13rem;
	background-image: url(/html/draculaDinner/images/prophet_bg02.jpg);
	padding-top: .4rem;
}
.prophet-content>li:nth-child(3){
	height: 5.2rem;
	background-image: url(/html/draculaDinner/images/prophet_bg03.jpg);
}

.prophet-middle-bg{
	height: 1.01rem;
	background-image: url(/html/draculaDinner/images/prophet_bg04.jpg);
}
.prophet-info-bg{
	background-image: url(/html/draculaDinner/images/prophet_bg05.jpg);
}
/*// same-title*/
.same-title{
	overflow: hidden;
	width: 8.8rem;
	margin: 0 auto;
}
.same-title span{
	display: block;
	float: left;
	width: 3.07rem;
	height: .93rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
	margin-left: .23rem;
}
.same-title p{
	float: right;
	color: #F3E4C2;
	line-height: .93rem;
	margin-right: .8rem;
}
.prophet-content>li:nth-child(1) .icon-round{
  background-image: url(/html/draculaDinner/images/small_icon_a01.png);
}
.prophet-content>li:nth-child(1) .icon-round.icon-one-start{
  background-image: url(/html/draculaDinner/images/small_icon_a02.png);
}
.prophet-content>li:nth-child(2) .icon-round{
  background-image: url(/html/draculaDinner/images/small_icon_b01.png);
}
.prophet-content>li:nth-child(2) .icon-round.icon-two-start{
  background-image: url(/html/draculaDinner/images/small_icon_b02.png);
}
.prophet-content>li:nth-child(3) .icon-round{
  background-image: url(/html/draculaDinner/images/small_icon_c01.png);
}
.prophet-content>li:nth-child(3) .icon-round.icon-three-start{
	background-image: url(/html/draculaDinner/images/small_icon_c02.png);
}
/*// prophet-lists*/
.prophet-lists{
	width: 7.6rem;
	margin: 0 auto;
}

.prophet-lists>li:before,
.prophet-lists>li:after{
	display: table;
	content: "";
	clear: both;
}
.same-camp{
	width: 2.35rem;
	height: 3.17rem;
	background-repeat: no-repeat;
  background-size: 100% 100%;
	position: relative;
}
.same-camp>i{
  display: block;
  width: .93rem;
  height: .93rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/html/draculaDinner/images/is_winbg.png);
  position: absolute;
  top: 1.67rem;
  display: none;
}
.same-camp>i.show{
  display: block;
}
.prophet-right i{
  right: -.4rem;
}
.prophet-left i{
  left: -.4rem;
}
.same-camp-info{
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	bottom:-0.03rem;
}
.same-camp-info h3,
.same-camp-info p{
	font-size: .27rem;
}
.prophet-left{
	float: left;
}
.prophet-left .same-camp{
	border: 1px solid #DF8728;
	background-image: url(/html/draculaDinner/images/camp_01.png);
	box-shadow:0 0 5px 2px rgba(242,242,113,.5);
}
.prophet-right{
	float: right;
}
.prophet-right .same-camp{
	border: 1px solid rgb(213,38,48);
	background-image: url(/html/draculaDinner/images/camp_02.png);
	box-shadow:0 0 5px 2px rgba(213,38,48,.5);
}
/*// prophet-btn*/
.prophet-lists li span{
  display: block;
  width: 1.68rem;
  height: .51rem;
  margin: 0 auto;
  line-height: .51rem;
  text-align: center;
  background-color: #888;
  border-radius: .3rem;
  margin-top: .4rem;
}
/*可以投票*/
.prophet-lists li span.prophet-btn{
  background-color: #7585DE;
}
/*已经投票*/
.prophet-lists li span.have-voted{
  background-color: #bbb;
}
/*rule*/
#rule{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
}
#rule.show,
.show{
  display: block;
}
#container.hide{
  display: none;
}
.rule-title,
.rule-detail,
.rule-footer{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.rule-title{
  height: 1.52rem;
  background-image: url(/html/draculaDinner/images/rule_bg_02.jpg);
}
.rule-detail{
  background-image: url(/html/draculaDinner/images/rule_bg_03.jpg);
}
.rule-footer{
  height: 2.4rem;
  background-image: url(/html/draculaDinner/images/rule_bg_04.jpg);
}
.rule-title h3{
  color: #fff;
  font-size: .4rem;
  text-align: center;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/html/draculaDinner/images/rule_topbg.png);
}
/*rule-info*/
.rule-info{
  width: 7.33rem;
  margin: 0 auto;
  padding-bottom: .2rem;
}
.rule-info:before{
  display: table;
  content: "";
}
.rule-info h3{
  text-align: center;
  color: #AFAEC3;
  margin-top: .35rem;
  margin-bottom: .15rem;
}
.rule-info p{
  color: #5C5B74;
  text-align: justify;
  line-height: .46rem;
}

/*0711*/
.new-rule-list{
  position: relative;
}
.new-rule-list img{
  display: block;
  width: 100%;
}
.new-rulebtn{
  width: 2rem;
  height: 2rem;
  background-image: url(/html/draculaDinner/images/rule_btnbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: 0.666667rem;
  top: 1.266667rem;
  z-index: 10;
  animation:move 1s linear infinite alternate;
}
@keyframes move{
  0%{
    transform: translateY(5%);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5%);
  }
}
@-webkit-keyframes move{
  0%{
    -webkit-transform: translateY(5%);
  }
  50%{
    -webkit-transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(-5%);
  }
}