*, :before, :after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button {
	margin: 0;
	padding: 0
}
body {
	font-size: .14rem;
	font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
	line-height: 1.7;
	color: #333;
	background-color: #fff;
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;
	outline: 0
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th {
	text-align: left
}
fieldset, img {
	border: 0
}
li {
	list-style: none
}
ins {
	text-decoration: none
}
del {
	text-decoration: line-through
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}
button {
	-webkit-appearance: none;
	border: 0;
	background: 0 0
}
a {
	-webkit-touch-callout: none;
	text-decoration: none
}
:focus {
	outline: 0
}
em, i {
	font-style: normal
}
input[type=date] {
	text-align: right
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, input[type=submit] {
	-webkit-appearance: none !important;
	margin: 0
}

a {
	color: #333
}
em {
	font-style: normal
}
::-webkit-input-placeholder {
	color: #aeaeae
}
h1 {
	font-size: .18rem
}
h2 {
	font-size: .17rem
}
h3, h4 {
	font-size: .16rem
}
h5 {
	font-size: .14rem
}
h6 {
	font-size: .12rem
}
.none {
	display: none
}
.viewport {
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto
}
.clearfix:after {
	display: table;
	content: '';
	clear: both
}
.expert {
	width: 100%;
	background: url(../images/exp-bg2.png) no-repeat;
	background-size: 100% 100%;
	padding: .04rem;
	margin-top: .05rem
}
.expert .content {
	width: 100%
}
.expert .content dl {
	background: url(../images/exp-bg.png) no-repeat;
	background-size: 100% 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.expert .content dl dt {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 22%;
}
.expert .content dl dt img {
	display: block;
	max-width: 108%;
	height: 1.91rem;
}
.expert .content dl .one {
	-webkit-box-flex: 2.4;
	-moz-box-flex: 2.4;
	-webkit-flex: 2.4;
	-ms-flex: 2.4;
	flex: 2.4;
	width: 48%;
	margin-left: 2%
}
.expert .content dl .one .top {
	height: .31rem;
	border-bottom: dashed 1px #3496d7;
	width: 100%;
}

.expert .content dl .one div:first-of-type{
    border-bottom: dashed 1px #3496d7;
    width: 100%;
	padding-bottom: .1rem;
}
.expert .content dl .one div:first-of-type img {
	width: 36%;
	display: block;
	float: left;
    margin-top: 6%;
}
.expert .content dl .one div:first-of-type a {
	font-size: .18rem;
	margin-top: 9%;
	width: 27%;
	float: left;
	margin-left: .04rem;
	color: #fff;
	background-color: #fe9602;
	text-align: center;
	border-radius: 5%;
}
.expert .content dl .one div:first-of-type .a1 {
	margin-left: .05rem;
	background-color: #43a5f1
}
.expert .content dl .one .btn {
	margin-top: .02rem
}
.expert .content dl .one .btn h3 {
	height: .2rem;
	line-height: .2rem;
	color: #fff;
	font-size: .19rem;
	margin: .1rem 0;
}
.expert .content dl .one .btn h3:before {
	width: .05rem;
	height: .05rem;
	display: inline-block;
	content: '';
	background-repeat: no-repeat;
	background: url(../images/before.png);
	background-size: 100% 100%;
	margin-right: .03rem
}
.expert .content dl .one .btn .sc {
	padding: .05rem;
	border: dashed 1px #3496d7;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}
.expert .content dl .one .btn .sc span {
	font-size: .2rem;
	-webkit-box-flex: 15%;
	-moz-box-flex: 15%;
	-webkit-flex: 15%;
	-ms-flex: 15%;
	flex: 30%;
	width: 16%;
	background: url(../images/zk.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	color: #0064b4;
	line-height: .28rem
}
.expert .content dl .one .btn .sc p {
	font-size: .19rem;
	-webkit-box-flex: 83%;
	-moz-box-flex: 83%;
	-webkit-flex: 83%;
	-ms-flex: 83%;
	flex: 83%;
	color: #fff;
	width: 83%;
	margin-left: 2%;
	line-height: .28rem
}
.expert .content dl .two {
	margin-left: 2%;
	-webkit-box-flex: 1.3;
	-moz-box-flex: 1.3;
	-webkit-flex: 1.3;
	-ms-flex:1.3;
	flex: 1.3;
	width: 27%;
}
.expert .content dl .two h4 {
	margin-top: .15rem;
	height: .21rem;
	line-height: .21rem;
	font-size: .23rem;
	color: #0064b4;
	text-align: center
}
.expert .content dl .two .tetx {
	width: 95%;
	color: #a0a0a0;
	background-color: #ceeffe;
	border: solid 1px #a0a0a0;
	font-size: .22rem;
	height: .4rem;
	line-height: .4rem;
	margin-top: .06rem;
	text-align: center
}
.expert .content dl .two .bt {
	font-size: .25rem;
	background-color: #ae0615;
	color: #fff;
	width: 70%;
	border: 0;
	border-radius: 3%;
	text-align: center;
	margin: .1rem auto;
	display: block;
	padding: .05rem 0;
}
.expert .content ul {
	margin: 0 .02rem
}
.expert .content ul li {
	height: .38rem;
	line-height: .38rem;
	border-bottom: dashed 1px #a0a0a0;
	font-size: .24rem;
}
.expert .content ul li p {
	display: inline-block;
	width: 47%
}
.expert .content ul li p span {
	width: .12rem;
	height: .12rem;
	display: inline-block;
	background-color: #e7b4b8;
	margin-left: .02rem
}
.expert .content ul li p i {
	margin-left: .01rem;
	color: #ae0615
}
.expert .content ul li .p2 {
	margin-left: 4%
}