.contain {width: 100%;height: 100%;overflow: hidden;position: absolute;top: 0;left: 0}
.screen {position: relative;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.page01 {background-image: url(../images/page01.jpg);padding-top: 5px}
.page02 {background-image: url(../images/page02.jpg)}
.page03 {background-image: url(../images/page02.jpg)}
.page04 {background-color:#333333;}

/*第一屏样式*/
.tit01, .tit02, .tit03 {width: 225px;background-size: 225px auto;margin: 0 auto;opacity: 0}
.tit01 {height: 46px;background-image: url(../images/am01.png);background-position: 0 0;}
.tit02 {height: 74px;background-image: url(../images/am01.png);background-position: 0 -46px;}
.tit03 {height: 44px;background-image: url(../images/am01.png);background-position: 0 -120px;}
.arrow {width: 24px;height: 20px;background-image: url(../images/arrow.png);background-size: 24px auto;position: absolute;left: 50%;bottom: 30px;margin-left: -12px;}

/*第二屏样式*/
.sug {margin: 0 auto;width: 200px;height: 110px;background: rgba(0,0,0,0.3);padding-top: 10px;opacity: 0}
.sug div {width: 174px;height: 91px;background: url(../images/am02.png) no-repeat;background-size: 174px;margin: 0 auto;}
.page02 p {padding: 10px 0;text-align: center;color: #fff;font: 16px/24px "微软雅黑";opacity: 0}
.picList {width: 303px;margin: 0 auto;padding-top: 10px;}
.picList img {margin-right: 8px;width: 93px;float: left;opacity: 0}

/*第三屏样式*/
.circle {width: 117px;height: 117px;margin: 0 auto;position: relative;padding-top: 75px;}
.bigFace {width: 115px;height: 115px;border: solid 2px #FF0033;border-radius: 50%;background: url(../images/bigcrea.jpg);
background-size: 115px auto;position: absolute;z-index: 10;}
.bgc {position: absolute;width: 73px;height: 73px;border-radius: 50%;background: #e42424;color: #fff;text-align: center;font: 18px/73px "微软雅黑";z-index: 9;opacity: 0}
.pic01, .pic02, .pic03 {position: absolute;width: 72px;height: 72px;border-radius: 50%;border: 1px solid #e42424;background-size: 72px auto;background-image: url(../images/bigcrea.jpg);opacity: 0}
.pic01 {background-position: 0 -72px;z-index: 8;}
.pic02 {background-position: 0 -144px;z-index: 7;}
.pic03 {background-position: 0 -216px;z-index: 6;}
.rightline {position: absolute;width: 70px;height: 2px;background: #fff;overflow: hidden;display: block;-webkit-transform: rotate(45deg) translate3D(70px, 20px, 0);z-index: 3;opacity: 0}
.leftline {position: absolute;width: 70px;height: 2px;background: #fff;overflow: hidden;display: block;-webkit-transform: rotate(-45deg) translate3D(-40px, 60px, 0);z-index: 4;opacity: 0}
.page03 .circle div:nth-child(2), 
.page03 .circle div:nth-child(3), 
.page03 .circle div:nth-child(4), 
.page03 .circle div:nth-child(5) {-webkit-transform: translate3d(20px, 20px, 0);}
.page03 .name {padding-top: 10px;margin-bottom: 5px;font: bold 18px/36px "微软雅黑";color: #fff;text-align: center;}
.page03 .info {margin-bottom: 30px;display: block;font: 12px/24px "微软雅黑";color: #fff;text-align: center;}
.page03 .details {font: 14px/24px "微软雅黑";padding: 0 30px;color: #fff;}

/*第四屏*/
.page04 .circle div:nth-child(2), 
.page04 .circle div:nth-child(3), 
.page04 .circle div:nth-child(4), 
.page04 .circle div:nth-child(5) {-webkit-transform: translate3d(20px, 20px, 0);}
.page04 .name {padding-top: 10px;margin-bottom: 5px;font: bold 18px/36px "微软雅黑";color: #fff;text-align: center;}
.page04 .info {margin-bottom: 30px;display: block;font: 12px/24px "微软雅黑";color: #fff;text-align: center;}
.details {font: 14px/24px "微软雅黑";padding: 0 30px;color: #fff;}

/*第一屏动画*/
.page01.animation .tit01 {-webkit-animation: page01Title 500ms ease 300ms forwards;}
.page01.animation .tit02 {-webkit-animation: page01Title 500ms ease 800ms forwards;}
.page01.animation .tit03 {-webkit-animation: page01Title 500ms ease 1300ms forwards;}

 @-webkit-keyframes page01Title {
0% {opacity: 0;-webkit-transform: translateY(-30px);}
100% {opacity: 1;-webkit-transform: translateY(0px);}
}
.animation .arrow {-webkit-animation: pageArrow 1000ms ease infinite;}
@-webkit-keyframes pageArrow {
0% {opacity: 0;-webkit-transform: translateY(60%);}
50% {opacity: 1;-webkit-transform: translateY(0);}
100% {opacity: 0;-webkit-transform: translateY(-60%);}
}

/*第二屏动画*/
.page02.animation .sug {-webkit-animation: page02Sug 500ms ease 300ms forwards;}
@-webkit-keyframes page02Sug {
0% {opacity: 0;-webkit-transform: translateY(-30px);}
100% {opacity: 1;-webkit-transform: translateY(0px);}
}
.page02.animation .info {-webkit-animation: page02Info 500ms ease 800ms forwards;}
@-webkit-keyframes page02Info {
0% {opacity: 0;-webkit-transform: translateY(-20px);}
100% {opacity: 1;-webkit-transform: translateY(0px);}
}
.page02.animation .picList img:nth-child(1) {-webkit-animation: page02Img 500ms ease 1300ms both;}
.page02.animation .picList img:nth-child(2) {-webkit-animation: page02Img 500ms ease 1800ms both;}
.page02.animation .picList img:nth-child(3) {-webkit-animation: page02Img 500ms ease 2300ms both;}
@-webkit-keyframes page02Img {
0% {opacity: 0;-webkit-transform: translateX(-20px);}
100% {opacity: 1;-webkit-transform: translateX(0px);}
}

/*第三屏动画*/
.page03.animation .bigFace {-webkit-animation: bigFace 1000ms ease 100ms forwards;}
.page03.animation .bgc {-webkit-animation: bgc 600ms ease 1100ms forwards;}
.page03.animation .pic01 {-webkit-animation: pic01 600ms ease 1200ms forwards;}
.page03.animation .pic02 {-webkit-animation: pic02 600ms ease 1500ms forwards;}
.page03.animation .pic03 {-webkit-animation: pic03 600ms ease 1600ms forwards;}
.page03.animation .leftline {-webkit-animation: leftline 600ms ease 1500ms forwards;}
.page03.animation .rightline {-webkit-animation: rightline 600ms ease 1600ms forwards;}

@-webkit-keyframes bigFace {
0% {-webkit-transform: scale(1);}
30% {-webkit-transform: scale(1.3);}
60% {-webkit-transform: scale(0.7);}
100% {-webkit-transform: scale(1);}
}
@-webkit-keyframes bgc {
0% {-webkit-transform: translate(0px, 0px);opacity: 1;}
100% {-webkit-transform: translate(-44px, -44px);opacity: 1;}
}
@-webkit-keyframes pic01 {
0% {-webkit-transform: translate(0px, 0px);opacity:1;}
100% {-webkit-transform: translate(90px, -44px);opacity: 1;}
}
@-webkit-keyframes pic02 {
0% {-webkit-transform: translate(0px, 0px) rotate(-180deg);opacity: 1;}
100% {-webkit-transform: translate(-75px, 105px)rotate(-360deg);opacity: 1;}
}
@-webkit-keyframes pic03 {
0% {-webkit-transform: translate(0px, 0px) rotate(-180deg);opacity: 1;}
100% {-webkit-transform: translate(120px, 105px)rotate(-360deg);opacity: 1;}
}
@-webkit-keyframes leftline {
0% {-webkit-transform: rotate(-45deg) translate3D(-40px, 60px, 0);opacity: 1;}
100% {-webkit-transform: translate3D(-30px, 100px, 0) rotate(-45deg);opacity: 1;}
}
@-webkit-keyframes rightline {
0% {-webkit-transform: rotate(45deg) translate3D(70px, 20px, 0);opacity: 1;}
100% {-webkit-transform: rotate(45deg) translate3D(150px, 20px, 0);opacity: 1;}
}

/*第四屏动画*/
.page04.animation .bigFace {-webkit-animation: bigFace 1000ms ease 100ms forwards;}
.page04.animation .bgc {-webkit-animation: bgc 600ms ease 1100ms forwards;}
.page04.animation .pic01 {-webkit-animation: pic01 600ms ease 1200ms forwards;}
.page04.animation .pic02 {-webkit-animation: pic02 600ms ease 1500ms forwards;}
.page04.animation .pic03 {-webkit-animation: pic03 600ms ease 1600ms forwards;}
.page04.animation .leftline {-webkit-animation: leftline 600ms ease 1500ms forwards;}
.page04.animation .rightline {-webkit-animation: rightline 600ms ease 1600ms forwards;}
