.main_footer{
    position: relative;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.footer_nav{
    overflow: hidden;
}
.footer_nav li{
    float: left;
    width: 24.75%;
    background-color: #7B3179;
}
.footer_nav li.have_mleft{
    margin-left: .3%;
}
.footer_nav li a{
    font-size: .3rem;
    color: #fff;
    display: block;
    text-align: center;
    padding: .15rem 0;
}
.footer_msg{
    margin-top: .25rem;
}
.main_footer p{
    font-size: .3rem;
    text-align: center;
    padding: .05rem 0;
}
.go_top{
    margin-top: .25rem;
}
.go_top a{
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    background-image: url(../images/gotop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}