*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.container{
    position: relative;
    max-width: 1440px;
    min-width: 1000px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
header{
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
}
.head_top{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.header_btn a{
    display: block;
    margin-top: 15px;
}
/*banner*/
.banner{
    width: 100%;
    height: 507px;
    background:url(../img/big_banner.jpg) 50% 0 no-repeat;
    position: relative;
}
.banner:before{
    display: table;
    content: "";
}
.banner p{
    width: 1000px;
    margin:0 auto;
    margin-top: 440px;
}
.baner_btn{
    display: block;
    padding-left: 25px;
    border-radius: 3px;
    background-image: url(../img/baner_btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 228px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
}
/*section_one*/
.section_one{
    background-color: #EFEFEF;
}
.one_title{
    width: 1000px;
    height: 205px;
    background-image: url(../img/nav_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.one_title,.one_title ul{
    overflow: hidden;
}
.one_title ul{
    margin-top: 35px;
}
.one_title ul li a{
    display: block;
    width:147px ;
    height: 147px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 147px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.one_title ul li a.yellow{
    background-image: url(../img/nav_red.png);
}
.one_title ul li a.blue{
    background-image: url(../img/nav_blue.png);
}
.one_title ul li.have_left{
    margin-left:52px;
}
/*导语*/
.infor_one{
    width: 100%;
    height: 207px;
    background-image: url(../img/intro_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background:url(../img/big_banner.jpg) 50% 0 no-repeat;*/
}
.infor_msg{
    width: 1000px;
    margin:0 auto;
    overflow: hidden;
}
.infor_left{
    width: 265px;
    margin-top: 65px;
}
.infor_left h3{
    font-size: 55px;
    color: #F9F05F;
    text-align: right;
    font-weight: 300;
}
.infor_left p{
    color: #4E7BB7;
    text-transform:uppercase;
    font-size: 32px;
    text-align: right;
}
.infor_right{
    width: 720px;
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 70px;
}
.will_middle{
    width: 1000px;
    margin: 0 auto;
}
/*共用头部*/
.intro_reason{
    background-color: #fff;
}
.intro_reason:before{
    display: table;
    content: "";
}
.total_title{
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.total_title h3{
    font-size: 45px;
    color: #0064B4;
}
.total_title h3 span{
    font-size: 34px;
    color: #FB6800;
    font-weight: 300;
}
.total_title p{
    text-transform:uppercase;
    color: #B6B5AF;
    padding-top: 5px;
    border-top: 1px solid #C8C8C8;
    font-size: 14px;
}
.total_title b{
    display: block;
    width: 75px;
    height: 75px;
    color: #80B2DA;
    background-color: #0064B4;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    font-style: italic;
    left: 135px;
    top: 10px;
    line-height: 75px;
    text-align: center;
}
/**/
.one_list{
    background-color: #F3F3F3;
    margin-top: 15px;
    position: relative;
    padding-bottom:15px;
}
.one_list:before,.one_list:after{
    display: table;
    content: "";
    width: 300px;
    height: 3px;
    background-color: #CBCBCB;
    position: absolute;
}
.one_list:before{
    border-top-right-radius: 9px;
    left: 0;
    top: 0;
}
.one_list:after{
    border-top-left-radius: 9px;
    right: 0;
    bottom: 0;
}
.one_list h4{
    font-size: 20px;
    color: #0064B4;
    font-weight: 200;
    padding: 10px 15px;
    border-bottom: 1px solid #D7D7D7;
}
.one_list p{
    color: #565656;
    font-size: 14px;
    text-indent:2em;
    line-height: 20px;
    padding:10px;
}
/*img*/
.sum_img,.sum_img ul,.list_msg,.list_msg ul{
    /*overflow: hidden;*/
}
.sum_img,.sum_img ul{
    height: 110px;
}
.reason_list,.reason_list ul{
    height: 150px;
}
.sum_img{
    padding-top: 10px;
}
.sum_img ul li img{
    padding: 1px;
    border: 1px solid #B6B5AF;
}
.sum_img ul li:not(:nth-child(1)){
    margin-left: 8px;
}
.reason_list ul li,.three_left li{
    width: 325px;
    padding: 1px;
    border: 1px solid #B6B5AF;
    position: relative;
    cursor: pointer;
}
.reason_list ul li{
    margin-top: 15px;
}
.three_left li.will_top{
    margin-top: 15px;
}
.reason_list ul li.have_left{
    margin-left: 12px;
}
.reason_list ul li a,.list_msg ul li a,.three_left li a{
    color: #565656;
    font-size: 16px;
}
.reason_list ul li span,.reason_list ul li a,.three_left li span,.three_left li a{
    display: inline-block;
    padding: 5px 8px;
    position:relative;
}
.reason_list ul li a,.three_left li a{
    margin-left: 5px;
}
.reason_list ul li span,.list_msg ul li span,.three_left li span{
    background-color:#ECECEC;
    top: -2px;
    color: #BFBFBF;
}
.reason_list ul li span.blue,.list_msg ul li span.blue,.three_left li span.blue{
    color: #0064B4;
}
.reason_list ul li span:after,.list_msg ul li span:after,.three_left li span:after{
    display: table;
    content: "";
    position: absolute;
    right: -6px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #ECECEC transparent transparent;
}
.reason_list ul li span:after{
    top:7px;
}
.mask{
    position: absolute;
    background-color: #2B3C67;
    width: 120%;
    z-index: 10;
    top:140%;
    left: -10%;
    color: #fff;
    padding: 30px;
    display: none;
}
.mask h3{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.mask p{
    text-indent: 2em;
}
.mask:before{
    display: table;
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent #2B3C67 transparent transparent;
}
.one_btn{
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}
.one_btn a{
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    background-color: #FB6800;
    float: left;
    margin-left: 50%;
    position: relative;
    left: -17%;
}
/*诊断篇*/
.two_list{
    padding: 15px 0;
    height: 246px;
}
.list_msg{
    width: 64%;
}
.list_msg ul li{
    width: 314px;
    border: 1px solid #B6B5AF;
    position: relative;
    cursor: pointer;
}
.list_msg ul li.have_left{
    margin-left: 6px;
}
.list_msg ul li.have_top{
    margin-top: 37px;
}
.list_msg ul li span,.list_msg ul li a{
    display: inline-block;
    padding: 12px 8px;
    position:relative;
}
.list_msg ul li span:after{
    top:12px;
}
/*doctor*/
.doctor_ma{
    padding: 15px 0;
}
.doctor_title{
    text-align: center;
    background-image: url(../img/doctor_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 105px;
}
.doctor_title:before{
    display: table;
    content: "";
}
.doctor_title h3{
    font-size: 35px;
    color: #0064B4;
    margin-top: 10px;
}
.doctor_title p{
    font-size: 14px;
    text-transform: uppercase;
    color: #B6B5AF;
    margin-top: 7px;
}
/**/
.doctor_msg,.doctor_msg ul{
    overflow: hidden;
}
.doctor_msg ul li{
    width: 170px;
    border-right: 3px solid #7FDBF6;
}
.doctor_msg ul li.have_left{
    margin-left: 37px;
}
.doctor_msg dt{
    font-size: 20px;
    height: 59px;
    color: #fff;
    padding-left: 50px;
    line-height: 59px;
}
.doctor_msg dd{
    font-size: 14px;
    color: #565656;
    padding:10px;
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}
.d_one{
    background-image: url(../img/title_list_01.jpg);
}
.d_two{
    background-image: url(../img/title_list_02.jpg);
}
.d_three{
    background-image: url(../img/title_list_03.jpg);
}
.d_four{
    background-image: url(../img/title_list_04.jpg);
}
.d_five{
    background-image: url(../img/title_list_05.jpg);
}
/*诊断篇*/
.three_list{
    margin-top: 20px;
}
.three_left{
    width: 325px;
}
.three_left li span:after{
    top: 7px;
}
/**/
.three_right{
    width: 665px;
    color: #565656;
}
.three_right_top li a{
    color: #565656;
}
.three_right_top{
    border-bottom: 4px solid #D2D2D2;
    height: 47px;
    width: 575px;
}
.three_right_top li.have_left{
    margin-left: 55px;
}
.three_right_top li.have_selected{
    border-bottom: 8px solid #FB6800;
}
.three_right_top li.have_selected:before{
    display: table;
    content: "";
    position: absolute;
    bottom: -15px;
    left: 58px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #FB6800 transparent transparent;
}
.three_right_top li{
    padding: 10px 0;
    position: relative;
    margin-bottom: -4px;
}
.three_right div{
    margin-top: 19px;
    padding: 10px 30px;
    border:  4px solid #D2D2D2;
}
.three_right div img{
    margin-top: 20px;
}
.three_right p{
    font-size: 14px;
    line-height: 16px;
}
/*饮食篇*/
.section_four .reason_list,.section_four .reason_list ul{
    height: 210px;
}
.four_list{
    padding: 15px 0;
    height: 701px;
}
.total_title b.small{
    left: 105px;
}
.four_left dl{
    overflow: hidden;
}
.four_list ul{
    width: 470px;
}
.four_list h5{
    font-size: 16px;
    position: relative;
    padding-left: 10px;
}
.four_list h5 span{
    font-size: 20px;
}
.four_left h5{
    color: #A51818;
}
.four_list h6 b{
    font-size: 38px;
    color: #C2C2C2;
    font-weight: 300;
    font-style: italic;
}
.four_list p{
    text-indent: 2em;
    font-size: 12px;
    color: #565656;
    padding: 5px 10px;
}
.four_list h6 span{
    font-size: 16px;
    margin: 0 5px;
}
.four_list h6{
    font-size: 14px;
    border-bottom: 1px dashed #CDCDCD;
}
.four_left h6{
    color: #215B27;
}
.four_list li,.four_list dl{
    position: relative;
    height: 190px;
}
.four_list li{
    margin-top: 25px;
}
.four_list li dl:before,.four_list li:after,.four_list h5:before{
    display: table;
    content: "";
    position: absolute;
    border-radius: 50%;
}
.four_list li dl:before{
    width: 200px;
    height: 200px;
    border: 1px solid #CDCDCD;
    left: 0;
    top: 0;
}
.four_list li:after,.four_list h5:before{
    width: 10px;
    height: 10px;
    background-color: #CDCDCD;
    left: -5px;
}
.four_list li:after{
    top: 93px;
}
.four_list h5:before{
    top: 8px;
}
.four_list dt,.four_list dd{
    position: absolute;
}
.four_list dt{
    left: 13px;
    top: 10px;
}
.four_list dd{
    left: 187px;
    top: 30px;
    background-color: #fff;
    z-index: 10;
    width: 280px;
    /*box-shadow:0px 10px 5px #000;*/
    box-shadow: 2px 2px 5px #CDCDCD;
}
.four_left h6 span{
    color: #A51818;
}
.four_left,.four_right{
    border-left: 1px solid #CDCDCD;
}
.four_right h5,.four_right h6 span{
    color: #1E5923;
}
.four_right h6{
    color: #6D953D;
}
/*常识篇*/
.sum_peo{
    height: 689px;
    padding: 20px 0;
}
.five_left{
    width: 660px;
}
.sum_top{
    overflow: hidden;

    height: 431px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/sum_big.jpg);
}
.sum_top div{
    width: 380px;
    margin: 10px 0;
    padding:0 15px;
}
.sum_top h2{
    color: #0064B4;
    font-size: 42px;
    margin: 15px 0;
}
.sum_top h2 span{
    font-size: 18px;
}
.sum_top div>p{
    position: relative;
    color: #0064B4;
    padding-left: 30px;
    font-size: 15px;
}
.sum_top div>p:before{
    display: table;
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #CDCDCD;
    left: 15px;
    top: 5px;
}
.sum_top li span{
    color: #0064B4;
    text-align: center;
    line-height: 42px;
    width: 44px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/zk.jpg);
    position: relative;
    top: -3px;
}
.sum_top li span,.sum_top li p{
    display: inline-block;
}
.sum_top li{
    position: relative;
    margin-top: 20px;
}
.sum_top li.five_selected{
    border: 1px dashed #0064B4;
    height: 42px;
}
.sum_top li p{
    width: 80%;
    padding-left: 10px;
    position: relative;
    top:5px;
}
.sum_top li p,.sum_top li p a{
    font-size: 12px;
    color: #565656;
}
.sum_top li img{
    width: 100%;
}
.sum_top li>a{
    text-align: center;
    display: block;
    width: 138px;
    padding: 10px;
    background-color: #FB6800;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}
.sum_middle{
    margin-top: 15px;
}
.sum_middle ul{
    overflow: hidden;
}
.sum_middle ul li img{
    width: 160px;
}
.sum_middle ul li.have_left{
    margin-left: 6px;
}
.total_title b.five_small {
    left: 55px;
}
.sum_bottom .reason_list ul li{
    width: 323px;
}
.sum_bottom .reason_list ul,.sum_bottom .reason_list{
    height: 110px;
}
.three_left li.have_top{
    margin-top: 20px;
}
/**/
.five_right{
    width: 330px;
}
/*底部*/
footer{

}
.nav_bottom{
    background-color: #2767AE;
}
.nav_bar{
    overflow: hidden;
}
.nav_bar li{
    margin-left: 15px;
}
.nav_bar a{
    display: block;
    color: #fff;
    font-size: 18px;
    padding:10px;
}
.footer_logo{
    background-color: #F7F7F9;
}
.footer_list{
    overflow: hidden;
    padding: 10px 0;
}
.footer_left{
    margin-top: 20px;
}
.footer_middle{
    width: 430px;
    border-left: 1px solid #C9C9C9;
    padding-left: 15px;
}
.footer_middle p{
    font-size: 14px;
    color: #565656;
}