*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, hgroup, nav, section, article, aside, footer, figure, figcaption, menu, button { margin: 0; padding: 0 }
body { font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif; color:#575757; background-color: #fff;font-size: 1.2rem;outline: 0;max-width: 640px; min-width: 320px; width: 100%; margin:auto;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400 }
caption, th { text-align: left }
fieldset, img { border: 0 }
img {max-width:100%;}
li { list-style: none }
ins { text-decoration: none }
del { text-decoration: line-through }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0 }
button { -webkit-appearance: none; border: 0; background: 0 0 }
a { -webkit-touch-callout: none; text-decoration: none }
:focus { outline: 0 }
em, i { font-style: normal }
input[type=date] { text-align: right }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0 }
input[type=submit] { -webkit-appearance: none }
p{ line-height:1.7em;}
.fl{float:left;}
.fr{float:right;}
.hd{ overflow:hidden}
.clear{ clear:both;}
.block{ display:block;}
.none{ display:none;}
img{vertical-align:middle;}
.h15{height:15px;}


header{ background:#ff9999;padding: 0.2rem 0;}
header a{ display:block;width:100%; position:relative; overflow:hidden;}
header div{ position:absolute;width:59%;left:41%;top:50%;-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
header img{width:38.59375%; display:block; float:left;}
header b{ display:block; float:left; font-size:1.5rem; font-weight:bold; color:#fff;    margin-right: 0.5rem;}
header span{ background:#ff6666; padding:0.4rem 1rem;line-height: 1.1rem; border-radius:3px; color:#fff; display:block; float:left; margin-left:2%;}

.logo{position: relative;margin-top: 0.5%;}
.logo a{display: block;position: absolute;}
.logo .a1{width: 7.8%;padding: 3.4% 0;top: 28.5%;left: 2.8%;}
.logo .a2{width: 16.6%;padding: 5% 0;top:18%;right: 2.8%;}

.banner{margin-top: 1%;}
.banner img{ display:block;}
nav{ position:relative;}
nav ul{overflow:hidden;width:75%;}
nav ul li{ background:#f0f0f0; float:left;width: -moz-calc(100%/3 - 0.1rem);width: -webkit-calc(100%/3 - 0.1rem); width: calc(100%/3 - 0.1rem);margin-top:0.1rem; margin-right:0.1rem;}
nav ul li a{ color:#262d3f; display:block; text-align:center; padding:0.75rem 0;}
nav ul li a{ color:#262d3f;}
nav ul li a>img{width:1.9rem; display:inline-block; vertical-align:middle;position:relative;top:-0.1rem;}
nav ul li a span{ position:relative;}
nav ul li a span img{ position:absolute;right:0;bottom:100%;width:1.55rem;}

.favorable{ display:block; text-align:center; color:#ffff00;width: 25%; font-size:1.2rem; position:absolute;right:0;top:0;height:100%; background:#04a6e3;}
.favorable img{width:41%; display:block; margin:0 auto 0.3rem;}
.favorable b{-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%; display:block; position:absolute; text-align:center;width:100%;color:#ffff00;}

.message{background-color: #fff;overflow: hidden;margin-top: 1%;padding: 1% 0;}
.message .fl{width: 7.5%;text-align: center;height: 2.5rem;line-height: 2.5rem;}
.message .fl img{vertical-align: sub;width: 50%;display: inline-block;}
.message .slide{width: 90%;margin-right: 2%;text-align: left;overflow: hidden;float: right;
    border-left: none;height: 2.5rem;line-height: 2.5rem;}
.message .slide span{margin-left: 2%;font-size: 0.12rem;color: #008aca;float: left;}
.message .slide .slide1{overflow: hidden;}
.message .slide .slide1 li{float: left;line-height: 1.7;font-size: 1.2rem;margin-right:30px;}
.message .slide .slide1 li a{font-size: 1.4rem;color: #04a6e3;white-space:nowrap;}

.content h2{font-size: 1.2rem;color: #6e6e6e;}
.content h2 a{color: #6e6e6e;line-height: 2rem;}
.content .cont{padding:0 3.75% 5% 3.75%;background-color: #f6f6f6;}
.cont h3{text-align: center;font-size: 1.4rem;color: #04a6e3;line-height: 3rem;}
.cont h3 a{padding: 0.1rem 2%;background-color: #e70a0a;color: #fff;font-size: 1.2rem;
    -webkit-border-radius: 5px;margin-left: 2%;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.cont h4{padding: 1% 0;background: url("../images/article-07.jpg") no-repeat;background-size: 100% 100%;
          font-size: 1rem;text-align: center;color: #f9716e;margin-bottom: 2%;}
.cont h4 span{margin-left: 2%;}
.cont h4 a{color: #f9716e;}
.cont p{font-size: 1.2rem;line-height: 1.7rem;color: #6e6e6e;text-indent: 2em;}
.cont h5{color: #ff9900;text-indent: 2em;font-size: 1.2rem;font-weight: normal;}

.cont-01{padding: 2% 0;text-align: center;}
.cont-01 a{font-size: 1rem;display: inline-block;color: #04a6e3;}

.content .btn{width: 73%;margin: 0 auto;background:url("../images/article-01.jpg") no-repeat;
            background-size: 100% 100%;text-align: center;padding: 2% 0;padding-left: 44%;}
.content .btn a{color: #ff9900;}

.doctor{margin-top: 4%;position: relative;}
.doctor-float{position: absolute;width: 79%;left: 20%;top: 3%;}
.doctor-float h2{font-size: 1.6rem;color: #ff9900;font-weight: bold;}
.doctor-float h2 span{color: #6e6e6e;font-size: 1.4rem;margin-left: 2%;}

.doctor-float .d1{ margin-top: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.d1 .left{position: relative;background: url("../images/article-04.jpg") no-repeat;background-size: 100% 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 16px;
}
.d1 .left span{display: block;width: 100%;text-align: center;
    position: absolute;top: 50%;color: #fff;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.d1 .right{overflow: hidden;
    -webkit-box-flex: 14.7;
    -moz-box-flex: 14.7;
    -webkit-flex: 14.7;
    -ms-flex: 14.7;
    flex: 14.7;
    width: 235px;border: 1px solid #04a6e3;border-left: none;
}
.d1 .right p{font-size: 1.2rem;line-height: 1.5rem;padding: 1% 2%;}

.d2{ margin-top: 2%;background: url("../images/article-05.png") no-repeat;background-size: 100% 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;}
.d2 .left{position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 28px;border-right: 1px solid #b3e4f7;
}
.d2 .left span{display: block;width: 100%;text-align: center;font-size: 1.2rem;color: #04a6e3;
    position: absolute;top: 50%;line-height: 1.4rem;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.d2 .right{overflow: hidden;
    -webkit-box-flex: 7;
    -moz-box-flex: 7;
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
    width: 195px;
}
.d2 .right p{font-size: 1.2rem;line-height: 1.4rem;padding: 1% 2%;}


.more{margin-top: 5%;}
.more h2{padding: 2%;background: url("../images/article-06.jpg") no-repeat;background-size: 100% 100%;
         border-left: 3px solid #04a6e3;color: #04a6e3;font-weight: bold;}
.more ul li{margin-top: 1%;padding: 1% 2%;
             background: #f6f6f6 url("../images/article-03.png") no-repeat 99% center;
             background-size: 5% 50%}
.more ul li a{font-size: 1.2rem;color: #04a6e3;}
.more ul li a img{width: 5%;margin-left: 2%;vertical-align: text-top;}



.cont-02 ul{overflow:hidden;margin-top: 3%;text-align: center;}
.cont-02 ul li{margin-right: 1%;text-align: center;border: 1px solid #969696;padding: 0 1%;
                  display: inline-block;height: 2rem;line-height: 2rem;}
.cont-02 ul li:last-of-type{margin-right: 0;}
.cont-02 ul li a{color: #969696;font-size: 1.2rem;}

.part6{margin-top: 3%;}
.part6 .up{overflow: hidden;}
.part6 .up img{width: 49.5%;margin-right: 1%;float: left;}
.part6 .up img:last-of-type{margin-right: 0;}
.part6-01{width: 97%;margin: 3.3% auto;background: url("../images/part6-03.jpg") no-repeat center center;background-size: 100% 100%;
    overflow: hidden;}
.part6-01 li{width: 17.5%;margin-right: 10%;float: left;text-align: center;padding: 1.7% 0;background-color: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part6-01 li:last-of-type{margin-right: 0;}
.part6-01 li img{display: inline-block;width: 50%;}
.part6-01 li p{font-size: 1.2rem;color: #2e3642;}
.part6-02{margin-top: 2%;padding-left: 12.5%;text-align: left;}
.part6-02 li{margin-bottom: 3%;height: 2rem;line-height: 2rem;font-size: 1.4rem;}
.part6-02 li input,.part6-02 li select{border: 1px solid #d7d7d7;height: 2rem;line-height: 2rem;color: #c4c4c3;padding-left: 3%;
    font-size: 1.4rem;}
.part6-02 li input{width: 45%;}
.part6-02 li select{width: 60%;}
.part6 .btn{width: 56%;margin: 0 auto;overflow: hidden;}
.part6 .btn input,.part6 .btn a{display: block;width: 40%;float: left;background-color: #04a6e3;height: 2.8rem;line-height: 2.8rem;
    -webkit-border-radius: 5px;text-align: center;font-size: 1.4rem;color: #fff;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.part6 .btn input{margin-right: 10%;border: none;background-color: #f9716e;}

.search-01{padding: 3.4% 5.6%;background-color: #f0f0f0;margin-top: 3%;}
.search-01>div{border: 1px solid #04a6e3;overflow: hidden;}
.search-01 input,.search-01 a{display: block;float: left;height: 3rem;line-height: 3rem;font-size: 1.6rem;font-weight: bold;
                         color: #7f8289;}
.search-01 input{width: 65%;border: none;text-indent: 1em;}
.search-01 a{width: 35%;background-color: #04a6e3;color: #fff;text-align: center;}
.search-01 a img{display: inline-block;width: 15%;vertical-align: middle;margin-right: 5%;}

.part7{background-color: #04a6e3;margin-top: 0.5rem;}
.part7 h2{font-size: 2rem;font-weight: bold;color: #fff;text-align: center;padding: 2% 0;}
.part7-01{padding: 4% 0;border-top: 1px solid #82d3f1;border-bottom: 1px solid #82d3f1;overflow: hidden;}
.part7-01 .fl{width: 81%;}
.part7-01 ul{padding: 0 2.5%;border-right: 1px dashed #62cff1;}
.part7-01 ul li{margin-bottom: 2.5%;}
.part7-01 .fr{width: 19%;text-align: center;}
.part7-01 .fr h3{font-size: 1.2rem;color: #89d1f3;margin-top: 50%;}
.part7-01 .fr img{display: inline-block;}
.part7-01 .fr img:first-of-type{margin-top: 20%;width: 70%;}
.part7-01 .fr img:nth-of-type(2){margin-top: 25%;width: 80%;}
.subnav{padding: 2.5%;}
.subnav ul{overflow: hidden;}
.subnav ul li{width: 18%;margin-right: 2.5%;float: left;}
.subnav ul li:last-of-type{margin-right: 0;}
.subnav ul li a{display: block;}
.subnav ul li p{text-align: center;margin-top: 5%;font-size: 1.2rem;color: #fff;}

footer{margin-top: 5px;padding: 5% 0 12.5% 0;background-color: #585e68;}
footer p{font-size: 1.4rem;color: #fff;text-align: center;}
/*7-16*/
.banner a{
    display: block;
    width: 100%;
}
.banner a img{
    width: 100%;
}
.hd{
    margin-top: 1%;
}