body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,aside,article,footer,section{margin:0;padding:0;font-family:"微软雅黑"}
  body,html{height:100%;width:100%;background:#ffffff}
  #wrap{width:1100px;margin:auto;box-shadow:0 0 15px 0px #ccc;padding:0 10px;position:relative;height:2200px;}
  header{height:90px;}
  nav{height:50px;}
  nav ul{height:50px;margin-left:50px}
  nav ul li{list-style:none;float:left;height:40px;margin:0 20px;color:rgb(119,119,119);line-height:50px;font-weight:bold;font-size:16px;cursor:pointer}
  nav ul li:hover{border-bottom:3px solid rgb(204,0,0);}
  #left{width:180px;background:rgb(239,239,239);float:left;height:2000px}
  #left section.title{background:rgb(190,190,190);line-height:45px;height:45px;color:#fff;text-align:center;letter-spacing:1px;font-size:20px;font-weight:bold}
  #left section.con{margin:0 10px}
  #left section.con dt{margin-top:15px;font-size:15px;font-weight:bold}
  #left section.con dd{font-size:13px;cursor:pointer}
  #left section.con dd:hover{text-decoration:underline}
  #right{width:180px;background:rgb(239,239,239);float:right;height:2000px;}
  #right h4{margin:20px 0;padding-left:15px;}
  #right input{height:25px;width:120px;border:none;margin:0 10px;float:left}
  #right span{;height:25px;width:25px;background:rgb(174,65,65);color:#fff;font-size:15px;cursor:pointer;float:left;line-height:25px;text-align:center}
  #text input.page{margin-left:10px;} 
  #title{border-bottom:1px solid #000;margin:10px;padding-bottom:10px;}
  #wenzhang{border-top:1px solid #000;margin:10px;padding:20px 10px;overflow:auto;height:1850px}
  #right ul{list-style:none;}
  #right li{font-size:14px;margin:10px 0;cursor:pointer}
  #right li:hover{text-decoration:underline;color:blue;}
  #text{width:710px;float:left;margin-left:15px;background:rgb(239,239,239);height:2000px;}
  footer{width:1100px;height:50px;background:rgb(182,182,182);position:absolute;left:10px;bottom:0}
  #wenzhang table{text-align:center;font-weight:bold;margin:10px 0}
  #wenzhang textarea{background:#99cccc;border:2px dashed #333399;display:block}
  #wenzhang .dmshow{background:#99cccc;border:2px dashed #333399;width:600px;font-size:20px;font-weight:bold;padding:10px 5px}
  #wenzhang details summary{font-size:20px;font-weight:bold;}
  #wenzhang details p{margin-left:10px;background:#99cccc;border:2px dashed #333399;font-size:15px;font-weight:bold;padding:10px 5px}
  #wenzhang iframe{margin-top:20px}
  #wenzhang h3{font-size:25px;margin-bottom:10px;}
  #wenzhang img{max-width:650px}
  #wenzhang details img{max-width:632px}