*{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
/* flex */
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* float */
.clear:after{
  display: table;
  content: "";
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
/* clear margin-top */
.clearMtop:before{
  display: table;
  content: "";
}
.block{
  display: block;
  width: 100%;
}
/*header*/
header{
  position: relative;
}
/*section*/
section{
  background-image: url(../images/section_bg01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: .2rem;
  padding-bottom: 1.5rem;
}
section:before,
.content:before{
  display: table;
  content: "";
}
.content{
  width: 8.533333rem;
  margin: 0 auto;
}
.item{
  overflow: hidden;
}
.same-top{
  margin-top: 0.866667rem;
}
.same-padding{
  padding-top: .4rem;
}
/*[class^="icon-"]*/
[class^="icon-"]{
  width: 2.266667rem;
  height: 2.266667rem;
  float: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.icon-one{
  background-image: url(../images/circle_01.png);
}
.icon-two{
  background-image: url(../images/circle_02.png);
}
.icon-three{
  background-image: url(../images/circle_03.png);
}
.item-info{
  width: 5.733333rem;
  float: right;
}
.item-info p{
  font-size: 0.4rem;
  color: #fff;
  line-height: .65rem;
}
.section-bottom{
  width: 100%;
  height: 1.813333rem;
  background-image: url(../images/section_bg02.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section-btn{
  width: 6.266667rem;
  margin: 0 auto;
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
  color: #fff;
  font-size: 0.373333rem;
  background-image: url(../images/btn_07.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/*list-box*/
.list-box{
  width: 100%;
  background-image: url(../images/list_bg01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 0.8rem;
}
.list-title{
  width: 8.933333rem;
  margin: 0 auto;
}
.list-title:after{
  display: table;
  content:"";
  clear: both;
}
.list-title li{
  float: left;
  width: 50%;
  text-align: center;
  color: #666;
  padding-bottom:.4rem;
  cursor: pointer;
}
.list-title li span{
  padding: .15rem;
}
.selected span{
  border-bottom: 0.106667rem solid #FF0000;
}











/*list*/
.list{
  width: 8.666667rem;
  margin: 0 auto;
  margin-top: .25rem;
}
.users-list{
  display:none;
}
.users-list.block{
  display: block;
}
.users-list li{
  padding-bottom: .35rem;
  padding-top: .35rem;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.user-info{
  float: left;
  width: 2.266667rem;
}
.user-img{
  width: 1.266667rem;
  margin: 0 auto;
  height: 1.266667rem;
  border-radius: 50%;
  padding: 0.08rem;
  box-shadow: 3px 0 5px #ccc;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.user-img img{
  width: auto;
  height: 100%;
  position: absolute;
  left: -100%;
  top: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 0.013333rem solid #fff;
  z-index: 8;
}
.user-info p{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: .1rem auto;
  color: #666;
  text-align: center;
}
/*追蹤狀態*/
.user-info>i{
  display: block;
  width: 1.213333rem;
  height: 0.48rem;
  margin: 0 auto;
  background-image: url(../images/icon_02.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.follow.none{
  display: none;
}
/*user-content*/
.user-content{
  width: 6rem;
  float: left;
  color: #666;
  margin-left: .3rem;
}
.user-msg{
  height: 2rem;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.has-img p{
  text-indent: 2em;
}
.has-img:before{
  display: table;
  content: "";
  width: 0.333333rem;
  height: 0.333333rem;
  background-image: url(../images/icon_01.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left:0.15rem;
  top: 0.05rem;
}
.user-icon{
  overflow: hidden;
}
.user-icon b,
.user-icon span{
  float: left;
  padding-left: .6rem;
  position: relative;
  color: #666;
  font-weight: 100;
  margin-left: .2rem;
}

.user-icon b:before,
.user-icon span:before{
  display: table;
  content: "";
  width: 0.4rem;
  height: 0.333333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
}
.user-icon b:before{
  background-image: url(../images/icon_03.png);
}
.user-icon span:before{
  background-image: url(../images/icon_04.png);
}
/*same-more*/
.same-more{
  width: 100%;
  height: 2.266667rem;
  background-image: url(../images/list_bg02.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.same-more p{
  color: #F68180;
  text-align: center;
  font-size: 0.426667rem;
}
.same-more span{
  display: block;
  width: 0.373333rem;
  height: 0.373333rem;
  margin:.15rem auto;
  background-image: url(../images/load_more_09.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#loadHot,
#loadNew{
  width: 2.266667rem;
  margin:0 auto;
  padding-top: .35rem;
  display: none;
}
#loadHot.block,
#loadNew.block{
  display: block;
}
/*footer*/
footer{
  padding: .6rem 0;
}
footer p{
  text-align: center;
  color: #666;
}
footer span{
  display: block;
  width: 0.68rem;
  height: 0.053333rem;
  margin:0 auto;
  background: #F58080;
  margin-bottom: .3rem;
}
.none{
  display: none;
}