*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing:border-box;
    outline: none;
}
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.text-center{
    text-align: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.vis-show{
    visibility: visible;
}
.vis-hide{
    visibility: hidden;
}
.content,.rule{
    width: 100%;
    background-image: url(../images/bg_02.png);
}
header{
    position: relative;
}
header img{
    display: block;
    width: 100%;
}
.detial-btn{
    position: absolute;
    width: 2.533333rem;
    right: 0;
    top:5.4rem;
    z-index: 10;
}
.main-title{
    position: relative;
}
.block{
    display: block;
    width: 100%;
}
.main-me{
    position: absolute;
    top: 0;
    left: 50%;
    width: 4.0rem;
    height: 2.693333rem;
    transform:translateX(-50%);
    text-align: center;
}
.all-btn{
    position: absolute;
    width: 2.693333rem;
    right: 0;
    top: 0.773333rem;
}

.main-meimg{
    width: 2.08rem;
    margin: 0 auto;
    height: 2.08rem;
    border: 0.04rem solid #B37DFD;
    border-radius: 50%;
    padding: 0.08rem;
    box-shadow:inset 0 0 0.133333rem #B37DFD; 
}
.main-meimg img{
    display: block;
    width: 100%;
}
.main-me h6{
    color: #fff;
}
.main-me p{
    margin: 0 auto;
    width: 2.08rem;
    background:#AA91FF;
    font-size: 0.32rem;
    padding: 0.053333rem 0;
    text-align: center;
}

/* main-lists */
.main-lists{
    margin-top: 0.933333rem;
}
.main-lists ul+ul{
    margin-top: 0.933333rem;
}
.lists{
    width: 9.293333rem;
    margin: 0 auto;
    padding-bottom: 0.6rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.list-border{
    position: relative;
}
.list-border:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-top: 0.013333rem solid #000;
    border-bottom: 0.013333rem solid #7D6FA0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.lists li{
    /* width: 2.76rem; */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.same-bg{
    width: 2.76rem;
    height: 4.453333rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.inner-box{
    width: 2.52rem;
    height: 4.266667rem;
    margin: 0 auto;
    position: relative;
}
.inner-box>img{
    display: block;
    width: 100%;
}
/* 5种相框的样式：outbg-one---outbg-four */
[class^="outbg-"]{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
/* 0 只有白色边框*/
.white{
    border: 0.133333rem solid #fff;
}
.outbg-one{
    background-image: url(../images/out_big01.png);
}
.outbg-two{
    background-image: url(../images/out_big02.png);
}
.outbg-three{
    background-image: url(../images/out_big03.png);
}
.outbg-four{
    background-image: url(../images/out_big04.png);
}

.lists li+li{
    margin-left: 0.506667rem;
}
.mask{
    /* background: rgba(0,0,0,.7); */
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}
.mask:before{
    display: table;
    content: "";
}
.mask-up{
    display: block;
    width: 1.413333rem;
    margin: 0 auto;
    margin-top: 0.933333rem;
}
.mask-lock{
    width: 0.8rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mask p{
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 0.2rem;
    font-size: 0.266667rem;
}
/* button */
.lists button{
    display: block;
    background: #3A3841;
    color: #fff;
    width: 1.866667rem;
    margin: 0 auto;
    margin-top: 0.066667rem;
    padding: 0.053333rem 0;
    border-radius: 0.266667rem;
}
.lists li>p{
    text-align: center;
    color: #fff;
    font-size: 0.16rem;
    margin-top: 0.066667rem;
}
.lists li>p span{
    color: #A389FA;
}
/* contributors */
.contributors{
    position: absolute;
    left: -0.066667rem;
    top: -0.4rem;
    width: 100%;
    z-index: 20;
}
.contributors:before{
    display: table;
    content:"";
}
.contributors img{
    display: block;
    width: 0.933333rem;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    z-index: 10;
    border: 0.04rem solid;
}
.contributors p{
    padding: 0.026667rem 0.266667rem;
    color: #fff;
    text-align: right;
    font-style: italic;
    border-radius: 0.266667rem;
    margin-top: 0.2rem;
    font-size: 0.266667rem;
    box-shadow: 0.026667rem 0.026667rem 0.026667rem #3D2F5A;
}
.contributors b{
    display: block;
    width: 0.466667rem;
    height: 0.533333rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0.666667rem;
    top:-0.106667rem;
    z-index: 15;
}
/* 四种相框级别的样式 */
/* star-one---star-four */
/* 青铜 */
.star-one img{
    border-color: #E8C174;
}
.star-one p{
    background: #E8C174;
}
.star-one b{
    background-image: url(../images/icon_star01.png);
}
/* 白银 */
.star-two img{
    border-color: #A5B9CE;
}
.star-two p{
    background: #A5B9CE;
}
.star-two b{
    background-image: url(../images/icon_star02.png);
}
/* 黄金 */
.star-three img{
    border-color: #FFD752;
}
.star-three p{
    background: #FFD752;
}
.star-three b{
    background-image: url(../images/icon_star03.png);
}
/* 钻石 */
.star-four img{
    border-color: #CA99EA;
}
.star-four p{
    background: #CA99EA;
}
.star-four b{
    background-image: url(../images/icon_star04.png);
}



/* footer */
footer{
    margin-top: 0.933333rem;
}
.footer-tips{
    width: 90%;
    margin: 0 auto;
    margin-top: 0.906667rem;
    color: #fff;
    background: #65548E;
    padding: 0.066667rem 0.3rem 0.4rem 0.4rem;
    border-radius:1.066667rem;
}
.footer-share{
    display: block;
    width: 4.533333rem;
    margin: 0 auto;
}
.footer-tips h3{
    text-align: center;
    margin-bottom: 0.133333rem;
}
/* 活动细则弹出层 */
.rule{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    display: none;
}
.rule p{
    padding: 0 0.86rem;
    color: #DDC3FF;
    margin-top: 0.4rem;
}
.rule-top{
    position: relative;
}
.top-msg{
    position: absolute;
    left: 0;
    top: 1.066667rem;
}
.top-msg p span{
    color: #E669E6;
}
.rule-middle>img{
    display: block;
    width: 3.52rem;
    margin: 0.266667rem auto;
}
.rule-middle p{
    overflow: hidden;
}
.rule-middle p img{
    width: 0.533333rem;
    margin-right: 0.333333rem;
    float: left;
}
.detial-line span{
    float: left;
    height: 0.633333rem;
    line-height: 0.633333rem;
}
.rule-detial{
    margin-top: 0.733333rem;
}
.rule-detial img{
    display: block;
    width: 100%;
}