html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video, button { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
html { -webkit-text-size-adjust: none; font-size: 75px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); background-color: #fff !important; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {display: block;}
a {text-decoration: none;}
.clearfix:after {content: ""; display: block; clear: both;}
body{background:url(../images/bodyBg.jpg) repeat-y;}
.headImg{width:100%;}
.listBox{width:100%;background:url(../images/listBg.png) no-repeat center top;background-size:100%;padding-top:0.84rem;}
.listBox .titleTab{width:100%;background:url(../images/tabBg.png) no-repeat center top;background-size:100%;padding:0.08rem 0.5333rem;box-sizing:border-box;}
.listBox .titleTab li{float:left;width:2.9466rem;height:0.8933rem;line-height:0.8933rem;font-size:0.3554rem;text-align: center;color:#fff;box-sizing:border-box;}
.listBox .titleTab li.anchor{border-right:#646adb solid 1px;}
.listBox .titleTab li.explain{border-left:#646adb solid 1px;}
.listBox .titleTab li.currentTab{height:1.08rem;line-height:1.08rem;margin-top:-0.08rem;background:#d05965;font-weight:bold;border:0;font-size:0.4088rem;}
.listBox .anchorBox{margin-top:0.3333rem;display:block;}
.listBox  .topThreeBox{position:relative;height:5.1333rem;}
.listBox  .topThreeBox li{position:absolute;}
.listBox  .topThreeBox li.firstInfo{width:3.0133rem;left:50%;top:0;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);}
.listBox  .topThreeBox li .avatarArea{position:relative;}
.listBox  .topThreeBox li.firstInfo .avatarArea .anchorAvtar{width:2rem;height:2rem;position:absolute;left:50%;top:0.3633rem;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);border-radius:50%;}
.listBox  .topThreeBox li.firstInfo .avatarArea .avatarBg{width:2.1333rem;position:relative;z-index:10;margin:0 auto;}
.listBox  .topThreeBox li.firstInfo .avatarArea .anchorName{width:100%;font-size:0.32rem;text-align: center;color:#ffdf0a;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;margin-top:0.1333rem;}
.listBox  .topThreeBox li .avatarArea .gold{width:2.36rem;height:0.5733rem;line-height:0.5733rem;border-top:1px solid #88809a;border-bottom:1px solid #88809a;margin:0.1733rem auto 0;font-size:0.32rem;color:#fff;padding-left:0.6rem;background:url(../images/gold.png) no-repeat 0.0133rem center;background-size:0.4133rem 0.3466rem;box-sizing:border-box;}
.listBox  .topThreeBox li.secondInfo{width:2.4933rem;left:0.52rem;top:1.9733rem;}
.listBox  .topThreeBox li .avatarArea .anchorAvtar{width:1.6266rem;height:1.6266rem;border-radius:50%;position:absolute;left:50%;top:0.2933rem;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);}
.listBox  .topThreeBox li .avatarArea .avatarBg{width:1.7066rem;position:relative;z-index:10;margin:0 auto;}
.listBox  .topThreeBox li .avatarArea .anchorName{width:100%;font-size:0.32rem;text-align: center;color:#e5e5e5;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;margin-top:0.1733rem;}
.listBox  .topThreeBox li.secondInfo .avatarArea .gold{margin-top:0.1733rem;}
.listBox  .topThreeBox li.thirdInfo{width:2.4933rem;right:0.5466rem;top:1.9733rem;}
.listBox  .topThreeBox li.thirdInfo .avatarArea .anchorName{color:#f1b06b;}
.listBox  .fourToTen{width:8.44rem;margin:0.3866rem auto 0;}
.listBox  .fourToTen li{padding:0.3466rem 0 0.32rem 0.6933rem;border-bottom:solid #87809a 1px;}
.listBox  .fourToTen li .order{float:left;font-size:0.32rem;color:#ffdf0a;margin-top:0.4266rem;}
.listBox  .fourToTen li .anchorAvtar{float:left;width:1.0666rem;height:1.0666rem;border-radius:50%;border:solid 1px #fff;margin-left:0.4133rem;}
.listBox  .fourToTen li .anchorInfo{float:left;margin-left:0.56rem;}
.listBox  .fourToTen li .anchorInfo .anchorName{font-size:0.32rem;color:#ffdf0a;margin-top:0.1333rem;}
.listBox  .fourToTen li .anchorInfo .gold{font-size:0.32rem;color:#fff;padding-left:0.56rem;background:url(../images/gold.png) no-repeat 0.0133rem center;background-size:0.4133rem 0.3466rem;margin-top:0.1866rem;}
.listBox  .lastList{width:8.44rem;margin:0 auto;}
.listBox  .lastList li{padding:0.4266rem 0;float:left;width:4.2196rem;box-sizing:border-box;border-bottom:solid #87809a 1px;}
.listBox  .lastList li:nth-child(2n+1){padding-left:0.6933rem;border-right:solid #87809a 1px}
.listBox  .lastList li:nth-child(2n){padding-left:0.4133rem;}
.listBox  .lastList li .order{float:left;margin-top:0.2533rem;font-size:0.32rem;color:#ffdf0a;}
.listBox  .lastList li .anchorAvtar{float:left;width:0.8933rem;height:0.8933rem;border-radius:50%;border:solid 1px #fff;margin-left:0.1133rem;}
.listBox  .lastList li .anchorInfo{float:left;margin-left:0.066rem;}
.listBox  .lastList li .anchorInfo .anchorName{font-size:0.32rem;width:1.44rem;color:#ffdf0a;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top:0.08rem;-webkit-transform:scale(0.8);}
.listBox  .lastList li .anchorInfo .gold{font-size:0.32rem;color:#fff;padding-left:0.56rem;background:url(../images/gold.png) no-repeat 0.0133rem center;background-size:0.4133rem 0.3466rem;margin-top:0.03rem;-webkit-transform:scale(0.8);}
.listBox  .rankingListExplain{margin-top:0.7466rem;}
.listBox  .rankingListExplain p{font-size:0.32rem;color:#fff;line-height:150%;padding:0 0.7866rem;text-align: justify;}
.bottomWord{margin-top:3.64rem;width:100%;}

/*贡献榜*/
.listBox .contributeList {display:none;margin-top:0.3333rem}
.listBox .contributeList .topThreeBox li .avatarArea .gold{width:2.36rem;height:0.5733rem;line-height:0.5733rem;border-top:1px solid #88809a;border-bottom:1px solid #88809a;margin:0.1733rem auto 0;font-size:0.32rem;color:#fff;padding-left:0.6rem;background:url(../images/lhIcon.png) no-repeat 0.0133rem center;background-size:0.4rem 0.4266rem;box-sizing:border-box;}
.listBox .contributeList .fourToTen li .anchorInfo .gold{font-size:0.32rem;color:#fff;padding-left:0.56rem;background:url(../images/lhIcon.png) no-repeat 0.0133rem center;background-size:0.4rem 0.4266rem;margin-top:0.1866rem;height:0.44rem;line-height:0.44rem;}
.listBox .contributeList .fourToTen li .order{float:left;font-size:0.32rem;color:#7fffe2;margin-top:0.4266rem;}
.listBox .contributeList .fourToTen li .anchorInfo .anchorName{font-size:0.32rem;color:#7fffe2;margin-top:0.1333rem;}

/*活动说明*/
.explainBox{display: none;padding:0.48rem 0.6133rem 0 0.5466rem;}
.activityTime h1{font-size:0.4088rem;color:#fff;font-weight:bold;border-bottom:solid #4297d7 1px;display:inline-block;padding-bottom:0.1333rem;}
.activityTime p{font-size:0.3554rem;color:#fff;margin-top:0.1333rem;}
.activityTime p span{color:#e2a67f;}

.activityRules{margin-top:0.8rem;}
.activityRules h1{padding-bottom: 0.1333rem;display:inline-block;border-bottom:solid #4297d7 1px;font-size:0.4088rem;color:#fff;margin-bottom:0.1066rem;}
.activityRules ol{list-style-type: decimal;margin-left:0.5466rem;}
.activityRules li{font-size:0.3554rem;color:#fff;line-height:170%; text-align: justify;word-break:break-all;}

.activityRule-cash{
	color: white;
	background: rgb(66,151,215);
	padding-left:0.2rem;
}
.activityFb{
	width:8.16rem;
	height: 3.35rem;
	margin: 1rem auto 0rem;
	padding: 0.3066rem 0.3rem 0.3rem;
	background: url(../images/fbbg.png) no-repeat;
	background-size:100% 100% ;
	box-sizing: border-box;
}

.activityFb-top{
	font-size: 0.2666rem;
	color: white;
	padding: 0rem 0rem 0.3rem 0.6rem;
}
.activityFb-top a{
	font-size: 0.36rem;
	color: rgb(66,151,215);
	letter-spacing: 1;
}
.activityFb-1{
	font-size: 0.2666rem;
	color: white;
	padding: 0rem 0rem 0rem 0.6rem;
	line-height: 0.45rem;

}
.activityFb-1 a{
	color: rgb(106,240,175);
	text-decoration: underline;
}

.checkRule{
	margin: 0.5866rem auto 0rem;
	width: 5.4133rem;
	height: 0.8rem;
	background: url(../images/checkRule.png) no-repeat;
	background-size:100% 100% ;
}

.activeBg{
	margin: 1rem auto 0rem;
	width:8.16rem;
	height:1.44rem ;
	background: rgba(32,37,89,0.6);
	font-weight:bold;
	line-height: 1.44rem;
	text-align: center;
	font-size: 0.3554rem;
	color:#fff143;
	letter-spacing: 0.1rem;
}

.masterPriceList{
	margin:0.3466rem auto 0 ;
	width:8.16rem;
}

.masterPriceList .top{
	font-size: 0.2933rem;
	color: rgb(66,151,215);
	display: -webkit-flex;
	display: flex;
	padding-bottom: 0.4266rem;
	justify-content:space-around;
}
.masterPriceList .top li{
	display: inline-block;
	margin: 0rem 0.5rem 0 0rem;
}


.masterPriceList .topList{
	font-size: 0.2933rem;
	color: white;
	border-top: 1px #5e5477 solid;
	display: -webkit-flex;
	display: flex;
	padding-top:0.5rem ;
	padding-bottom:0.32rem;
	justify-content:space-around;
}
.masterPriceList .topList:nth-child(2){
	padding-bottom:0.56rem;
}
.masterPriceList .topList li{
	display: inline-block;
	text-align: center;
}
.masterPriceList .topList li:nth-of-type(2){
	width:2.7rem;
	margin-top:-0.1466rem;
}
.masterPriceList .topList li:nth-of-type(3){
	width:1.08rem;
}
.masterPriceList .topList li:nth-of-type(4){
	width:1.64rem;
}
.masterPriceList .topList li.appleWatch{margin-top:0;}
.masterPriceList .topList li.marginT{margin-top:-0.1466rem;}
.noticeList{
	font-size: 0.32rem;
	margin: 0.7333rem 0.2133rem 0rem 0.35rem;
	color: #fff;
	list-style-type: decimal;
	margin-left:0.8rem;
	text-align:justify;
}
.noticeList li{
	line-height:170%;
}


/*浮层*/
.ruleMask{
	width:100%;
	height:100%;
	overflow-y:auto;
	position:fixed;
	left:0;
	top:0;
	background:rgb(53,48,55);
	padding:0 1.0266rem 0 0.5466rem ;
	z-index:1000;
	box-sizing:border-box;

}
.maskActivityRule{
	width:1.6533rem;
	font-size: 0.4rem;
	color: #fff;
	margin:0.88rem 0 0 0rem;
	padding-bottom: 0.16rem;
	box-sizing:border-box;
	color:#fff796;
}
.ruleMask ol{
	list-style-type: decimal;margin-left:0.5466rem;
	color: #fff;
	font-size: 0.32rem;
	margin: 0 0 0.8133rem 0.5466rem;
}
.ruleMask ol li{
	line-height: 0.6rem;
	text-align: justify;
}
.ruleMask .noText{
	text-indent: 0rem;
	line-height: 0.6rem;
	line-height:170%;
}

/*关闭按钮*/
.switch{
	position: fixed;
	right: 0.2666rem;
	top:0.3733rem ;
	width:0.64rem;
}
/*返回头部按钮*/
.backTop{
	display:none;
	position: fixed;
	right: 0.2666rem;
	bottom:2.1333rem ;
	width:0.7rem;
}






















