*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

.clearfix:after{
   display: table;
    content: '';
    clear: both;
}


.will_left {
    float: left;
}
.will_right{
    float: right;
}

/**/
.will_middle{
    width: 1000px;
    margin: 0 auto;
}
.section_one{
    position: relative;
    height: 125px;
}
.section_one img{
    left: 0;
    top: 0;
    width: 100%;
    height:125px;
}
.slideBox{
    position: relative;
}
.hd{
    position: absolute;
    z-index: 888;
    right: 100px;
    bottom: 10px;
}
.hd ul li{
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #909189;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}
.hd ul li.on{
    background-color: #FC7C37;
}
/*section_two*/
.section_two{
    overflow: hidden;
}
.two_top{
    padding:10px;
    margin-top: 15px;
    border: 1px solid #EFEFEF;
    background-color: #F8F8F8;
}
.two_top h3{
    font-size: 20px;
    color: #565656;
    font-weight: normal;
    float: left;
}
.two_top .zoom{
    float: right;
    border: solid 1px #9d9d9d;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    padding-left: 16px;
}
.two_top .zoom .text{
    display: block;
    float: left;
    line-height: 28px;
}
.two_top .zoom .sub{
    width: 75px;
    float: right;
    display: block;
    background-color: #ececec;
    height: 28px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #792120;
}
/*two_infor*/
.two_infor{
    overflow: hidden;
}

.two_right{
    width: 306px;
}

h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}

.will_red{
    color: #FF254F;
}
.deep_red{
    color: #792120;
}
/*左边文章*/
.content1 {
    width: 683px;
    float: left;
    margin-top: 15px
}

.content1 .experts {
    width: 682px
}

.content1 .experts .pro {
    float: left;
    width: 132px
}

.content1 .experts .pro ul {
    margin-top: -3px
}

.content1 .experts .pro ul li {
    margin-top: 3px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 15px;
    background-color: gray
}
.content1 .experts .pro ul li.on{
    background-color: #792120;
}
.content1 .experts .pro ul li a {
    color: #fff;
    display: block;
    text-decoration: none
}

.content1 .experts .pro ul li a:before {
    width: 24px;
    height: 24px;
    display: inline-block;
    content: '';
    margin-right: 3px;
    vertical-align: middle;
    background: url(../images/article-banner1.png) no-repeat 100% 100%
}

.content1 .experts .pro ul li .a1:before {
    margin-top: -6px
}

.content1 .experts .pro ul li .a2:before {
    background: url(../images/article-banner2.png) no-repeat 100% 100%;
    margin-left: -14px;
    margin-right: 5px
}

.content1 .experts .pro ul li .a3:before {
    background: url(../images/article-banner3.png) no-repeat 100% 100%;
    margin-left: -10px;
    margin-right: 5px
}

.content1 .experts .pro ul li:hover {
    background-color: #792120
}

.content1 .experts .hospital {
    float: left;
    width: 547px;
    margin-left: 3px
}

.content1 .contain {
    margin-top: 15px;
    border: solid 1px #c4c4c4
}

.content1 .contain h4 {
    height: 52px;
    line-height: 52px;
    font-size: 22px;
    color: #6f2323;
    background: url(../images/article-title-bg.jpg) no-repeat 100% 100%;
    text-align: center
}

.content1 .contain .tain {
    margin: 13px 28px 0
}

.content1 .contain .tain p {
    font-size: 16px;
    line-height: 24px;
    text-indent: 2em
}

.content1 .contain .tain h5 {
    text-indent: 2em;
    color: #792120;
    font-size: 18px;
    line-height: 38px
}

.content1 .contain .tain .swt {
    margin: 30px 110px 0;
    height: 58px;
    line-height: 58px
}

.content1 .contain .tain .swt a {
    text-align: center;
    font-size: 24px;
    color: #fff;
    background-color: #792120;
    width: 180px;
    display: block;
    float: left
}

.content1 .contain .tain .swt .free {
    float: left;
    margin-left: 38px;
    background-color: #cb4300
}

.content1 .contain .list {
    margin: 40px 4px 0
}

.content1 .contain .list ul {
    background-color: #eee
}

.content1 .contain .list ul li {
    height: 36px;
    line-height: 36px;
    float: left;
    margin-left: 74px
}

.content1 .contain .list ul li span {
    font-size: 16px;
    color: #cb4300
}

.content1 .contain .ban2 {
    margin: 30px 4px 26px;
    position: relative
}

.content1 .contain .ban2 img {
    display: block
}

.content1 .contain .ban2 a {
    display: block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #cb4300;
    position: absolute;
    bottom: 13px
}

.content1 .contain .ban2 a:before {
    width: 25px;
    height: 23px;
    display: inline-block;
    content: '';
    background: url(../images/swt-img1.png) no-repeat 100% 100%;
    vertical-align: middle;
    margin-right: 5px
}

.content1 .contain .ban2 .b1 {
    left: 155px
}

.content1 .contain .ban2 .b2 {
    position: absolute;
    right: 235px;
    background-color: #792120
}

.content1 .contain .ban2 .b2:before {
    background: url(../images/swt-img2.png) no-repeat 100% 100%
}

.content1 .online {
    margin-top: 16px;
    position: relative
}

.content1 .online img {
    display: block
}

.content1 .online a {
    display: block;
    height: 36px;
    line-height: 36px;
    background-color: #cb4300;
    color: #fff;
    text-align: center;
    width: 150px;
    position: absolute;
    left: 252px;
    bottom: 12px;
    font-size: 16px
}
/*右边*/
.two_right .skill {
    margin-top: 10px
}

.two_right .skill h3 {
    background: url(../images/article-title-bg2.jpg) no-repeat 100% 100%
}

.two_right .skill a {
    display: block;
    margin-top: 10px
}

.two_right .skill a img {
    display: block
}

.two_right .friend1 {
    margin-top: 10px
}

.two_right .friend1 h3 {
    background: url(../images/article-title-bg3.jpg) no-repeat 100% 100%
}

.two_right .friend1 .shine1 {
    position: relative;
    margin-top: 7px;
    border: solid 1px #b0b0b0;
    padding: 36px 2px
}

.two_right .friend1 .shine1 .share1 ul li {
    width: 300px;
    height: 191px
}

.two_right .friend1 .shine1 .prev {
    display: block;
    width: 64px;
    height: 24px;
    position: absolute;
    background: url(../images/article-prev.jpg) no-repeat 100% 100%;
    top: 8px;
    left: 122px
}

.two_right .friend1 .shine1 .next {
    display: block;
    width: 64px;
    height: 24px;
    position: absolute;
    background: url(../images/article-next.jpg) no-repeat 100% 100%;
    bottom: 8px;
    left: 122px
}

.two_right .hot1 {
    margin-top: 10px
}

.two_right .hot1 h3 {
    background: url(../images/article-title-bg4.jpg) no-repeat 100% 100%
}

.two_right .hot1 ul {
    margin-top: 5px;
    border: solid 1px #c4c4c4;
    padding: 4px 3px 8px
}

.two_right .hot1 ul li {
    height: 31px;
    line-height: 31px;
    margin-top: 4px
}

.two_right .hot1 ul li a {
    display: block;
    float: left;
    text-align: center;
    border: solid 1px #b38888;
    color: #6f2323
}

.two_right .hot1 ul li .bg {
    background-color: #f8f8f8
}

.two_right .hot1 ul li .bg2 {
    margin-left: 4px
}

.two_right .hot1 ul li .w1,
.two_right .hot1 ul li .w11 {
    width: 142px
}

.two_right .hot1 ul li .w2,
.two_right .hot1 ul li .w12 {
    width: 152px
}

.two_right .hot1 ul li .w3 {
    width: 164px
}

.two_right .hot1 ul li .w4 {
    width: 130px
}

.two_right .hot1 ul li .w5 {
    width: 114px
}

.two_right .hot1 ul li .w6 {
    width: 180px
}

.two_right .hot1 ul li .w7 {
    width: 140px
}

.two_right .hot1 ul li .w8 {
    width: 154px
}

.two_right .hot1 ul li .w9 {
    width: 162px
}

.two_right .hot1 ul li .w10 {
    width: 132px
}

.two_right .rigTop {
    margin-top: 10px
}

.two_right .rigTop h3 {
    background: url(../images/article-title-bg5.jpg) no-repeat 100% 100%
}

.two_right .rigTop dl {
    border: solid 1px silver;
    padding: 4px
}

.two_right .rigTop dl dt img {
    display: block
}

.two_right .rigTop dl dd {
    margin-top: 5px;
    padding: 12px 22px;
    background-color: #eee;
    font-size: 16px
}

.two_right .rigTop dl dd span {
    color: #792120;
    font-weight: 700
}

.two_right .rigTop dl dd .p2 {
    margin-top: 10px
}

/*infor_hot*/
.infor_hot{
    margin-top: 15px;
    padding: 15px 0;
    border: 1px solid #ccc;
}
.infor_hot b{
    display: block;
    width: 100%;
    margin: 10px auto;
    height: 6px;
    background-image: url(../images/bg_repeat.png);
}
.infor_hot h4{
    padding-left: 8px;
}
.infor_hot ul{
    overflow: hidden;
}
.infor_hot li{
    float: left;
}
.infor_hot li.have_width{
    width: 224px;
}
.infor_hot li.have_left{
    margin-left:16px;
}
.infor_hot li.have_top{
    margin-top: 8px;
}
.infor_hot li a{
    text-decoration: none;
    color: #7F7F7F;
    font-size: 14px;
}
/*患者关注*/
.have_got{
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.got_left{
    padding: 1px;
    border-right: 1px solid #ccc;
}
.got_left h1{
    width: 58px;
    height: 144px;
    background-image: url(../images/two_hot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
}
.got_left h1 span{
    display: block;
    text-align: center;
}
/*got_right*/
.got_right{
    width: 600px;
}
.got_right ul{
    overflow: hidden;
}
.got_right li{
    float: left;
    border: 1px solid #792120;
}

.got_right li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    color: #792120;
}
/*1*/
.got_one li.one{
    width: 18%;
}
.got_one li.two{
    width: 40%;
}
/*2*/
.got_two li.one{
    width: 35%;
}
.got_two li.two{
    width: 36%;
}
.got_two li.three{
    width: 23%;
}
/*3*/
.got_three li.one{
    width: 46%;
}
.got_three li.two{
    width: 24%;
}
.got_one li.have_left{
    margin-left: 10px;
}
.got_two li.have_left,.got_three li.have_left{
    margin-left: 15px;
}
.got_right ul{
    margin-top: 13px;
}
/*two_space*/
.two_space{
    margin-top: 10px;
}
.two_space a{
    display: block;
    overflow: hidden;
}
.two_space img{
    width: 100%;
    float: left;
}
/*two_right*/
.two_right{
    margin-top: 10px;
}
.two_right h3{
    color: #fff;
    padding-left: 50px;
    line-height: 38px;
    height: 38px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.two_right_top h3{
    background-image: url(../images/two_tight_top.jpg);
}
.right_top_list p{
    color: #535353;
    margin-top: 6px;
}
.right_top_list{
    padding: 10px 4px;
    border:1px solid #ccc;
}
.right_top_list .b1{
    margin-left: 4px;
}
.right_top_list ul{
    overflow: hidden;
    margin-top: 8px;
     margin-left: 3px;
}
.right_top_list li{

    float: left;
    background-image: url(../images/top_right_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #792120;
}
.right_top_list li.have_left{
    margin-left: 8px;
}
.right_top_list li a{
    display: block;
    width: 89px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #792120;
    text-decoration: none;
}
.right_top_list>div{
    overflow: hidden;
    margin: 8px 0;
}
.right_top_list dl{
    float: left;
    text-align: center;
    margin-left: 23px;
    cursor: pointer;
}
.right_top_list>a{
    display: block;
}
.right_top_list>a img{
    width: 100%;
}
/*专家风采*/
.two_right_doc{
    margin-top: 13px;
}
.two_right_doc h3{
    background-image: url(../images/two_right_doc.jpg);
}
.Doctor_slideBox{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.doctor_bd{
    position: relative;
    height: 100%;
    z-index: 0;
}
.doctor_bd img{
    width: 100%;
    height: 213px;
}
.Doctor_slideBox .prev,.Doctor_slideBox .next{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-color: #BABAB8;
}
.Doctor_slideBox .prev{
    left: 3%;
}
.Doctor_slideBox .next{
    right: 3%;
    background-position: 8px 5px;
}
/*公益*/
/*power_lists*/
.power_lists{
    width: 1000px;
    margin-top: 30px;
}
.power_lists,.power_left ul{
    overflow: hidden;

}
.power_left{
    width: 240px;
    padding: 1px;
    border: 1px solid #ccc;
}
.power_left h3{
    color: #fff;
    height: 60px;
    background-image: url(../images/power_sum_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 60px;
    padding-left: 50px;
}
.power_left li{
    float: left;

}
.power_left li a:hover,.power_left li.have_selected a{
    background-color: #6F2424;
}
.power_left img{
    width: 100%;
}
.power_left li a{
    display: block;
    width: 117px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #707070;
}
.power_left li a.have_left{
     margin-left: 2px;
 }
.power_left li a.have_top{
    margin-top: 2px;
}
/*power_right */
.power_right{
    width: 743px;
    height: 417px;
    border: 1px solid #ccc;
    position: relative;
}
.power_same{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.power_same.will_hide{
    display: none;
}
.power_same.will_show{
    display: block;
    z-index: 88;
}
.power_same h3{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.power_same ul{
    overflow: hidden;
}
.power_same ul li{
    float: left;
}
.see_doct div{
    width: 100%;
    overflow: hidden;
}
.see_doct{
    width: 723px;
    margin: 10px;
}
/*power_environment*/
.power_environment{
    overflow: hidden;
    padding: 1px 6px;
}
.power_environment img,.sum_thanks img,.good_news img{
    float: left;
}
.power_environment img{
    height: 376px;
}
/*sum_thanks*/
.sum_thanks,.good_news{
    overflow: hidden;
    padding: 1px 0;
}
.sum_thanks img,.good_news img{
    margin-left: 5px;
}


/*底部*/
.footer1 {
    margin-top: 30px;
    background-color: #e6e6e6
}

.footer1 .nav2 {
    background-color: #6f2323;
    height: 50px;
    line-height: 50px
}

.footer1 .nav2 ul {
    width: 1000px;
    margin: 0 auto
}

.footer1 .nav2 ul li {
    width: 198px;
    float: left;
    font-size: 20px;
    border-left: solid 1px #7f4242;
    border-right: solid 1px #521515;
    text-align: center
}

.footer1 .nav2 ul li a {
    display: block;
    text-decoration: none;
    color: #fff
}

.footer1 .nav2 ul li a:before {
    vertical-align: middle;
    width: 36px;
    height: 31px;
    display: inline-block;
    content: '';
    background: url(../images/ar-foot1.png) no-repeat
}

.footer1 .nav2 ul .k1 a {
    border-left: solid 1px #521515
}

.footer1 .nav2 ul .k2 a:before {
    background: url(../images/ar-foot2.png) no-repeat
}

.footer1 .nav2 ul .k3 a:before {
    margin-right: 6px;
    background: url(../images/ar-foot3.png) no-repeat
}

.footer1 .nav2 ul .k4 a:before {
    background: url(../images/ar-foot4.png) no-repeat
}

.footer1 .nav2 ul .k5 a {
    border-right: solid 1px #7f4242
}

.footer1 .nav2 ul .k5 a:before {
    background: url(../images/ar-foot5.png) no-repeat
}

.footer1 .map1 {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 30px
}

.footer1 .map1 .mp2 {
    float: left
}

.footer1 .map1 .p5 {
    float: left;
    margin-left: 105px;
    font-size: 12px;
    line-height: 26px
}

.footer1 .map1 .case1 {
    float: right;
    border: solid 1px #c7acab;
    background-color: #fff;
    padding: 6px;
    position: relative
}

.footer1 .map1 .case1 ul li {
    float: left;
    text-align: center;
    width: 76px;
    font-size: 10px;
    border-right: solid 1px #dfdfdf
}

.footer1 .map1 .case1 ul li img {
    padding: 3px 0
}

.footer1 .map1 .case1 ul li p {
    line-height: 26px
}

.footer1 .map1 .case1 .u2 {
    border-top: solid 1px #dfdfdf
}

.footer1 .map1 .case1 .u2 img {
    padding-top: 9px
}

.footer1 .map1 .case1 .plus1 {
    position: absolute;
    top: 64px;
    left: 75px
}
.footer1 .map1 .case1 .plus2 {
    position: absolute;
    top: 64px;
    right: 75px
}
/*will_fixed*/
.right_top_list div a {
    float: left;
    display: block;
    overflow: hidden;
}
.will_fixed{
    position: fixed;
    top: 0;
    right:12.9%;
}
.rigTop {
    width: 306px;
    z-index:99;
    background-color: #fff;
}
.two_right h3{
    border: 1px solid #792120;
}
/*多说*/
.comment{
    width: 683px;
    height: 3500px;
}