@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-16 11:10:17
 * @version $Id$
 */
img{width:100%;display:block;}
.header{width:100%;position: relative;}
.header a{display: block;}
.header a img{width:2.826667rem;height:0.746667rem;bottom:0;right:0.533333rem;position: absolute;}
.content{background:url(../images/contentbg.png) no-repeat;
	width:100%;
	height: 20.346667rem;
	background-size:100% 100%;
}
.content .giftarea{
	width:100%;
	height:auto;
position: relative;}
.content .giftarea .myInfo{height:2.266667rem;
	width: 8.933333rem;
    left:0.533333rem;
    top:0.72rem;
    position: absolute;}
.content .giftarea .avatarBg {height:2.266667rem;
	width:2.266667rem;
    left:0.36rem;
    position: absolute;
    background: rgb(255,255,255);
    border-radius: 50%;}
.content .giftarea .avatarBg img{height:2.266667rem;
	width:2.266667rem;
border-radius: 50%;}
.content .giftarea .nickName{
    float: left;
    width: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.373333rem;
    font-weight: 100;
    padding-left:2.866667rem;
padding-top: 0.546667rem;}
.content .giftarea .progressBox{
	width: 3.773333rem;
    height: 0.28rem;
    background: #FDEAE8;
    border: solid 0.133333rem #fff;
    border-radius: 0.5rem;
    position: absolute;
    left: 2.866667rem;
    top: 1.186667rem;
}
.progress{
	width: 70%;
    height: 0.28rem;
    position: absolute;
    border-radius: 0.5rem;
    background-size: 3em 3em;
    background-image: linear-gradient(-45deg, transparent 0em, transparent 0.8em, #F3978B 0.9em, #F3978B 2.1em, transparent 2.1em, transparent 2.9em, #F3978B 3.1em);
    -webkit-animation: warning-animation 750ms infinite linear;
    -moz-animation: warning-animation 750ms infinite linear;
    animation: warning-animation 750ms infinite linear;
}
 .content .giftarea .progressBox .progress:before{content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.28rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top, #FDEAE8, rgba(253, 234, 232, 0.5) 15%, transparent 100%, #F3978B);}
.content .giftarea .progressBox .level{
	font-size:0.333333rem;
	left: 3.0rem ;
	position:absolute;
	color: #fff;
	
    top:0.366667rem;
}
.content .giftarea .levelicon{
	width:1.333333rem;
	height:1.333333rem;
	left:7.013333rem;
	top:0.72rem;
	position: absolute;
}
.content .giftarea .giftList{
	width: 89.3333%;
	left: 0.533333rem;
	position: absolute;
	top: 4.186667rem;
}
.content .giftarea .giftList ul{
	width:100%;
	text-align: center;
}
.content .giftarea .giftList ul li{
	width:33.33%;
	float:left;
}
.content .giftarea .giftList ul li img{
	width:2.0rem;
	height:1.733333rem;
	margin: 0 auto;
}
.content .giftarea .giftList ul li span{
	background:url(../images/spanbg.png) no-repeat center;
	color:#fff;
	width:2.293333rem;
	height: 0.4rem;
	font-size: 0.28rem;
	display: block;
	background-size: 100% 100% ;
	margin:0.24rem auto;
	/* padding-top: 0.2rem; */
}
.content .giftarea .giftList ul li p{
	color: #F3657B;
	font-size: 0.32rem;
}
.returnTop img{position: fixed;width:0.666667rem;
height:0.946667rem;right:0.133333rem;bottom:2.5rem;z-index:1000;}


/*如果為0 變灰色*/
.content .giftarea .giftList ul li.none{
	filter: grayscale(100%);
}