body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,font{padding:0; margin: 0; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;}
table{ border-collapse:collapse; border-spacing:0;width:100%;}
fieldset,img{ border:0; vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; font-size:100%;}
ol,ul,li,dl,dt,dd{ list-style:none;}
input,button,textarea,checkbox,select,radio,form{ vertical-align: top;}
a{ color:#000; text-decoration:none;}
a:link,a:visited{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.red,.red a{ color:#f00;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.hd{ overflow:hidden;}
.cen{width:1000px;margin:0 auto;}
body{ font-size:12px; color:#fff;font-family: "Microsoft Yahei";}

@font-face{
	/*font-family:'myfirst';*/
	font-family:'方正少儿简体';
	src:url('../font/myfirst.eot');
	src:url('../font/myfirst.eot#iefix')format('embedded-opentype'),
	url('../font/myfirst.woff')format('woff'),
	url('../font/myfirst.otf')format('truetype'),
	url('../font/myfirst.ttf')format('truetype'),
	url('../font/myfirst.svg')format('svg');
	}

.allbg{background:url(../images/allbg.jpg) top center no-repeat;max-width:1404px;-webkit-max-width:1404px;-moz-max-width:1404px;-o-max-width:1404px;-ms-max-width:1404px;margin:0 auto;}
.nav{margin:42px auto 12px;width:800px;}
.nav ul{overflow:hidden;}
.nav ul li{display:block;width:100px;float:left;margin-left:12px;}
.nav ul li a{display:block;text-align:center;font-family:"方正少儿简体";font-size:20px; text-decoration:none;-webkit-text-fill-color: fe0000;color:#fe0000;font-weight:bold;
-webkit-text-stroke: 1px #fff;}
.nav ul li a.one1{-webkit-text-fill-color:#fe0000;-moz-text-fill-color:#fe0000;-ms-text-fill-color:#fe0000;-o-text-fill-color:#fe0000;}
.nav ul li a.one2{-webkit-text-fill-color:#ff9422;}
.nav ul li a.one3{-webkit-text-fill-color:#af5b01;}
.nav ul li a.one4{-webkit-text-fill-color:#2e64ff;}
.nav ul li a.one5{-webkit-text-fill-color:#86a5fe;}
.nav ul li a.one6{-webkit-text-fill-color:#26b323;}
.nav ul li a.one7{-webkit-text-fill-color:#e958f2;}
.cen2{width:940px;margin:0 auto;}
.qgzschool{margin-top:50px;}
.qgzschool_l{width:303px;position:relative;}
.qgzschool_l a.letter,.qgzschool_l a.food{display:block;width:80px;height:70px;position:absolute;top:50px;z-index:99;}
.qgzschool_l a.letter{left:20px;}
.qgzschool_l a.food{right:34px;height:50px;}
.qgzschool_r,.qgzschool3_r{width:600px;margin-top:10px;}
h4.like{border-radius:20px;-webkit-border-radius:20px;-o-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;height:40px;position:relative;font-family:"myfirst";font-size:22px;color:#fff;}
h4.like em{font-style:normal;display:inline-block;vertical-align:middle;margin-left:100px;line-height:40px;}
h4.color5{background:#ff6c00;}
h4.color6{background:#5d88e1;}
h4.color7{background:#af5b01;}
h4.color8{background:#ff0006;}
h4.like img {display:inline-block;vertical-align: middle;}
h4.like img.ilike{position:absolute;left:0;bottom:0;}
h4.like  a{display:inline-block;float:right;margin-top:8px;margin-right:20px;}
h4.color6 em{margin-left:48px;}
.listmain_l  h4.like{width:270px;}
.qgzschool_r dl{overflow:hidden;margin-top:20px;}
.qgzschool_r dl dt{display:block;width:310px;float:left;color:#000000;font-size:14px;margin-left:4px;line-height:22px;}
.qgzschool_r dl dd{display:block;width:236px;float:right;margin-right:15px;}
.health{width:288px;}
.health h4.like img.ilike2{margin-left:110px;}
.health ul{overflow:hidden;margin-top:10px;}
.health ul li{display:block;border-bottom:1px dashed #7abf02;margin-top:10px;line-height:24px;font-size:14px;padding-bottom:3px;}
.health ul li a{display:block;}
.health ul li a em{display:inline-block;width:4px;height:4px;background:#7abf02;border-radius:2px;vertical-align: middle;margin-right:8px;}
.qgzschoo2{margin-top:30px;}
footer{width:500px;margin:135px auto;}
footer ul{overflow:hidden;margin-bottom:10px;}
footer ul li{display:block;float:left;width:80px;text-align:center;color:#010101;}
footer ul li a{display:inline-block;color:#010101;padding-right:10px;font-size:14px;}
footer  p{color:#507201;font-size:14px;text-align:center;line-height:24px;}
.qgzschool_lbg{background:url(../images/upset1.png) no-repeat;height:260px;}
.qgzschool_lbg .allover{width:268px;margin:15px auto;height:228px;}
.listmain{margin:50px auto;}
.listmain_l{width:303px;margin-top:12px;}
.distance{width:270px;margin-top:20px;border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;background:#e5edff;padding:18px 0;margin-bottom:24px;}
.distance ul{overflow:hidden;}
.distance ul li{display:block;border-bottom:1px dashed #b6c8f3;width:240px;margin:8px auto;height:28px;}
.distance ul li a {display:block;font-size:17px;color:#ff8400;text-decoration: none;font-weight:bold;font-family:"myfirst";}
.distance ul li a img{display:inline-block;margin-left:10px;margin-right:6px;vertical-align: middle;}
.listmain .qgzschool_r dl{margin-bottom:55px;}
.listhealth{width:600px;}
.listhealth ul li{border-bottom:1px dashed #cccccc;}
.listhealth ul li a{text-decoration: none;width:100%;}
.listhealth ul li a span{display:inline-block;float:right;color:#ccc;}
.pagenum{width:120px;margin:30px auto;overflow:hidden;}
.pagenum a{display:block;width:54px;height:23px;}
.aifont{margin-top:30px;}
.aifont a{font-size:24px;color:#b20000;text-align:center;display:block;}
.aifont p{font-size:14px;color:#000;padding:14px;line-height:24px;}
.teacher{margin-top:30px;margin-bottom:40px;}
.teacher ul{overflow: hidden;}
.teacher ul li{display: block;float: left;width:181px;position:relative;text-align:center;margin-left:17px;}
.teacher ul li img{display:block;}
.teacher ul li p{line-height:24px;color:#333;font-size:14px;}
.beauty{position:absolute;width:100%;height:120px;background:rgba(0,0,0,0.5);left:0;top:0;}
.teacher ul li:hover .beauty{display:none;}
.footernew{margin-top:200px;}
