*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.will_middle{
    width: 1000px;
    margin:0 auto;
}
.will_translateY{
     margin: 0 auto;
     margin-top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }
.will_translateX{
    margin: 0 auto;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.deep_red{
    color: #991D1B;
}
/***********/
h1{font-size: 32px;}
h2{font-size: 28px}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 14px;}
img{
    border: none;
}
.section_seven img,.section_eight img{
    display: block;
}
a{
    text-decoration: none;
}
/*top_header*/
body,.max_width{
    max-width: 1440px;
    margin: 0 auto;
}
.top_header{
    background-color: #F3F3F3;
}
.top_header img{
    display: block;
}
.header_nav{
    background-color: #6F2423;
}
.nav_list li{
    display: inline-block;
    margin-left: 7px;
    /*line-height: 42px;*/
}
.nav_list li a.have_bg:hover{
    background-color: #912120;
}
.nav_list li a{
    color: #fff;
    font-size: 18px;
    display: block;
    padding:10px;
}
.sum_mod01 li.mod_tittle{
    color: #fff;
    font-size: 24px;
}
.sum_mod01 li{
    margin-left: 19px;
}
.top_banner a{
    display: block;
}
.top_banner a img{
    width: 100%;
    display: block;
}
/*section_one*/
.section_one_tittle{
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #E3E3E3;
}
.section_one_tittle b{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/bottom_sbg.png);
    position: absolute;
    bottom: -16px;
    left: 48.5%;
}
.section_one_tittle div{
    width: 330px;
    margin:0 auto;
    text-align: center;
}
.section_one_tittle span{
    display: block;
    font-size: 24px;
    color: #5C5A5A;
    position: relative;
}
.section_one_tittle span:before,.section_one_tittle span:after{
    display: table;
    content: "";
    width: 90px;
    height: 1px;
    background-color:#E3E3E3;
    position: absolute;
    top:18px;
}
.section_one_tittle span:before{
    left: 0;
}
.section_one_tittle span:after{
    right: 0;
}
/*lists_one*/
.section_one_lists{
    margin-top: 20px;
    background-color: #F2F2F2;
    padding: 15px 5px;
}
.lists_one{
    overflow: hidden;
}
.one_right{
    width: 616px;
    padding-top: 25px;
}
.one_right h3{
    text-align: center;
}
.one_right h3 span{
    font-size: 14px;
    color: #ccc;
    font-weight: 300;
}
.one_right div{
    background-color: #fff;
    padding: 20px 10px;
    border-top: 1px solid #DADADA;
    margin-top: 20px;
}
.one_right p{
    font-size: 16px;
    color: #7B7B7B;
    line-height:32px;
    text-indent: 2em;
}
/*same_tittle*/
.same_tittle{
    position: relative;
    text-align: center;
    margin-top: 30px;
}
.same_tittle p{
    font-size: 12px;
    color: #ccc;
    text-transform: uppercase;
    margin-top:3px;
}
.same_tittle h1{
    font-weight: 300;
    position: relative;
}
.same_tittle h1 span,.same_tittle h1 b,.same_tittle h1 i{
    display: inline-block;
}
.same_tittle h1 b{
    padding: 15px;
    position: relative;
}
.same_tittle h1 i{
    width: 5px;
    height: 5px;
    background-color: #991D1B;
    margin-top: -10px;
    line-height: 42px;
    position: absolute;
    left:12px;
    top: 26px;
    border-radius: 50%;
}
.same_tittle>b{
    display: block;
    width: 1000px;
    height: 10px;
    background-image: url(../images/bordder_bt.png);
    margin-top: 8px;
}
/*section_two */
.section_two{
    overflow: hidden;
    margin-top: 20px;
}
.two_lists{
    width: 295px;
}
.two_moddle{
    width: 390px;
}
.two_lists li{
    overflow: hidden;
    width: 295px;
    height: 51px;
    background-image: url(../images/bg_gray.jpg);
    margin-top: 5px;
    cursor: pointer;
}
.two_lists li:hover,.two_lists li.will_selected{
    background-image: url(../images/bg_red.jpg);
}
.two_lists li img,.two_lists li a{
    float: left;
    color: #fff;
    display: block;
}
.two_lists li a{
    margin-left: 10px;
    padding: 3px 0;
}
.two_lists li img{
    margin-left:32px;
    margin-top: 3px;
}
.two_lists li a span,.two_lists li a b{
    display: block;
}
.two_lists li a span{
    font-size: 18px;
    font-weight: 700;
}
.two_lists li a b{
    font-size: 16px;
    font-weight: 300;
}
/*two_moddle*/
.two_moddle{
    width: 390px;
    margin-left: 10px;
    position: relative;
    margin-top: 20px;
    height: 235px;
}
.two_items{
    padding: 10px;
    border: 1px solid #E7E7E7;
    position: absolute;
    left: 0;
    top: 0;
}
.two_items a{
    display: block;
    cursor: pointer;
}
.will_show{
    display: block;
}
.will_hide{
    display: none;
}
/*same_btn*/
.same_btn,.same_btn ul{
    overflow: hidden;
}
.same_btn ul{
    float: left;
    margin-left: 25%;
    padding: 20px 0;
}
.same_btn li{
    float: left;
}
.same_btn li.have_left{
    margin-left: 30px;
}
.same_btn li span,.same_btn li a{
    display: inline-block;
}
.same_btn li span{
    color: #C78315;
    font-size: 18px;
    padding: 8px 10px;
}
.same_btn li a{
    font-size: 18px;
    color: #fff;
    background-color: #C78315;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 40px;
    position: relative;
}
.same_btn li a:after{
    display: table;
    content: "";
    width: 20px;
    height: 22px;
    background-image: url(../images/small_pointer.png);
    position: absolute;
    top:13px;
    right:11px;
}
.btn_yellow{
    border: 1px solid #C78315;
    border-radius: 6px;
}
/*section_three*/
.section_three{
    background-color: #F2F2F2;
    padding-top: 15px;
    margin-top: 30px;
}
.three_lists{
    width: 760px;
    margin: 0 auto;
    position: relative;
    height: 325px;
}
.three_items{
    overflow: hidden;
    background-color: #fff;
    position: absolute;
}
.three_items>div{
    width: 420px;
    padding: 15px 40px;
}
.three_items p{
    font-size: 18px;
    color: #7B7B7B;
}
.three_items p.deep_red{
    background-color: #EEEEEE;
    color: #991D1B;
    border: 1px solid #E9E9E9;
    margin-top: 15px;
}
.three_items p.deep_yellow{
    background-color: #F7F7F7;
    color: #C78315;
    border: 1px solid #E9E9E9;
}
.three_items p.deep_red,.three_items p.deep_yellow{
    text-align: center;
    padding: 5px;
}
.three_items h5{
    margin-top: 20px;
}
.three_items p.deep_gray{
    margin-top:10px;
}
.three_middle{
    margin-top: 25px;
}
/*three_btn*/
.three_btn,.three_btn ul{
    overflow: hidden;
}
.three_btn ul{
    margin-left: 55px;
}
.three_btn li{
    float: left;
    margin-left: 20px;
    padding: 5px;
    border: 2px solid #F2F2F2;
    cursor: pointer;
}
.three_btn li:hover,.three_btn li.have_selected{
    border: 2px solid #C6C6C6;
}
.three_btn{
    margin-top: 15px;
}
.three_btn img{
    width: 152px;
}
/*four_lists*/
.section_four{
    margin-top: 40px;
}
.four_lists{
    overflow: hidden;
    margin-top: 30px;
}
.four_lists>div>div{
    text-align: center;
}
.four_left{
    width:200px;
    float: left;
}
.four_middle{
    width: 380px;
    float: left;
    margin-left: 20px;
}
.four_right{
    width: 380px;
    float: right;
}
.four_lists a{
    display: block;
    width: 110px;
    height: 32px;
    line-height:32px;
    font-size: 18px;
    background-color: #C78315;
    color: #fff;
    text-align: center;
    margin:10px auto;
    border-radius: 5px;
}
.four_lists h4 span,.four_lists p{
    font-size: 16px;
    color: #7B7B7B;
}
.have_border{
    padding: 10px 0;
    border-bottom: 1px dashed #7B7B7B;
}
.four_left>div{
    padding: 5px 20px;
}
/*four_m_lists*/
.four_m_lists{
    /*overflow: hidden;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.four_m_lists img,.four_m_lists div{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.four_middle>p{
    text-indent: 2em;
    margin-top: 30px;
    position: relative;
}
.four_middle>p:before,.four_middle>p:after{
    display: table;
    content: "";
    position: absolute;
    width: 28px;
    height: 27px;
}
.four_middle>p:before{
    background-image: url(../images/small_icon_01.jpg);
    left: 0;
    top: -12px;
}
.four_middle>p:after{
    background-image: url(../images/small_icon_02.jpg);
    bottom: -12px;
    right:210px;
}
.have_top{
    margin-top:66px;
}
.four_m_lists>div{
    padding: 5px 15px;
}
.have_s_top{
    margin-top: 15px;
}
/*four_btn*/
.four_btn{
    text-align: center;
    margin-top: 15px;
}
.four_btn ul{
    width: 410px;
    margin:15px auto;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.four_btn li{
    float: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.four_btn li.have_left{
    margin-left: 30px;
}
.four_btn a{
    display: block;
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
.four_yellow{
    background-color: #C78315;
}
.four_red{
    background-color: #991D1B;
}
/************section_five**************/
.section_five{
    background-color: #F2F2F2;
    padding-top: 15px;
    margin-top: 40px;
}
.five_lists,.six_lists{
    padding: 10px 0;
}
.five_lists ul{
    margin-top: 15px;
}
.five_lists li{
    overflow: hidden;
    margin-top: 5px;
}
.five_lists img,.six_lists img{
    float: left;
}
.five_lists img.have_left{
    margin-left:4px;
}
/*section_six*/
.section_six{
    margin-top:40px;
}
.six_lists li{
    overflow: hidden;
    margin-top: 12px;
}
.six_lists img.have_left{
    margin-left:12px;
}
/***************section_seven*******************/
.section_seven{
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: 30px;
}
.section_eight{
    margin-top: 40px;
}
.seven_banner{
    padding: 20px 0;
}
.seven_middle{
    width: 911px;
    height: 122px;
    background-image: url(../images/seven_m_bg.jpg);
    margin: 0 auto;
    padding: 10px 20px;
}
.seven_middle p{
    font-size: 18px;
    color: #7B7B7B;
    line-height: 32px;
    text-indent: 2em;
}
.seven_bottom{
    overflow: hidden;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #D3D3D3;
}
.seven_b_left{
    width: 260px;
    float: left;
    overflow: hidden;
}
.seven_b_left a{
    float: left;
    display: block;
    color: #7B7B7B;
    text-align: center;
    margin-left: 20px;
}
.seven_b_right{
    width: 700px;
    float: left;
    overflow: hidden;
    margin-top: 15px;
}
.seven_b_right a{
    display: block;
    float: left;
    margin-left: 20px;
}
/***********eight_lists *************/
.eight_lists {
    margin-top: 20px;
}
.eight_top h3{
    width: 100%;
    height: 57px;
    line-height: 57px;
    padding-left: 20px;
    background-image: url(../images/eight_h3_bg.jpg);
}
.eight_top h3 span{
    font-size: 18px;
    color: #6D6B6A;
    font-weight: 300;
}
.eight_six{
    margin-top: 20px;
}
.eight_six ul{
    overflow: hidden;
}
.eight_six li{
    float: left;
    background-color: #D7A6A2;
    padding: 20px;
    margin-left: 35px;
    border-radius: 8px;
    cursor: pointer;
}
.eight_six li:hover,.eight_six li.on{
    background-color: #983D36;
}
.eight_six a{
    display: block;
    width: 88px;
    height: 90px;
}
.eight_six img.have_left{
    margin-left: 3px;
}
.eight_six a.e_have_top{
    padding-top: 5px;
}
.eight_six a.a_have_top{
    padding-top:3px;
}
.eight_six a.b_have_top{
    padding-top:7px;
}
/**********section_nine*************/
.section_nine:before{
    display: table;
    content: "";
}
.section_nine{
    background-color: #F2F2F2;
    margin-top:40px;
    padding-bottom: 35px;
}
.nine_form{
    padding-top: 30px;
}
.nine_form ul{
    overflow: hidden;
    width: 925px;
    margin: 0 auto;
}
.nine_form li{
    float: left;
    margin-top: 15px;
}
.nine_form li.have_left{
    margin-left: 20px;
}
.same_width{
    width: 450px;
}
.same_input{
    width: 300px;
    height: 40px;
    outline: none;
    line-height: 40px;
}
.same_input,.nine_form textarea{
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    color: #B2B2B2;
    padding-left: 20px;
}
.nine_form li span{
    font-size: 20px;
    color: #62605F;
}
.nine_form li span,.nine_form li b,.nine_form li input{
    display: inline-block;
}
.nine_form li b{
    width: 40px;
}
.nine_form textarea{
    width: 770px;
    height: 186px;
    padding-top: 15px;
    line-height: 32px;
}
.nine_last{
    position: relative;
}
.nine_last span{
    position: relative;
    top: -165px;
    left: 0;
}
.nine_btn{
    overflow: hidden;
}
.nine_btn p,.nine_btn input,.nine_btn img{
    float: left;
}
.nine_btn input,.nine_btn img{
    margin-left: 25px;
}
.nine_btn input{
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #B32E2C;
    cursor: pointer;
}
.nine_btn p{
    width: 322px;
    font-size: 16px;
    color: #FE2B15;
}
/*********底部*********/
.section_footer{
    margin-top: 50px;
}
.footer { width:100%; height:355px; margin-top:10px; background:url(../images/foot-bg.jpg); }
.footer h5 { width:100%; height:6px; background:url(../images/foot-top-bg.jpg) repeat-x; }
.foot-box { width:1000px; height:316px; margin:0 auto; background:url(../images/foot-img01.jpg) no-repeat center top; position:relative; }
.foot-nav { width:1000px; height:50px; text-align:center; line-height:50px; color:#fff; padding-top:88px; }
.foot-nav a { color:#fff; font-size:14px; margin:0px 16px; }
.foot-logo { float:left; margin-top:50px; }
.foot-copy { width:348px; float:left; line-height:26px; color:#e6b1b0; padding:24px 0px 0px 50px;margin-top: 30px; }
.foot-qq { width:242px; float:left; margin-top:70px; }
.lb_f_b{height:40px;overflow:hidden;background:#890F0F;font-size:14px;color:#ffffff;line-height:40px;text-align:center;}
.lb_f_b a{
    display:inline-block;text-decoration:none; color:#fff;
}
.lb_f_b img{
    float:left;
    margin-top:10px;
    margin-right:5px;
}
/*追加改动*/
.nav_bar{
    background-color: #fff;
    padding-top: 30px;
}
.nav_bar .sum_mod01 li.mod_tittle{
    color: #FF2F2F;
}
.nav_bar .nav_list li a{
    color: #5A5A5A;
    border-bottom: 2px solid #fff;
}
.nav_bar .sum_mod01 a:hover{
    color: #FF2F2F;
    border-bottom: 2px  solid #FF2F2F;
}