*{
    margin:0;
    padding:0;
    list-style: none;
    outline: 0;
    border: 0;
    text-decoration: none;
}
body{ font-size:14px;font-family:"Microsoft YaHei"; background:#ffffff; color:#393939;/** 字体颜色自定义 **/}
.will_center{ width:1000px; margin:0 auto;}
.will_left{
    float: left;
}
.will_right{
    float: right;
}
.border_red{
    border: 13px solid #FF537F;
}
.redright_border{
    border-right: 8px solid #FF537F;
}
.red_main p a.red_color{
    color: #FF1414;
}
.tittle_redcolor{
    color: #FF537F;
}
/*red_main*/
.red_main{
    overflow: hidden;
}
.red_main li{
    overflow: hidden;
    float: left;
    width: 188px;
    padding: 10px 0;
}
.red_main li h3{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    padding-left: 20px;
}
.red_main li h3:before{
    display: table;
    content: "";
}
.red_main li h3 img,.red_main li h3 span{
    float: left;
}
.red_main li h3 span{
    line-height: 30px;
    padding-left: 5px;
}

.red_main p{
    overflow: hidden;
    padding: 5px 0 5px 15px;
}
.red_main p a{
    display: block;
    padding:0 5px;
    float: left;
    font-size: 14px;
    color: #898989;
}
.red_main p a.have_borderleft{
    border-left: 1px solid #898989;
}
.sum_width a{
    display: block;
    width: 70px;
    text-align: center;
}