.w620{width: 9.78125rem; margin: 0 auto; overflow: hidden;}
.bt{font-size: 0.4rem; color: #1a78bd; font-weight: bold; width: 9.21875rem; margin: 0.46875rem auto; overflow:hidden;}
.bt span{color: #ff7200;}
.bt i,.bt b{width: 2.65625rem;}
.bt img{vertical-align: middle;}
.box1 dl{overflow: hidden; background: #00b7ee; color: #fff;}
.box1 dl:nth-child(2){background: #ff7200;}
.box1 dt{width: 4.171875rem;}
.box1 dt img{display: block;}
.box1 dd{text-align: center; width: 5.3125rem; margin-right: 0.1rem;}
.box1 .te{margin-left: 0.5rem; width: 4.8rem;}
.box1 .te b{margin-left: -0.3rem;}
.box1 dd section{overflow: hidden; margin-top: 0.84375rem; margin-bottom: 0.3125rem;}
.box1 dd h3{font-size: 0.375rem; line-height: 130%; margin: 0.5rem 0 0.3125rem;}
.box1 dd p{font-size: 0.21875rem; line-height: 140%; margin-bottom: 0.3125rem;}
.box1 dd h4{text-align: end; font-size: 0.375rem; }
.box1 dd span{font-size: 0.84375rem; font-weight: bold;}
.box1 dd h5{margin-top: 0.29rem;}
.box1 dd h6{border-bottom: 1px dashed #fff; width: 4.53125rem; margin-bottom: 0.4375rem;}
.box1 dd h2{text-align: start; margin: 0.156rem 0 0.156rem 0.55rem; font-size: 0.375rem; line-height: 120%;}
.box1 dd b,.box1 dd i{width: 2.1875rem;}
.box2{margin-top: 0.84375rem; border: 1px solid #ccc;}
.box2 dl{overflow: hidden; }
.box2 dt{width: 4.84375rem;}
.box2 dt img{display: block;}
.box2 .te{width: 4.9375rem;}
.box2 dd{text-align: center; margin-right: 0.45rem;}
.box2 .te3{margin-right: 0.8rem; margin-top: 0.4rem;}
.box2 .te4{margin-left: 0.8rem !important; margin-top: 0.4rem;}
.box2 .tdd{margin-left: 0.45rem;}
.box2 dd h6{margin-top: 0.4rem; margin-bottom: 0.2rem; width: 3.90625rem;}
.box2 dd h3{color: #a8a8a8; font-size: 0.375rem; margin-bottom: 0.15rem;}
.box2 dd i{font-size: 0.28125rem; width: 2rem; line-height: 0.5rem; background: #ff7200;
    text-align: center; border-radius: 0.375rem; color: #fff;}
.box2 dd section{overflow: hidden; margin-bottom: 0.2rem; color:#565656;}
.box2 dd h4{font-size: 0.375rem; margin-top: 0.4375rem; margin-bottom: 0.1rem;}
.box2 dd h2{font-size: 0.4rem; font-weight: bold;line-height: 110%; text-align: end; }
.box2 dd span{font-weight:bold; font-size: 0.947rem; color: #ff7200;}
.box2 dd h5{margin-top: 0.37rem;}
.box3 h3{font-size: 0.4375rem; color: #ff7200; text-align: center; margin-top: 0.78125rem;}
.box3 section{width: 1.78125rem; height: 1.78125rem; text-align: center; background: #ff7200;
    border-radius: 50%; line-height: 130%; font-size: 0.375rem; margin: 0.3125rem auto 0.51rem;}
.box3 section a{margin-top: 0.45rem; color: #fff;}