.total-content:before{
    display: table;
    content: "";
}
.total-content{
    width: 8rem;
    margin: 0 auto;
    margin-top: -1.7666666rem;
    position: relative;
    z-index: 10;
}
.total-lists ul{
    width: 7.6rem;
    margin: 0 auto;
    overflow: hidden;
    margin-top: .26rem;
}
.total-lists ul li{
    float: left;
    width: 2.4rem;
}
.total-lists ul li+li{
    margin-left: .2rem;
}
.total-lists li p{
    color: #A78EFF;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space:nowrap;
    text-align: center;
    margin-top: .1rem;
}
.had-got{
    width: 1.4666666rem;
    margin: 0 auto;
    border: 0.04rem solid #9E6FDF;
    border-radius: 50%;
    padding: 0.08rem;
    box-shadow: inset 0 0 0.133333rem #664C9A;
    position: relative;
}
.had-got img{
    display: block;
    width: 100%;
}
.had-got span{
    display: block;
    width: .95rem;
    height: .34666666rem;
    background-image: url(../images/total_live.png);
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: .06rem;
    border-radius: .2rem;
}
.had-got span.hide{
    display: none;
}
.total-top{
    margin-top: .6rem;
}
/*total-bottom*/
.total-bottom{
    position: relative;
    margin-top: .3333rem;
}
.total-share{
    display: block;
    width: 4.533333rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}