*{margin: 0;padding: 0;list-style: none;outline: none;border: none;text-decoration: none}
html,body{
    width: 100%;
    height: 100%;
}
/*a{color: #EBEBEB}*/
body{
    background: url("../img/bg.png");
    display: flex;
    align-items: center;/****水平居中****/
    justify-content: center;/*垂直居中*/
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.main{
    width: 40%;
    position: relative;
}
.cate_box{
    width: 40%;
}
.cate_box li{
    line-height: 2em;
    width: 100%;
    cursor: pointer;
}
.tp,.demo_list{
    box-shadow: 0 0 0.8em;
}
.tp>a{
    margin-left: 1em;
    display: block;
    position: relative;
}
.demo_list{
    background: #8F3CAE;
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: 10;
    display: none;
}
.demo_list a{margin-left: 2em;color: #EBEBEB;}
/*各种色彩*/
.tp0{
    background-color: #FF1C2E;
}
.tp1{
    background-color: #9A54B7;
}
.tp2{
     background-color: #E67C02;
 }
.tp3{
    background-color: #1F7DBA;
}
.tp4{
    background-color: #00BD9B;
}
.tp5{
    background-color: #59A9E4;
}
.tp6{
      background-color: #D45200;
}
.tp7{
    background-color: #19AC5B;
}
@media screen and (max-width:767px){
    .main{width: 100%}
    .cate_box{
        width: 40%;
    }
    .demo_list{
        width: 60%;
    }
}
