@charset "gb2312";
/* CSS Document */
/*zero*/
html{
        font-size:64px;
}
body,
div,
menu,
ol,
ul,
li,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
form,
header,
nav,
article,
section,
aside,
footer,
video,
audio,
figure,
textarea{
        padding:0;
        margin:0;
}
input,
select,
textarea,
img,
area{
        outline:none;
        border:none;
}
input,
select,
textarea{
        background:#FFF;
}
mark{
        background:none;
}
-img{
        vertical-align:middle;
}
textarea{
        resize:none;
}
li{
        list-style-type:none;
}
body{
        font:0.437rem/1 "Microsoft YaHei";
}
em,
i,
strong,
b,
small,
h1,
h2,
h3,
h4,
h5,
h6,
address{
        font-style:normal;
        font-weight:normal;
        font-size:100%;
}
span,
b,
em,
i,
strong,
small,
label,
a,
mark{
        display:inline-block;
}
a{
        text-decoration:none;
        outline:none;
        color:inherit;
}
/*clear-fix*/
.clear-fix{
        clear:both;
        *zoom:1;
}
.clear-fix:after{
        clear:both;
        display:block;
        visibility:hidden;
        height:0;
        line-height:0;
        content:"";
        font-size:0;
}
.clearFix:after{ clear:both; display:block; visibility:hidden; height:0; line-height:0; content:""; font-size:0;}
/*common*/
.fl{
        float:left;
}
.fr{
        float:right;
}

#container{
        max-width:640px;
        margin:0 auto;
        overflow:hidden;
}
#container img{
        width:100%;
}

#top_tell_bg{display:block; overflow:hidden; width:100%; max-width:640px; margin:0 auto;}
#top_tell_fixed{display:block; overflow:hidden; position:fixed; top:0; width:100%; max-width:640px; margin:0 auto; z-index:2900;}
#top_tell_bg .top_tell_img,#top_tell_fixed .top_tell_img{width:100%}
@media screen and (max-width:360px){body,input,select{font-size:13px}}
@media screen and (min-width:360px){body,input,select{font-size:13px}}
@media screen and (min-width:400px){body,input,select{font-size:15px}}
@media screen and (min-width:480px){body,input,select{font-size:18px}}
@media screen and (min-width:560px){body,input,select{font-size:20.5px}}
@media screen and (min-width:600px){body,input,select{font-size:22.25px}}
@media screen and (min-width:640px){body,input,select{font-size:24px}}
/*-----------*/

/*footer*/
#add_footer{
        z-index:5;
        position:fixed;
        width:10rem;
        height:1.375rem;
        line-height:1.375rem;
        bottom:0;
        left:50%;
        margin-left:-5rem;
        box-shadow:0 0 10px #000;
}
#add_footer a{
        font-size: 0.493rem;
        width:50%;
        height:100%;
        background:#f97400;
        position:absolute;
        bottom:0;
        color:#ffffff;
}
#add_footer a:first-of-type{
        left:0;
        background:#029829;
}
#add_footer a:last-of-type{
        right:0;
        background:#f97400;
}
#add_footer em{
        position:relative;
        width:0.9375rem;
        height:0.9375rem;
        vertical-align:middle;
        margin:0 0.15625rem 0 0.375rem;
}
#add_footer i{
        position:absolute;
        right:0.046875rem;
        top:0.03125rem;
        width:0.375rem;
        text-align:center;
        height:0.375rem;
        line-height:0.375rem;
        font-size:0.28rem;
}

/*swt*/

/*------1014add-------*/
.huis {
        width: 13%;
        display: inline;
        position: fixed;
        bottom: 10%;
        right: 2%;
}
.huis a {
        width: 100%;
}

.huis img {
        width: 100%;
}

/*-----------*/

.nav {
        overflow: hidden;
        width: 100%;
        margin: 0.4% 0 0 0;
        padding: 0;
}
.nav ul {
        overflow: hidden;
        padding: 0 0 0 0;
}
.nav ul li {
        float: left;
        width: 24.3%;
        background: url(../images/nav.jpg) no-repeat center top;
        background-size: 100% 100%;
        padding: 1% 0;
        margin-left: .5%;
        margin-top: .5%;
        line-height: 2em;
        text-align: center;
        margin-right: 0;
}
.nav ul li a {
        color: #fff;
        text-decoration: none;
}
/*add4*/
.container-6 {
        overflow: hidden;
        background: #FFF;
        border: solid 1px #e2e2e2;
        margin-top: 2%;
}
.title {
        overflow: hidden;
        background: url(../images/title.jpg) no-repeat center top;
        background-size: 100% 100%;
        padding: 2% 0% 3% 12%;
}
.reg {
        padding-bottom: 3%;
        background: #FFF;
}
.title h3 {
        color: #7e0a0a;
        font-size: 135%;
}
.reg p {
        text-align: left;
        border: dashed 1px #bbb;
        margin: 2.5%;
        padding: 2%;
        padding-bottom: 2%;
        color: #666;
        background: #f6f6f6;
}
.reg p b {
        color: #d60000;
        font-weight: normal;
}
.reg dl dt {
        display: block;
        margin-left: 1%;
}
.reg dl dt ul {
        padding: 0.2em;
}
.reg dl dt li {
        height: 2.2em;
        line-height: 2.2em;
        /*overflow: hidden;*/
        zoom: 1;
        margin-top: 0.3em;
        text-align: center;
        padding-left: 2%;
}
.reg dl dt li label {
        width: 26%;
        float: left;
        text-align: right;
}
.reg dl dt li span {
        width: 72%;
        float: left;
        padding-left: 2%;
        text-align: left;
}
.reg dl dt li input {
        border: 1px solid #d0d0d0;
        height: 2em;
        line-height: 2em;
        padding-left: 2%;
        width: 85%;
        vertical-align: middle;
        color: #b3b3b3;
}
.reg li select {
        border: 1px solid #d0d0d0;
        height: 2em;
        line-height: 2em;
        padding-left: 2%;
        width: 87.5%;
        vertical-align: middle;
        color: #b3b3b3;
}
.reg dl dd {
        display: block;
        text-align: center;
        overflow: hidden;
        padding-top: 2%;
}
.reg dl dd input.bt1 {
        width: 29%;
        background: #cc6704;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        color: #fff;
        cursor: pointer;
        padding: 1.5% 0;
        margin-left: 8%;
}
/*add5*/
.red_bg {
        overflow: hidden;
        margin: 2% 0 0 0;
        background: url(../images/sm_bg11.jpg) no-repeat center;
        background-size: 100% 100%;
        padding-bottom: 60px;
}
.red_bg p {
        text-align: center;
        color: #FFF;
        font-size: 140%;
        padding-top: 30%;
        padding-bottom: 5%;
}
.banner{
        margin-top: .1rem;
}
/*---------main-----------*/
#main {
        margin-top: 4%;
}
#main ul{
        overflow: hidden;
}
#main ul:after {
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
}
#main li {
        width: 50%;
        float: left;
        padding: 2%;
        box-sizing: border-box;
        display: none;
        height: 6.2rem;
}
#main li.active {
        display: block;
}
#main dl {
        box-shadow: 0 0 8px #000;
        border-radius: 8px;
        overflow: hidden;
        padding: 2%;
}
#main dt {
        border-radius: 8px 8px 0 0;
        overflow: hidden;
}
#main dd {
        text-align: center;
        line-height: 2;
}
#main h2 {
        color: #252525;
        font-size: 0.4rem;
        border-bottom: 1px solid #ededed;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
#main p {
        color: #666666;
        font-size: 0.375rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
/*---------more-----------*/
#more {
        font-size: 0.5625rem;
        text-align: center;
        color: #1364b6;
        border: 1px solid #1364b6;
        line-height: 2;
        width: 96%;
        margin: 8% auto;
        position: relative;
        display: none;
}
#more.active {
        display: block;
}
#more span{
        display: block;
        width: 5%;
        height: .2rem;
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -3.5%;
        bottom: -10%;
        padding: 0 1%;
        animation: arrow 1s infinite;
        -webkit-animation: arrow 1s infinite;
}
#more span img{
        display: block;
}
@keyframes arrow {
        0% {
                transform: translateY(0px);
        }
        100% {
                transform: translateY(2px);
        }
}
@-webkit-keyframes arrow {
        0% {
                -webkit-transform: translateY(0px);
        }
        100% {
                -webkit-transform: translateY(2px);
        }
}
