/*
* @Author: wangjianfei
* @Date:   2017-04-28 14:11:45
* @Last Modified by:   wangjianfei
* @Last Modified time: 2017-05-08 15:01:02
*
*
* 
*/

*{
	margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.flex_parent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_child{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/**/
#isFlow, 
#isLiving {
    position: absolute;
    left: 0.533333rem;
    top: 0.533333rem;
    display: none;
}
#isFlow {
    width: 1.96rem;
    height: 0.72rem;
}
#isLiving {
    width: 1.546667rem;
    height: 0.573333rem;
}
/* nav-bar */
.nav-bar{
	width: 100%;
	height: 1.333333rem;
	background-image: url(../images/navbg_0508.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.nav-bar li{
	/* width: 25%; */
	height: 1.333333rem;
	position: relative;
}
.nav-bar h3{
	line-height: 1.333333rem;
}
.nav-bar h3,
.nav-bar p{
	text-align:center;
	color: #65BDEA; 
}
.nav-bar span{
	display: block;
	text-align: center;
	color: #B9DEF1;
}
.count-list{
	position:absolute;
	width: 100%;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
}
.nav-bar li:nth-child(1){
	width: 38%;
}
.nav-bar li:nth-child(2),
.nav-bar li:nth-child(3){
	width: 23%;
}

.nav-bar li:nth-child(4){
	width: 16%;
}
.nav-bar ul li b {
    display: block;
    position: absolute;
    height: 60%;
    width: 1px;
    background: url(../images/headlineoff.png) left center;
    left: 0;
    top: 20%;
}
/* zhongjian */
.main-box{
	background-image: url(../images/middle_img02.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    padding-bottom: .4rem;
}
.container>img{
	display: block;
	width: 100%;
}
.content{
	position: relative;
}
.backTop{
	position: fixed;
	width: 0.653333rem;
	right: 0.266667rem;
	bottom: 0.666667rem;
}
/* main */
.main{
	/* width: 8.933333rem; */
	width: 9.466667rem;
	margin: 0 auto;
	position: relative;
	height: 16.8rem;
}


.main ul li{
	height: 1.866667rem;
	padding-left: 0.32rem;
	position: relative;
    background: url(../images/repeat_x.png) repeat-x bottom;
}
.main ul li:before{
	display: table;
	content: "";
}

/* 0503 */

.main ul button{
	background: none;
	display: block;
	width: 1.2rem;
	height: 0.626667rem;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;
    line-height: 0.72rem;
    background-image: url(../images/btnadd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
}
/**/
.nav-box img{
   display: block;
   width: 100%;
}
/*  */
header{
	position: relative;
}

/* anthor-list */
.anthor-list{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.anthor-box,
.build-list{
	float: left;
}

/* anthor-img */
.anthor-img,
.anthor-msg{
	float: left;
}
.anthor-msg{
	width: 2.2rem;
}
.anthor-img{
	width: 1.066667rem;
    height: 1.066667rem;
    border: 0.013333rem solid #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 0.133333rem #fff;
    position: relative;
    margin-right: 0.133333rem;
    position: relative;
}
.anthor{
    width: auto;
    height: 100%;
    position: absolute;
    left: -100%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    border-radius: 50%;
}
.anthor-msg p,
.anthor-msg span{
	display: block;
	color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.266667rem;
}

.build-list{
	width: 2.4rem;
s}
.build-list p{
	color: #fff;
	text-align: center;
}
.build-list span{
	display: block;
	width: 100%;
    color: #A69564;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.266667rem;
    text-align: center;
}

/* icon */
.icon-0,
.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6,
.icon-7,
.icon-8{
	width: 0.666667rem;
	height: 0.666667rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -0.2rem;
    top: -0.133333rem;
}
.icon-0{
	background-image: url(../images/n1.png);
}
.icon-1{
	background-image: url(../images/n2.png);
}
.icon-2{
	background-image: url(../images/n3.png);
}
.icon-3{
	background-image: url(../images/n4.png);
}
.icon-4{
	background-image: url(../images/n5.png);
}
.icon-5{
	background-image: url(../images/n6.png);
}
.icon-6{
	background-image: url(../images/n7.png);
}
.icon-7{
	background-image: url(../images/n8.png);
}
.icon-8{
	background-image: url(../images/n9.png);
}
/* footer */
header img{
	display: block;
	width: 100%;
}
