*{margin:0;padding:0;}
body,html{width:100%;height:100%;}
body{
	background:rgb(24,35,41);
	height:100%;
	font-family:"微软雅黑";
}
.wrap{
	height:100px;
	width:80px;
	transform-style:preserve-3d;
	transform:perspective(1000px) rotateX(0deg) rotateY(0deg) translateZ(0px);
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
}
.div1{
	height:100px;
	width:80px;
	background:rgba(0,255,255,0.5);
	position:absolute;left:0px;top:0px;
	transition:transform 1s;
	box-shadow:0 0 15px 0 #7beeac;
	cursor:pointer;
	border:2px solid rgba(255,255,255,.7);
	font-size:25px;
	color:rgba(255,255,255,.7);
	text-shadow:0 0 15px #fff;
	text-align:center;
	line-height:100px;
	font-weight:bold
}
.s1,.s2,.s3{
	width:100px;
	height:50px;
	background:rgba(0,255,255,0.5);
	margin:20px 0;
	line-height:50px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	border:2px solid rgba(255,255,255,.7);
	color:#7beeac
}
.s1:hover,.s2:hover,.s3:hover{
	box-shadow:0 0 15px 0 #7beeac;
	color:red;
	transition:color 1s,box-shadow 1s
}
.mynote{
	position:absolute;
	width:100px;
	height:50px;
	background:rgba(0,255,255,0.5);
	margin:20px 0;
	line-height:50px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	border:2px solid rgba(255,255,255,.7);
}
.mynote a{
	color:red;
	animation:blk 1s infinite alternate;
}
 @keyframes blk{
	from{opacity:1;}
	to{opacity:0;}
  }