/*<!-----------------20161105 add start---------------------->*/
img{
    border: 0;
}
.main_lists{
    width: 980px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.main_lists a{
    text-decoration: none;
}
.main_yzsix h2 {
    background: url(../images/yz_7.jpg) no-repeat;
    height: 52px;
}
.main_one{
    width: 950px;
    margin: 0 auto;
    background-color: #FBFBFB;
    overflow: hidden;
    border: 1px solid #DFDFDF;
}
.main_one:before{
    display: table;
    content: "";
}
.main_one_left{
    float: left;
    padding: 5px;
}
.main_one_left,.main_one_middle,.main_one_right{
    box-sizing: border-box;
}
.main_one_left li{
    padding: 5px 0;
}
.main_one_left li a{
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 8px 0;
    border: 1px dashed #DA8488;
    border-radius: 5px;
}
.main_one_left{
    width: 340px;
    margin-left: 10px;
}
.main_one_middle{
    text-align: center;
    float: left;
    width: 290px;
    padding-top: 100px;
}
.main_one_middle h1{
    font-size: 40px;
    color: #C40007;
}
.main_one_middle h6,.main_one_middle h1,.main_one_middle h3{
    padding: 8px 0;
}
.main_one_middle h6 span,.main_one_middle h3 span{
    color: #C40007;
}
.main_one_middle h6{
    color: #404040;
    font-weight: 100;
}
.main_one_middle h4{
    font-size: 20px;
}
.main_one_middle p.mainone_mtop{
    margin-top: 20px;
}
.main_one_middle h3{
    font-size: 36px;
}
.main_one_middle p a{
    padding: 15px 25px;
    background-color: #C60007;
    border-radius: 30px;
    color: #fff;
    margin-right: 29px;
}
.deep_red{
    color: #C60007;
}
.main_one_right{
    float: right;
    width: 290px;
    margin-top: 15px;
    padding: 20px 10px 30px 20px;
    margin-right: 15px;
    background-image: url(../images/mainright_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.main_one_right p{
    font-size: 16px;
    text-indent: 0;
    margin-top: 20px;
}
/*main_yzseven*/
.main_yzseven h2 {
    background: url(../images/yz_8.jpg) no-repeat;
    height: 52px;
}
.maintwo_top,.maintwo_middle,.maintwo_bottom{
    box-sizing: border-box;
}
.maintwo_top{
    width: 958px;
    margin: 0 auto;
}
.maintwo_top img{
    max-width: 100%;
    margin: 0 auto;
}
.maintwo_middle{
    overflow: hidden;
    width: 958px;
    margin: 15px auto;
    background-color: #F2F2F2;
}
.maintwo_middle img,.maintwo_middle .maintwo_mright{
    float: left;
}
.maintwo_mright{
    box-sizing: border-box;
    width: 897px;
    padding: 10px;
}
.maintwo_mright p{
    text-indent: 0;
}
.maintwo_mright p span{
    color: #F2F2F2;
}
.maintwo_bottom{
    padding-bottom: 10px;
    position: relative;
}
.maintwo_bottom a{
    display: block;
    position: absolute;
    height: 34px;
    top: 0;
}
.btn_one{
    left: 125px;
}
.btn_two{
    left: 229px;
}
.btn_three{
    left: 332px;
}
.btn_four{
    left: 450px;
}
.btn_five{
    left: 581px;
}
.btn_six{
    left: 685px;
}
.btnone_width{
    width: 104px;
}

.btntwo_width{
    width: 118px;
}
.btnthree_width{
    width: 133px;
}
.have_mtop{
    margin-top: 10px;
}
.have_pbottom{
    padding-bottom: 15px;
}
.main_yzsix .con_tob,.main_yzseven .con_tob{
    padding-top: 8px;
}
.maintwo_mright p.have_mtop{
    margin-top: 5px;
}
/*<!-----------------20161105 add end---------------------->*/