/*--eastcity_four---*/
body{
    max-width: 640px;
    width: 100%;
}
.eastcity_four{
    width: 97%;
    margin: 0 auto;
    margin-top: .15rem;
}
.eastcity_fourtitle h3{
    font-size: .26rem;
    font-weight: 700;
    color: #1D64B2;
    text-align: center;
}
.eastcity_fourlists{
    margin-top: .1rem;
}
.eastcity_fourlists li{
    overflow: hidden;
    padding: .05rem 0;
}
.eastcity_fourlists li b{
    font-size: .22rem;
    color: #fff;
    font-weight: 100;
    width: 21%;
    height: .46rem;
    line-height: .46rem;
    background-image:url(../images/eadtcity_icon01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: .2rem;
    position: relative;
    z-index: 10;
}
.eastcity_fourlists b:after{
    display: table;
    content: "";
    width: 25%;
    border-top: 1px dashed #000;
    position: absolute;
    right: -25%;
    top: 52%;
    z-index: 8;
}
.eastcity_fourlists li span{
    display: block;
    width: 36%;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    font-size: .22rem;
    color: #595959;
    margin-left: 6.5%;
}
.eastcity_fourlists li a{
    width: 30%;
    text-align: center;
    height: .46rem;
    line-height: .46rem;
    background-color: #ED7617;
    font-size: .22rem;
    color: #fff;
    position: relative;
    border-radius: .04rem;
}
.eastcity_fourlists a:before{
    display: table;
    content: "";
    width: 20%;
    border-top: 1px dashed #000;
    position: absolute;
    left: -20%;
    top: 52%;
    z-index: 8;
}