
*{
  box-sizing: border-box;
}
.line {
  padding: 100px 0px;
}
.slotMachineButton {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}
.slotMachineButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
   box-shadow: inset 0px 1px 0px 0px #fce2c1;
   background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
   background: -moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color: #ffc477;
  border-radius: 75px;
  border: 6px solid #eeb44f;
  display: inline-block;
  color: #ffffff;
  font: 700 40px/100px "Microsoft Yahei";
  height: 100px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #cc9f52;
  margin-left: 50px;
  cursor: pointer;
 }
.slotMachineButton:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background: -moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color: #fb9e25; }
.slotMachineButton:active {
  position: relative;
  top: 1px;
}
.slotMachine {
  /*width: 100px;
  height: 100px;*/
  width: 1.33rem;
  height: 1.33rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
  background-color: #ffffff;
}
.noBorder {
    border: none !important;
    background: transparent !important;
    font: 14px arial;
  }
.slotMachine .slot {
  /*width: 100px;
  height: 100px;*/
  width: 1.33rem;
  height: 1.33rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }
.slot1 { background-image: url("../images/gift1.png"); }
.slot2 { background-image: url("../images/gift2.png"); }
.slot3 { background-image: url("../images/gift3.png"); }
.slot4 { background-image: url("../images/gift4.png"); }
.slot5 { background-image: url("../images/gift5.png"); }
.slot6 { background-image: url("../images/gift6.png"); }
.slot7 { background-image: url("../images/gift7.png"); }
