.container{
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
	background-image: url(../images/icon_bg.jpg);
	background-size: 100% 100%;
}
.item_list{
	width: 100%;
	overflow: hidden;
	
}
.item_list img{
	display: block;
	width: 100%;
}
.list_title{
	padding: 15px 0;
}
.list_title h3{
	text-align: center;
	font-weight: 700;
}
.pre_example{
	border: 4px solid #007A2D;
	padding: 4px;
	margin-top: 15px;
}
.footer{
	padding: 20px 0;
}
.footer p{
	text-align: center;
}
.footer p+p{
	margin-top: 5px;
}
.qr{
	max-width: 260px;
	width: 100%;
	margin: 0 auto;
}