*{margin:0;padding:0;list-style:none;}
body{background:#2c1418;}
#wrap{width:900px;height:650px;position:relative;margin:200px auto;}
#wrap .main{width:570px;height:420px;margin:auto;position:relative;}
#wrap .left,#wrap .right{cursor:pointer;width:30px;height:44px;position:absolute;top:182px;box-shadow:0 0 7px 0 #fff;}
#wrap .left:hover,#wrap .right:hover{box-shadow:0 0 10px 0 #33ccff;}
#wrap .left{background:url(../img/flash2_left.gif);left:50px;}
#wrap .right{background:url(../img/flash2_right.gif);right:50px;}
#wrap .main ul li{float:left;width:57px;height:60px;}
#wrap .main ul{width:570px;height:420px;position:absolute;top:0;left:0;}
#wrap .main ul.img1{background-image:url(../img/f1.jpg);}
#wrap .main ul.img2{background-image:url(../img/f2.jpg);}
#wrap .main ul.img3{background-image:url(../img/f3.jpg);}
#wrap .main ul.img4{background-image:url(../img/f4.jpg);}
#wrap .main ul.img5{background-image:url(../img/f5.jpg);}
