*{margin:0;padding:0;list-style:none}
	body,html{height:100%;width:100%;background:#ccffff;overflow:hidden;}
	h1{text-align:center}
	header{margin:50px 20px;}
	section{margin:50px auto;width:1000px;border:5px solid #808080;height:608px;background:#808080}
	#header{background:#ccc;height:100px;border-bottom:5px solid #808080}
	dl{height:100px;float:left;width:199px;border-right:1px solid #808080}
	dl dt{text-align:center;font-size:16;font-weight:bold;border-bottom:1px solid #808080}
	dl dd.sex{padding:7px 35px 35px}
	dl dd.four{padding:0px 40px 35px}
	.sex li{width:40px;height:20px;border:1px solid #808080;margin:10px 0 0;float:left;text-align:center;}
	.sex li:hover{border:1px solid #fff;cursor:pointer;}
	.four li{height:20px;width:100px;float:left;line-height:20px;text-align:center;}
	.four li:hover{background:yellow;cursor:pointer;}
	#cv{background:#fff;}
	.gj dd{line-height:75px;text-align:center;}
	.gj dd span{border:1px solid #808080;cursor:pointer;}
	.gj dd span:hover{background:#ffff00;}
	dd.ten{padding:10px 25px}
	.ten li{height:20px;width:20px;float:left;border:1px solid #000;margin:3px}
	.ten li:hover{border:1px solid red;cursor:pointer;}