html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 11px;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 415px) and (max-width: 449px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 449px) and (max-width: 499px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 559px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 560px) and (max-width: 639px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 20px;
  }
}
body,
div,
menu,
ol,
ul,
li,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
form,
header,
nav,
article,
section,
aside,
footer,
video,
audio,
figure,
textarea {
  padding: 0;
  margin: 0;
}
input,
select,
textarea {
  background: #FFF;
  -webkit-appearance: none;
  border: 1px solid #c0bec0;
}
menu,
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: inline-block;
}
body {
  font-family: "Microsoft YaHei";
  color: #fff;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}
.box_center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
.table_center {
  display: table-cell;
  vertical-align: middle;
}
.full {
  width: 100%;
}
._clear:after {
  content: "";
  display: block;
  clear: both;
}
._left {
  float: left;
}
._right {
  float: right;
}
header {
  width: 100%;
  position: relative;
}
header > a.a_right {
  top: 0;
  right: 0;
  position: absolute;
  width: 20%;
  height: 5rem;
}
header > nav ._left {
  width: 100%;
  display: flex;
  font-size: 0;
}
header > nav ._left a {
  font-size: 1.1rem;
  margin-bottom: 0.5%;
  width: 25%;
  margin-right: 0.7%;
  background: url("../images/i_04.png") no-repeat;
  background-size: 100% 100%;
  padding: 2% 0;
  text-align: center;
}
header > nav ._left a:last-child {
  margin-right: 0;
}
footer {
  width: 86%;
  padding: 5% 7%;
  background: #6e2423;
  line-height: 1.4;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
footer span {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: top;
}
footer > img:nth-child(1) {
  width: 94%;
  margin: 0 3%;
}
footer > img:nth-child(2) {
  margin: 1% 0;
}
section._content {
  width: 100%;
}
section._content > a.banner {
  margin: 0.2% 0 2%;
  width: 100%;
}
section._content > section._title {
  padding: 3% 0;
  background: url("../images/i_12.png") no-repeat;
  background-size: 100% 100%;
}
section._content > section._title h4 {
  font-size: 1.3rem;
  padding-left: 3%;
  margin-top: -1%;
  font-weight: bold;
}
section._content > section._title h4 a {
  float: right;
  width: 18%;
  margin-right: 5.5%;
  height: 1.6rem;
}
section._content > h3 {
  margin: 3% 0;
  text-align: center;
}
section._content > h3 p:nth-child(1) {
  font-size: 1.4rem;
  color: #a83c18;
  font-weight: bold;
  margin-bottom: 1%;
}
section._content > h3 p:nth-child(2) {
  background: url(../images/i.png);
  background-size: auto 100%;
}
section._content > h3 p:nth-child(2) a._call {
  font-size: 0.9rem;
  width: 35%;
  padding: 1.5%;
  border-radius: 5px;
  background: #e19f2d;
  color: #fff;
  outline: #fff solid thick;
  text-align: center;
}
section._content > h3 p:nth-child(2) a._call span {
  display: inline-block;
  margin-left: -11%;
  transform: scale(0.8, 0.8);
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  section._content > h3 p:nth-child(2) a._call span {
    transform: scale(0.9, 0.9);
    margin-left: -2%;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  section._content > h3 p:nth-child(2) a._call span {
    transform: scale(1, 1);
    margin-left: 0;
  }
}
@media screen and (min-width: 415px) and (max-width: 639px) {
  section._content > h3 p:nth-child(2) a._call span {
    transform: scale(1, 1);
    margin-left: 0;
  }
}
@media screen and (min-width: 640px) {
  section._content > h3 p:nth-child(2) a._call span {
    transform: scale(1, 1);
    margin-left: 0;
  }
}
section._content > h3 p._text {
  font-size: 1.5rem;
}
section._content > h3 img {
  width: 8%;
  margin: 1.5% auto 0;
}
section._content > h2.title {
  font-weight: 400;
  color: #702726;
  font-size: 1.2rem;
}
section._content > h2.title p:nth-child(1) {
  font-size: 2rem;
  color: #6f2524;
  font-weight: bold;
}
section._content > h2.title p:nth-child(2) {
  border-bottom: 3px solid #ac6a00;
  padding-bottom: 2%;
}
section._content > h2.title p span {
  color: red;
}
section._content > .tag_group {
  font-size: 0;
}
section._content > .tag_group h5 {
  display: flex;
  padding-bottom: 2%;
  border-bottom: 1px solid #ccc;
}
section._content > .tag_group h5 span {
  font-size: 0.9rem;
  width: 33%;
  padding: 2% 0 4%;
  text-align: center;
  background: url("../images/gray.jpg") no-repeat;
  background-size: 100% 89%;
  line-height: 1.2;
  margin-right: 0.5%;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
}
section._content > .tag_group h5 span._active {
  background: url("../images/i_26.png") no-repeat;
  background-size: 100% 100%;
}
section._content > .tag_group h5 span:last-child {
  margin-right: 0;
}
section._content > .tag_group ul._con {
  margin-bottom: 3.5%;
}
section._content > .tag_group ul._con li {
  padding: 1%;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}
section._content > .tag_group ul._con li span.title {
  background: #702726;
  width: 25%;
  text-align: center;
  padding: 1% 0;
  display: inline-block;
  font-size: 0.9rem;
  color: #fff;
}
section._content > .tag_group ul._con li p {
  margin-top: 2%;
  font-size: 0.9rem;
  color: #333;
  line-height: 1.4;
  text-indent: 2em;
}
section._content > .tag_group ul._con li p a {
  color: #d40000;
  text-indent: 0;
}
section._content > .tag_group ul._con li:first-child {
  display: block;
}
section._content > .tag_group ul._con li:last-child a.tz {
  width: 100%;
}
section._content > .btn_group2 {
  margin: 3% 0 3%;
  text-align: center;
}
section._content > .btn_group2 a {
  display: inline-block;
  width: 34.5%;
}
section._content > .btn_group2 a:nth-child(1) {
  margin-right: 5%;
}
section._content > a.banner1 {
  width: 100%;
  margin: 3% 0 0;
}
section._content > ._exp {
  background: #f6f5f5;
  width: 94%;
  padding: 1% 3% 6%;
}
section._content > ._exp img.doc {
  width: 96%;
  margin: 0 1%;
  padding: 1%;
  border: 1px solid #e3e1e1;
}
section._content > ._exp p {
  text-align: left;
  text-indent: 2em;
  line-height: 1.6;
  padding: 2% 0;
  font-size: 0.9rem;
  color: #4c4948;
  background: #fdf8f0;
}
section._content > ._exp p span {
  font-weight: bold;
}
section._content > ._exp p a {
  color: red;
  text-indent: 0;
}
section._content > section.media_group {
  margin-bottom: 4%;
}
section._content > section.media_group ._group {
  display: flex;
  margin-top: 1.5%;
}
section._content > section.media_group ._group a {
  width: 25%;
  margin-right: 1%;
}
section._content > section.media_group ._group a:last-child {
  margin: 0;
}
section._content > .img_group {
  margin: 0 1%;
  width: 98%;
}
section._content > .img_group img {
  display: inline-block;
  width: 46.5%;
}
section._content > .img_group img:nth-child(2),
section._content > .img_group img:nth-child(3) {
  width: 52.3%;
}
section._content > section._case {
  margin-top: 1%;
  padding: 1%;
  border: 2px solid #ccc;
}
section._content > section._case .sickCon2 a,
section._content > section._case .sickCon1 a {
  width: 49.5%;
  margin-top: 2%;
}
section._content > section._case .sickCon2 a:nth-child(odd),
section._content > section._case .sickCon1 a:nth-child(odd) {
  margin-right: 1%;
}
section._content > section._con {
  background: #f6f6f6;
  padding-bottom: 3%;
}
section._content > section._con img.title {
  width: 80%;
  padding: 3% 0;
  margin: 0 auto;
}
section._content div.sickCon1,
section._content div.sickCon2 {
  padding-bottom: 8%;
}
section._content div.sickCon {
  width: 99%;
  padding-bottom: 8%;
  border: 1px solid #c3c3c3;
  position: relative;
}
section._content div.sickCon .swiper-slide p {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 1% 2% 2%;
  font-size: 0.8rem;
  color: #fff;
  text-indent: 2em;
}
section._content div.sickCon .swiper-slide p img {
  width: 40%;
  display: block;
  margin: 2% auto;
}
section._content div.sickCon .swiper-slide a:first-child {
  width: 98%;
  padding: 1% 1% 0;
}
section._content div.sickCon .swiper-slide img.s1 {
  opacity: 0;
}
section._content div.sickCon .swiper-slide img {
  padding: 1.5% 1% 0;
  width: 98%;
}
section._content div.sickCon .swiper-slide-active img.s1 {
  opacity: 1;
  transition: all 3s;
}
section._content div.sickCon .swiper-slide-active p {
  animation: pmove 4s;
}
@keyframes pmove {
  0% {
    bottom: -100%;
  }
  40% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
section._content div.sickYuan,
section._content div.sickYuan1,
section._content div.sickYuan2 {
  width: 100%;
  margin: 0 auto;
}
section._content div.sickYuan span,
section._content div.sickYuan1 span,
section._content div.sickYuan2 span {
  width: 1rem;
  height: 1rem;
  margin: 0 5%;
}
section._content div.sickYuan span.swiper-pagination-bullet-active,
section._content div.sickYuan1 span.swiper-pagination-bullet-active,
section._content div.sickYuan2 span.swiper-pagination-bullet-active {
  background: #6f2524;
}
section._content > .footer_sub {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0 4% 5%;
  width: 92%;
  text-align: center;
  color: #717171;
  background: url("../images/big_bg.jpg") no-repeat;
  background-size: 100% 100%;
  font-size: 1.1rem;
  color: #4a4a4a;
}
section._content > .footer_sub img.title {
  width: 75%;
  margin: 0 auto;
  margin-top: 1px;
}
section._content > .footer_sub input,
section._content > .footer_sub select {
  font-size: 0.8rem;
  width: 60%;
  padding: 1.5% 0 1.5% 1%;
  height: 1em;
  vertical-align: middle;
  margin-bottom: 2%;
  border: 0;
}
section._content > .footer_sub select {
  height: 2.2em;
  width: 61%;
  font-size: 1rem;
}
section._content > .footer_sub input[type="submit"] {
  margin: 2% 0 3%;
  width: 33%;
  height: 2.5rem;
  background: url("../images/i_139.png") no-repeat;
  background-size: 100% 100%;
}
section._content > .footer_sub p:nth-child(2) {
  font-size: 1.2rem;
  color: #333;
  margin: 3% 0 4%;
  text-align: left;
}
section._content > .footer_sub p span {
  font-size: 1.2rem;
  color: red;
}
