*{margin:0;padding:0}
img{border:0}
li,ul{list-style:none}
a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:underline}
input,textarea{font-family:"微软雅黑","宋体",Arial,Helvetica,sans-serif}
.fl{float:left}
em,i{font-style:normal}
.fr{float:right}
.hd{overflow:hidden}
.clear{clear:both}
area{outline:0}
.cen{width:1024px;margin:0 auto}
body{font-family:"微软雅黑","宋体",Arial,Helvetica,sans-serif;font-size:14px;color:#fff;background:#fff}
.h25{height:25px}
.busa{padding:37px 0 0}
.busg1{background:#f7f7f7}
.top{height:30px;line-height:30px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;background:url(../images/m1.png) repeat-x;position:relative;z-index:2}
.topMain span{display:block;float:left;margin-right:10px}
.topMain span img{margin-right:3px;vertical-align:middle;position:relative;top:-1px}
.topMainLeft{height:20px;line-height:20px;margin:4px 0 0}
.topMain a{font-size:12px;color:#000}
.topMain span.bts{border-right:1px solid #b4b4b4;padding-right:10px}
.topMain span.bts img{top:1px}
.topMainRight a{display:block;float:left;width:50px;text-align:center;height:30px;line-height:30px;color:#231815;font-size:12px}
.topMainRight a.hover{background:#0076c0;color:#fff}
.logoMain{height:100px;margin-top:7px;position:relative}
.cityLogo{margin-top:35px;margin-left:15px;font-size:20px;color:#010101;position:relative}
.cityLogo a{color:#0076c0}
.cityLogo a:hover{text-decoration:underline}
.cityLogo font{display:inline-block;margin:0 10px 0 15px}
.logoTel{margin-top:13px;background:url(../images/m7.jpg) no-repeat;width:319px;height:75px;color:#b71c20;font-weight:700;position:relative}
.logoTel strong{display:block;margin:30px 0 0 60px;font-size:29px}
.logoTel a{position:absolute;height:23px;width:50px;display:block;top:0}
.logoTel a.ovos1{right:113px}
.logoTel a.ovos2{right:59px}
#divPoupCity{font-size:12px;position:absolute;width:230px;padding:10px;height:auto;display:none;border:1px solid #999;left:0;top:65px;background:#fff;padding-top:0;padding-bottom:30px;z-index:1000}
#divPoupCity .close{float:right;margin-top:10px}
#divPoupCity span{width:230px;height:auto;float:left;line-height:180%;margin-top:10px}
#divPoupCity span em{width:40px;text-align:right;float:left;font-style:normal}
#divPoupCity span b{width:190px;float:left;font-weight:400;white-space:nowrap}
#divPoupCity span b a{color:#a1a1a1;text-decoration:none;margin-left:10px;display:block inline;float:left}
#divPoupCity span b a:hover{text-decoration:underline}
.nav{background:#0076c0;height:58px;border-bottom:3px solid #5b7f96;position:relative;z-index:2}
.navMeau ul{height:58px;line-height:58px;padding-left:220px;overflow:hidden}
.navMeau ul li{float:left;padding:0 19px;background:url(../images/m8.png) no-repeat right center}
.navMeau ul li:hover{background:#b71c20}
.navMeau ul li a{color:#fff}
.navMeau{position:relative}
.navMeau .navMeaubar{width:220px;background:#fff;position:absolute}
.navMeau .navMeaubar h2{height:56px;line-height:58px;background:url(../images/m10.png) no-repeat center bottom;padding-bottom:17px}
.navMeau .navMeaubar h2 strong{background:#0063a1 url(../images/m9s.jpg) no-repeat 179px center;display:block;padding-left:61px}
.navMeau.hd .navMeaubar h2 strong{background:#0063a1 url(../images/m9.png) no-repeat 179px center}
.navMeaubar dl{padding:9px 15px 1px;line-height:22px;color:#333;background:url(../images/m11.jpg) no-repeat right 155px}
.navMeaubar dt{background:url(../images/m12.jpg) no-repeat left center;font-size:17px;color:#0076c0;font-weight:700;padding-left:15px;margin-bottom:5px}
.navMeaubar dl dt a{color:#0076c0}
.navMeaubar dd{margin-bottom:10px}
.navMeaubar dl a{color:#333}
.navMeaubar dl a.tsbs{font-weight:700;color:#a7101a;font-size:17px}
.navMeaubar dl a:hover{text-decoration:underline}
h2.title{text-align:center;color:#b71c20;padding:22px 15px}
h2.title font{color:#0076c0}
.banner{width:100%;height:384px;overflow:hidden;position:relative;z-index:1}
.banner .hd{width:100%;text-align:center;height:20px;overflow:hidden;position:absolute;right:5px;bottom:5px;z-index:1}
.banner .hd ul{overflow:hidden;zoom:1}
.banner .hd ul li{margin-right:2px;display:inline-block;width:12px;height:12px;border-radius:12px;margin:0 3px;background:#fff;cursor:pointer}
.banner .hd ul li.on{background:red;color:#fff}
.banner .bd{position:relative;height:100%;z-index:0}
.banner .bd li{zoom:1;height:384px}
.banner .next,.banner .prev{position:absolute;left:3%;top:50%;margin-top:-25px;display:block;width:32px;height:40px;background:url(../images/slider-arrow.png) -110px 5px no-repeat;filter:alpha(opacity=50);opacity:.5}
.banner .next{left:auto;right:3%;background-position:8px 5px}
.banner .next:hover,.banner .prev:hover{filter:alpha(opacity=100);opacity:1}
.mainnine{height:597px;background:url(../images/m46.jpg) no-repeat center top;position:relative;overflow:hidden}
.mainnine h2{position:absolute;left:0;top:12px;text-align:center;width:100%;color:#fff;z-index:3}
.mainnineMain{width:1024px;margin:0 auto;height:507px;position:relative;z-index:2}
.mainnineMainLeft{width:50%;margin-top:80px;float:left;text-align:center;height:100%;overflow:hidden}
.mainnineMainLeft .wd1 .imgs1{width:22%}
.mainnineMainLeft .wd1 .imgs2{width:19%}
.mainnineMainLeft .wd1 .imgs3{width:22%}
.mainnineMainLeft .wd2 .imgs1{width:32%}
.mainnineMainLeft .wd2 .imgs2{width:19%}
.mainnineMainLeft .wd2 .imgs3{width:32%}
.mainnineMainLeft .wd3 .imgs1{width:22%}
.mainnineMainLeft .wd3 .imgs2{width:19%}
.mainnineMainLeft .wd3 .imgs3{width:22%}
.table{position:relative;display:table;width:100%;height:100%;vertical-align:middle}
.tablesCell{display:table-cell;width:100%;height:100%;vertical-align:middle}
.mapsbox img{display:block;width:100%;height:100%}
.selectbox{margin:5px 0 0;width:100%}
.selectbox input,.selectbox select{height:40px;border:1px solid #fff;border-radius:5px;background:0 0;color:#fff;font-size:20px}
.selectbox select option{color:#333}
.sec1{width:31%}
.sec2{width:31%;margin:0 2%}
.sec3{width:27%;padding:0 2%}
.seachs{width:100%;height:50px;margin-top:25px;line-height:50px;background:#b71c20;border-radius:3px;display:block;text-align:center;font-size:20px;color:#fff;border-bottom:3px solid #5f1315}
.seachs img{vertical-align:middle}
.closeright{width:25px;height:25px;display:block;float:right;margin-top:-8px;cursor:pointer;background:url(../images/close.png) no-repeat center;background-size:100% 100%;position:relative;z-index:9}
.rightBoxNEWS{position:fixed;right:0;top:50%;margin-top:-260px;z-index:2}
.rightBox{width:145px;height:358px;position:relative;z-index:6;margin-left:20px;background:url(../images/rightBox.png) no-repeat left top}
.rightBox ul{padding-top:49px}
.rightBox ul li{width:118px;height:33px;line-height:33px;border-bottom:1px solid #e8bec0;margin:0 0 0 11px}
.rightBox ul li i{display:inline-block;vertical-align:middle;width:32px;text-align:center}
.rightBox ul li i img{width:25px}
.rightBox ul li a{color:#0076c0;display:block;background:#fff;font-size:12px}
.rightBox ul li a:hover{background:#0076c0;color:#fff}
.days{width:195px;position:relative;right:4px;top:20px;z-index:8}
.days img{width:100%;display:block}
.days .timeday{position:absolute;color:#fff;font-size:18px;font-weight:700}
.days .timeday .date{width:65px;height:33px;line-height:33px;text-align:center}
.date1{left:87px;top:31px}
.date2{left:87px;top:73px}
.fixbottom{width:100%;position:fixed;bottom:0;left:0;z-index:999;background:#b71c20;text-align:center}
.fixbottomBox{width:800px;margin:0 auto;position:relative}
.fixbottomBox span{width:134px;height:30px;position:absolute;top:-30px;right:0;border-radius:7px 7px 0 0;background:#b71c20 url(../images/up.jpg) no-repeat 93% center;display:block;cursor:pointer}
.fixbottomBox span b{display:block;margin-right:10px;text-align:center;line-height:30px}
.fixbottomBox span.hover{background:#b71c20 url(../images/down.jpg) no-repeat 93% center}
.fixbottomBox .fixbox{position:relative;display:none}
.fixbottomBox .fixbox strong{position:absolute;left:100px;top:64px;text-shadow:0 2px 1px #891215;font-size:22px;color:#fefefe}
.fixbottomBox .fixbox img{width:100%}
.closes{position:absolute;left:101%;top:0;cursor:pointer}
.fr_link{background:#363636;padding-top:25px;padding-bottom:20px}
.fr_link_con{width:1000px;background:url(../images/jr_155.jpg) no-repeat top left;margin:0 auto;height:auto;overflow:hidden;font-family:"黑体","微软雅黑","宋体",Arial,Helvetica,sans-serif;font-weight:700;font-size:14px}
.fr_link_con ul{margin-top:35px}
.fr_link_con ul li{float:left;display:inline;margin-right:6px}
.fr_link_con ul li:first-child{width:140px;margin-right:15px}
.fr_link_con ul li img{width:112px;height:42px;overflow:hidden;border:#bbb 1px solid}
.fr_link_con ul li:first-child img{width:140px;height:45px;border:#bbb 1px solid}
.btm_nav2{line-height:30px;text-align:center;color:#FFF}
.btm_nav2 a{padding:0 5px;color:#fff}
.btm_nav2 a:hover{color:#d3d3d3}
.copyright{color:#fff;background:#000;text-align:center;padding:10px 0 15px;font-family:"黑体","微软雅黑","宋体",Arial,Helvetica,sans-serif;font-size:14px;padding:24px 0 30px}
.h30{height:30px}
.mstext{text-align:center;font-size:18px;margin-top:5px;color:#333}
.mstext strong{color:#c74342;font-size:24px}
.teacherListask{text-align:center}
.teacherListask li{width:185px;margin:0 20px;display:inline-block;text-align:center}
.teacherListask li .name{margin:15px 0}
.teacherListask li .name strong{color:#c74342;font-size:18px}
.teacherListask li .name b{display:inline-block;background:url(../images/ovs20.jpg) no-repeat center top;background-size:100% 100%;width:73px;height:27px;line-height:27px;font-weight:400;margin-left:5px}
.teacherListask.ph68 li p{height:68px;overflow:hidden}
.teacherListask li p{color:#515151;font-size:12px}
.teacherListask.ph li p{height:68px}
.teacherListask li a{width:112px;height:31px;line-height:31px;border-radius:3px;background:#d14f4e;margin:10px auto 0;font-size:12px;color:#fff;display:block}
.teacherListask li a img{vertical-align:middle;position:relative;top:-1px;margin-right:4px}
.oVSeven{padding:15px 0}
.mtb25{margin:25px auto}
.h30{height:30px}
.mstext{text-align:center;font-size:18px;margin-top:5px;color:#333}
.mstext strong{color:#c74342;font-size:24px}
.teacherList li{width:192px;height:363px;margin:0 6px;float:left;text-align:center;overflow:hidden;position:relative}
.teacherList li img{display:block;width:98px;margin:22px auto}
.teacherList li strong{display:block;font-size:20px;margin-bottom:5px}
.teacherList li p{width:151px;max-height:127px;overflow:hidden;margin:0 auto;text-align:left;color:#333}
.teacherList li a{position:absolute;bottom:24px;left:50%;width:76px;height:28px;line-height:28px;margin-left:-38px;color:#fff;border-radius:4px}
.teacherList li.abg1{background:#fbf6eb}
.teacherList li.abg1 strong{color:#d6a939}
.teacherList li.abg1 a{background:#e4ba50;border-bottom:2px solid #d6a939}
.teacherList li.abg2{background:#eef7ee}
.teacherList li.abg2 strong{color:#58af5a}
.teacherList li.abg2 a{background:#78c27a;border-bottom:2px solid #58af5a}
.teacherList li.abg3{background:#e5f5fc}
.teacherList li.abg3 strong{color:#00aeef}
.teacherList li.abg3 a{background:#2cb0e9;border-bottom:2px solid #009de1}
.teacherList li.abg4{background:#eaf8f8}
.teacherList li.abg4 strong{color:#35bfbe}
.teacherList li.abg4 a{background:#47cac9;border-bottom:2px solid #35bfbe}
.teacherList li.abg5{background:#fbeced}
.teacherList li.abg5 strong{color:#d6444a}
.teacherList li.abg5 a{background:#e05a5f;border-bottom:2px solid #d6444a}
.ksnav .navMeau ul{padding:0;text-align:center}
.ksnav .navMeau ul li{width:158px;padding:0}
.ksnav .navMeau ul li a{font-size:16px}
.gaokao_jl{background:url(../images/gaokao1.jpg) no-repeat left center;background-size:100% 100%;height:100px}
.gaokao_jl p{color:#222;font-weight:700;text-align:center;font-size:40px;line-height:100px}
.gaokao_jl p strong{display:inline-block;width:92px;height:86px;vertical-align:middle;background:url(../images/gaokao2.png) no-repeat center;background-size:100% auto;margin:-10px 10px 0;color:#d6444a;font-family:Arial;font-size:44px}
.gaokaoscore{position:relative;padding:0 0 30px}
.gaokaoscore .gaokaobg{position:absolute;right:0;bottom:0}
.gaokaoscore h3{color:#bc0000;font-size:36px;margin:60px 0 25px}
.gaokaoscore ul{width:740px;float:left}
.gaokaoscore ul li{color:#222;font-size:18px;float:left;width:740px;padding-left:30px;margin-bottom:18px;position:relative}
.gaokaoscore ul li span{width:25px;height:25px;line-height:25px;font-weight:700;font-size:16px;border-radius:50%;background:#db5056;margin-right:4px;color:#fff;display:block;text-align:center;position:absolute;top:0;left:0}
.gaokaoscore ul li.gkb1 span{background:#10afb2}
.gaokaoscore ul li.gkb2 span{background:#336a71}
.gaokaoscore ul li.gkb3 span{background:#106eb2}
.gaokaoscore ul li p{display:inline-block;padding-left:75px;position:relative;line-height:30px}
.gaokaoscore ul li p strong{position:absolute;left:0;top:-1px}
.gaokaoscore ul li em{color:#bc0000;font-size:27px}
.gaokaoscore p a{display:block;color:#fff;background:#bc0000;width:540px;height:60px;border-radius:5px;line-height:58px;font-size:25px;display:block;margin-bottom:30px;margin-top:10px}
.gaokaoscore p a:hover{text-decoration:none}
.gaokaoscore p img{width:53px;height:49px;margin:1px 10px 0 22px;vertical-align:middle;display:inline-block}
.gaokaotitle{background:#0072bb;text-align:center}
.gaokaotitleMain{position:relative;height:117px}
.gaokaotitleMain span{background:url(../images/ovse4.png) no-repeat;width:212px;height:143px;display:block;text-align:center;position:absolute;left:0;top:0}
.gaokaotitleMain span img{margin-top:26px}
.gaokaootable{color:#fff;font-size:25px;display:table;width:100%;height:100%;vertical-align:middle}
.gaokaootable .otablesCell{display:table-cell;width:100%;height:100%;vertical-align:middle}
.gaokaootable .otablesCell p{padding-left:200px;font-weight:700}
.gaokaootable .otablesCell p strong{color:#fff3a7;font-size:40px;display:inline-block;margin-left:10px;vertical-align:-3px}
.gaokaoabms{position:relative;margin:60px 0 40px}
.gaokaoabms span{width:44px;height:35px;display:block;position:absolute}
.gaokaoabms span.onl{background:url(../images/on13.jpg) no-repeat;left:0;top:0}
.gaokaoabms span.onr{background:url(../images/on14.jpg) no-repeat;right:0;bottom:0}
.gaokaoabms p{font-size:28px;color:#222;line-height:38px;padding:0 74px 10px}
.gaokaoTwoImgs{position:relative}
.gaokaoTwoImgs img{width:100%;display:block;margin:0 auto}
.gaokaoTwotabs{border-radius:5px;background:#fbf8f1;margin:0 auto 15px;width:957px;}
.gaokaoTwotabs-tit{text-align:center;font-size:38px;color:#fff;background:#b41d23;height:112px;line-height:112px;position:relative}
.gaokaoTwotabs-tit img{position:absolute;display:block;top:86px;width:12px;}
.gaokaoTwotabs-tit-1{left:150px}
.gaokaoTwotabs-tit-2{right:150px}
.gaokaoTwotabs-text{padding:60px 40px;color:#666666;font-size:24px}
.gaokaoTwotabs-text ul{width:730px;margin:0 auto 56px;}
.gaokaoTwotabs-text ul li{margin-bottom:15px}
.gaokaoTwotabs-text ul li span{display:inline-block;vertical-align:middle;width:12px;height:12px;border-radius:20px;background:#b41d23;margin-right:7px;position:relative;top:-2px}
.gaokaoTwotabs-text strong{margin-left:160px;color:#b41d23;font-size:30px;}
.gaokaoTwotabs-bot{margin-top: 35px;position:relative;color:#fff;font-size:36px;background:#bc0000;height:75px;line-height:75px;position:relative;text-align:center}
.gaokaoTwotabs-bot a{color:#fff}
.gaokaoTwotabs-bot img{position:absolute;right:0;bottom:0}
.gaokaoTabs{border:1px solid #e4e4e4;margin-top:68px;position:relative;margin-bottom:35px}
.gaokaoot{position:absolute;right:59px;top:-35px}
.gaokaoTabs .gaokaoosNav{background:#dadada;font-size:18px;overflow:hidden;color:#444}
.gaokaoTabs .gaokaoosNav li{float:left;width:138px;height:45px;line-height:41px;text-align:center;border-top:5px solid #dadada;cursor:pointer}
.gaokaoTabs .gaokaoosNav li.hover{border-top:5px solid #00aeef;background:#fff}
.gaokaoosTxt{padding:20px;color:#444}
.gaokaoosTxtChild{display:none}
.gaokaoosTxtChild dl{padding:20px}
.gaokaoosTxtChild dt{font-size:18px;font-weight:700;margin-bottom:12px}
.gaokaoosTxtChild dd{font-size:15px}
.gaokaoosTxtChild dd p{margin-top:10px}
.gaokaoosTxtChild dd span{font-size:12px;font-weight:bold;width:18px;height:18px;margin-right:4px;color:#fff;border-radius:18px;text-align:center;line-height:18px;display:inline-block;vertical-align:2px}
.gaokaoosTxtChild dl.gaolaodla{background:#fff;border-radius:5px}
.gaokaoosTxtChild dl.gaolaodlb{background:#f1f1f1;border-radius:5px}
.gaokaoosTxtChild dl.gaolaodlb dt{color:#00aeef}
.gaokaoosTxtChild dl.gaolaodlb span{background:#00aeef}
.gaokaoosTxtChild dl.gaolaodla dd span{background:#fe9f1d}
.gaokaoosTxtChild hr{width:782px;border-bottom:2px solid #ebebeb;margin-top:15px}
.gaokaoosTxtChild a{width:400px;height:64px;line-height:64px;display:block;margin:20px auto 0;background:#bc0000;border-radius:3px;text-align:center;font-size:36px;color:#fff;font-weight:700}
.gaokaoosTxtChild a:hover{text-decoration:none}
.gaokaoosTxtChild a img{display:inline-block;vertical-align:middle;position:relative;top:-2px;margin-right:7px}
.gaokao4,.gaokao5{text-align:center;margin:50px auto}
.gaokao4 a{width:536px;height:68px;line-height:68px;display:block;margin:20px auto 0;background:#bc0000;border-radius:3px;text-align:center;font-size:36px;color:#fff;font-weight:700}
.gaokao4 a img{display:inline-block;vertical-align:middle;position:relative;top:-2px;margin-right:7px}
.gaokao4 a:hover{text-decoration:none}
.gaokao5 img.fl{margin-left:27px}
.gaokao5 dl{padding-top:70px;color:#333;width:436px;text-align:left;line-height:30px;float:left;margin-left:50px}
.gaokao5 dt{font-size:36px;font-weight:700;margin-bottom:10px}
.gaokao5 dd{font-size:18px}
.gaokao6 .gaokaoMainText{position:relative;height:480px;padding-top:10px;margin:70px 0 0;background:url(../images/m45.png) no-repeat center top}
.gaokao6 .gdxl{background:url(../images/ovs18sl.png) no-repeat center top}
.gaokao6 .gdxr{background:url(../images/ovs18sr.png) no-repeat center top}
.gaokaoMainText div{width:289px;height:123px;position:absolute}
.gaokaoMainText div dl dt{font-weight:700;padding-bottom:5px;color:#2b83c6;font-size:17px;border-bottom:2px solid #2b83c6;display:inline-block;margin-bottom:5px}
.gaokaoMainText div dl dd p{color:#333;font-size:12px}
.pan_con{
	height:340px;margin:50px auto;
	width:1024px;
}
.pan_con ul{margin:0 auto;color:#fff;}
.pan_con li img{width:76px;margin:16px auto;display:block;}
.pan_con li h3{margin-bottom:16px;font-size:24px;font-weight: bold;text-align: center}
.pan_con li{line-height:1.5;padding:0 32px;width:192px;height:340px;float:left;font-size:18px;}
.pan_con .index_1{background:#fac660;border-top-left-radius:8px;border-bottom-left-radius:8px; }
.pan_con .index_2{background:#88d8b5;}
.pan_con .index_3{background:#ffa387;}
.pan_con .index_4{background:#50a1d8;border-top-right-radius:8px;border-bottom-right-radius:8px;}
.gdxl dl{text-align:right;padding:10px 30px 0 11px}
.gdxr dl{text-align:left;padding:10px 11px 0 30px}
.gaokaoMainText div.gdl1{left:80px;top:-5px}
.gaokaoMainText div.gdl2{right:80px;top:-5px}
.gaokaoMainText div.gdl3{left:0;top:145px}
.gaokaoMainText div.gdl4{right:0;top:145px}
.gaokaoMainText div.gdl5{left:80px;top:310px}
.gaokaoMainText div.gdl6{right:80px;top:310px}
.gaokao7{padding:50px 0 20px}
.gaokao8{text-align:center}
.gaokao8 .teacherListask li{width:282px}
.gaokao8 .teacherListask li .name strong{color:#c74342;font-size:24px}
.gaokao8 .teacherListask li strong{color:#444;font-size:14px}
.gaokao8 .teacherListask li p{font-size:14px;margin-bottom:15px}
.gaokao8 .teacherListask li a{width:128px;height:32px;line-height:32px;font-size:15px;border-bottom:2px solid #ba3130}
.gaokaoeightMainText ul{padding:0 23px}
.gaokaoeightMainText ul li{width:460px;height:200px;margin:25px 13px 0;float:left;border:1px solid #e8e8e8;border-radius:3px;background:#fff;overflow:hidden}
.gaokaoeightMainText ul li img.fl{margin:26px 25px 26px 35px;display:block}
.gaokaosebstxt{float:left;padding-top:26px;width:226px;color:#333}
.gaokaosebstxt .gaonames{color:#00aeef;font-size:18px}
.gaokaosebstxt p{margin-top:10px;font-size:12px}
.gaokaosebstxt .gaonames b{color:#fff;background:url(../images/ovs28.jpg) no-repeat center top;background-size:100% 100%;font-size:12px;font-weight:400;display:inline-block;height:22px;line-height:21px;padding:0 12px;margin-left:3px}
.gaokaosebstxt a{width:100px;height:31px;text-align:center;line-height:31px;border-radius:3px;border-bottom:1px solid #00a3e0;color:#fff;background:#0eb7f6;display:block;margin:10px 0 0}
.gaokaosebstxt a i{display:inline-block;vertical-align:middle;background:url(../images/ovs26s.jpg) no-repeat center top;width:17px;height:12px;margin-right:3px}
.gaoowns{width:240px;height:45px;line-height:45px;padding-left:108px;background:#d64349;border-radius:3px;margin:50px auto 30px;display:block;position:relative;color:#fff;font-size:22px}
.gaoowns img{position:absolute;bottom:0;left:25px}
.gaokaoeightMainText ul li:hover{background:#00aeef}
.gaokaoeightMainText ul li:hover .gaokaosebstxt .gaonames{color:#fff}
.gaokaoeightMainText ul li:hover .gaokaosebstxt .gaonames b{background:url(../images/ovs28s.jpg) no-repeat center top;background-size:100% 100%;color:#00aeef}
.gaokaoeightMainText ul li:hover p{color:#fff}
.gaokaoeightMainText ul li:hover .gaokaosebstxt a{color:#00aeef;background:#fff}
.gaokaoeightMainText ul li:hover .gaokaosebstxt a i{background:url(../images/ovs26.jpg) no-repeat center top}
.gaofr_link{padding:39px;background:#363636;text-align:center}
.gaofr_link a{display:inline-block;width:130px;height:46px;margin:0 3px;line-height:46px;background:#00aeef;text-align:center;color:#fff;font-size:23px}
.gaofr_link a:hover{text-decoration:none}
.zhongkaOne{font-size:24px;color:#222;position:relative}
.zhongkaOneMain{padding:43px 0 0 85px}
.zhongkaobg{display:block;position:absolute;right:10px;bottom:60px;z-index:-1}
._red{font-weight: bold;padding-left:420px;font-size:30px;color:#bc0000;margin:26px 0 20px;}
.con_1{width:337px;position:absolute;top:62px;left:0;}
.zhongkaOnedou{position:relative;width:660px;padding-left:240px;}
.zhongkaOnedou span{position:absolute}
.zhongkaOnedou span.dou1{left:240px;top:9px}
.zhongkaOnedou span.dou2{right:7px;bottom:5px}
.zhongkaOnedou p{font-size:30px;color:#626262;padding-left:14px;font-weight:bold;text-align: center}
.zhongkaOne ul{overflow:hidden;margin-top:15px;margin-left:342px;}
.zhongkaOne ul li{position:relative;margin-bottom:22px;font-size:20px;}
.zhongkaOne ul li span{width:28px;height:28px;border-radius:28px;margin-right:8px;text-align:center;line-height:28px;color:#fff;background:#a4b01a;font-weight:700}
.zhongkaOne ul li p,.zhongkaOne ul li span{display:inline-block}
.zhongkaOne p a{display:block;color:#fff;background:#bc0000;width:580px;height:68px;border-radius:5px;line-height:68px;font-size:36px;display:block;margin:10px 0 30px 130px}
.zhongkaOne p img{width:53px;height:49px;margin:-8px 0px 0 22px;vertical-align:middle;display:inline-block}
.zhongkaoTwoMain{position:relative;width:824px;margin:55px auto 20px}
.zhongkaoTwoMain span{width:49px;height:90%;display:block;color:#888;position:absolute;top:5%}
.ztml{left:0;background:url(../images/zhongkao4.png) no-repeat left top;background-size:100% 100%}
.ztmr{right:0;background:url(../images/zhongkao5.png) no-repeat left top;background-size:100% 100%}
.zhongkaoTwoMain p{font-size:30px;color:#888;text-align:center;font-weight:700}
.zhongkaoTwoMain p strong{font-size:36px;color:#f4a011}
.zhongkaoclass .gaokaoosTxtChild a{width:100%}
.zhongkao8 .teacherListask li .name{text-align: center;height:31px;}
.zhongkao8 .teacherListask li .name b{vertical-align:text-bottom;background:url(../images/zhongkao11.jpg) no-repeat center top;background-size:100% 100%;width:69px;height:24px;padding:0;font-size:15px;font-weight:700;line-height:24px;text-align:center;color:#fff}
.zhongkao8 .teacherListask li{text-align:left;font-size:18px;color:#222;width:337px;margin:0}
.zhongkao8 .teacherListask li img.namepic{width:177px;display:block;margin:0 auto}
.zhongkao8 .teacherListask li strong{font-size:18px;color:#222}
.zhongkao8 .teacherListask li p{line-height:26px;margin-bottom:5px;font-size:14px;color:#222}
.zhongkao8 .teacherListask li .name strong{font-size:23px;color:#0f8bda}
.zhongkao8 .teacherListask li a{text-align:center}
.nametext{padding:0 20px}
.nametextHx{height:328px}
.zhongkao8 .teacherListask li.cs .nametext{border-left:1px dashed #a0a0a0;border-right:1px dashed #a0a0a0}
.zhongkao8_txt{width:737px;margin:0 auto;position:relative}
.zhongkao8_txt span{width:18px;height:100%;display:block;color:#888;position:absolute;top:0}
.zpml{left:0;background:url(../images/zhongkao12.jpg) no-repeat left center}
.zpmr{right:0;background:url(../images/zhongkao13.jpg) no-repeat left center}
.zhongkao8_txt p{font-size:27px;color:#333;text-align:center;line-height:40px}
.zhongkao8_txt p strong{font-size:32px}
.zhongkaolast .gaokaosebstxt p{color:#a8a8a8;font-size:14px;OVERFLOW:hidden;height:78px;text-overflow:ellipsis}
.zhongkaolast .gaokaosebstxt .gaonames b{background:url(../images/zhongkao18.jpg) no-repeat left top;background-size:100% 100%;width:auto;height:23px;vertical-align:middle}
.zhongkaolast .gaokaosebstxt .gaonames{font-size:20px;width:250px;}
.zhongkaolast .gaokaosebstxt{width:230px}
@media screen and (max-width:1440px){.fixbottomBox{width:650px}
.fixbottomBox .fixbox strong{font-size:16px;left:82px;top:53px}
}
