*{margin:0;padding:0;list-style:none;}
html,body,#wrap,.part1,.part2,.part3,.part4,.part5,.part6,.part7{height:100%;width:100%;background-size:cover}
body{overflow:hidden}
#fixd{width:20px;height:210px;position:fixed;left:30px;top:0;bottom:0;margin:auto}
#fixd li{float:left;width:14px;height:14px;border:3px solid #fff;border-radius:10px;margin:5px 0px;}
#fixd li.hover{background:#fff;}
.part1{background:url(../img/img1/1.jpg);background-size:cover;}
.part1,.part2,.part3,.part4,.part5,.part6,.part7{position:relative;}
.part1 img.logo{position:relative;top:30px;left:50px;animation:moves 1s}
img.logo{position:absolute;top:30px;left:50px}
@keyframes moves{
from{left:-250px}
to{left:50px}
}
.part1 p.bottom{background:#D97F5C;line-height:35px;font-size:16px;color:#fff;position:absolute;bottom:0;width:100%;text-align:center;font-weight:bold;}
.part1 img.center{position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;animation:opacity 2s}
@keyframes opacity{
from{opacity:0}
to{opacity:1}
}
.part2{background:#D97F5C;}
.part2 img.center{position:absolute;bottom:-714px;opacity:0;left:0;right:0;margin:auto;}
.part2.on img.center{bottom:150px;opacity:1;transition:bottom 1s,opacity 1s;}
.part3{background:url(../img/img1/3.jpg);background-size:cover;}
.part3 img.center{position:absolute;left:-750px;opacity:0;top:0;bottom:0;margin:auto;}
.part3.on img.center{left:150px;opacity:1;transition:left 1s,opacity 1s;}
.part4{background:url(../img/img1/4.jpg);background-size:cover;}
.part4 img.center{position:absolute;left:150px;opacity:1;top:0;bottom:0;margin:auto;}
.part4.on p{bottom:80px;transition:bottom 1s,opacity 1s;opacity:1}
.part4 p{position:absolute;font-size:16px;color:#fff;background:rgba(0,0,0,.7);height:60px;width:880px;line-height:30px;padding:40px 20px;right:130px;bottom:-150px;opacity:0;}
.part5{background:url(../img/img1/5.jpg);background-size:cover;}
.part5 .bottom{position:absolute;font-size:16px;color:#fff;background:rgba(0,0,0,.7);height:200px;width:100%;bottom:-200px;opacity:0;}
.part5 img.center{position:absolute;left:50px;bottom:0;top:0;margin:auto}
.part5 p{position:absolute;width:650px;height:90px;font-size:16px;color:#fff;line-height:30px;right:50px;bottom:0;top:0;margin:auto}
.part5.on .bottom{bottom:0;opacity:1;transition:bottom 1s,opacity 1s;}
.part6{background:url(../img/img1/6.jpg);background-size:cover;}

.part6 img.center{position:absolute;left:-600px;opacity:0;top:0;bottom:0;margin:auto;}
.part6.on img.center{left:150px;opacity:1;transition:left 1s,opacity 1s;}
.part7{background:url(../img/img1/7.jpg);background-size:cover;}

.part7 img.center{position:absolute;left:-600px;opacity:0;top:0;bottom:0;margin:auto;}
.part7.on img.center{left:150px;opacity:1;transition:left 1s,opacity 1s;}
.part7 img.center1{position:absolute;right:50px;opacity:0;bottom:-500px;}
.part7.on img.center1{bottom:0;opacity:1;transition:bottom 1s,opacity 1s;}



