.east_wecat{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #E4E4E4;
    margin-top: .2rem;
}
.east_wecat_left{
    float: left;
    width: 68%;
    border-right: 1px solid #E4E4E4;
    padding: .15rem 0;
}
.east_wecat_left h3{
    font-size: .22rem;
    color: #59595B;
    text-align: center;
}
.east_wecat_left h3 span{
    color: #C30C0C;
}
.east_wecat_left h4{
    font-size: .22rem;
    color: #7B3179;
    text-align: center;
    background-image: url(../images/east_wecath4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: .08rem;
}
.east_wecat_left p{
    color: #59595B;
    font-size: .22rem;
    font-weight: 700;
    margin-top: .2rem;
    padding-left: 6%;
}
.east_wecat_left p span{
    background-image: url(../images/east_wecaticon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: .04rem .1rem;
    margin-right: .05rem;
}
.east_wecat_left p b{
    color: #C30C0C;
}
.east_wecat_right{
    float: right;
    width: 32%;
}
.east_wecat_right:before{
    display: table;
    content: "";
}
.east_wecat_right img{
    display: block;
    margin: 0 auto;
    margin-top: 12%;
}