*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
.will_left {
    float: left;
}
.will_right{
    float: right;
}

/**/
.will_middle{
    width: 1000px;
    margin: 0 auto;
}
.section_one{
    position: relative;
    height: 125px;
}
.section_one img{
    left: 0;
    top: 0;
    width: 100%;
    height:125px;
}
.slideBox{
    position: relative;
}
.hd{
    position: absolute;
    z-index: 888;
    right: 100px;
    bottom: 10px;
}
.hd ul li{
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #909189;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}
.hd ul li.on{
    background-color: #FC7C37;
}
/*section_two*/
.section_two{
    overflow: hidden;
}
.two_top{
    padding:10px;
    margin-top: 15px;
    border: 1px solid #EFEFEF;
    background-color: #F8F8F8;
}
.two_top h3{
    font-size: 20px;
    color: #565656;
}
/*two_infor*/
.two_infor{
    overflow: hidden;
}
.two_left{
    width: 685px;
}
.two_right{
    width: 302px;
}
.left_infor_top{
    overflow: hidden;
    padding: 10px 0 10px 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
.infor_top_list{
    width: 330px;
    padding:0 0 0 10px;
}
.infor_top_list>p{
    text-indent: 2em;
    color: #535353;
}
.infor_top_list p a{
    text-decoration: none;
}
.infor_top_list ul li p{
    color: #535353;
    font-size: 14px;
}
.infor_top_list ul{
    margin-top: 10px;
}
.infor_top_list ul li:before{
    display: table;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #6F2424;
    position: absolute;
    top: 15px;
    left: 0;
}
.infor_top_list li.border_top{
    border-top: 1px solid #ccc;
}
.infor_top_list li.bor_bottom{
    border-bottom: 1px dashed #9A9A9A;
}
.infor_top_list ul li{
    padding: 8px 0;
    position: relative;
    padding-left: 10px;
}
.will_red{
    color: #FF254F;
}
.deep_red{
    color: #792120;
}
/*infor_hot*/
.infor_hot{
    margin-top: 15px;
    padding: 15px 0;
    border: 1px solid #ccc;
}
.infor_sum_border{
    display: block;
    width: 100%;
    margin: 10px auto;
    height: 6px;
    background-image: url(../images/bg_repeat.png);
}
.infor_hot h4{
    padding-left: 8px;
}
.infor_hot ul{
    overflow: hidden;
}
.infor_hot li{
    float: left;
}
.infor_hot li.have_width{
    width: 224px;
}
.infor_hot li.have_left{
    margin-left:16px;
}
.infor_hot li.have_top{
    margin-top: 8px;
}
.infor_hot li a{
    text-decoration: none;
    color: #7F7F7F;
    font-size: 14px;
}
/*患者关注*/
.have_got{
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.got_left{
    padding: 1px;
    border-right: 1px solid #ccc;
}
.got_left h1{
    width: 58px;
    height: 144px;
    background-image: url(../images/two_hot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16px;
}
.got_left h1 span{
    display: block;
    text-align: center;
}
/*got_right*/
.got_right{
    width: 600px;
}
.got_right ul{
    overflow: hidden;
}
.got_right li{
    float: left;
    border: 1px solid #792120;
}

.got_right li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    color: #792120;
}
/*1*/
.got_one li.one{
    width: 18%;
}
.got_one li.two{
    width: 40%;
}
/*2*/
.got_two li.one{
    width: 35%;
}
.got_two li.two{
    width: 36%;
}
.got_two li.three{
    width: 23%;
}
/*3*/
.got_three li.one{
    width: 46%;
}
.got_three li.two{
    width: 24%;
}
.got_one li.have_left{
    margin-left: 10px;
}
.got_two li.have_left,.got_three li.have_left{
    margin-left: 15px;
}
.got_right ul{
    margin-top: 13px;
}
/*two_space*/
.two_space{
    margin-top: 10px;
}
.two_space a{
    display: block;
    overflow: hidden;
}
.two_space img{
    width: 100%;
    float: left;
}
/*two_right*/
.two_right{
    margin-top: 10px;
}
.two_right h3{
    color: #fff;
    padding-left: 50px;
    line-height: 38px;
    height: 38px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.two_right_top h3{
    background-image: url(../images/two_tight_top.jpg);
}
.right_top_list p{
    color: #535353;
    margin-top: 6px;
}
.right_top_list p a{
    text-decoration: none;
}
.right_top_list{
    padding: 10px 4px;
    border:1px solid #ccc;
}
.right_top_list ul{
    overflow: hidden;
    margin-top: 8px;
}
.right_top_list li{
    float: left;
    background-image: url(../images/top_right_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #792120;
}
.right_top_list li.have_left{
    margin-left: 8px;
}
.right_top_list li a{
    display: block;
    width: 89px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #792120;
    text-decoration: none;
}
.right_top_list>div{
    overflow: hidden;
    margin: 8px 0;
}
.right_top_list dl{
    float: left;
    text-align: center;
    margin-left: 23px;
    cursor: pointer;
}
.right_top_list>a{
    display: block;
}
.right_top_list>a img{
    width: 100%;
}
/*专家风采*/
.two_right_doc{
    margin-top: 20px;
}
.two_right_doc h3{
    background-image: url(../images/two_right_doc.jpg);
}
.Doctor_slideBox{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.doctor_bd{
    position: relative;
    height: 100%;
    z-index: 0;
}
.doctor_bd img{
    width: 100%;
    height: 213px;
}
.Doctor_slideBox .prev,.Doctor_slideBox .next{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-color: #BABAB8;
}
.Doctor_slideBox .prev{
    left: 3%;
}
.Doctor_slideBox .next{
    right: 3%;
    background-position: 8px 5px;
}
/*中西医光学*/
.section_three{
    padding: 15px 0;
}
.three_total_title{
    color: #fff;
    text-align: center;
    line-height: 61px;
    font-size: 30px;
    width: 100%;
    height: 61px;
    background-image: url(../images/big_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.total_tittle{
    margin-top: 20px;
    background-color: #F8F8F8;
}
 .total_tittle h3 span{
    font-size: 24px;
 }
.total_tittle h3{
    position: relative;
    padding-left: 50px;
}
.total_tittle h3:before{
    display: table;
    content:"";
    width: 48px;
    height: 41px;
    background-image: url(../images/detail_t_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.infor_top p{
    text-indent: 2em;
    font-size: 16px;
    color: #6F6E6E;
}
.infor_top{
    width: 100%;
    height: 105px;
    background-image: url(../images/infor_top_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 15px;
}
.infor_bg{
    margin-top: 10px;
    cursor: pointer;
}
.infor_bg img{
    width: 100%;
}
/*infor_list*/
.infor_list{
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-top: 15px;
}
.same_infor{
    width:373px;
}
.same_infor dl{
    margin-top: 10px;
}
.same_infor dt{
    font-size: 18px;
}
.same_infor dt span{
    color: #ccc;
}
.same_infor dd{
    font-size: 14px;
    width: 100%;
    height: 53px;
    background-image: url(../images/same_infor_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6px 35px;
}
.same_infor dd.other_one{
    padding: 15px 35px;
}
.infor_middle{
    margin-left:20.5px;
    border-radius: 50%;
}
/*story_one*/
.story_one{
    overflow: hidden;
}
.story_one div{
    width: 316px;
    float: left;
    padding: 1px;
    border: 1px solid #ccc;
}
.story_one div.have_left{
    margin-left: 26px;
}
.story_one img{
    width: 100%;
}
.story_one p{
    text-align: center;
    height: 44px;
    line-height: 44px;
    background-color: #EBEBEB;
}
/*story_btn*/
.story_btn{
    overflow: hidden;
    width: 770px;
    margin:15px auto;
}
.story_btn a{
    display: block;
    float: left;
}
.story_btn a.have_left{
    margin-left: 30px;
}
/*story_two*/
.story_two ul,.story_two li{
    overflow: hidden;
}
.story_two li,.story_two li img{
    float: left;
}
.story_two li img{
    width: 316px;
}
.story_two li{
    padding: 1px;
    border: 1px solid #ccc;
}
.story_two li.have_left{
    margin-left: 10px;
}
/*tips_list*/
.tips_list{
    overflow: hidden;
    margin-top: 15px;
}
.tips_list>div{
    width: 180px;
    float: left;
    border:1px solid #ccc;
}
.tips_list>div.have_left{
    margin-left: 25px;
}
.tips_list>div img{
    width: 178px;
}
.tips_list .bg{
    padding: 5px;
    height: 68px;
    background-color: #EBEBEB;
}
.tips_list h3{
    text-align: center;
    height: 42px;
    color: #fff;
    line-height: 42px;
    background-image: url(../images/tips_bg_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*stop_lists_top*/
.stop_lists_top{
    overflow: hidden;
    margin-top: 5px;
}
.stop_lists{
    background-color: #F6F6F6;
    padding:10px 0 20px 0;
}
.stop_lists_top h4{
    position: relative;
    padding-left: 25px;
}
.stop_lists_top h4:before{
    display: table;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(../images/stop_smal.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.stop_lists_top div{
    width: 328px;
    float: left;
    padding: 10px 33px;
}
.stop_lists_top div img{
    width: 261px;
    margin: 5px 0;
}
.stop_lists_top div.have_border{
    border-right: 1px dashed #ccc;
}
.stop_lists_top div.have_left{
    margin-left: 8px;
}
/*power_lists*/
.power_lists,.power_left ul{
    overflow: hidden;
}
.power_left{
    width: 240px;
    padding: 1px;
    border: 1px solid #ccc;
}
.power_left h3{
    color: #fff;
    height: 60px;
    background-image: url(../images/power_sum_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 60px;
    padding-left: 50px;
}
.power_left li{
    float: left;
}
.power_left li a:hover,.power_left li.have_selected a{
    background-color: #6F2424;
}
.power_left img{
    width: 100%;
}
.power_left li a{
    display: block;
    width: 117px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #707070;
}
.power_left li a.have_left{
     margin-left: 2px;
 }
.power_left li a.have_top{
    margin-top: 2px;
}
/*power_right */
.power_right{
    width: 743px;
    height: 417px;
    border: 1px solid #ccc;
    position: relative;
}
.power_same{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.power_same.will_hide{
    display: none;
}
.power_same.will_show{
    display: block;
    z-index: 88;
}
.power_same h3{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.power_same ul{
    overflow: hidden;
}
.power_same ul li{
    float: left;
}
.see_doct div{
    width: 100%;
    overflow: hidden;
}
.see_doct{
    width: 723px;
    margin: 10px;
}
/*power_environment*/
.power_environment{
    overflow: hidden;
    padding: 1px 6px;
}
.power_environment img,.sum_thanks img,.good_news img{
    float: left;
}
.power_environment img{
    height: 376px;
}
/*sum_thanks*/
.sum_thanks,.good_news{
    overflow: hidden;
    padding: 1px 0;
}
.sum_thanks img,.good_news img{
    margin-left: 5px;
}
/*good_news*/
/*footer底部*/
.clearfix:after{
    display: table;
    content: '';
    clear: both;
}
.footer1 {
    margin-top: 30px;
    background-color: #e6e6e6
}

.footer1 .nav2 {
    background-color: #6f2323;
    height: 50px;
    line-height: 50px
}

.footer1 .nav2 ul {
    width: 1000px;
    margin: 0 auto
}

.footer1 .nav2 ul li {
    width: 198px;
    float: left;
    font-size: 20px;
    border-left: solid 1px #7f4242;
    border-right: solid 1px #521515;
    text-align: center
}

.footer1 .nav2 ul li a {
    display: block;
    text-decoration: none;
    color: #fff
}

.footer1 .nav2 ul li a:before {
    vertical-align: middle;
    width: 36px;
    height: 31px;
    display: inline-block;
    content: '';
    background: url(../images/ar-foot1.png) no-repeat
}

.footer1 .nav2 ul .k1 a {
    border-left: solid 1px #521515
}

.footer1 .nav2 ul .k2 a:before {
    background: url(../images/ar-foot2.png) no-repeat
}

.footer1 .nav2 ul .k3 a:before {
    margin-right: 6px;
    background: url(../images/ar-foot3.png) no-repeat
}

.footer1 .nav2 ul .k4 a:before {
    background: url(../images/ar-foot4.png) no-repeat
}

.footer1 .nav2 ul .k5 a {
    border-right: solid 1px #7f4242
}

.footer1 .nav2 ul .k5 a:before {
    background: url(../images/ar-foot5.png) no-repeat
}

.footer1 .map1 {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 30px
}

.footer1 .map1 .mp2 {
    float: left
}

.footer1 .map1 .p5 {
    float: left;
    margin-left: 105px;
    font-size: 12px;
    line-height: 26px
}

.footer1 .map1 .case1 {
    float: right;
    border: solid 1px #c7acab;
    background-color: #fff;
    padding: 6px;
    position: relative
}

.footer1 .map1 .case1 ul li {
    float: left;
    text-align: center;
    width: 76px;
    font-size: 10px;
    border-right: solid 1px #dfdfdf
}

.footer1 .map1 .case1 ul li img {
    padding: 3px 0
}

.footer1 .map1 .case1 ul li p {
    line-height: 26px
}

.footer1 .map1 .case1 .u2 {
    border-top: solid 1px #dfdfdf
}

.footer1 .map1 .case1 .u2 img {
    padding-top: 9px
}

.footer1 .map1 .case1 .plus1 {
    position: absolute;
    top: 64px;
    left: 75px
}

.footer1 .map1 .case1 .plus2 {
    position: absolute;
    top: 64px;
    right: 75px
}