<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双向绑定</title>
    <script src="../js/vue.js"></script>
    <!--copy from http://vuejs.org.cn/guide/-->
</head>
<body>
    <div id="app">
        <h3>{{message}}</h3>
        <!--v-model="message"-->
        <input type="text" v-model="message">
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                message:"HELLO vue.js!"
            }
        });
    </script>
</body>
</html>