*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
    /*border: 1px solid black;*/
}
/*LOGO*/
header, .header_banner a{
    overflow: hidden;
}
header img, .header_banner img {
    float: left;
    width: 100%;
}
.header_banner {
    padding-top: .026rem;
}
.header_banner a{
    display: block;
}
/*导航*/
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.nav_top, .nav_top ul {
    overflow: hidden;
    width: 100%;
}
.nav_top ul {
    padding-top: 1px;
}
.nav_top ul li {
    background-color: #0064B4;
    text-align: center;
    height: .6rem;
    width: 24.65%;
}
.nav_top ul li a {
    font-size: .3rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.hove_left {
    margin-left: .03rem;
}
.nav_top ul li:nth-child(5),.nav_top ul li:nth-child(6),.nav_top ul li:nth-child(7),.nav_top ul li:nth-child(8){
    margin-top: .026rem;
}
.nav_top ul li a.red_color{
    color:#D0040C;
}
/*在线咨询*/
.tel_online{
    width: 98%;
    margin:.1rem auto;
    overflow: hidden;
    border: 1px solid #aaa;
    padding: .1rem .2rem;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
}
.tel_online img{
    width: .56rem;
    /*margin: 0.05rem;*/
}
.tel_online a{
    display: block;
    color: #DD1212;
    padding-left: 1%;
    font-size: .34rem;
}
.tel_online a span{
    font-size: .4rem;
}
/*<!--腋臭治疗-->*/
.nav_list ul,.nav_list ul li a{
    overflow: hidden;
}
.nav_list ul li{
    width: 25%;
}
.nav_list ul li a{
    display: block;
    width: 100%;
}
.nav_list ul li a img{
    float: left;
    width: 100%;
}
/*热点关注*/
.hot_message{
    padding: .1rem 0;
}
.hot_message,.hot_message ul{
    overflow: hidden;
}
.hot_message ul li{
    margin-left: .065rem;
    /*width: 32%;*/
}
.hot_message ul li>a{
    position: relative;
    font-size: .24rem;
    color: #fff;
    display: block;
    background-color: #878787;
    padding: .2rem .1rem;
    text-align: center;
}
.hot_message ul li>a span{
    font-size: .15rem;
    color: #B4B4B4;
    text-transform: uppercase;
}
.hot_message ul li.have_selected a{
    background-color: #2582CD;
}
.hot_message ul li.have_selected a span{
    color: #76B0DF;
}
/*hot_list*/
.hot_list{
    position: relative;
    height: 4.45rem;
}
.list_top{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}
.list_top img{
    width: 49%;
}
.list_msg,.list_meg_two{
    width: 98%;
    margin:.1rem auto;
}
.list_msg ul li,.list_msg_two ul li{
    padding: .1rem .05rem;
    border-bottom: 1px dashed #524F4E;
}
.list_msg ul li a,.list_msg_two ul li a{
    display: block;
    color: #524F4E;
    width: 6rem;
    height: 0.36rem;
    line-height: .36rem;
    font-size: .28rem;
    margin: 0 auto;
}
.span_left{
    font-size: .24rem;
    padding: .04rem .1rem;
    border: 1px solid #FF0505;
    margin-right: .2rem;
}
.span_left,.span_right{
    color: #FF0505;
}
.span_right{
    float: right;
}
.span_right b{
    display: inline-block;
    width: .23rem;
    height: .2rem;
    margin-right: .1rem;
    background-image: url(../img/hot_list_bg.png);
    background-size: cover;
}
.list_one{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.list_msg_two ul li a b,.list_msg_two ul li a i{
    display: inline-block;
    margin-right: .2rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.list_msg_two ul li a b{
    width: .29rem;
    height: .22rem;
    background-image: url(../img/hot_yellow_bg.png);
}
.list_msg_two ul li a i{
    width: .19rem;
    height: .21rem;
    background-image: url(../img/hot_yel_two.png);
}
.list_msg_two ul li a span{
    float: right;
}
.hot_list .list_one:not(:nth-child(1)){
    display: none;
}
/*    腋臭技术*/
.tec_nog{
    padding-top: .8rem;
    position: relative;
}
.tec_head{
    overflow: hidden;
    padding: .1rem .18rem;
    background-color: #005DAE;
}
.tec_head h3{
    font-size: .3rem;
    color: #fff;
    text-transform: uppercase;
    line-height: .5rem;
}
.tec_head h3 span{
    font-size: .18rem;
    color: #4D8EC8;
}
.tec_head a{
    font-size: .24rem;
    padding: .1rem .2rem;
    color: #fff;
    background-color: #FF9600;
    border-top-left-radius: .07rem;
    border-top-right-radius: .07rem;
    border-bottom-left-radius: .07rem;
    border-bottom-right-radius: .07rem;
}
.tec_middle{
    overflow: hidden;
    width: 100%;
    margin-top: .1rem;
    padding: .1rem;
    background-image: url(../img/bg_hu.jpg);
    background-size: cover;
}
.tec_middle img{
    width: 16%;
}
.tec_meg{
    width: 83%;
    text-align: center;
}
.tec_meg h2{
    font-size: .36rem;
    color: #0B67B4;
    width: 90%;
    margin: 0 auto;
    padding: .1rem 0;
    border-bottom: 1px solid #5C5B5A;
}
.tec_meg p{
    font-size: .18rem;
    color: #5C5B5A;
    margin-top: .1rem;
}
.tec_meg span{
    color: #FF0505;
}
/*bottom*/
.tec_bottom{
    padding: .15rem 0;
}
.tec_bottom h3{
    color: #0B67B4;
    font-size: .26rem;
    width: 5.75rem;
    height: .48rem;
    margin:0 auto;
    text-align: center;
    line-height: .48rem;
    background-image: url(../img/tec_h_bg.png);
    background-size: cover;
}
.tec_one li{
    overflow: hidden;
}
.tec_one li img{
    float: left;
    width: 1.92rem;
    padding: 1px;
    border: 1px solid #A4A4A4;
}
.tec_one li:not(:nth-child(1)){
    margin-left: .05rem;
}
.tec_one div,.tec_one div ul{
    overflow: hidden;
}
.tec_one div{
    margin:.2rem auto;
}
.tec_one li b,.tec_one li i{
    display: block;
    width: .21rem;
    height: .19rem;
    margin: .47rem 0;
    background-size: cover;
}
.tec_one li b{
    background-image: url(../img/tec_small_01.png);
}
.tec_one li i{
    background-image: url(../img/tec_small_03.png);
}
.tec_bg b{
    display: block;
    width: .19rem;
    height: .21rem;
    background-image: url(../img/tec_small_02.png);
    background-size: cover;
    margin-right: .81rem;
}
/*tec_two*/
.tec_two div,.tec_two div ul{
    overflow: hidden;
}
.tec_two div{
    width: 98%;
    margin:.2rem auto;
}
.tec_two div li{
    float: left;
    width: 1.2rem;
}
.tec_two div li:not(:nth-child(1)){
    margin-left: .06rem;
}
.tec_two div li span{
    font-size: .24rem;
    color: #fff;
    display: block;
    text-align: center;
    padding: .1rem 0;
    height: .82rem;
}
.tec_two div li.tec_a span{
    line-height: .72rem;
}
.tec_two div li p{
    font-size: .22rem;
    color: #595858;
    background-color: #fff;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
}
.tec_two div li.tec_a{
     background-color: #9FAFC8;
     border: 1px solid #9fafc8;
 }
.tec_two div li.tec_b{
    background-color: #CC754A;
    border: 1px solid #CC754A;
}
.tec_two div li.tec_c{
    background-color: #A68AD4;
    border: 1px solid #A68AD4;
}
.tec_two div li.tec_d{
    background-color: #CA5456;
    border: 1px solid #CA5456;
}
.tec_two div li.tec_e{
    background-color: #CEBA40;
    border: 1px solid #CEBA40;
}
/*<!--华肤医生-->*/
.doctor_pic{
    overflow: hidden;
    width: 6.2rem;
    margin: 0 auto;
    padding: .1rem 0;
}
.doctor_pic img{
    width: 2rem;
}
.doctor_pic img:not(:nth-child(1)){
    margin-left: .1rem;
}
.mis_liu{
    overflow: hidden;
    width: 6.25rem;
    margin: 0 auto;
    border: 1px solid #AFBCD1;
    background-color: #FBFDFF;
    padding: .1rem;
}
.mis_liu>img{
    width: 1.5rem;
}
.miss_meg{
    width: 4.4rem;
}
.miss_meg h3{
    font-size: .36rem;
    color:#0B67B4;
    padding: .1rem;
    border-bottom:1px solid #E1E3E5;
}
.miss_meg h3 span{
    font-size: .22rem;
    margin-left: .1rem;
}
.miss_meg p{
    font-size: .22rem;
    color: #696666;
    height: .5rem;
    line-height: .5rem;
}
.miss_meg p b{
    display: inline-block;
    width: .19rem;
    height: .21rem;
    background-image: url(../img/mis-star.png);
    background-size: cover;
    margin-right: .1rem;
}
.miss_meg p a{
    color:#DD1212;
}
.tel_btn{
    overflow: hidden;
    width: 100%;
    padding: .15rem;
}
.tel_btn a{
    display: block;
    overflow: hidden;
    width: 5.1rem;
    margin:0 auto;
}
.tel_btn a img{
    width: 5.09rem;
}
/*<!--典型病例-->*/
.sum_cases,.peo_discus{
    padding: .1rem 0;
}
.case_list{
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    padding: .1rem 0;
}
.case_list img{
    width: 2.9rem;
}
.get_more,.get_more a{
    overflow: hidden;
}
.get_more a{
    display: block;
    width: .93rem;
    margin: 0 auto;
}
.get_more a img{
    width: .93rem;
    border-radius: 50%;
}
/*患者点评*/
.dis_mes{
    background-color: #E2E2E2;
    width: 100%;
    height: 1.6rem;
    margin: .15rem 0;
}
.dis_mes h2{
    font-size: .4rem;
    line-height: 1.6rem;
    color: #4E4B4A;
    text-align: center;
}
/*腋臭症状自测*/
.test_have h3{
    color: #DD1212;
    background-color: #fff;
    font-size: .25rem;
    text-align: center;
    padding: .1rem 0;
}
.test_have h3 b{
    display:inline-block;
    width: .25rem;
    height: .21rem;
    background-image: url(../img/small_call.png);
    background-size: cover;
    margin-right: .1rem;
    margin-top: .06rem;
}
.test_meg{
    padding: .2rem 0;
    background-color: #EEEFF1;
}
.test_meg h3{
    font-size: .3rem;
    color: #0061B1;
    text-align: center;
    margin: .1rem 0;
}
.test_will{
    width: 5.5rem;
    margin: 0 auto;
    border: 1px solid #A2C4DF;
    padding: .2rem 0;
}
.test_will p{
    font-size: .28rem;
    height: .5rem;
    line-height: .5rem;
}
.test_will p input{
    width: .28rem;
    height: .28rem;
}
.test_will p span{
    color: #4E4B4A;
    margin-left: .5rem;
}
/*提交测试*/
.push_form p{
    font-size: .3rem;
    text-align: center;
    line-height: .5rem;
    color: #4E4C4B;
}
.push_form p input{
    width: 3.1rem;
    height: .45rem;
    border: 1px solid #C9C9C9;
    font-size: .3rem;
}
.total_btn p{
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
    padding: .15rem 0;
}
.total_btn p a{
    display: inline-block;
    padding: 0 .3rem;
    color: #fff;
    border-top-left-radius: .07rem;
    border-top-right-radius: .07rem;
    border-bottom-left-radius: .07rem;
    border-bottom-right-radius: .07rem;

}
.total_btn p a.btn_yell{
    background-color: #FF9600;
}
.total_btn p a.btn_blue{
    background-color: #0061B1;
    margin-left: .5rem;
}
/**/
.big_btn,.big_btn a{
    overflow: hidden;
}
.big_btn a{
    display: block;
    width: 6.16rem;
    margin:.2rem auto;
}
.big_btn a img{
    float: left;
    width: 6.16rem;
}
/*医院简介*/
.foot_inf,.foot_inf ul{
    overflow: hidden;
    width: 100%;
}
.foot_inf ul li{
    background-color: #6C6C6C;
    text-align: center;
    height: .6rem;
    width: 24.65%;
}
.foot_inf ul li a{
    font-size: .3rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.address_inf{
    padding: .2rem 0;
}
.address_inf p{
    font-size: .24rem;
    color:#6C6C6C;
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    /*margin: .1rem;*/
}
.address_inf p span{
    color: #0061B1;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}