*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container{
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0 0 .2rem #5D5C61;
    /*border: 1px solid black;*/
}
/*LOGO*/
header, .header_banner a{
    overflow: hidden;
}
header img, .header_banner img {
    float: left;
    width: 100%;
}
.header_banner {
    padding-top: .026rem;
}
.header_banner a{
    display: block;
}
/*导航*/
.will_left {
    float: left;
}
.will_right{
    float: right;
}
.nav_top, .nav_top ul {
    overflow: hidden;
    width: 100%;
}
.nav_top ul {
    padding-top: 1px;
}
.nav_top ul li {
    background-color: #0064B4;
    text-align: center;
    height: .6rem;
    width: 24.65%;
}
.nav_top ul li a {
    font-size: .26rem;
    color: #fff;
    display: block;
    line-height: .6rem;
    cursor: pointer;
}
.hove_left {
    margin-left: .03rem;
}
.nav_top ul li:nth-child(5),.nav_top ul li:nth-child(6),.nav_top ul li:nth-child(7),.nav_top ul li:nth-child(8){
    margin-top: .026rem;
}
.nav_top ul li a.red_color{
    color:#D0040C;
}
/*在线咨询*/
.tel_online{
    width: 98%;
    margin:.1rem auto;
    overflow: hidden;
    border: 1px solid #aaa;
    padding: .1rem .2rem;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
}
.tel_online img{
    width: .56rem;
    /*margin: 0.05rem;*/
}
.tel_online a{
    display: block;
    color: #DD1212;
    padding-left: 1%;
    font-size: .34rem;
}
.tel_online a span{
    font-size: .4rem;
}
/*<!--腋臭治疗-->*/
.nav_list ul,.nav_list ul li a{
    overflow: hidden;
}
.nav_list ul li{
    width: 25%;
}
.nav_list ul li a{
    display: block;
    width: 100%;
}
.nav_list ul li a img{
    float: left;
    width: 100%;
}
/*热点关注*/
.hot_message{
    padding: .1rem 0;
}
.hot_message,.hot_message ul{
    overflow: hidden;
}
.hot_message ul li{
    margin-left: .065rem;
    width: 32%;
}
.hot_message ul li>a{
    position: relative;
    font-size: .22rem;
    color: #fff;
    display: block;
    /*width: 31%;*/
    background-color: #878787;
    padding: .2rem .1rem;
    text-align: center;
}
.hot_message ul li>a span{
    font-size: .15rem;
    color: #B4B4B4;
    text-transform: uppercase;
}
.hot_message ul li>a img{
    position: absolute;
    width: .14rem;
    height: .07rem;
    left: 50%;
    bottom: -.08rem;
}
.hot_message ul li>a.have_selected{
    background-color: #2582CD;
}
.hot_message ul li>a.have_selected span{
    color: #76B0DF;
}
/*hot_list*/
.hot_list{
    position: relative;
    height: 4.45rem;
}
.list_top{
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
}
.list_top img{
    width: 47%;
}
.list_msg{
    width: 98%;
    margin:.1rem auto;
}
.list_msg ul li{
    padding: .1rem .05rem;
    border-bottom: 1px dashed #524F4E;
}
.list_msg ul li a{
    display: block;
    color: #524F4E;
    width: 6rem;
    height: .26rem;
    line-height: .26rem;
    font-size: .24rem;
    padding-left: 10%;
    background-image: url(../img/hot_list_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.list_one{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.hot_list .list_one:not(:nth-child(1)){
    display: none;
}
@media screen and (min-width:767px){
    .container{width:640px;}
}